@charset "UTF-8";
/* Color text */
/*------------------------------------------------------------
	Default
------------------------------------------------------------*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header, button,
hgroup, menu, nav, section,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 1.4rem;
}

input, textarea, a {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body, table,
input, textarea, select, option, button,
h1, h2, h3, h4, h5, h6 {
  font-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

h2 {
  font-size: 2.2rem;
}

h3 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.6rem;
}

h5 {
  font-size: 1.4rem;
}

table,
input, textarea, select, option {
  line-height: 1.1;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
  display: block;
}

p {
  letter-spacing: 1px;
}

blockquote, q {
  quotes: none;
}

:focus {
  outline: 0;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

img {
  vertical-align: top;
}

a {
  text-decoration: none;
  display: block;
}

span, a, li {
  line-height: 1;
}

@media (max-width: 768px) {
  h2 {
    font-size: 1.6rem;
    line-height: 1;
  }
  h3 {
    font-size: 1.4rem;
  }
  h4 {
    font-size: 1.4rem;
  }
  p {
    font-size: 1.4rem;
  }
  span {
    font-size: 1.3rem;
  }
}

/*------------------------------------------------------------
	Text Format
------------------------------------------------------------*/
/* text position */
.taLeft {
  text-align: left !important;
}

.taCenter {
  text-align: center !important;
}

.taRight {
  text-align: right !important;
}

.vTop {
  vertical-align: top !important;
}

.vMiddle {
  vertical-align: middle !important;
}

/* font weight */
.fwNormal {
  font-weight: normal !important;
}

.fwBold {
  font-weight: bold !important;
}

/*------------------------------------------------------------
	adjustment class ※ no use frequently
------------------------------------------------------------*/
.mt0 {
  margin-top: 0 !important;
}

.mb0 {
  margin-bottom: 0 !important;
}

/*------------------------------------------------------------
	clearfix（float解除）
------------------------------------------------------------*/
.clearfix {
  *zoom: 1;
}

.clearfix:after {
  display: block;
  clear: both;
  content: "";
}

/*------------------------------------------------------------
	for tracking tag
------------------------------------------------------------*/
.trackTags {
  display: none;
}

/* Color for text */
.u-red {
  color: #F00;
}

.u-pink {
  color: #ff1e5b;
  font-weight: 700;
}

.u-lightblack {
  color: #333333;
}

.u-white {
  color: #fff;
}

.u-green {
  color: #32b16c;
}

.u-cyanblue {
  color: #5D9CEC;
}

.u-lightblue {
  color: #0075a9;
}

.u-blue2 {
  color: #0068b7;
}

.u-purple {
  color: #8957a1;
}

.u-gray {
  color: #333333;
}

.u-bgwhite {
  background-color: #fff;
}

.u-bggreen {
  background-color: #32b16c;
}

.u-bglightblue {
  background-color: #0075a9;
}

.u-bgcyanblue {
  background-color: #5D9CEC;
}

.u-bg-darkgray {
  background-color: #434A54;
}

.u-bggray {
  background-color: #333333;
}

.u-bglightgray {
  background-color: #f6f6f6;
}

.u-bgred {
  background-color: #F00;
}

.u-bgred2 {
  background-color: #e13939;
}

.u-bgpurple {
  background-color: #8957a1;
}

.u-bgorange {
  background-color: #f39800;
}

.u-bgyellow {
  background-color: #ffbd2d;
}

.u-fontsize38 {
  font-size: 3.8rem;
}

@media (max-width: 768px) {
  .u-fontsize38 {
    font-size: 2.6rem;
  }
}

.u-fontsize30 {
  font-size: 3rem;
}

@media (max-width: 768px) {
  .u-fontsize30 {
    font-size: 2.2rem;
  }
}

.u-fontsize27 {
  font-size: 2.7rem;
}

.u-fontsize25 {
  font-size: 2.5rem;
}

@media (max-width: 768px) {
  .u-fontsize25 {
    font-size: 2.2rem;
  }
}

.u-fontsize20 {
  font-size: 2rem;
}

@media (max-width: 768px) {
  .u-fontsize20 {
    font-size: 1.7rem;
  }
}

.u-fontsize19 {
  font-size: 1.9rem;
}

.u-fontsize16 {
  font-size: 1.6rem;
}

@media (max-width: 768px) {
  .u-fontsize16 {
    font-size: 1.4rem;
  }
}

.u-fontsize14 {
  font-size: 1.4rem;
}

.u-fontsize12 {
  font-size: 1.2rem;
}

.u-fontsize11 {
  font-size: 1.1rem;
}

.u-fontweight {
  font-weight: 700;
}

.u-margin--bot116 {
  margin-bottom: 116px;
}

.u-margin--bot114 {
  margin-bottom: 114px;
}

.u-margin--bot120 {
  margin-bottom: 120px;
}

.u-margin--bot90 {
  margin-bottom: 90px;
}

.u-margin--bot80 {
  margin-bottom: 80px;
}

.u-margin--bot78 {
  margin-bottom: 78px;
}

.u-margin--bot62 {
  margin-bottom: 62px;
}

.u-margin--bot60 {
  margin-bottom: 60px;
}

.u-margin--bot56 {
  margin-bottom: 56px;
}

.u-margin--bot28 {
  margin-bottom: 28px;
}

.u-margin--bot27 {
  margin-bottom: 27px;
}

.u-margin--bot24 {
  margin-bottom: 24px;
}

.u-margin--bot22 {
  margin-bottom: 22px;
}

.u-margin--bot20 {
  margin-bottom: 20px;
}

.u-margin--bot14 {
  margin-bottom: 14px;
}

.u-margin--bot10 {
  margin-bottom: 10px;
}

.u-margin--bot8 {
  margin-bottom: 8px;
}

.u-margin--bot6 {
  margin-bottom: 6px;
}

.u-margin--bot4 {
  margin-bottom: 4px;
}

.u-margin--bot3 {
  margin-bottom: 3px;
}

.u-margin--top80 {
  margin-top: 80px;
}

.u-margin--top32 {
  margin-top: 32px;
}

.u-margin--top22 {
  margin-top: 22px;
}

.u-margin--top10 {
  margin-top: 10px;
}

.u-paddingleft6 {
  padding-left: 6px;
}

@media (max-width: 768px) {
  .u-paddingleft6 {
    padding-left: 0;
  }
}

.u-letterspacing {
  letter-spacing: -0.5px;
}

/*------------------------------------------------------------
	Layout
------------------------------------------------------------*/
/* Layout content */
.l-content {
  width: 100%;
  height: auto;
  min-width: 960px;
}

@media (max-width: 768px) {
  .l-content {
    width: 100%;
    min-width: auto;
  }
}

.l-content__inner {
  width: 960px;
  height: 100%;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .l-content__inner {
    width: 100%;
    padding: 0 20px;
  }
}

/* Layout main */
/* Layout sidebar */
/* body {
	min-width: 800px;
	ウインドウ幅で横スクロール時に背景が切れるバグ対策でコンテンツと同じ幅を指定
	line-height: 1.5;
	text-align: center;
} */
/* #container {
	margin: 0 auto;
	width: 800px;
	background-color: #fff;
	text-align: left;
} */
/* .l-main {
	margin-bottom: 10px;
	font-size: 1.4rem;
	@include cf;
	// @extend %cf;
} */
/*------------------------------------------------------------
	header
------------------------------------------------------------*/
/* #header {
	margin-bottom: 10px;
	padding: 5px 10px 10px;
	background-color: #efefef;
	position: relative;
	h1 {
		margin: 0 150px 5px 0;
		font-size: 1.1rem;
		font-weight: normal;
	}
} */
/*------------------------------------------------------------
	Navi
------------------------------------------------------------*/
/* #gNavi {
	margin-bottom: 10px;
	li {
		width: 160px;
		background-color: #efefef;
		float: left;
		a {
			padding: 10px 0;
			display: block;
			text-decoration: none;
			text-align: center;
		}
	}
} */
/*------------------------------------------------------------
	Breadcrumbs
------------------------------------------------------------*/
/* #pagePath {
	margin-bottom: 10px;
	li {
		margin-right: 2px;
		display: inline;
		a {
			margin-right: 5px;
		}
	}
} */
/*------------------------------------------------------------
	contentc
------------------------------------------------------------*/
/* #conts {
	width: 580px;
	float: left;
} */
/*------------------------------------------------------------
	side
------------------------------------------------------------*/
/* #sideBar {
	padding: 50px 0;
	width: 200px;
	background-color: #efefef;
	float: right;
}
 */
/*------------------------------------------------------------
	footer
------------------------------------------------------------*/
/* #footer {
	padding: 10px 10px 5px;
	background-color: #efefef;
} */
/* Component header */
/* Color text */
.only-pc {
  width: 100%;
  min-width: 960px;
}

@media (max-width: 768px) {
  .only-pc {
    display: none;
  }
}

.c-headpc {
  width: 100%;
  position: relative;
}

.c-head_bgpc img {
  width: 100%;
  height: auto;
}

.c-headpc__top, .c-headpc__middle, .c-headpc__middle2, .c-headpc__bot {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}

.c-headpc__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 33px 40px;
}

.c-headpc__top__left {
  padding: 7px 0;
}

.c-mailphone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 768px) {
  .c-mailphone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.c-mail {
  position: relative;
}

.c-mail .c-mail__text {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 25%;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.c-mail .c-mail__text span {
  font-size: 1.5rem;
}

.c-phone {
  margin-left: 20px;
}

.c-headpc__middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0 80px;
  top: 29%;
}

.c-headpc__middle2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 38%;
}

.c-headpc__logo {
  width: 25%;
  height: auto;
}

.c-headpc__logo img {
  width: 100%;
  height: auto;
}

.c-headpc__text {
  margin-left: 35px;
  width: 20.5%;
  height: auto;
}

.c-headpc__text img {
  width: 100%;
  height: auto;
}

.c-headpc__text2 {
  width: 33.5%;
  height: auto;
}

.c-headpc__text2 img {
  width: 100%;
  height: auto;
}

.c-headpc__bot {
  top: initial;
  bottom: 2.5%;
}

/* Component navi */
.c-navi {
  width: 100%;
  min-width: 960px;
}

.c-navi ul {
  width: 960px;
  padding: 0 15px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.c-navi a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-navi a span {
  margin-top: 12px;
  color: #333333;
  font-size: 1.6rem;
}

.c-navi a:active {
  color: #333333;
}

.c-navi2 {
  width: 100%;
  min-width: 960px;
  border-bottom: 1px solid #0075a9;
}

.c-navi2 ul {
  width: 960px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 15px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.c-navi2 li {
  position: relative;
}

.c-navi2 li::before {
  content: "";
  width: 1px;
  height: 120px;
  position: absolute;
  display: inline-block;
  background-color: #ccc;
  margin-left: -15px;
  top: 0;
}

.c-navi2 li:last-child::after {
  content: "";
  width: 1px;
  height: 120px;
  position: absolute;
  right: 0;
  display: inline-block;
  background-color: #ccc;
  margin-right: -15px;
  top: 0;
}

.c-navi2 a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px 0;
}

.c-navi2 a span {
  margin-top: 12px;
  color: #333333;
  font-size: 1.6rem;
}

.c-navi2 a:active span {
  color: #333333;
}

.only-sp {
  display: none;
}

@media (max-width: 768px) {
  .only-sp {
    display: block;
  }
}

.c-headsp {
  width: 100%;
  height: auto;
  position: relative;
}

.c-head_bgsp img {
  width: 100%;
  height: auto;
}

.c-headsp__top, .c-headsp__middle2 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.c-headsp__top {
  top: 2.5%;
  padding-left: 20px;
  padding-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.c-headsp__slogan {
  width: 52%;
  padding-top: 10px;
}

.c-headsp__slogan img {
  width: 100%;
  height: auto;
}

.c-headsp__middle2 {
  top: 14.5%;
}

.c-headsp__text2 {
  width: 93%;
}

.c-headsp__text2 img {
  width: 100%;
  height: auto;
}

#c-menu-toggle {
  margin-right: 36px;
}

.c-logosp {
  width: 30%;
}

.c-logosp img {
  width: 100%;
  height: auto;
}

.c-appsp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 19%;
}

.c-appsp div {
  width: 50%;
}

.c-appsp div img {
  width: 100%;
  height: auto;
}

.c-appsp .c-appsp__twitter {
  margin-left: 14px;
}

.c-navisp {
  width: 100%;
  top: 100%;
  left: 0;
  position: absolute;
  z-index: 200;
  display: none;
}

.c-navisp li {
  display: block;
}

.c-navisp li:first-child a {
  padding-top: 56px;
}

.c-navisp a {
  font-size: 1.2rem;
  padding: 7px 10px;
  display: block;
  color: #333;
  background-color: #fff;
  letter-spacing: 4px;
}

.c-navisp li:nth-child(1) a, .c-navisp li:nth-child(2) a, .c-navisp li:nth-child(3) a {
  font-size: 2.1rem;
  font-weight: 700;
  text-align: center;
}

.c-navisp li:nth-child(4) a {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  letter-spacing: 1px;
  padding-top: 60px;
}

.c-navisp li:nth-child(5) a, .c-navisp li:nth-child(6) a {
  text-align: center;
  padding: 17px 10px 14px;
}

.c-navisp li:nth-child(5) a img, .c-navisp li:nth-child(6) a img {
  width: 164px;
  height: 47px;
}

.c-navisp li:nth-child(6) a {
  padding: 0 10px;
}

/* Color text */
/* Component qa */
/* Component rule */
/* Component c-flex */
.c-flex--column3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media (max-width: 768px) {
  .c-flex--column3 span {
    font-size: 1rem;
  }
}

/* Commponent top.html */
/* Component c-lineheight */
/* Component banner */
/* Component relative */
/* component absolute */
/* Component c-fee */
.c-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 47px;
}

@media (max-width: 768px) {
  .c-title {
    margin-bottom: 29px;
    padding: 0 5px;
  }
}

.c-title__imgpc {
  display: block;
}

@media (max-width: 768px) {
  .c-title__imgpc {
    display: none;
  }
}

/* Component center */
.c-center {
  text-align: center;
}

.c-margin__auto {
  margin: 0 auto;
}

/* Component list */
.c-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.c-list > div {
  width: 312px;
  margin-bottom: 53px;
}

.c-listcontent {
  background-color: #e9eff2;
  padding: 16px 20px;
  height: 448px;
}

.c-listcontent li {
  line-height: 1.6;
}

/* Component img inside */
/* Component title */
/* Component text */
.c-text {
  text-align: center;
  color: #fff;
}

.c-text p {
  font-size: 1.5rem;
}

@media (max-width: 768px) {
  .c-text {
    text-align: left;
    padding: 0 15px;
    text-align: center;
  }
  .c-text p {
    font-size: 1.2rem;
    line-height: 1.3;
  }
  .c-text p:last-child {
    display: none;
  }
}

.c-textleft {
  text-align: left;
  color: #333333;
}

/* Component pagetop */
.page-top {
  position: fixed;
  display: none;
  bottom: 106px;
  right: 81px;
}

@media (max-width: 768px) {
  .page-top {
    bottom: 51px;
    right: 15px;
  }
  .page-top img {
    width: 50px;
    height: 50px;
  }
}

/* Component button */
/* Component breakcrum */
/* Component border */
.c-border {
  border-radius: 5px;
}

/* Component card, cardinfo */
.c-card {
  padding: 0 40px;
}

.c-card__title {
  position: relative;
  margin: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.c-card__title p {
  margin-left: 35px;
  font-size: 2.4rem;
  font-weight: 700;
  letter-spacing: 0;
}

@media (max-width: 768px) {
  .c-card__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 15px;
  }
  .c-card__title p {
    font-size: 1.6rem;
    margin-left: 0;
  }
}

.c-card__title::before {
  content: "";
  width: 45px;
  height: 3px;
  position: absolute;
  top: 50%;
  -webkit-transform: rotate(116deg);
          transform: rotate(116deg);
  background-color: #0075a9;
  display: inline-block;
  margin-left: -11px;
}

@media (max-width: 768px) {
  .c-card__title::before {
    width: 35px;
    top: -112%;
    left: 47%;
    display: block;
  }
}

.c-card__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 60px;
}

.c-card__content__last {
  margin-bottom: 80px;
}

.c-card__detail {
  position: relative;
  margin-right: 20px;
}

.c-card__detail:last-child {
  margin-right: 0;
}

.c-card__img img {
  width: 100%;
  height: auto;
}

.c-card__info {
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
  padding: 20px 28px 20px 31px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.c-card__info__1 {
  margin-bottom: 12px;
}

.c-card__info__1 span {
  font-size: 1.2rem;
  font-weight: 700;
  padding: 6px 20px;
  border-radius: 5px;
  display: inline-block;
}

.c-card__info__1 .c-notpadding {
  padding: 0;
}

.c-margin__bot2 {
  margin-bottom: 2px;
}

.c-card__info__2 {
  margin-bottom: 12px;
}

.c-card__info__2 span {
  font-size: 1.6rem;
  font-weight: 700;
}

.c-notmargin {
  margin-bottom: 0;
}

.c-card__info__3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-card__info__3 .c-oclock {
  margin-right: 5px;
}

.c-2card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.c-2card__top, .c-2card__bot {
  margin-right: 0;
}

.c-card2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 768px) {
  .c-card2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.c-card2__first {
  margin-bottom: 60px;
}

@media (max-width: 768px) {
  .c-card2__first {
    margin-bottom: 20px;
  }
}

.c-card2__last {
  margin-bottom: 30px;
}

.c-card2__detail {
  margin-right: 30px;
}

.c-card2__detail:last-child {
  margin-right: 0;
}

@media (max-width: 768px) {
  .c-card2__detail {
    margin-right: 0;
    margin-bottom: 10px;
  }
}

.c-card2__img {
  position: relative;
}

.c-card2__img img {
  width: 100%;
  height: auto;
}

.c-card2__img .c-card2_imgpc {
  display: block;
}

.c-card2__img .c-card2_imgsp {
  display: none;
}

.c-card2__img span {
  content: "";
  width: 3px;
  height: 32px;
  display: inline-block;
  background-color: #ffcc00;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateY(50%) translateX(-50%) rotate(25deg);
          transform: translateY(50%) translateX(-50%) rotate(25deg);
}

@media (max-width: 768px) {
  .c-card2__img .c-card2_imgpc {
    display: none;
  }
  .c-card2__img .c-card2_imgsp {
    display: block;
  }
}

.c-card2__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 31px 0;
  background-color: #4098bf;
  border-radius: 0 0 8px 8px;
}

@media (max-width: 768px) {
  .c-card2__info {
    background-color: #0075a9;
  }
}

.c-card2__info2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
}

@media (max-width: 768px) {
  .c-card2__info2 {
    display: none;
  }
}

.c-card2__title {
  font-size: 1.6rem;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .c-card2__title {
    font-size: 1.5rem;
    margin-bottom: 15px;
  }
}

.c-card2__text1 {
  margin-bottom: 8px;
}

/* Footer */
/* Component content */
.c-02__1__content2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 768px) {
  .c-02__1__content2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.c-content2__left {
  width: 65%;
  margin-right: 65px;
}

.c-content2__left .c-btn1 {
  margin-top: 23px;
}

@media (max-width: 768px) {
  .c-content2__left {
    width: auto;
    margin-right: 0;
  }
}

@media (max-width: 768px) {
  .c-left__details {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
}

.c-left__detail {
  padding: 10px 0 18px;
}

.c-left__detail .c-arrowsp {
  display: none;
}

@media (max-width: 768px) {
  .c-left__detail {
    padding: 10px 20px 18px;
    border-bottom: 1px solid #ccc;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .c-left__detail span {
    font-size: 1.1rem;
  }
  .c-left__detail .c-arrowsp {
    width: 10%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .c-left__detail .c-arrowsp img {
    width: 7px;
    height: 12px;
  }
}

.c-left__text2 {
  font-size: 1.6rem;
  margin-top: 6px;
  letter-spacing: 0;
}

@media (max-width: 768px) {
  .c-left__text2 {
    font-size: 1.3rem;
  }
}

.c-content2__right .c-btn1 {
  margin-top: 23px;
}

.c-right__detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 0 18px;
}

.c-right__img {
  margin-right: 20px;
}

.c-right__text2 {
  font-size: 1.6rem;
  letter-spacing: 0;
  margin-top: 4px;
}

/* Component table div */
/* Component arrow-down */
/* Component text */
/* Component page-scroll*/
.c-pagetop {
  position: fixed;
  display: none;
  bottom: 24px;
  right: 18px;
}

@media (max-width: 768px) {
  .c-pagetop {
    bottom: 51px;
    right: 15px;
  }
  .c-pagetop img {
    width: 50px;
    height: 50px;
  }
}

/* Component shring content-img */
/* Component button */
.c-btn1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.c-btn1 a {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 13px 18px;
}

.c-btn1 .c-btn1__text {
  color: #333333;
}

.c-btn1 .c-btn1__img {
  margin: 0 5px;
}

.c-circleline::after {
  content: "";
  display: inline-block;
  border-top: 1px solid #bdbdbd;
  width: 108px;
  margin-left: -5px;
}

.c-eventhover:hover {
  opacity: 0.6;
  -webkit-transition: opacity 500ms;
  transition: opacity 500ms;
}

.c-lihover:hover a {
  text-decoration: underline;
}

/* Component copyright */
#c-menu__toggle {
  display: block;
  cursor: pointer;
  z-index: 100;
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 5px;
}

#c-menu__toggle .c-hamburger,
#c-menu__toggle .c-hamburger::before,
#c-menu__toggle .c-hamburger::after {
  content: "";
  width: 16px;
  height: 2px;
  background-color: #0075a9;
  display: block;
  -webkit-transition: all ease-in-out 500ms;
  transition: all ease-in-out 500ms;
}

#c-menu__toggle .c-hamburger {
  margin-top: 18px;
  margin-left: 12px;
}

#c-menu__toggle .c-hamburger::before {
  -webkit-transform: translateY(-6px);
          transform: translateY(-6px);
}

#c-menu__toggle .c-hamburger::after {
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
}

#c-menu__toggle .open {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#c-menu__toggle .open::before {
  opacity: 0;
}

#c-menu__toggle .open::after {
  -webkit-transform: translateY(-3px) rotate(90deg);
          transform: translateY(-3px) rotate(90deg);
}

/* Component footer */
.c-f__1 {
  position: relative;
}

.c-f__1__bg img {
  width: 100%;
  height: auto;
}

.c-title__f1 {
  color: #111111;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0;
}

.c-f__1__content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-fnavi {
  margin: 22px 0 26px;
}

.c-fnavi ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-left: 5px;
}

.c-fnavi ul:first-child {
  margin-bottom: 12px;
}

.c-fnavi li {
  width: 20%;
}

.c-fnavi a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-arrow__right {
  width: 6px;
  height: 10px;
  margin-right: 4px;
}

.c-title__f2 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #003567;
  letter-spacing: 0;
}

.c-menu__f2 {
  font-size: 1.3rem;
  color: #333333;
}

.c-f__3__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 40px 0;
}

@media (max-width: 768px) {
  .c-f__3__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.c-f__4__content1, .c-f__4__content2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 768px) {
  .c-f__4__content1, .c-f__4__content2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.c-f__4__content1 {
  margin-bottom: 40px;
}

.c-f__4__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.c-f__4__text__2 {
  position: relative;
  margin-left: 90px;
}

.c-f__4__text__1 span, .c-f__4__text__2 span {
  display: inline-block;
  margin-bottom: 10px;
}

.c-f__4__text__1 p, .c-f__4__text__2 p {
  letter-spacing: 0;
}

.c-f__4__text__2::before {
  content: "";
  width: 66px;
  height: 2px;
  position: absolute;
  top: 50%;
  -webkit-transform: rotate(116deg);
          transform: rotate(116deg);
  background-color: #0075a9;
  display: inline-block;
  margin-left: -77px;
}

.c-f__5 {
  background-color: #003567;
  height: 80px;
  line-height: 80px;
}

.c-f__5 p {
  color: #bfccd9;
  text-align: center;
  font-size: 1.2rem;
  letter-spacing: 0;
}

.c-groupnavi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 26px;
}

.c-fnavi2 {
  width: 20%;
}

.c-fnavi2 ul {
  margin-top: 15px;
}

.c-fnavi2 li {
  margin-bottom: 13px;
}

.c-fnavi2 li:last-child {
  margin-bottom: 5px;
}

.c-fnavi2 .c-ul__last {
  margin-top: 5px;
}

.c-fnavi2__child {
  margin-top: 35px;
}

/*------------------------------------------------------------
	Headline
------------------------------------------------------------*/
/*------------------------------------------------------------
	Button
------------------------------------------------------------*/
