* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

body {
    font-family: 游ゴシック, YuGothic, ヒラギノ角ゴ Pro, Hiragino Kaku Gothic Pro,
    メイリオ, Meriyo, sans-serif;
    font-size: 1rem;
}

a {
    display: block;
    text-decoration: none;
}

ul {
    list-style-type: none;
}



/* General code */

#wrapper {
    margin: 0 auto;
    width: 1200px;
    background-color: #fff;
    font-weight: 500;
    color: #414042;

    /* Code header */
    #header {
        top: 0;
        position: fixed;
        display: flex;
        justify-content: center;
        flex-direction: column;
        background-color: #fff;
        z-index: 10;
        width: 1200px;
        padding: 32px 130px;
        .logo-social {
            position: relative;
            .logo {
                background: url("../images/logo.png") no-repeat top center;
                width: 196px;
                height: 140px;
                margin: 0 auto;
            }
            .logo2 {
                background: url("../images/logo2.png") no-repeat top center;
                width: 98px;
                height: 70px;
                margin: 0 auto;
            }
            .h-social {
                position: absolute;
                right: 4px;
                top: 0;
                display: flex;
                .instagram, .facebook{
                    padding: 0 5px;
                }

            }
        }

        #menu-toggle {
            top: 19px;
            display: none;
            cursor: pointer;
            position: fixed;
            z-index: 100;
            right: 15px;
            .hamburger,
            .hamburger::before,
            .hamburger::after {
                content: "";
                width: 22px;
                height: 2px;
                background-color: #414042;
                display: block;
                transition: all ease-in-out 500ms;
            }
            .hamburger::before {
                transform: translateY(-4px);
            }
            .hamburger::after {
                transform: translateY(2px);
            }
            .open {
                transform: rotate(45deg);
                &::before {
                    opacity: 0;
                }
                &::after {
                    transform: translateY(-2px) rotate(90deg);
                }
            }
        }


        /* Code menu */
        .menu {
            padding-top: 35px;

            ul {
                list-style-type: none;
                display: flex;
                justify-content: center;
                .nav-item {
                    margin: 0 27px;
                    
                    .activecolor {
                        filter: opacity(0.5) drop-shadow(0 0 0 #FFBC00) brightness(150%);
                    }
                   
                }
                .nav-item-menu {
                    position: relative;
                    .submenu {
                        position: absolute;
                        display: none;
                        background-color: #F5F5DC;
                        width: 200px;
                        top: 100%;
                        .sub-nav-item {
                            border-bottom: 1px solid #8B8989;
                            text-align: center;
                            .nav-link-sub {
                                font-size: 1.2rem;
                                padding: 10px 5px;
                                color: #231F20;
                                text-align: left;
                            }
                            &:last-child {
                                border-bottom: 0;
                            }
                        }
                    }
                    &:hover {
                        .submenu {
                            display: block;
                        }
                    }
                }
            }
        }

        .menu2 {
            display: none;
            text-align: center;
            padding-top: 7px;
            transition: all ease-in-out 500ms;
            ul {
                list-style-type: none;
                .nav-item {
                    display: block;
                    border-bottom: 1px solid #8B8989;
                    text-align: left;
                    .nav-link {
                        padding: 7px 7px 7px 43px;
                        display: block;
                    }
                    .activecolor {
                        filter: opacity(0.5) drop-shadow(0 0 0 #FFBC00) brightness(150%);
                    }
                    .icon-social {
                        display: flex;
                        padding: 7px 7px 7px 43px;
                        .instagram,
                        .facebook {
                            padding: 0 5px;
                            img {
                                vertical-align: middle;
                            }
                        }
                    }
                    &:first-child {
                        border-top: 1px solid #8B8989;
                    }
                    &:hover {
                        cursor: pointer;
                    }
                }
                .nav-item-menu {
                    .nav-link {
                        position: relative;
                        .iconsub1,
                        .iconsub2 {
                            left: 0;
                            top: 50%;
                            margin-left: 26px;
                            transform: translateY(-50%);
                        }
                        .iconsub1,
                        .iconsub2,
                        .iconsub1::after,
                        .iconsub2::after {
                            content: "";
                            display: block;
                            position: absolute;
                            width: 5px;
                            height: 0.9px;
                            background-color: #414042;
                            transition: ease-in-out 500ms;
                        }
                        .iconsub1::after,
                        .iconsub2::after {
                            transform: rotate(90deg);
                        }
                        .multi {
                            transform: rotate(45deg);
                        }
                        .multi::after {
                            transform: rotate(90deg);
                        }
                    }
                    .submenu {
                        border-top: 1px solid #8B8989;
                        display: none;
                        width: 100%;
                        top: 100%;
                        padding: 11px 0;
                        .sub-nav-item {
                            text-align: center;
                            display: block;
                            .nav-link-sub {
                                padding: 6px 6px 6px 60px;
                                color: #231F20;
                                text-align: left;
                            }
                            &:last-child {
                                border-bottom: 0;
                            }
                        }
                    }
                    .submenu-open {
                        display: block;
                    }
                }
            }
        }
    }
    /* Code main of page */
    #main {
        margin-top: 261px;

        #banner {
            overflow: auto;            
            .banner-title {                
                float: right;
                margin: 9px 128px 18px;
                font-size: 0.9rem;
                letter-spacing: 1px;
                
            }
        }
        .content {
            margin: 85px 0 50px;
            padding: 0 120px;
            .content-title-1,
            .content-title-2 {
                text-align: center;
            }
            .content-title-1 {                
                margin-bottom: 18px;
            }
            .content-title-2 {
                margin-bottom: 26px;
            }
        }
    }
    /* Code footer */
    #footer {
        padding: 0 120px 0;
        .footer-content{
            padding: 40px 0 56px;
            .f-social {
                display: flex;
                justify-content: center;
                .instagram,
                .facebook {
                    padding: 0 5px;
                }
            }
            
            text-align: center;
            background: url("../images/line.png") no-repeat top center;
            .language {
                color: #231F20;
                font-size: 1.2rem;
            }
            .copyright {
                color: #333132;
                text-transform: uppercase;
                font-size: 0.8rem;
                margin-top: 18px;
               
            }
        }
        
    }

    /* Code index.html */
    #main {
        /* Code slide */
        #slideshow {
            position: relative;
            .slide-item {
                display: none;
                height: 500px;
                .slide-pc {
                    width: 1200px;
                    height: 500px;
                    background-size: cover;
                    background-position: center;
                }
                .slide-smp{
                    display: none;
                }
            }
            /* Code arrow */
            .arow-left,
            .arow-right {
                position: absolute;
                cursor: pointer;
                top: 50%;
                transform: translateY(-50%);
                margin-top: -23px;
                width: 0;
                height: 0;
            }
            .arow-left {
                border-bottom: 20px solid transparent;
                border-top: 20px solid transparent;
                border-right: 20px solid #fff;
                margin-left: 8px;
            }
            .arow-right {
                border-bottom: 20px solid transparent;
                border-top: 20px solid transparent;
                border-left: 20px solid #fff;
                right: 0;
                margin-right: 9px;
            }
            /* Code dots under slide */
            .dots {
                margin-top: 25px;
                .dot {
                    cursor: pointer;
                    height: 10px;
                    width: 10px;
                    margin: 0 1px;
                    background-color: #bbb;
                    border-radius: 50%;
                    display: inline-block;
                    transition: background-color 0.6s ease;
                }
                .active,
                .dot:hover {
                    background-color: #717171;
                }
            }
        }
        .content {
            .content-detail {
                background: url("../images/line.png") no-repeat top center;
                .art {
                    display: flex;
                    padding-top: 70px;
                    margin: 0 161px;
                    .img-new1-smp, .img-new2-smp{
                        display: none;
                    }
                    .art-body {
                        margin-top: -2px;
                        margin-left: 18px;
                        font-size: 1.1rem;
                        letter-spacing: 1px;
                        .event-time{

                        }
                        .event {
                            color: #EE2F2A;
                            margin-left: 0px;
                            text-transform: uppercase;
                             font-size: 0.9rem;
                            font-weight: bold;
                        }
                        .art-text {
                            margin-top: 2px;
                            font-size: 1.1rem;
                            letter-spacing: 0;

                            .text-up {
                                letter-spacing: 1px;
                                text-transform: uppercase;
                            }
                            &:last-child{
                                line-height: 28px;
                            }
                        }
                    }
                    &:last-child{
                        padding-top: 64px;
                    }
                }
            }
            .andmore {
                text-align: center;
                margin-top: 45px;
                margin-left: 5px;
            }
        }
    }

    /* Code message.html */
    #main {
        #banner {
            .banner-message-pc {                
                width: 1200px;
                height: 500px;
            }
            .banner-message-smp{
                display: none;
            }
        }
        .content {
            .mess-content-1,
            .mess-content-2 {
                position: relative;
                width: 960px;
                height: 604px;
                .mess-text {
                    width: 432px;
                    height: 437px;
                    line-height: 29px;
                    text-align: justify;
                    position: absolute;
                    top: 77px;
                    left: 55px;
                    color: #fff;
                    font-size: 1rem;
                }
                .text2 {
                    letter-spacing: 1px;
                    font-size: 1.1rem;

                }
                
                .mess-content-1-smp, .mess-content-2-smp{
                    display: none;
                }
                            
            }
            .mess-content-1 {                
                margin-bottom: 68px;
            }            
            .mess-content-2 {                
                margin-bottom: 114px;
            }
            
            
        }

        .con-mess{
            margin: 70px 0 50px;
        }
    }

    /* Code gallery.html */
    #main {
        #banner {
            .banner-gal-pc {               
                width: 1200px;
                height: 500px;
            }
            .banner-gal-smp{
                display: none;
            }
        }
        .content {
            .gal-content {
                display: flex;
                justify-content: center;

                .gal-text {
                    width: 460px;
                    height: 362px;
                    margin-right: 38px;
                    margin-top: -4px;
                    text-align: justify;
                    line-height: 28px;
                }
                .gal-content-ga-img-pc {                    
                    width: 460px;
                    height: 333px;
                    margin-top: 2px;
                }
                .gal-content-ga-img-smp{
                    display: none;
                }
                .gal-acc-left {
                    margin-right: 37px;
                    margin-top: 4px;
                    .gal-content-acc-img-pc {                        
                        width: 461px;
                        height: 461px;

                    }
                    .gal-content-acc-img-smp{
                        display: none;
                    }
                    .btn-google-pc, .btn-google-smp {
                        margin-top: 12px;
                        float: left
                    }
                    .btn-google-smp{
                        display: none;
                    }
                }
                .gal-acc-right {
                    margin-top: 4px;
                    .gal-acc-right-img-pc {                        
                        width: 460px;
                        height: 294px;
                    }
                    .gal-acc-right-img-smp{
                        display: none;
                    }
                    .gal-acc-right-text {
                        margin-top: 22px;                        
                        .acc-right-text{
                            margin-top: 6px;
                            letter-spacing: 1px;
                        }
                        
                        .text-up {
                            text-transform: uppercase;
                        }
                    }
                }

            }
        }
        .con-gal{
            margin: 70px 0 50px;
        }
        .gal-content-2 {
            background-color: #F1F3F4;
            padding-top: 95px;
            padding-bottom: 110px;
            margin-bottom: 62px;
        }
    }
}

 
@media (max-width: 768px) {
    html{
        font-size: 10px;
    }
    
    #wrapper {

        font-size: 1rem;
        text-align: center;
        width: 100%;
        //padding: 0 224px;
        margin: 0;
        //margin: 0 auto;    
        // Code general
        #header {
            padding: 0;
            padding-top: 8px;
            position: relative;
            width: 100%;
            margin-bottom: 13px;
            .logo-social {
                .logo {
                    background: url("../images/logo_smp.png") no-repeat top center;
                    width: 88px;
                    height: 63px;
                }
                .logo-smp2 {
                    background: url("../images/logo_smp2.png") no-repeat top center;
                    width: 44px;
                    height: 32px;
                }
                .h-social {
                    display: none;
                }
            }
             #menu-toggle{
                display: inline;
             }
           
            
            .menu {
                display: none;
            }
        }

        #main{
            width: 100%;
        }
        #footer {            
            padding: 0 25px 0;
            
            .footer-content{
                padding: 20px 0 15px;
                //background-size: 100% 1px;
                .f-social {

                .instagram,
                .facebook {
                    padding-right: 3px;
                    padding-top: 2px;
                    img {
                        width: 18px;
                        height: 18px;
                    }
                }
                }
                .language {
                    margin-top: 8px;
                    
                }
                .copyright {
                    font-size: 0.7rem;
                    margin-top: 15px;
                }
            }
            
        }

        //code index.html
        #main {            
            margin: 0;
            #slideshow {
                margin-bottom: 0;
                .slide-item {
                    width: 100%;
                    height: auto;
                    .slide-pc{
                        display: none;
                    }
                    .slide-smp {
                        display: block;
                        width: 100%;
                        height: auto;
                    }
                }
                .arow-left,
                .arow-right {
                    margin-top: -11px;
                }
                .arow-left {
                    border-bottom: 10px solid transparent;
                    border-top: 10px solid transparent;
                    border-right: 10px solid #fff;
                    margin-left: 5px;
                }
                .arow-right {
                    border-bottom: 10px solid transparent;
                    border-top: 10px solid transparent;
                    border-left: 10px solid #fff;
                    right: 0;
                    margin-right: 4px;
                    margin-top: -8px;
                }
                .dots {
                    margin-top: 0px;
                   
                    .dot {
                        height: 7px;
                        width: 7px;
                        margin: 0;
                    }
                }
            }
            #news {
                padding: 0 25px 25px;
                margin: 0;
                .content-title-1 {
                    margin: 0;
                    padding: 18px 0 5px;
                    img {
                        width: 50px;
                        height: 14px;
                    }
                }
                .content-detail {
                    background-size: 100% 1px; 
                    .art {
                        padding-top: 18px;
                        margin: 0;
                        display: block;
                        .img-new1-pc, .img-new2-pc{
                            display: none;
                        }
                        .img-new1-smp, .img-new2-smp {
                            display: block;
                            width: 100%;
                            height: auto;
                        }
                        .art-body {
                            //margin: 7px 0;
                            text-align: left;
                            .event {
                                margin-left: 10px;
                                font-size: 0.8rem;
                            }
                            .art-text{                                
                                line-height: 20px;
                            }                           
                            &:last-child{
                                margin: 12px 0 9px;
                            }
                        }
                        
                    }
                }
                .andmore {
                    margin-top: 0;
                    margin-bottom: 24px;
                    padding: 5px 0;
                    img {
                        width: 74px;
                        height: 10px;
                    }
                }
            }
        } 
        // code message.html
        #main{
            #banner {
                margin-bottom: 25px;
                .banner-message-pc{
                    display: none;
                }
                .banner-message-smp {
                display: block;                   
                    width: 100%;
                    height: auto;
                }
                .banner-title {
                    display: none;
                }
            }
            .con-mess {
                padding: 0 10px;
                margin: 0;
                .content-title-2 {
                    margin: 0;
                    padding: 10px 0 7px;
                    img {
                        width: 173px;
                        height: 14px;
                    }
                }
                
                .mess-content-1,
                .mess-content-2 {
                    margin: 5px 0 32px;
                    width: 100%;
                    height: auto;                    
                    .mess-text {
                        width: 100%;
                        max-width: 88%;
                        height: auto;
                        left: 15px;
                        top: 270px;
                        font-size: 1.1rem;
                        p {
                            text-align: justify;
                            line-height: 1.7rem;
                        }
                    }
                    .mess-content-1-pc, .mess-content-2-pc{
                        display: none;
                    }
                    .mess-content-1-smp, .mess-content-2-smp{
                        display: block;
                        width: 100%;
                        height: auto;
                    }
                }                
               
                .mess-content-2 {                    
                    margin-bottom: 85px;
                    
                }
            }
        }

        //code gallery
        #main{
            #banner {
                .banner-gal-pc{
                    display: none;
                }
                .banner-gal-smp {
                display: block;                    
                    width: 100%;
                    height: auto;
                }
                .banner-title {
                    display: none;
                }
            }
            .con-gal {
                padding: 0 25px 25px;
                margin: 0;
                .content-title-2 {
                    margin: 0;
                    padding: 10px 0 7px;
                    img {
                        width: 163px;
                        height: 14px;
                    }
                }
                .gal-content {
                    margin-top: 8px;
                    flex-direction: column-reverse;
                    .gal-text {
                        margin: 17px 0;
                        width: 100%;
                        height: auto;
                        font-size: 1.1rem;
                        p {
                            text-align: justify;
                            line-height: 1.9rem;
                            letter-spacing: 0.5px;
                        }
                    }
                    .gal-content-ga-img-pc{
                        display: none;
                    }
                    .gal-content-ga-img-smp {
                        display: block;                        
                        width: 100%;
                        height: auto;
                    }
                }
            }

            #gal-acc {
                margin: 0 0 32px;
                padding: 30px 25px 40px;
                .content-title-2 {
                    margin: 0;
                    padding: 13px 0 9px;
                    img {
                        width: 63px;
                        height: 14px;
                    }
                }
                .gal-content {
                    flex-direction: column;
                    .gal-acc-left {
                        margin: 0;
                        .gal-content-acc-img-pc{
                            display: none;
                        }
                        .gal-content-acc-img-smp {
                            display: block;
                            width: 100%;
                            height: auto;
                        }
                        .btn-google-pc{
                            display: none;
                        }
                        
                        .btn-google-smp {
                            display: block;
                            width: 100%;
                            max-width: 50%;
                            height: auto;                            
                            margin: 14px 0 18px;
                        }
                    
                    }
                    .gal-acc-right {
                        .gal-acc-right-img-pc{
                            display: none;
                        }
                        .gal-acc-right-img-smp {
                            display: block; 
                            width: 100%;
                            height: auto;
                        }
                        .gal-acc-right-text {
                            margin-top: 15px;
                            text-align: left;
                            .acc-right-text{
                                font-size: 1.1rem;
                                line-height: 1.9rem;
                                margin-top: 0;
                            }
                        }
                    }
                }
            }
        }
        
    }
}
