@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 14px; }

body {
  font-family: 游ゴシック, YuGothic, ヒラギノ角ゴ Pro, Hiragino Kaku Gothic Pro, メイリオ, Meriyo, sans-serif;
  font-size: 1rem; }

a {
  display: block;
  text-decoration: none; }

ul {
  list-style-type: none; }

/* General code */
#wrapper {
  margin: 0 auto;
  width: 1200px;
  background-color: #fff;
  font-weight: 500;
  color: #414042;
  /* Code header */
  /* Code main of page */
  /* Code footer */
  /* Code index.html */
  /* Code message.html */
  /* Code gallery.html */ }
  #wrapper #header {
    top: 0;
    position: fixed;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #fff;
    z-index: 10;
    width: 1200px;
    padding: 32px 130px;
    /* Code menu */ }
    #wrapper #header .logo-social {
      position: relative; }
      #wrapper #header .logo-social .logo {
        background: url("../images/logo.png") no-repeat top center;
        width: 196px;
        height: 140px;
        margin: 0 auto; }
      #wrapper #header .logo-social .logo2 {
        background: url("../images/logo2.png") no-repeat top center;
        width: 98px;
        height: 70px;
        margin: 0 auto; }
      #wrapper #header .logo-social .h-social {
        position: absolute;
        right: 4px;
        top: 0;
        display: flex; }
        #wrapper #header .logo-social .h-social .instagram, #wrapper #header .logo-social .h-social .facebook {
          padding: 0 5px; }
    #wrapper #header #menu-toggle {
      top: 19px;
      display: none;
      cursor: pointer;
      position: fixed;
      z-index: 100;
      right: 15px; }
      #wrapper #header #menu-toggle .hamburger,
      #wrapper #header #menu-toggle .hamburger::before,
      #wrapper #header #menu-toggle .hamburger::after {
        content: "";
        width: 22px;
        height: 2px;
        background-color: #414042;
        display: block;
        transition: all ease-in-out 500ms; }
      #wrapper #header #menu-toggle .hamburger::before {
        transform: translateY(-4px); }
      #wrapper #header #menu-toggle .hamburger::after {
        transform: translateY(2px); }
      #wrapper #header #menu-toggle .open {
        transform: rotate(45deg); }
        #wrapper #header #menu-toggle .open::before {
          opacity: 0; }
        #wrapper #header #menu-toggle .open::after {
          transform: translateY(-2px) rotate(90deg); }
    #wrapper #header .menu {
      padding-top: 35px; }
      #wrapper #header .menu ul {
        list-style-type: none;
        display: flex;
        justify-content: center; }
        #wrapper #header .menu ul .nav-item {
          margin: 0 27px; }
          #wrapper #header .menu ul .nav-item .activecolor {
            filter: opacity(0.5) drop-shadow(0 0 0 #FFBC00) brightness(150%); }
        #wrapper #header .menu ul .nav-item-menu {
          position: relative; }
          #wrapper #header .menu ul .nav-item-menu .submenu {
            position: absolute;
            display: none;
            background-color: #F5F5DC;
            width: 200px;
            top: 100%; }
            #wrapper #header .menu ul .nav-item-menu .submenu .sub-nav-item {
              border-bottom: 1px solid #8B8989;
              text-align: center; }
              #wrapper #header .menu ul .nav-item-menu .submenu .sub-nav-item .nav-link-sub {
                font-size: 1.2rem;
                padding: 10px 5px;
                color: #231F20;
                text-align: left; }
              #wrapper #header .menu ul .nav-item-menu .submenu .sub-nav-item:last-child {
                border-bottom: 0; }
          #wrapper #header .menu ul .nav-item-menu:hover .submenu {
            display: block; }
    #wrapper #header .menu2 {
      display: none;
      text-align: center;
      padding-top: 7px;
      transition: all ease-in-out 500ms; }
      #wrapper #header .menu2 ul {
        list-style-type: none; }
        #wrapper #header .menu2 ul .nav-item {
          display: block;
          border-bottom: 1px solid #8B8989;
          text-align: left; }
          #wrapper #header .menu2 ul .nav-item .nav-link {
            padding: 7px 7px 7px 43px;
            display: block; }
          #wrapper #header .menu2 ul .nav-item .activecolor {
            filter: opacity(0.5) drop-shadow(0 0 0 #FFBC00) brightness(150%); }
          #wrapper #header .menu2 ul .nav-item .icon-social {
            display: flex;
            padding: 7px 7px 7px 43px; }
            #wrapper #header .menu2 ul .nav-item .icon-social .instagram,
            #wrapper #header .menu2 ul .nav-item .icon-social .facebook {
              padding: 0 5px; }
              #wrapper #header .menu2 ul .nav-item .icon-social .instagram img,
              #wrapper #header .menu2 ul .nav-item .icon-social .facebook img {
                vertical-align: middle; }
          #wrapper #header .menu2 ul .nav-item:first-child {
            border-top: 1px solid #8B8989; }
          #wrapper #header .menu2 ul .nav-item:hover {
            cursor: pointer; }
        #wrapper #header .menu2 ul .nav-item-menu .nav-link {
          position: relative; }
          #wrapper #header .menu2 ul .nav-item-menu .nav-link .iconsub1,
          #wrapper #header .menu2 ul .nav-item-menu .nav-link .iconsub2 {
            left: 0;
            top: 50%;
            margin-left: 26px;
            transform: translateY(-50%); }
          #wrapper #header .menu2 ul .nav-item-menu .nav-link .iconsub1,
          #wrapper #header .menu2 ul .nav-item-menu .nav-link .iconsub2,
          #wrapper #header .menu2 ul .nav-item-menu .nav-link .iconsub1::after,
          #wrapper #header .menu2 ul .nav-item-menu .nav-link .iconsub2::after {
            content: "";
            display: block;
            position: absolute;
            width: 5px;
            height: 0.9px;
            background-color: #414042;
            transition: ease-in-out 500ms; }
          #wrapper #header .menu2 ul .nav-item-menu .nav-link .iconsub1::after,
          #wrapper #header .menu2 ul .nav-item-menu .nav-link .iconsub2::after {
            transform: rotate(90deg); }
          #wrapper #header .menu2 ul .nav-item-menu .nav-link .multi {
            transform: rotate(45deg); }
          #wrapper #header .menu2 ul .nav-item-menu .nav-link .multi::after {
            transform: rotate(90deg); }
        #wrapper #header .menu2 ul .nav-item-menu .submenu {
          border-top: 1px solid #8B8989;
          display: none;
          width: 100%;
          top: 100%;
          padding: 11px 0; }
          #wrapper #header .menu2 ul .nav-item-menu .submenu .sub-nav-item {
            text-align: center;
            display: block; }
            #wrapper #header .menu2 ul .nav-item-menu .submenu .sub-nav-item .nav-link-sub {
              padding: 6px 6px 6px 60px;
              color: #231F20;
              text-align: left; }
            #wrapper #header .menu2 ul .nav-item-menu .submenu .sub-nav-item:last-child {
              border-bottom: 0; }
        #wrapper #header .menu2 ul .nav-item-menu .submenu-open {
          display: block; }
  #wrapper #main {
    margin-top: 261px; }
    #wrapper #main #banner {
      overflow: auto; }
      #wrapper #main #banner .banner-title {
        float: right;
        margin: 9px 128px 18px;
        font-size: 0.9rem;
        letter-spacing: 1px; }
    #wrapper #main .content {
      margin: 85px 0 50px;
      padding: 0 120px; }
      #wrapper #main .content .content-title-1,
      #wrapper #main .content .content-title-2 {
        text-align: center; }
      #wrapper #main .content .content-title-1 {
        margin-bottom: 18px; }
      #wrapper #main .content .content-title-2 {
        margin-bottom: 26px; }
  #wrapper #footer {
    padding: 0 120px 0; }
    #wrapper #footer .footer-content {
      padding: 40px 0 56px;
      text-align: center;
      background: url("../images/line.png") no-repeat top center; }
      #wrapper #footer .footer-content .f-social {
        display: flex;
        justify-content: center; }
        #wrapper #footer .footer-content .f-social .instagram,
        #wrapper #footer .footer-content .f-social .facebook {
          padding: 0 5px; }
      #wrapper #footer .footer-content .language {
        color: #231F20;
        font-size: 1.2rem; }
      #wrapper #footer .footer-content .copyright {
        color: #333132;
        text-transform: uppercase;
        font-size: 0.8rem;
        margin-top: 18px; }
  #wrapper #main {
    /* Code slide */ }
    #wrapper #main #slideshow {
      position: relative;
      /* Code arrow */
      /* Code dots under slide */ }
      #wrapper #main #slideshow .slide-item {
        display: none;
        height: 500px; }
        #wrapper #main #slideshow .slide-item .slide-pc {
          width: 1200px;
          height: 500px;
          background-size: cover;
          background-position: center; }
        #wrapper #main #slideshow .slide-item .slide-smp {
          display: none; }
      #wrapper #main #slideshow .arow-left,
      #wrapper #main #slideshow .arow-right {
        position: absolute;
        cursor: pointer;
        top: 50%;
        transform: translateY(-50%);
        margin-top: -23px;
        width: 0;
        height: 0; }
      #wrapper #main #slideshow .arow-left {
        border-bottom: 20px solid transparent;
        border-top: 20px solid transparent;
        border-right: 20px solid #fff;
        margin-left: 8px; }
      #wrapper #main #slideshow .arow-right {
        border-bottom: 20px solid transparent;
        border-top: 20px solid transparent;
        border-left: 20px solid #fff;
        right: 0;
        margin-right: 9px; }
      #wrapper #main #slideshow .dots {
        margin-top: 25px; }
        #wrapper #main #slideshow .dots .dot {
          cursor: pointer;
          height: 10px;
          width: 10px;
          margin: 0 1px;
          background-color: #bbb;
          border-radius: 50%;
          display: inline-block;
          transition: background-color 0.6s ease; }
        #wrapper #main #slideshow .dots .active,
        #wrapper #main #slideshow .dots .dot:hover {
          background-color: #717171; }
    #wrapper #main .content .content-detail {
      background: url("../images/line.png") no-repeat top center; }
      #wrapper #main .content .content-detail .art {
        display: flex;
        padding-top: 70px;
        margin: 0 161px; }
        #wrapper #main .content .content-detail .art .img-new1-smp, #wrapper #main .content .content-detail .art .img-new2-smp {
          display: none; }
        #wrapper #main .content .content-detail .art .art-body {
          margin-top: -2px;
          margin-left: 18px;
          font-size: 1.1rem;
          letter-spacing: 1px; }
          #wrapper #main .content .content-detail .art .art-body .event {
            color: #EE2F2A;
            margin-left: 0px;
            text-transform: uppercase;
            font-size: 0.9rem;
            font-weight: bold; }
          #wrapper #main .content .content-detail .art .art-body .art-text {
            margin-top: 2px;
            font-size: 1.1rem;
            letter-spacing: 0; }
            #wrapper #main .content .content-detail .art .art-body .art-text .text-up {
              letter-spacing: 1px;
              text-transform: uppercase; }
            #wrapper #main .content .content-detail .art .art-body .art-text:last-child {
              line-height: 28px; }
        #wrapper #main .content .content-detail .art:last-child {
          padding-top: 64px; }
    #wrapper #main .content .andmore {
      text-align: center;
      margin-top: 45px;
      margin-left: 5px; }
  #wrapper #main #banner .banner-message-pc {
    width: 1200px;
    height: 500px; }
  #wrapper #main #banner .banner-message-smp {
    display: none; }
  #wrapper #main .content .mess-content-1,
  #wrapper #main .content .mess-content-2 {
    position: relative;
    width: 960px;
    height: 604px; }
    #wrapper #main .content .mess-content-1 .mess-text,
    #wrapper #main .content .mess-content-2 .mess-text {
      width: 432px;
      height: 437px;
      line-height: 29px;
      text-align: justify;
      position: absolute;
      top: 77px;
      left: 55px;
      color: #fff;
      font-size: 1rem; }
    #wrapper #main .content .mess-content-1 .text2,
    #wrapper #main .content .mess-content-2 .text2 {
      letter-spacing: 1px;
      font-size: 1.1rem; }
    #wrapper #main .content .mess-content-1 .mess-content-1-smp, #wrapper #main .content .mess-content-1 .mess-content-2-smp,
    #wrapper #main .content .mess-content-2 .mess-content-1-smp,
    #wrapper #main .content .mess-content-2 .mess-content-2-smp {
      display: none; }
  #wrapper #main .content .mess-content-1 {
    margin-bottom: 68px; }
  #wrapper #main .content .mess-content-2 {
    margin-bottom: 114px; }
  #wrapper #main .con-mess {
    margin: 70px 0 50px; }
  #wrapper #main #banner .banner-gal-pc {
    width: 1200px;
    height: 500px; }
  #wrapper #main #banner .banner-gal-smp {
    display: none; }
  #wrapper #main .content .gal-content {
    display: flex;
    justify-content: center; }
    #wrapper #main .content .gal-content .gal-text {
      width: 460px;
      height: 362px;
      margin-right: 38px;
      margin-top: -4px;
      text-align: justify;
      line-height: 28px; }
    #wrapper #main .content .gal-content .gal-content-ga-img-pc {
      width: 460px;
      height: 333px;
      margin-top: 2px; }
    #wrapper #main .content .gal-content .gal-content-ga-img-smp {
      display: none; }
    #wrapper #main .content .gal-content .gal-acc-left {
      margin-right: 37px;
      margin-top: 4px; }
      #wrapper #main .content .gal-content .gal-acc-left .gal-content-acc-img-pc {
        width: 461px;
        height: 461px; }
      #wrapper #main .content .gal-content .gal-acc-left .gal-content-acc-img-smp {
        display: none; }
      #wrapper #main .content .gal-content .gal-acc-left .btn-google-pc, #wrapper #main .content .gal-content .gal-acc-left .btn-google-smp {
        margin-top: 12px;
        float: left; }
      #wrapper #main .content .gal-content .gal-acc-left .btn-google-smp {
        display: none; }
    #wrapper #main .content .gal-content .gal-acc-right {
      margin-top: 4px; }
      #wrapper #main .content .gal-content .gal-acc-right .gal-acc-right-img-pc {
        width: 460px;
        height: 294px; }
      #wrapper #main .content .gal-content .gal-acc-right .gal-acc-right-img-smp {
        display: none; }
      #wrapper #main .content .gal-content .gal-acc-right .gal-acc-right-text {
        margin-top: 22px; }
        #wrapper #main .content .gal-content .gal-acc-right .gal-acc-right-text .acc-right-text {
          margin-top: 6px;
          letter-spacing: 1px; }
        #wrapper #main .content .gal-content .gal-acc-right .gal-acc-right-text .text-up {
          text-transform: uppercase; }
  #wrapper #main .con-gal {
    margin: 70px 0 50px; }
  #wrapper #main .gal-content-2 {
    background-color: #F1F3F4;
    padding-top: 95px;
    padding-bottom: 110px;
    margin-bottom: 62px; }

@media (max-width: 768px) {
  html {
    font-size: 10px; }

  #wrapper {
    font-size: 1rem;
    text-align: center;
    width: 100%;
    margin: 0; }
    #wrapper #header {
      padding: 0;
      padding-top: 8px;
      position: relative;
      width: 100%;
      margin-bottom: 13px; }
      #wrapper #header .logo-social .logo {
        background: url("../images/logo_smp.png") no-repeat top center;
        width: 88px;
        height: 63px; }
      #wrapper #header .logo-social .logo-smp2 {
        background: url("../images/logo_smp2.png") no-repeat top center;
        width: 44px;
        height: 32px; }
      #wrapper #header .logo-social .h-social {
        display: none; }
      #wrapper #header #menu-toggle {
        display: inline; }
      #wrapper #header .menu {
        display: none; }
    #wrapper #main {
      width: 100%; }
    #wrapper #footer {
      padding: 0 25px 0; }
      #wrapper #footer .footer-content {
        padding: 20px 0 15px; }
        #wrapper #footer .footer-content .f-social .instagram,
        #wrapper #footer .footer-content .f-social .facebook {
          padding-right: 3px;
          padding-top: 2px; }
          #wrapper #footer .footer-content .f-social .instagram img,
          #wrapper #footer .footer-content .f-social .facebook img {
            width: 18px;
            height: 18px; }
        #wrapper #footer .footer-content .language {
          margin-top: 8px; }
        #wrapper #footer .footer-content .copyright {
          font-size: 0.7rem;
          margin-top: 15px; }
    #wrapper #main {
      margin: 0; }
      #wrapper #main #slideshow {
        margin-bottom: 0; }
        #wrapper #main #slideshow .slide-item {
          width: 100%;
          height: auto; }
          #wrapper #main #slideshow .slide-item .slide-pc {
            display: none; }
          #wrapper #main #slideshow .slide-item .slide-smp {
            display: block;
            width: 100%;
            height: auto; }
        #wrapper #main #slideshow .arow-left,
        #wrapper #main #slideshow .arow-right {
          margin-top: -11px; }
        #wrapper #main #slideshow .arow-left {
          border-bottom: 10px solid transparent;
          border-top: 10px solid transparent;
          border-right: 10px solid #fff;
          margin-left: 5px; }
        #wrapper #main #slideshow .arow-right {
          border-bottom: 10px solid transparent;
          border-top: 10px solid transparent;
          border-left: 10px solid #fff;
          right: 0;
          margin-right: 4px;
          margin-top: -8px; }
        #wrapper #main #slideshow .dots {
          margin-top: 0px; }
          #wrapper #main #slideshow .dots .dot {
            height: 7px;
            width: 7px;
            margin: 0; }
      #wrapper #main #news {
        padding: 0 25px 25px;
        margin: 0; }
        #wrapper #main #news .content-title-1 {
          margin: 0;
          padding: 18px 0 5px; }
          #wrapper #main #news .content-title-1 img {
            width: 50px;
            height: 14px; }
        #wrapper #main #news .content-detail {
          background-size: 100% 1px; }
          #wrapper #main #news .content-detail .art {
            padding-top: 18px;
            margin: 0;
            display: block; }
            #wrapper #main #news .content-detail .art .img-new1-pc, #wrapper #main #news .content-detail .art .img-new2-pc {
              display: none; }
            #wrapper #main #news .content-detail .art .img-new1-smp, #wrapper #main #news .content-detail .art .img-new2-smp {
              display: block;
              width: 100%;
              height: auto; }
            #wrapper #main #news .content-detail .art .art-body {
              text-align: left; }
              #wrapper #main #news .content-detail .art .art-body .event {
                margin-left: 10px;
                font-size: 0.8rem; }
              #wrapper #main #news .content-detail .art .art-body .art-text {
                line-height: 20px; }
              #wrapper #main #news .content-detail .art .art-body:last-child {
                margin: 12px 0 9px; }
        #wrapper #main #news .andmore {
          margin-top: 0;
          margin-bottom: 24px;
          padding: 5px 0; }
          #wrapper #main #news .andmore img {
            width: 74px;
            height: 10px; }
    #wrapper #main #banner {
      margin-bottom: 25px; }
      #wrapper #main #banner .banner-message-pc {
        display: none; }
      #wrapper #main #banner .banner-message-smp {
        display: block;
        width: 100%;
        height: auto; }
      #wrapper #main #banner .banner-title {
        display: none; }
    #wrapper #main .con-mess {
      padding: 0 10px;
      margin: 0; }
      #wrapper #main .con-mess .content-title-2 {
        margin: 0;
        padding: 10px 0 7px; }
        #wrapper #main .con-mess .content-title-2 img {
          width: 173px;
          height: 14px; }
      #wrapper #main .con-mess .mess-content-1,
      #wrapper #main .con-mess .mess-content-2 {
        margin: 5px 0 32px;
        width: 100%;
        height: auto; }
        #wrapper #main .con-mess .mess-content-1 .mess-text,
        #wrapper #main .con-mess .mess-content-2 .mess-text {
          width: 100%;
          max-width: 88%;
          height: auto;
          left: 15px;
          top: 270px;
          font-size: 1.1rem; }
          #wrapper #main .con-mess .mess-content-1 .mess-text p,
          #wrapper #main .con-mess .mess-content-2 .mess-text p {
            text-align: justify;
            line-height: 1.7rem; }
        #wrapper #main .con-mess .mess-content-1 .mess-content-1-pc, #wrapper #main .con-mess .mess-content-1 .mess-content-2-pc,
        #wrapper #main .con-mess .mess-content-2 .mess-content-1-pc,
        #wrapper #main .con-mess .mess-content-2 .mess-content-2-pc {
          display: none; }
        #wrapper #main .con-mess .mess-content-1 .mess-content-1-smp, #wrapper #main .con-mess .mess-content-1 .mess-content-2-smp,
        #wrapper #main .con-mess .mess-content-2 .mess-content-1-smp,
        #wrapper #main .con-mess .mess-content-2 .mess-content-2-smp {
          display: block;
          width: 100%;
          height: auto; }
      #wrapper #main .con-mess .mess-content-2 {
        margin-bottom: 85px; }
    #wrapper #main #banner .banner-gal-pc {
      display: none; }
    #wrapper #main #banner .banner-gal-smp {
      display: block;
      width: 100%;
      height: auto; }
    #wrapper #main #banner .banner-title {
      display: none; }
    #wrapper #main .con-gal {
      padding: 0 25px 25px;
      margin: 0; }
      #wrapper #main .con-gal .content-title-2 {
        margin: 0;
        padding: 10px 0 7px; }
        #wrapper #main .con-gal .content-title-2 img {
          width: 163px;
          height: 14px; }
      #wrapper #main .con-gal .gal-content {
        margin-top: 8px;
        flex-direction: column-reverse; }
        #wrapper #main .con-gal .gal-content .gal-text {
          margin: 17px 0;
          width: 100%;
          height: auto;
          font-size: 1.1rem; }
          #wrapper #main .con-gal .gal-content .gal-text p {
            text-align: justify;
            line-height: 1.9rem;
            letter-spacing: 0.5px; }
        #wrapper #main .con-gal .gal-content .gal-content-ga-img-pc {
          display: none; }
        #wrapper #main .con-gal .gal-content .gal-content-ga-img-smp {
          display: block;
          width: 100%;
          height: auto; }
    #wrapper #main #gal-acc {
      margin: 0 0 32px;
      padding: 30px 25px 40px; }
      #wrapper #main #gal-acc .content-title-2 {
        margin: 0;
        padding: 13px 0 9px; }
        #wrapper #main #gal-acc .content-title-2 img {
          width: 63px;
          height: 14px; }
      #wrapper #main #gal-acc .gal-content {
        flex-direction: column; }
        #wrapper #main #gal-acc .gal-content .gal-acc-left {
          margin: 0; }
          #wrapper #main #gal-acc .gal-content .gal-acc-left .gal-content-acc-img-pc {
            display: none; }
          #wrapper #main #gal-acc .gal-content .gal-acc-left .gal-content-acc-img-smp {
            display: block;
            width: 100%;
            height: auto; }
          #wrapper #main #gal-acc .gal-content .gal-acc-left .btn-google-pc {
            display: none; }
          #wrapper #main #gal-acc .gal-content .gal-acc-left .btn-google-smp {
            display: block;
            width: 100%;
            max-width: 50%;
            height: auto;
            margin: 14px 0 18px; }
        #wrapper #main #gal-acc .gal-content .gal-acc-right .gal-acc-right-img-pc {
          display: none; }
        #wrapper #main #gal-acc .gal-content .gal-acc-right .gal-acc-right-img-smp {
          display: block;
          width: 100%;
          height: auto; }
        #wrapper #main #gal-acc .gal-content .gal-acc-right .gal-acc-right-text {
          margin-top: 15px;
          text-align: left; }
          #wrapper #main #gal-acc .gal-content .gal-acc-right .gal-acc-right-text .acc-right-text {
            font-size: 1.1rem;
            line-height: 1.9rem;
            margin-top: 0; } }

/*# sourceMappingURL=style.css.map */
