/* Color text */
/*------------------------------------------------------------
	Top page
------------------------------------------------------------*/
.only-pc {
  min-width: 1000px;
  width: 100%;
}

.only-sp {
  display: none;
}

@media (max-width: 768px) {
  .only-pc {
    display: none;
  }
  .only-sp {
    display: block;
  }
}

.c-bannerpc__text1 {
  width: 482px;
  height: 269px;
  float: left;
  margin-top: 150px;
  background-color: #5682c9;
}

@media (max-width: 768px) {
  .c-bannerpc__text1 {
    display: none;
  }
}

.c-bannersp__text1 {
  background-color: #5682c9;
  margin-top: 320px;
  display: none;
}

.c-bannersp__text1 img {
  width: 100%;
  max-width: 580px;
}

@media (max-width: 768px) {
  .c-bannersp__text1 {
    display: block;
    margin-top: 148px;
  }
}

.p-01__1 .c-bannerpc__img img {
  height: 600px;
}

.p-01__2 {
  margin-top: -30px;
}

.p-01__2 .l-content__inner {
  display: block;
}

@media (max-width: 768px) {
  .p-01__2 {
    margin-top: 170px;
    margin-bottom: 32px;
  }
}

.p-01__3 .c-bannerpc__img {
  height: 560px;
}

.p-01__3 .c-bannerpc__img img {
  height: 560px;
}

.p-01__3 .c-card {
  float: right;
  margin-top: 60px;
}

.p-01__3 .c-btn {
  margin-top: 27px;
}

.p-01__3 .c-text__imgsp {
  display: none;
}

@media (max-width: 768px) {
  .p-01__3 .c-bannersp__img {
    width: 100%;
    height: 430px;
  }
  .p-01__3 .c-bannersp__img img {
    width: 100%;
    height: 100%;
  }
  .p-01__3 .c-text__imgpc {
    display: none;
  }
  .p-01__3 .c-text__imgsp {
    display: block;
    width: 100%;
  }
  .p-01__3 .c-text__imgsp img {
    width: 100%;
    height: auto;
  }
  .p-01__3 .c-card {
    float: none;
    margin-top: 136px;
  }
  .p-01__3 .c-text__text {
    padding: 0 15px 0 20px;
    text-align: left;
  }
  .p-01__3 .c-btn {
    margin-top: 4px;
  }
}

.p-01__4 {
  background-color: #e9eff2;
}

.p-01__4 .l-content__inner {
  padding: 62px 0 58px;
}

.p-01__4 .c-titledouble__imgpc {
  margin-bottom: 0;
}

@media (max-width: 768px) {
  .p-01__4 {
    margin-top: 116px;
  }
  .p-01__4 .l-content__inner {
    padding: 46px 15px 46px;
  }
}

.c-footercontact {
  border-top: 1px solid #ccc;
}

@media (max-width: 768px) {
  .c-footercontact {
    border-bottom: 2px solid #4471c6;
  }
}

.c-footernav {
  background-color: #4471c6;
  height: 105px;
}

.c-footernav .c-copyrightsp {
  display: none;
}

@media (max-width: 768px) {
  .c-footernav {
    background-color: initial;
  }
  .c-footernav .c-copyrightsp {
    display: block;
  }
}

.p-02__1 .c-bannerpc__img img {
  height: 240px;
}

.p-02__3 .l-content__inner {
  margin-bottom: 115px;
}

.p-02__4 .l-content__inner {
  margin-bottom: 60px;
}

.p-02__4 .c-imgtitle {
  margin-bottom: 30px;
}

.p-02__5 .l-content__inner {
  padding: 58px 0 60px;
}

.p-02__5 .c-imgtitle {
  margin-bottom: 30px;
}

.p-02__6 .l-content__inner {
  padding: 62px 0 60px;
}

.p-02__6 .c-imgtitle {
  margin-bottom: 30px;
}

.p-02__7 .l-content__inner {
  padding: 62px 0 60px;
}

.p-02__7 .c-imgtitle {
  margin-bottom: 30px;
}

/* Code 03.html */
.p-03__1 .c-bannerpc__img img {
  height: 240px;
}

.p-03__1 .c-bannerpc__img, .p-03__1 .c-bannerpc__text2 {
  display: block;
}

.p-03__1 .c-bannersp__img, .p-03__1 .c-bannersp__text2 {
  display: none;
}

@media (max-width: 768px) {
  .p-03__1 .c-bannerpc__img, .p-03__1 .c-bannerpc__text2 {
    display: none;
  }
  .p-03__1 .c-bannersp__img, .p-03__1 .c-bannersp__text2 {
    display: block;
  }
}

.p-03__3 {
  margin-bottom: 62px;
}

@media (max-width: 768px) {
  .p-03__3 {
    margin-bottom: 45px;
  }
}

.p-03__4 .c-imgtitle {
  margin-bottom: 30px;
}

.p-03__4 h3 {
  margin-bottom: 52px;
}

.p-03__4 .c-content__subtitle {
  margin-bottom: 18px;
}

.p-03__4 .c-content__detail__4 {
  margin-bottom: 34px;
}

.p-03__4 .c-content__detail__5 {
  margin-bottom: 32px;
}

.p-03__4 .c-content__02 {
  margin-bottom: 122px;
}

.p-03__4 .c-content__03 {
  margin-bottom: 122px;
}

.p-03__4 .c-content__04 {
  margin-bottom: 120px;
}

.p-03__4 .c-content__05 {
  margin-bottom: 122px;
}

@media (max-width: 768px) {
  .p-03__4 .c-imgtitle {
    margin-bottom: 10px;
  }
  .p-03__4 h3 {
    font-size: 1.6rem;
    margin-bottom: 25px;
  }
  .p-03__4 .c-content__subtitle {
    margin-bottom: 10px;
  }
  .p-03__4 .c-content__detail__4 {
    margin-bottom: 0;
  }
  .p-03__4 .c-content__02 {
    margin-bottom: 30px;
  }
  .p-03__4 .c-content__03 {
    margin-bottom: 29px;
  }
  .p-03__4 .c-content__04 {
    margin-bottom: 24px;
  }
  .p-03__4 .c-content__05 {
    margin-bottom: 30px;
  }
  .p-03__4 .c-content__detail__2 {
    margin-bottom: 22px;
  }
  .p-03__4 .c-content__detail__3 {
    margin-bottom: -3px;
  }
  .p-03__4 .c-content__detail__5 {
    margin-bottom: 23px;
  }
}

.p-03__5 .c-imgtitle {
  margin-bottom: 72px;
}

.p-03__5 .c-content1__text2 > div {
  margin-bottom: 0;
}

.p-03__5 .c-content__06 {
  margin-bottom: 123px;
}

.p-03__5 .c-content__07 {
  margin-bottom: 60px;
}

@media (max-width: 768px) {
  .p-03__5 .c-imgtitle {
    margin-bottom: 30px;
  }
  .p-03__5 .c-content__06 {
    margin-bottom: 33px;
  }
  .p-03__5 .c-content__07 {
    margin-bottom: 46px;
  }
}

.p-04__1 .c-bannerpc__img img {
  height: 240px;
}

.p-04__1 .c-bannerpc__text2 h5 {
  margin-top: -3px;
}

.p-04__3 {
  margin-bottom: 54px;
}

.p-05__1 .c-bannerpc__img img {
  height: 240px;
}

.p-05__3 .c-cardauto {
  margin-top: 0;
}

.c-content--005 {
  width: 450px;
}

.p-05__4 .c-imgtitle {
  margin-bottom: 28px;
}

.p-05__4 p {
  line-height: 1.6;
}

.p-06__1 .c-bannerpc__img img {
  height: 240px;
}

.p-06__3 .c-imgtitle {
  margin-bottom: 22px;
}

.p-06__3 .p-06__3__text {
  width: 625px;
  margin: 0 auto;
  margin-bottom: 120px;
}

.p-06__3 .p-06__3__text p {
  line-height: 1.6;
}

.p-06__4 .p-06__4__text {
  width: 625px;
  margin: 0 auto;
}

.p-06__4 .p-06__4__text p {
  line-height: 1.6;
}

.p-06__4 .c-contact__info {
  margin-top: 16px;
}

.p-07__1 .c-bannerpc__img img {
  height: 240px;
}

.p-07__3 .c-imgtitle {
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  .p-general__1 {
    margin-bottom: 40px;
  }
}

@media (max-width: 768px) {
  .p-general__2 {
    margin-bottom: 23px;
  }
  .p-general__2 p {
    font-size: 0.9rem;
    letter-spacing: -0.5px;
  }
}

@media (max-width: 768px) {
  .p-general__3 {
    margin-bottom: 10px;
  }
}

@media (max-width: 768px) {
  .p-general__4 {
    margin-bottom: 15px;
  }
}

@media (max-width: 768px) {
  .p-general__5 {
    margin-bottom: 20px;
  }
}

@media (max-width: 768px) {
  .p-general__6 .c-imgtitle {
    margin-bottom: 23px;
  }
  .p-general__6 .c-content__subtitle {
    margin-bottom: 15px;
  }
}

@media (max-width: 768px) {
  .p-general__9 {
    margin-bottom: 26px;
  }
}

@media (max-width: 768px) {
  .p-general__10 .c-spspace {
    margin-bottom: 16px;
  }
}

@media (max-width: 768px) {
  .p-general__11 {
    margin-bottom: 33px;
  }
}

@media (max-width: 768px) {
  .p-general__12 .c-imgtitle {
    margin-bottom: 30px;
  }
  .p-general__12 .c-content__subtitle {
    margin-bottom: 15px;
  }
}

@media (max-width: 768px) {
  .p-general__13 .c-spspace {
    margin-bottom: 21px;
  }
}

@media (max-width: 768px) {
  .p-general__14 {
    margin-bottom: 23px;
  }
}

@media (max-width: 768px) {
  .p-general__15 .c-imgtitle {
    margin-bottom: 30px;
  }
}

@media (max-width: 768px) {
  .p-general__17 {
    margin-bottom: 29px;
  }
}

@media (max-width: 768px) {
  .p-general__18 .c-imgtitle {
    margin-bottom: 30px;
  }
}
