@import "mixin";// breakpoint sp

/* Component banner */

.c-bannerpc__img{
	width: 100%;
	height: auto;
	img{
		width: 100%;
		height: auto;
	}
	@include breakpointsp{
		display: none;
	}
}
.c-bannersp__img{
	width: 100%;
	height: auto;
	display: none;
	img{
		width: 100%;
		height: auto;
	}
	@include breakpointsp{
		display: block;
	}
}

.c-bannerpc__text2{
	margin-top: 94px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	h5{
		color: #fff;
		margin-top: 5px;
	}
}

.c-bannersp__text2{	
	width: 100%;
	margin-top: 20%;
	//margin-top: 58px;
	img{
		width: 100%;
		height: auto;
		max-width: 580px;
	}
	h4{
		line-height: 1;
	}
}


/* Component relative */
.c-relative{
	position: relative;
}

/* component absolute */
.c-absolute{
	position: absolute;
	top: 0;
	//transform: translateY(-50%);
	left: 0;
	right: 0;
	text-align: center;
}

.c-absolute2{
	position: absolute;
}

/* Component newinfo */
.c-newinfo{
	display: flex;
	background-color: #e9eff2;
	padding: 20px 20px;		
	p{
		line-height: 1;
	}
	>p{
		padding-right: 15px;
		border-right: 1px solid #2e4d88;
	}
	div{
		padding-left: 15px;
		display: flex;
		p:first-child{
			margin-right: 15px;
		}
	}
	@include breakpointsp{
		background-color: initial;
		padding: 20px 0;
		>p{
			display: none;
		}
		div{
			display: block;
			padding-left: 0;
			p{
				font-size: 1.4rem;
			}
			p:first-child{
				margin-bottom: 6px;
			}
		}
	}
}






/* Component list */

.c-list{
	display: flex;
	justify-content: space-between;
	>div{
		width: 312px;
		margin-bottom: 53px;
	}
}

.c-listcontent{
	background-color: #e9eff2;
	padding: 16px 20px;
	height: 448px;
	li{
		line-height: 1.6;
	}
}





/* Component title */

.c-titledouble{
	text-align: center;
	.c-titledouble__imgpc{
		margin-bottom: 7px;
	}
	.c-titledouble__imgsp{
		display: none;
	}
	@include breakpointsp{
		.c-titledouble__imgpc{
			display: none;
		}
		.c-titledouble__imgsp{
			display: block;
			width: 100%;
			img{
				width: 100%;
				height: auto;
			}
		}
	}
}

.c-title{
	text-align: center;
	color: #4471c6;
	padding-bottom: 10px;
	//border-bottom: 1px solid #4471c6;
	display: inline-block;
	margin-bottom: 30px;
	position: relative;
	&::after{
		content: "";
		display: inline-block;
		width: 55px;
		height: 1px;
		background-color: #4471c6;
		position: absolute;
		margin: 0 auto;
		margin-top: 31px;
		left: 0;
		right: 0;
	}
	@include breakpointsp{
		font-size: 1.4rem;
		padding-bottom: 9px;
		margin-bottom: 15px;
		border-bottom: 0;
		&::after{
			content: "";
			display: inline-block;
			width: 25px;
			height: 1px;
			background-color: #4471c6;
			position: absolute;
			margin-top: 31px;
			left: 0;
			right: 0;
			text-align: center;
			margin-left: 33%;
		}
	}
}

.c-imgtitle{
	text-align: center;
	margin-bottom: 25px;
	img:last-child{
		display: none;
	}
	img:first-child{
		display: inline-block;
	}

	@include breakpointsp{
		margin-bottom: 10px;
		img:first-child{
			display: none;
		}
		img:last-child{
			display: block;
			width: 100%;
			max-width: 580px;
			margin: 0 auto;
		}
	}
}
.c-center{
	text-align: center;
}

.c-left{
	text-align: left;
}

.c-margin--auto{
	margin: 0 auto;
}

.c-radiotitle{
	margin-bottom: 5px;
}

.c-radiotitle2{
	display: flex;
	align-items: center;
	margin-bottom: 25px;
	img{
		width: 16px;
		height: 16px;
		margin-right: 5px;
	}
}




/* Component text */
.c-text{
	text-align: center;
	color: #333333;
	@include breakpointsp{
		text-align: left;
	}
}

.c-textleft{
	text-align: left;
	color: #333333;
}



/* Component button */
.c-btn{
	background-color: #4471c6;
	border-radius: 5px;
	width: 230px;
	height: 50px;
	margin: 0 auto;
	margin-top: 30px;
	a{
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: flex-end;

	}

	span{
		width: 160px;
		text-align: center;
		color: #fff;
		font-size: 1.6rem;
	}
	img{
		width: 16px;
		margin-right: 21px;
	}
	.iconnextpc{
		display: block;
	}
	.iconnextsp{
		display: none;
	}
	@include breakpointsp{
		width: 100%;
		height: auto;
		margin-top: 10px;
		a{
			position: relative;
		}
		span{
			width: 100%;
			letter-spacing: -0.5px;
			position: absolute;
			left: 0;
			right: 0;
			text-align: center;
		}
		img{
			margin-right: 0;
		}
		.iconnextsp{
			/* margin-right: 15px;
			width: 15px;
			height: 15px; */
			display: block;
			width: 100%;
			height: auto;
		}
		.iconnextpc{
			display: none;
		}
		/* .iconnextsp{
			display: block;
		} */
		
	}

}


.confirm-btn{
	background-color: #4471c6;
	border-radius: 5px;
	width: 230px;
	height: 50px;
	margin: 0 auto;
	margin-top: 30px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	span{
		width: 160px;
		text-align: center;
		color: #fff;
		font-size: 1.6rem;
	}
	img{
		width: 16px;
		margin-right: 21px;
	}
	&:hover{
		cursor: pointer;
	}

}
/* Component breakcrum */
.c-breadcrumbborder{
	ul{
		border-top: 1px solid #ccc;
		border-bottom: 1px solid #ccc;
		padding: 20px 0;
		position: relative;
		display: flex;
		align-items: center;
	}
	li::after{
		content: ">";
		position: absolute;
		display: inline-block;
		margin-left: 8px;
		transform: rotate(90deg);
	}
	li{
		border-right: 1px solid #ccc;
		padding-right: 36px;
		color: #4471c6;
		padding-left: 18px;
		&:first-child{
			padding-left: 0;
		}
		&:last-child{
			border-right: 0;
			
		}
	}

	@include breakpointsp{
		margin-top: 30px;
		ul{
			padding: 10px 0;
		}
		li:first-child{
			padding-right: 23px;
		}
		li:last-child{
			padding-left: 6px;
			padding-right: 0;
		}
	}
}



/* Component border */
.c-border{
	border-radius: 5px;
}


/* Component card, cardinfo */

.c-list4{
	display: flex;
	justify-content: space-between;
	margin: 30px 0;
	.c-list4__2__1{
		border: 1px solid #4471c6;
		padding: 10px 0 10px 5px;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 228px;
		img{
			margin-right: 6px;
		}
		p{
			font-size: 1.8rem;
		}
		margin-right: 23px;
		&:last-child{
			margin-right: 0;
		}
		p{
			letter-spacing: -1px;
		}
	}
	.c-list4__2{
		display: flex;
		justify-content: flex-start;
		&:last-child{
			.c-list4__2__1{
				margin-right: 30px;
				&:last-child{
					margin-right: 0;
				}
			}
		}

	}

	@include breakpointsp{
		display: flex;
		flex-direction: column;
		margin: 6px 0;
		.c-list4__2{
			display: flex;
			flex-direction: column;
		}
		.c-list4__2__1{
			display: flex;
			width: 100%;
			margin-right: 0;
			padding: 8px 0;
			margin-bottom: 15px;
			border-radius: 5px;
			p{
				font-size: 1.4rem;

			}
			img{
				width: 13px;
				height: 20px;
			}
			div{
				display: flex;
			}
		}
	}
}

.c-listcard{
	display: flex;
	margin: 60px 0;
	@include breakpointsp{
		display: block;
		margin: 9px 0;
	}
}
.c-listcard2{
	display: flex;
	justify-content: space-between;
	@include breakpointsp{
		display: block;
	}
}

.c-listcard3{
	@include breakpointsp{
		display: flex;
		justify-content: space-between;
		.c-cardauto{
			margin: 13px 0;
			width: 100%;
			img{
				width: 100%;
				height: auto;
			}
		}
		.c-cardauto:first-child{
			margin-right: 20px;
		}
	}
}
.c-cardsmall{
	//margin-right: 30px;
	margin-bottom: 25px;
	width: 228px;
		/* &:last-child{
			margin-right: 0;
		} */
	.card-imgpc{
		width: 228px;
		height: 138px;
		img{
			width: 100%;
			height: auto;
		}
	}
	.card-imgsp{
		display: none;
	}
	.c-cardinfo{
		padding: 14px 0;
		background-color: #fff;
		text-align: center;
		p{
			font-size: 1.6rem;
			color: #333333;
		}
	}
	@include breakpointsp{
		width: 100%;
		margin-bottom: 14px;
		&:last-child{
			margin-bottom: 8px;
		}
		.card-imgpc{
			display: none;
		}
		.card-imgsp{
			display: block;
			width: 100%;
			img{
				width: 100%;
				height: auto;
			}
		}
		.c-cardinfo{
			padding: 12px 0;
			p{
				font-size: 1.4rem;
			}
		}
	}
}

.c-cardmedium{
	margin-right: 30px;
	width: 313px;
		&:last-child{
			margin-right: 0;
		}
	.c-card__imgpc{
		width: 313px;
		height: 195px;
		img{
			width: 313px;
			height: 195px;
		}
	}

	.c-card__imgsp{
		display: none;
	}

	.c-card__info{
		padding: 19px 0;
		background-color: #4471c6;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 313px;

		p{
			color: #fff;
			line-height: 1;
		}
	}
	.c-card__info__imgpc{
		margin-bottom: 10px;
		width: 144px;
		img{
			width: 100%;
			height: 23px;
		}
	}
	.c-card__info__imgsp{
		display: none;
	}

	@include breakpointsp{
		margin-right: 0;
		margin-bottom: 15px;
		width: 100%;
		.c-card__info{
			padding: 0;
			width: 100%;
			position: relative;			
			p{
				position: absolute;
				font-size: 1.4rem;
				margin-top: 14%;
			}
		}
		.c-card__imgpc, .c-card__info__imgpc{
			display: none;
		}
		.c-card__imgsp{
			display: block;
			width: 100%;
			img{
				width: 100%;
				height: auto;
			}
		}
		.c-card__info__imgsp{
			display: block;
			width: 100%;
			img{
				width: 100%;
				height: auto;
			}
		}
	}
}

.c-cardauto{
	margin: 25px 0 27px;
}

.c-card{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 50px 50px;
	background-color: #fff;
	width: 532px;
	height: 440px;
	h4{
		margin-top: 15px;
		color: #4471c6;
	}
	@include breakpointsp{
		width: 100%;
		height: auto;
		padding: 30px 0;
		h4{
			margin-top: 4px;
			padding: 0 15px 0 20px;
		}
	}
}

.c-content--04{
	width: 486px;
	height: auto;
	.c-content--04__img{
		margin-bottom: 14px;
	}
	p{
		line-height: 1.6;
	}
	.c-content1__text2{
		div{
			margin-bottom: 0;
		}
	}
}


/* Component check address */
.c-checkaddress{
	margin-top: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	img{
		margin-right: 8px;
	}
}

/* Component row */
/* .c-table{
	border-top: 1px solid #cccccc;
	.c-row{
		display: flex;
		border-bottom: 1px solid #cccccc;
		border-left: 1px solid #cccccc;
		border-right: 1px solid #cccccc;
	}
	.c-row__left{
		border-right: 1px solid #cccccc;
		width: 250px;
		background-color: #f6f6f6;
		padding: 15px 20px;
		color: #333333;
	}
	.c-row__right{
		padding: 15px 20px;
	}
}
 */
.c-table{
	border-top: 1px solid #cccccc;
	.c-row{
		display: flex;
		border-bottom: 1px solid #cccccc;
		border-left: 1px solid #cccccc;
		border-right: 1px solid #cccccc;
	}
	.c-row__left{
		border-right: 1px solid #cccccc;
		width: 250px;
		background-color: #f6f6f6;
		padding: 15px 20px;
		color: #333333;
	}
	.c-row__right{
		padding: 15px 20px;
	}
	.c-row__left, .c-row__right{
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
	}
	p{
		line-height: 1.6;
	}
}

.c-formcontact{
	border-top: 1px solid #cccccc;
	.c-row{
		display: flex;
		border-bottom: 1px solid #cccccc;
		border-left: 1px solid #cccccc;
		border-right: 1px solid #cccccc;
	}
	.c-row__left{
		border-right: 1px solid #cccccc;
		width: 250px;
		padding: 18px 20px;
		color: #333333;
	}
	.c-row__right{
		padding: 18px 20px;
	}
	.c-row__left{
		display: flex;		
		align-items: center;
		justify-content: space-between;
	}
	.c-row__right{
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
	}
	input{
		height: 30px;
		width: 420px;
	}
	select, .c-zipcode, .c-phonenumber{
		width: 150px;
		height: 30px;
	}
	textarea{
		width: 420px;
		height: 140px;
	}
	input, select, textarea{
		padding-left: 5px;
	}
	
}

/* Component arrow-down */
.c-arrowdown{
	border: solid #fff;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 2.5px;
    transform: rotate(45deg);
    margin-right: 7px;
    margin-bottom: 2px;
}

/* Component message */
.c-message{
	
	border: 1px solid #CCC;
	border-radius: 5px;
	text-align: center;	
	p{
		padding: 30px 10px;
		line-height: 1.6;
		font-size: 1.4rem;
	}
}
.c-message2{
	padding: 30px 10px;	
	border: 1px solid #37BC9B;
	border-radius: 5px;
	text-align: center;	
	color: #fff;
	background-color: #48CFAD;
	p{
		line-height: 1.6;
		font-size: 1.4rem;
	}
}


/* Component shring content-img */
.c-content{	
	margin-bottom: 120px;
	.c-content__subtitle{
		margin-bottom: 20px;
		img:last-child{
			display: none;
		}
	}
	.c-content__detail{
		display: flex;
		justify-content: space-between;
		p{
			line-height: 1.6;
			letter-spacing: -0.5px;
		}
	}
	.c-content1{
		width: 447px;
		h5{
			color: #4471c6;
			font-weight: 500;
			padding-bottom: 8px;
			border-bottom: 1px solid #4471c6;
			margin-bottom: 15px;
		}
	}
	.c-content1__text1{
		margin-bottom: 7px;
	}
	
	.c-content2{
		width: 490px;
		height: auto;
		margin-top: 5px;
		img{
			width: 100%;
			height: auto;
		}
		img:last-child{
			display: none;
		}
	}
	@include breakpointsp{
		margin-bottom: 30px;
		.c-content__detail{
			display: flex;
			flex-direction: column-reverse;
			p{
				letter-spacing: 0;
			}
		}
		.c-content1{
			width: 100%;
			margin-top: 10px;
			h5{
				padding-bottom: 0;
				margin-bottom: 10px;
			}
		}
		.c-content2{
			width: 100%;
			img:first-child{
				display: none;
			}
			img:last-child{
				display: block;
			}
		}
		.c-content__subtitle{
			margin-bottom: 10px;
			img:first-child{
				display: none;
			}
			img:last-child{
				display: block;
				width: 100%;
				max-width: 580px;
			}
		}
		.c-content1__text1{
			margin-bottom: 0;
		}
	}
	
}
.c-content1__text2{
	div{
		position: relative;
		margin-left: 10px;
		margin-bottom: 4px;
	}
	div::before{
		content: "•";
		color: #4471c6;
		font-size: 2.5rem;
		display: inline-block;
		height: 0;
		width: 0;
		margin-top: -7px;
		margin-left: -12px;
		position: absolute;
	}
}


/* Component button */


/* Component display */
.c-display--block{
	display: block;
}

.c-display--flex{
	display: flex;
	justify-content: space-between;
}

.c-display--flex__center{
	display: flex;
	justify-content: center;
}


// Component circle line
.c-circleline::after{
	content: "";
	display: inline-block;
	border-top: 1px solid #bdbdbd;
	width: 108px;
	margin-left: -5px;
}


// Component space sp
.c-spspace{
	width: 100%;
	height: auto;
	img{
		width: 100%;
		height: auto;
	}
	@include breakpointsp{
		margin-bottom: 24px;
	}
}


// Component hover
.c-eventhover:hover{
	opacity: 0.6;
	transition: opacity 500ms;
}

.c-lihover:hover{
	a{
		text-decoration: underline;
	}
}

// Menu toggle
#menu-toggle {
	width: 30px;
	height: 30px;   
    display: block;
    cursor: pointer;
    position: absolute;
    z-index: 100;
    top: 11px;
    //left: 0;
   // bottom: 0;
    right: 15px;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    background-color: #4471c6;
    .hamburger,
    .hamburger::before,
    .hamburger::after {
        content: "";
        width: 15px;
        height: 2px;
        background-color: #000;
        display: block;
        transition: all ease-in-out 500ms;
        //background-color: #fff;
    }
    .hamburger{
		margin-top: 20px;
		margin-left: 12px;
    }
    .hamburger::before {
        transform: translateY(-6px);
    }
    .hamburger::after {
        transform: translateY(4px);
    }
    .open {
        transform: rotate(45deg);
        &::before {
            opacity: 0;
        }
        &::after {
            transform: translateY(-2px) rotate(90deg);
        }
    }
}

// Component Map PC
#c-pc__map2{
	width: 100%;
	height: 500px;
}

