/* Component footer */


.c-footer__contact{
	padding: 63px 0 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	.c-contact_imgpc{
		display: block;
	}
	.c-contact_imgsp{
		display: none;
	}
	.c-contact__text{
		text-align: center;
		p{
			color: #585550;
		}
	}
	.c-contact__info{
		h4{
			color: #585550;
			text-align: center;
		}
	}
	@include breakpointsp{
		padding: 43px 0 43px;
		.c-contact_imgpc{
			display: none;
		}
		.c-contact_imgsp{
			display: block;
			margin-bottom: 0;
			img{
				width: 100%;
			}
		}
		.c-contact__text{
			p{
				font-size: 1.3rem;
			}
		}
		.c-contact__info{
			width: 100%;
			h4{
				margin-top: 19px;
			}
		}
	}

}
.c-contact__number{
	display: flex;
	justify-content: center;

	.c-contact__numberpc__1, .c-contact__numberpc__2{
		display: flex;
		align-items: center;
		>span{
			color: #585550;
			letter-spacing: 3px;
			font-weight: bold;
			line-height: 1.6;
		}
	}
	.c-contact__numberpc__1{
		margin-right: 20px;
	}
	
	.c-contact__numbersp__1, .c-contact__numbersp__2{
		display: none;
	}
	
	@include breakpointsp {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		.c-contact__numberpc__1, .c-contact__numberpc__2{
			display: none;
		}
		.c-contact__numbersp__1, .c-contact__numbersp__2{
			display: block;
		}
		.c-contact__numbersp__1{
			width: 100%;
			margin-top: 6px;
			a{
				position: relative;
			}
		}
		.c-contact__numbersp__2{
			margin-top: 10px;
		}
		.c-btnspphone__number__2{
			display: flex;
			align-items: center;
			img{
				margin-right: 2px;
			}
		}
		
		.c-phonespmenu__text{
			margin-top: 9px;
		}
		.c-btnspphone__number__2{
			img{
				width: 12px;
				height: 12px;
			}
		}
		.c-spphonenumber1, .c-spphonenumber2{
			letter-spacing: 2px;
			font-weight: bold;
		}
		.c-spphonenumber2{
			color: #585550;
		}
		span{
			line-height: 1;
		}
	}
}


.c-btnspphone{
	width: 100%;
	height: auto;
	img{
		width: 100%;
		height: auto;
	}

}
.c-btnspphone__detail{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	div{
		display: flex;
		img{
			width: 7.5px;
			height: 15px;
		}
	}
}

/* Component Map */
.c-footermap{	
	width: 100%;
	#c-pc__map{
		display: block;
	}
	#c-sp__map{
		display: none;
	}
	@include breakpointsp{
		width: 100%;
		#c-pc__map{
			display: none;
		}
		#c-sp__map{
			display: block;
			width: 100%;
		}
	}
}


#c-pc__map{
	width: 100%;
	height: 500px;
}
#c-sp__map{
	width: 100%;
	height: 100%;
}


.c-footernav__inner{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 105px;
	@include breakpointsp{
		height: auto;
		.c-copyrightpc{
			display: none;
		}
	}
}

.c-fnavipc{
	margin-bottom: 20px;
	margin-top: 5px;
	ul{
		display: flex;
		justify-content: center;
	}
	li{
		border-right: 1px solid #fff;
		&:last-child{
			border-right: 0;
		}
		
	}
	a{
		color: #fff;
		padding: 0 12px;
	}
	@include breakpointsp{
		display: none;
	}
}

.c-fnavisp{
	display: none;
	width: 100%;
	border-top: 2px solid #4471c6;
	ul{
		width: 50%;
	}
	ul:first-child{
		border-right: 1px solid #ccc;
	}
	li{
		border-bottom: 1px solid #ccc;
	}
	.c-lisp--entire{
		height: 54px;
	}
	a{
		font-size: 1.4rem;
		padding: 19px 15px;
		display: block;
		color: #333333;
		width: 100%;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	span{
		img{
			width: 15px;
			height: 15px;
		}
	}
	@include breakpointsp{
		display: flex;
		.c-home, .c-toppage{
			display: flex;
			justify-content: center;
			padding: 17px 15px;
		}
	}
}

.c-copyrightpc{
	p{
		color: #fff;
		font-size: 1rem;
	}
	
}

.c-copyrightsp{
	height: 44px;
	width: 100%;
	background-color: #4471c6;
	.c-copyrightsp__inner{
		padding: 0 15px;
		margin: 0 auto;
		height: 44px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		p{
			color: #fff;
			font-size: 1rem;
		}
	}
	
	
}