/* Component header */
.c-headpc__inner{
	height: 100px;
	width: 1000px;
	padding: 25px 0;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.c-headpc__slogan{
	width: 390px;
}
.c-headpc__phonemail{
	width: 465px;
}
.c-headpc__phonemail{
	display: flex;
	justify-content: space-between;
	align-items: center;
	.c-headpc__phone{
		span{
			font-size: 2.5rem;
			font-weight: bold;
			color: #585550;
			letter-spacing: 3px;
		}
	}
	
}
.c-headpc__mail{
	background-color: #4471c6;
	border-radius: 5px;
	width: 230px;
	height: 48px;
	a{
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: flex-start;
	}
	img{
		margin-left: 20px;
		margin-right: 10px;
	}
	span{
		font-size: 1.6rem;
		color: #fff;
	}
}

/* Component navi */
.c-navi{
	border-top: 1px solid #ccc;
	width: 100%;
	ul{
		width: 1000px;
		height: 70px;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		position: relative;
	}

	li{
		width: 16.67%;
		
	}
	li::before{
		content: "";
		border-left: 1px solid #ccc;
		height: 30px;
		display: inline-block;
		margin-top: 20px;
		position: absolute;
	}

	li:last-child::after{
		content: "";
		border-left: 1px solid #ccc;
		height: 30px;
		display: inline-block;
		margin-left: 166px;
		margin-top: -50px;
		position: absolute;
	}
	
	li:hover{
		background-color: #4471c6;
		a{
			color: #fff;
		}
	}
	a{
		font-size: 1.6rem;
		display: flex;
		justify-content: center;
		align-items: center;
		color: #000000;
		height: 70px;
		
		//border-left: 1px solid #ccc;
	}
}

/* Component listtop */
.c-listtop{
	ul{
		display: flex;
		li{
			margin-left: 20px;
		}
		a{
			font-size: 1.6rem;
			color: #333;
		}
	}
}

/* Component breadcrumb */
.c-breadcrumbheader{
	padding: 30px 0;
	margin-bottom: 30px;
	ul{	
		display: flex;
	}
	li{
		font-size: 1.2rem;
		line-height: 1;
	}
	a{
		color: #333333;
		font-size: 1.2rem;
		display: inline-block;
		line-height: 1;
	}
	li:first-child{
		a{
			color: #4471c6;
		}
		
	}
	
	li::after{
		content: "›";		
		display: inline-block;
		margin: 0 7px;
	}
	li:last-child::after{
		content: "";
	}
	@include breakpointsp{
		display: none;
	}
}




// SP only
.only-sp{
	width: 100%;
	//position: fixed;
	z-index: 200;
	top: 0;
	background-color: #fff;
	.c-headsp{		
		//height: 210px;
		//
	}
}

.c-headsp__inner{
	/* width: 100%;
	max-width: 580px;
	margin: 0 auto;
	position: relative; */
}
.c-headsp__top{
	width: 100%;	
	border-bottom: 1px solid #ccc;
	.c-headsp__top__inner{
		width: 100%;
		margin: 0 auto;
		padding: 6px 15px;
		p{
			font-size: 1rem;
		}
	}
	
}
.c-headsp__slogantoggle{
	width: 100%;
}
.c-headsp__slogantoggle__inner{
	width: 100%;
	padding: 0 15px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	.c-headsp__slogan{
		width: 100%;
		max-width: 580px;
		img{
			width: 100%;
			height: auto;
		}
	}
}
.c-navisp{
	width: 100%;
	top: 106px;
	left: 0;
	position: absolute;
	z-index: 100;
	background-color: #4471c6;
	display: none;
	ul{		


	}
	li{
		display: block;
		border-bottom: 1px solid #ccc;
		
	}
	.c-navisp__lastli{
		border-bottom: 0;
		a{
			padding: 0 15px;
		}
		.c-navisp__lastli__1{
			margin-bottom: 15px;
			margin-top: 30px;
		}
		.c-navisp__lastli__2{
			margin-bottom: 30px;
		}
	}
	a{
		font-size: 1.4rem;
		padding: 15px 15px;
		display: block;
		color: #fff;
		width: 100%;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
		span:first-child{
			line-height: 1.6;
		}
	}
	span{
		img{
			width: 15px;
			height: 15px;
		}
	}
}

.c-phonespmenu, .c-mailspmenu{
	border-radius: 5px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	.c-phonespmenu__detail{
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.c-mailspmenu__detail{
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		div{
			margin-right: 2px;
			img{
				width: 20px;
				height: 15px;
			}
		}
		p{
			font-weight: bold;
			letter-spacing: 2px;
		}
	}
	
	span{
		img{
			margin-right: 15px;
		}
	}
}

.c-phonespmenu{
	height: 75px;
}
.c-mailspmenu{
	height: 60px;
}

.c-phonespmenu__number{
	display: flex;
	align-items: center;
	div{
		margin-right: 2px;
		img{
			width: 11px;
			height: 21px;
		}
	}
	p{
		font-weight: bold;
		letter-spacing: 3px;
	}
}