@charset "UTF-8";
/*------------------------------------------------------------
	Text Format
------------------------------------------------------------*/
/* text position */
.taLeft { text-align: left !important; }
.taCenter { text-align: center !important; }
.taRight { text-align: right !important; }
.vTop { vertical-align: top !important;}
.vMiddle { vertical-align: middle !important;}

/* font weight */
.fwNormal { font-weight: normal !important; }
.fwBold { font-weight: bold !important; }

/*------------------------------------------------------------
	adjustment class ※ no use frequently
------------------------------------------------------------*/
.mt0 { margin-top: 0 !important; }
.mb0 { margin-bottom: 0 !important; }

/*------------------------------------------------------------
	clearfix（float解除）
------------------------------------------------------------*/
.clearfix {
	*zoom: 1;
	&:after {
		display: block;
		clear: both;
		content: "";
	}
}

/*------------------------------------------------------------
	for tracking tag
------------------------------------------------------------*/
.trackTags {
	display: none;
}


/* Color for text */
.u-red{
	color: $color-red;
}

.u-pink{
	color: $color-pink;
}
.u-lightblack{
	color: $color-lightblack;
}

.u-white{
	color: $color-white;
}

.u-green{
	color: $color-green;
}

.u-cyanblue{
	color: $color-cyanblue;
}

.u-lightblue{
	color: $color-lightblue;
}

.u-purple{
	color: $color-purple;
}

.u-gray{
	color: $color-gray;
}

.u-bgwhite{
	background-color: $color-white;
}

.u-bgcyanblue{
	background-color: $color-cyanblue;
}

.u-bg-darkgray{
	background-color:$color-darkgray;
}

.u-bggray{
	background-color: $color-gray;
}

.u-bglightgray{
	background-color: $color-lightgray;
}

.u-bgred{
	background-color: $color-red;
}

.u-bgred2{
	background-color: $color-red2;
}

.u-bgpurple{
	background-color: $color-purple;
}


// Font size

.u-fontsize36{
	font-size: 3.6rem;
}

.u-fontsize28{
	font-size: 2.8rem;
}

.u-fontsize20{
	font-size: 2rem;
}

.u-fontsize19{	
	font-size: 1.9rem;
}

.u-fontsize16{	
	font-size: 1.6rem;
}
.u-fontsize14{	
	font-size: 1.4rem;
}

.u-fontsize12{
	font-size: 1.2rem;
}

.u-fontsize11{
	font-size: 1.1rem;
}




// Margin
.u-margin--bot116{
	margin-bottom: 116px;
}
.u-margin--bot114{
	margin-bottom: 114px;
}

.u-margin--bot120{
	margin-bottom: 120px;
}

.u-margin--bot90{
	margin-bottom: 90px;
}
.u-margin--bot80{
	margin-bottom: 80px;
}

.u-margin--bot78{
	margin-bottom: 78px;
}

.u-margin--bot62{
	margin-bottom: 62px;
}

.u-margin--bot60{
	margin-bottom: 60px;
}

.u-margin--bot56{
	margin-bottom: 56px;
}

.u-margin--bot28{
	margin-bottom: 28px;
}

.u-margin--bot27{
	margin-bottom: 27px;
}



.u-margin--bot24{
	margin-bottom: 24px;
}

.u-margin--bot22{
	margin-bottom: 22px;
}

.u-margin--bot20{
	margin-bottom: 20px;
}

.u-margin--bot14{
	margin-bottom: 14px;
}

.u-margin--bot10{
	margin-bottom: 10px;
}

.u-margin--bot8{
	margin-bottom: 8px;
}

.u-margin--bot6{
	margin-bottom: 6px;
}

.u-margin--bot4{
	margin-bottom: 4px;
}

.u-margin--bot3{
	margin-bottom: 3px;
}
// Margin top
.u-margin--top80{
	margin-top: 80px;
}
.u-margin--top32{
	margin-top: 32px;
}

.u-margin--top22{
	margin-top: 22px;
}

.u-margin--top10{
	margin-top: 10px;
}

// Padding
.u-padding6{
	padding: 0 6px;
}


