@charset "UTF-8";
@import "vars";	// 変数 Variable
@import "functions"; // 関数等 Function
@import "mixin";// breakpoint sp
/*------------------------------------------------------------
	Top page
------------------------------------------------------------*/
.only-pc{
	min-width: 1000px;
	width: 100%;
}
.only-sp{
	display: none;
}

@include breakpointsp{
	.only-pc{
		display: none;
	}
	.only-sp{
		display: block;
	}
}

.c-bannerpc__text1{
	width: 482px;
	height: 269px;		
	float: left;
	margin-top: 150px;
	background-color: #5682c9;
	@include breakpointsp{
		display: none;
	}
}
.c-bannersp__text1{
	background-color: #5682c9;
	margin-top: 320px;
	img{
		width: 100%;
		max-width: 580px;
	}
	
	display: none;
	@include breakpointsp{
		display: block;
		margin-top: 148px;

	}
}



.p-01__1{
	.c-bannerpc__img{
		img{
			height: 600px;
		}
	}
	.c-absolute{
		
	}
	@include breakpointsp{
		
		
	}
}
.p-01__2{
	margin-top: -30px;
	.l-content__inner{
		display: block;
	}
	@include breakpointsp{
		margin-top: 170px;
		margin-bottom: 32px;
	}
}

.p-01__3{
	.c-bannerpc__img{
		height: 560px;
		img{
			height: 560px;
		}
	}
	.c-card{
		float: right;
		margin-top: 60px;
	}
	.c-btn{
		margin-top: 27px;
	}
	.c-text__imgsp{
		display: none;
	}
	@include breakpointsp{
		.c-bannersp__img{
			width: 100%;
			height: 430px;
			img{
				width: 100%;
				height: 100%;
			}
		}
		.c-text__imgpc{
			display: none;
		}
		.c-text__imgsp{
			display: block;
			width: 100%;
			img{
				width: 100%;
				height: auto;
			}
		}
		.c-card{
			float: none;
			margin-top: 136px;
		}
		.c-text__text{
			padding: 0 15px 0 20px;
			text-align: left;
		}
		.c-btn{
			margin-top: 4px;
		}
	}
}

.p-01__4{
	
	background-color: #e9eff2;
	.l-content__inner{
		padding: 62px 0 58px;
	}
	.c-listcard{
		//margin: 30px 0 2px;
	}
	.c-titledouble__imgpc{
		margin-bottom: 0;
	}
	@include breakpointsp{
		margin-top: 116px;
		.l-content__inner{
			padding: 46px 15px 46px;
		}
	}
}
.c-footercontact{
	border-top: 1px solid #ccc;

	@include breakpointsp{
		border-bottom: 2px solid #4471c6;
	}
}

.c-footernav{
	background-color: #4471c6;
	height: 105px;
	.c-copyrightsp{
		display: none;
	}
	@include breakpointsp{
		background-color: initial;
		.c-copyrightsp{
			display: block;
		}
	}
}


@include breakpointsp{
	
}

// Code 02.html

.p-02__1{
	.c-bannerpc__img{
		img{
			height: 240px;
		}
	}
}
.p-02__3{
	.l-content__inner{
		margin-bottom: 115px;

	}

}
.p-02__4{
	.l-content__inner{
		margin-bottom: 60px;
	}
	.c-imgtitle{
		margin-bottom: 30px;
	}
}
.p-02__5{
	.l-content__inner{
		padding: 58px 0 60px;
	}
	.c-imgtitle{
		margin-bottom: 30px;
	}

}
.p-02__6{
	.l-content__inner{
		padding: 62px 0 60px;
	}
	.c-imgtitle{
		margin-bottom: 30px;
	}
}

.p-02__7{
	.l-content__inner{
		padding: 62px 0 60px;
	}
	p{
		
	}
	.c-imgtitle{
		margin-bottom: 30px;
	}
}



/* Code 03.html */

.p-03__1{
	.c-bannerpc__img{
		img{
			height: 240px;
		}
	}
	.c-bannerpc__img, .c-bannerpc__text2{
		display: block;
	}
	.c-bannersp__img,.c-bannersp__text2{
		display: none;
	}
	@include breakpointsp{
		.c-bannerpc__img, .c-bannerpc__text2{
			display: none;
		}
		.c-bannersp__img,.c-bannersp__text2{
			display: block;
		}
	}
}

.p-03__3{
	margin-bottom: 62px;

	@include breakpointsp{
		margin-bottom: 45px;
	}
}
.p-03__4{
	.c-imgtitle{
		margin-bottom: 30px;
	}
	h3{
		margin-bottom: 52px;
	}
	.c-content__subtitle{
		margin-bottom: 18px;
	}
	.c-content__detail__4{
		margin-bottom: 34px;
	}
	.c-content__detail__5{
		margin-bottom: 32px;
	}
	.c-content__02{
		margin-bottom: 122px;
	}
	.c-content__03{
		margin-bottom: 122px;
	}
	.c-content__04{
		margin-bottom: 120px;
	}
	.c-content__05{
		margin-bottom: 122px;
	}

	@include breakpointsp{
		.c-imgtitle{
			margin-bottom: 10px;
		}
		h3{
			font-size: 1.6rem;
			margin-bottom: 25px;
		}
		.c-content__subtitle{
			margin-bottom: 10px;
		}
		.c-content__detail__4{
			margin-bottom: 0;
		}
		.c-content__02{
			margin-bottom: 30px;
		}
		.c-content__03{
			margin-bottom: 29px;
		}
		.c-content__04{
			margin-bottom: 24px;
		}
		.c-content__05{
			margin-bottom: 30px;
		}
		.c-content__detail__2{
			margin-bottom: 22px;
		}
		.c-content__detail__3{
			margin-bottom: -3px;
		}
		.c-content__detail__5{
			margin-bottom: 23px;
		}
	}
}
.p-03__5{
	.c-imgtitle{
		margin-bottom: 72px;
	}
	.c-content1__text2{
		>div{
			margin-bottom: 0;
		}
	}
	.c-content__06{
		margin-bottom: 123px;
	}
	.c-content__07{
		margin-bottom: 60px;
	}

	@include breakpointsp{
		.c-imgtitle{
			margin-bottom: 30px;
		}
		.c-content__06{
			margin-bottom: 33px;
		}
		.c-content__07{
			margin-bottom: 46px;
		}
	}
}




// Code 04.html
.p-04__1{
	.c-bannerpc__img{
		img{
			height: 240px;
		}
	}
	.c-bannerpc__text2{
		h5{
			margin-top: -3px;
		}
	}
}
.p-04__3{
	margin-bottom: 54px;
}


// Code 05.html
.p-05__1{
	.c-bannerpc__img{
		img{
			height: 240px;
		}
	}
}
.p-05__3{
	.c-cardauto{
		margin-top: 0;
	}
}
.c-content--005{
	width: 450px;
}

.p-05__4{
	.c-imgtitle{
		margin-bottom: 28px;
	}
	p{
		line-height: 1.6;
	}
}

// Code 06.html
.p-06__1{
	.c-bannerpc__img{
		img{
			height: 240px;
		}
	}
}
.p-06__3{
	.c-imgtitle{
		margin-bottom: 22px;
	}
	.p-06__3__text{
		width: 625px;
		margin: 0 auto;
		margin-bottom: 120px;
		p{
			line-height: 1.6;
		}
		
	}
}

.p-06__4{
	.p-06__4__text{
		width: 625px;
		margin: 0 auto;
		p{
			line-height: 1.6;
		}
	}
	.c-contact__info{
		margin-top: 16px;
	}

}

// Code 07.html
.p-07__1{
	.c-bannerpc__img{
		img{
			height: 240px;
		}
	}
}
.p-07__3{
	.c-imgtitle{
		margin-bottom: 30px;
	}
}



// Code general.html

.p-general__1{
	@include breakpointsp{
		margin-bottom: 40px;
	}
	
}

.p-general__2{
	@include breakpointsp{
		margin-bottom: 23px;
		p{
			font-size: 0.9rem;
			letter-spacing: -0.5px;
		}
	}
}

.p-general__3{
	@include breakpointsp{
		margin-bottom: 10px;
	}
}

.p-general__4{
	@include breakpointsp{
		margin-bottom: 15px;
	}
}

.p-general__5{
	@include breakpointsp{
		margin-bottom: 20px;
	}
}

.p-general__6{
	@include breakpointsp{
		.c-imgtitle{
			margin-bottom: 23px;
		}
		.c-content__subtitle{
			margin-bottom: 15px;
		}
	}
}

.p-general__9{
	@include breakpointsp{
		margin-bottom: 26px;
	}
}

.p-general__10{
	@include breakpointsp{
		.c-spspace{
			margin-bottom: 16px;
		}
		
	}
}

.p-general__11{
	@include breakpointsp{
		margin-bottom: 33px;
	}
}

.p-general__12{
	@include breakpointsp{
		.c-imgtitle{
			margin-bottom: 30px;
		}
		.c-content__subtitle{
			margin-bottom: 15px;
		}
	}
}

.p-general__13{
	@include breakpointsp{
		.c-spspace{
			margin-bottom: 21px;
		}
	}
	
}

.p-general__14{
	@include breakpointsp{
		margin-bottom: 23px;
	}
}

.p-general__15{
	@include breakpointsp{
		.c-imgtitle{
			margin-bottom: 30px;
		}
	}
}

.p-general__17{
	@include breakpointsp{
		margin-bottom: 29px;
	}
}

.p-general__18{
	@include breakpointsp{
		.c-imgtitle{
			margin-bottom: 30px;
		}
	}
}

