@import "mixin";// breakpoint sp
@import "vars";	// variable

/* Component qa */

/* Component rule */

/* Component c-flex */
.c-flex--column3{
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	@include breakpointsp{
		span{
			font-size: 1rem;
		}
	}
}

/* Commponent top.html */




// Code top4 slide // 


/* Component c-lineheight */

/* Component banner */


/* Component relative */

/* component absolute */


/* Component c-fee */

.c-title{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 47px;
	@include breakpointsp{
		margin-bottom: 29px;
		padding: 0 5px;
	}
}

.c-title__imgpc{
	display: block;
	@include breakpointsp{
		display: none;
	}
}








/* Component center */
.c-center{
	text-align: center;
}

.c-margin__auto{
	margin: 0 auto;
}

/* Component list */

.c-list{
	display: flex;
	justify-content: space-between;
	>div{
		width: 312px;
		margin-bottom: 53px;
	}
}

.c-listcontent{
	background-color: #e9eff2;
	padding: 16px 20px;
	height: 448px;
	li{
		line-height: 1.6;
	}
}

/* Component img inside */





/* Component title */



/* Component text */
.c-text{
	text-align: center;
	color: #fff;
	p{
		font-size: 1.5rem;
	}
	@include breakpointsp{
		text-align: left;
		p{
			font-size: 1.2rem;
			line-height: 1.3;
		}
		padding: 0 15px;
		text-align: center;
		p:last-child{
			display: none;
		}
	}
}

.c-textleft{
	text-align: left;
	color: #333333;
}

/* Component pagetop */
.page-top{
	position: fixed;
	display: none;	
	bottom:106px; 
	right: 81px;
	@include breakpointsp{
		bottom: 51px;
		right: 15px;
		img{
			width: 50px;
			height: 50px;
		}
	}
}


/* Component button */



/* Component breakcrum */


/* Component border */
.c-border{
	border-radius: 5px;
}


/* Component card, cardinfo */
.c-card{
	padding: 0 40px;
}

.c-card__title{
	position: relative;
	margin: 30px 0;
	display: flex;
	justify-content: space-between;
	p{
		margin-left: 35px;
		font-size: 2.4rem;
		font-weight: 700;
		letter-spacing: 0;
	}
	@include breakpointsp{
		display: flex;
		justify-content: center;
		margin-bottom: 15px;
		p{
			font-size: 1.6rem;
			margin-left: 0;
		}
	}
}

.c-card__title::before{
	content: "";
	width: 45px;
	height: 3px;
	position: absolute;
	top: 50%;
	transform: rotate(116deg);	
	background-color: #0075a9;
	display: inline-block;
	margin-left: -11px;
	@include breakpointsp{
		width: 35px;
		top: -112%;
		left: 47%;
		display: block;
	}
}

.c-card__content{
	display: flex;
	justify-content: space-between;
	margin-bottom: 60px;
}

.c-card__content__last{
	margin-bottom: 80px;
}


.c-card__detail{
	position: relative;
	margin-right: 20px;
	&:last-child{
		margin-right: 0;
	}
}

.c-card__img{
	img{
		width: 100%;
		height: auto;
	}
}

.c-card__info{
	background-color: rgba(0,0,0, 0.5);
	background-blend-mode: multiply;
	padding: 20px 28px 20px 31px;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}

.c-card__info__1{
	margin-bottom: 12px;
	span{
		font-size: 1.2rem;
		font-weight: 700;
		padding: 6px 20px;
		border-radius: 5px;
		display: inline-block;
	}
	.c-notpadding{
		padding: 0;
	}
}

.c-margin__bot2{
	margin-bottom: 2px;
}

.c-card__info__2{
	margin-bottom: 12px;
	span{
		font-size: 1.6rem;
		font-weight: 700;
	}
}

.c-notmargin{
	margin-bottom: 0;
}

.c-card__info__3{
	display: flex;
	align-items: center;
	.c-oclock{
		margin-right: 5px;
	}
}

.c-2card{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.c-2card__top, .c-2card__bot{
	margin-right: 0;
}




.c-card2{
	display: flex;
	justify-content: space-between;	
	@include breakpointsp{
		display: flex;
		flex-direction: column;
	}
}

.c-card2__first{
	margin-bottom: 60px;
	@include breakpointsp{
		margin-bottom: 20px;
	}
}

.c-card2__last{
	margin-bottom: 30px;
}

.c-card2__detail{
	margin-right: 30px;
	&:last-child{
		margin-right: 0;
	}
	@include breakpointsp{
		margin-right: 0;
		margin-bottom: 10px;
	}
}

.c-card2__img{
	position: relative;
	img{
		width: 100%;
		height: auto;
	}
	.c-card2_imgpc{
		display: block;
	}
	.c-card2_imgsp{
		display: none;
	}	
	span{
		content: "";
		width: 3px;
		height: 32px;
		display: inline-block;
		background-color: #ffcc00;
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateY(50%) translateX(-50%) rotate(25deg);
	}
	@include breakpointsp{
		.c-card2_imgpc{
			display: none;
		}
		.c-card2_imgsp{
			display: block;
		}
	}
}

.c-card2__info{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 31px 0;
	background-color: #4098bf;
	border-radius: 0 0 8px 8px;
	@include breakpointsp{
		background-color: #0075a9;
	}
}

.c-card2__info2{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px 0;
	@include breakpointsp{
		display: none;
	}
}

.c-card2__title{
	font-size: 1.6rem;
	margin-bottom: 10px;
	@include breakpointsp{
		font-size: 1.5rem;
		margin-bottom: 15px;
	}
}

.c-card2__text1{
	margin-bottom: 8px;
}






/* Footer */





/* Component content */
.c-02__1__content2{
	display: flex;
	@include breakpointsp{
		display: flex;
		flex-direction: column;
	}
}

.c-content2__left{
	width: 65%;
	margin-right: 65px;
	.c-btn1{
		margin-top: 23px;
	}
	@include breakpointsp{
		width: auto;
		margin-right: 0;
	}
}

.c-left__details{
	@include breakpointsp{
		background-color: #fff;
		border: 1px solid #ccc;
		border-radius: 5px;
	}
}


.c-left__detail{
	padding: 10px 0 18px;
	.c-arrowsp{
		display: none;
	}
	@include breakpointsp{
		padding: 10px 20px 18px;
		border-bottom: 1px solid #ccc;
		display: flex;
		justify-content: space-between;
		span{
			font-size: 1.1rem;
		}
		.c-arrowsp{
			width: 10%;
			display: flex;
			align-items: center;
			justify-content: flex-end;
			img{
				width: 7px;
				height: 12px;
			}
		}
	}
}


.c-left__text2{
	font-size: 1.6rem;
	margin-top: 6px;
	letter-spacing: 0;
	@include breakpointsp{
		font-size: 1.3rem;
	}
}

.c-content2__right{	
	.c-btn1{
		margin-top: 23px;
	}
}

.c-right__detail{
	display: flex;
	padding: 10px 0 18px;
}

.c-right__img{
	margin-right: 20px;
}

.c-right__text2{
	font-size: 1.6rem;
	letter-spacing: 0;
	margin-top: 4px;
}
/* Component table div */


/* Component arrow-down */



/* Component text */


/* Component page-scroll*/
.c-pagetop{
	position: fixed;
	display: none;	
	bottom:24px; 
	right: 18px;
	@include breakpointsp{
		bottom: 51px;
		right: 15px;
		img{
			width: 50px;
			height: 50px;
		}
	}
}

/* Component shring content-img */

/* Component button */

.c-btn1{
	display: flex;
	justify-content: center;
	a{
		background-color: #fff;
		border: 1px solid #ccc;
		border-radius: 20px;
		padding: 13px 18px;

	}
	.c-btn1__text{
		color: #333333;
	}
	.c-btn1__img{
		margin: 0 5px;
	}
}


// Component circle line
.c-circleline::after{
	content: "";
	display: inline-block;
	border-top: 1px solid #bdbdbd;
	width: 108px;
	margin-left: -5px;
}


// Component space sp



// Component hover
.c-eventhover:hover{
	opacity: 0.6;
	transition: opacity 500ms;
}

.c-lihover:hover{
	a{
		text-decoration: underline;
	}
}



// Component contact


// Componnen Map PC




/* Component copyright */


// Menu toggle
#c-menu__toggle {
    display: block;
    cursor: pointer;
    z-index: 100;
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 5px;
    .c-hamburger,
    .c-hamburger::before,
    .c-hamburger::after {
        content: "";
        width: 16px;
        height: 2px;
        background-color: #0075a9;
        display: block;
        transition: all ease-in-out 500ms;
        //background-color: #fff;
    }
    .c-hamburger{
		margin-top: 18px;
		margin-left: 12px;
    }
    .c-hamburger::before {
        transform: translateY(-6px);
    }
    .c-hamburger::after {
        transform: translateY(4px);
    }
    
    .open {
        transform: rotate(45deg);
        &::before {
            opacity: 0;
        }
        &::after {
            transform: translateY(-3px) rotate(90deg); // translateY( bang 1/2 chieu dai linetoggle)
        }
    }
}



// Component topics
