/* Component footer */

.c-f__1{
	position: relative;
}

.c-f__1__bg{
	img{
		width: 100%;
		height: auto;
	}
}

.c-title__f1{
	color: #111111;
	font-size: 2rem;
	font-weight: 700;
	letter-spacing: 0;
}

.c-f__1__content{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.c-fnavi{
	margin: 22px 0 26px;
	ul{
		display: flex;
		justify-content: flex-start;
		margin-left: 5px;
	}
	ul:first-child{
		margin-bottom: 12px;
	}
	li{
		width: 20%;
	}
	a{
		display: flex;
		align-items: center;
	}
}

.c-arrow__right{
	width: 6px;
	height: 10px;
	margin-right: 4px;
}

.c-title__f2{
	font-size: 1.5rem;
	font-weight: 700;
	color: #003567;
	letter-spacing: 0;
}

.c-menu__f2{
	font-size: 1.3rem;
	color: #333333;	
}



.c-f__3__content{
	display: flex;
	justify-content: space-between;
	padding: 40px 0;
	@include breakpointsp{
		display: flex;
		flex-wrap: wrap;
	}
}

.c-f__4__content1, .c-f__4__content2{
	display: flex;
	justify-content: space-between;
	@include breakpointsp{
		display: flex;
		flex-direction: column-reverse;
	}
}

.c-f__4__content1{
	margin-bottom: 40px;
}

.c-f__4__text{
	display: flex;
}




.c-f__4__text__2{
	position: relative;
	margin-left: 90px;
}

.c-f__4__text__1, .c-f__4__text__2{
	span{
		display: inline-block;
		margin-bottom: 10px;
	}
	p{
		letter-spacing: 0;
	}
}

.c-f__4__text__2::before{
	content: "";
	width: 66px;
	height: 2px;
	position: absolute;
	top: 50%;
	transform: rotate(116deg);	
	background-color: #0075a9;
	display: inline-block;
	margin-left: -77px;
}

.c-f__5{
	background-color: #003567;
	height: 80px;
	line-height: 80px;	
	p{
		color: #bfccd9;
		text-align: center;
		font-size: 1.2rem;
		letter-spacing: 0;
	}
}



// Group navi
.c-groupnavi{
	display: flex;
	margin-top: 26px;
}

.c-fnavi2{
	width: 20%;
	ul{
		margin-top: 15px;
	}
	li{
		margin-bottom: 13px;
	}
	li:last-child{
		margin-bottom: 5px;
	}
	.c-ul__last{
		margin-top: 5px;
	}
}

.c-fnavi2__child{
	margin-top: 35px;
}