/* Component header */
@import "mixin";// breakpoint sp
@import "vars";	// variable
.only-pc{
	width: 100%;
	min-width: 960px;
	@include breakpointsp{
		display: none;
	}
}

.c-headpc{
	width: 100%;
	
	position: relative;
}

.c-head_bgpc{
	img{
		width: 100%;
		height: auto;
	}
}

.c-headpc__top, .c-headpc__middle, .c-headpc__middle2, .c-headpc__bot{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
}

.c-headpc__top{
	display: flex;
	justify-content: space-between;
	padding: 33px 40px;
}

.c-headpc__top__left{
	padding: 7px 0;
}

.c-mailphone{
	display: flex;
	@include breakpointsp{
		display: flex;
		flex-direction: column-reverse;
	}
}

.c-mail{
	position: relative;
	
	.c-mail__text{
		position: absolute;
		top: 0;
		bottom: 0;
		left: 25%;
		right: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		span{		
			font-size: 1.5rem;
		}
	}
}

.c-phone{
	margin-left: 20px;
}


.c-headpc__middle{
	display: flex;
	justify-content: flex-end;
	padding: 0 80px;
	top: 29%;
}

.c-headpc__middle2{
	display: flex;
	top: 38%;
}

.c-headpc__logo{
	width: 25%;
	height: auto;
	img{
		width: 100%;
		height: auto;
	}
}

.c-headpc__text{
	margin-left: 35px;
	width: 20.5%;
	height: auto;
	img{
		width: 100%;
		height: auto;
	}
}

.c-headpc__text2{
	width: 33.5%;
	height: auto;
	img{
		width: 100%;
		height: auto;
	}
}


.c-headpc__bot{
	top: initial;
	bottom: 2.5%;
}












// CSS slider top.html









/* Component navi */
.c-navi{
	width: 100%;
	min-width: 960px;
	ul{		
		width: 960px;
		padding: 0 15px;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
	}

	li{
		//margin-right: 35px;
		
	}
	a{
		display: flex;
		flex-direction: column;
		align-items: center;
		
		span{
			margin-top: 12px;
			color: #333333;
			font-size: 1.6rem;
		}
	}
	a:active{
		color: #333333
	}

	
	
}

.c-navi2{
	width: 100%;
	min-width: 960px;
	border-bottom: 1px solid #0075a9;
	ul{		
		width: 960px;
		margin: 0 auto;
		display: flex;
		padding: 0 15px;
		justify-content: space-between;
	}

	li{
		//margin-right: 35px;
		position: relative;
	}
	li::before{
		content: "";
		width: 1px;
		height: 120px;
		position: absolute;
		display: inline-block;
		background-color: #ccc;
		margin-left: -15px;
		top: 0;
	}
	li:last-child::after{
		content: "";
		width: 1px;
		height: 120px;
		position: absolute;
		right: 0;
		display: inline-block;
		background-color: #ccc;
		margin-right: -15px;
		top: 0;
	}
	a{
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 25px 0;
		span{
			margin-top: 12px;
			color: #333333;
			font-size: 1.6rem;
		}
	}
	a:active{
		span{
			color: #333333
		}
		
	}

	
	
}









// SP only
.only-sp{
	display: none;
	@include breakpointsp{
		display: block;
	}
}
.c-headsp{
	width: 100%;
	height: auto;
	position: relative;
}

.c-head_bgsp{
	img{
		width: 100%;
		height: auto;
	}
}

.c-headsp__top, .c-headsp__middle2{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}

.c-headsp__top{	
	top: 2.5%;
	padding-left: 20px;
	padding-right: 10px;
	display: flex;
	justify-content: space-between;
}

.c-headsp__slogan{
	width: 52%;
	padding-top: 10px;
	img{
		width: 100%;
		height: auto;
	}
}

.c-headsp__middle2{
	top: 14.5%;
}

.c-headsp__text2{
	width: 93%;
	img{
		width: 100%;
		height: auto;
	}
}



#c-menu-toggle{	
	margin-right: 36px;
}

.c-logosp{
	width: 30%;
	img{
		width: 100%;
		height: auto;
	}
}

.c-appsp{
	display: flex;
	justify-content: space-between;	
	width: 19%;
	div{
		width: 50%;
		img{
			width: 100%;
			height: auto;
		}
	}
	.c-appsp__twitter{
		margin-left: 14px;
	}
}



.c-navisp{
	width: 100%;
	top: 100%;
	left: 0;
	position: absolute;
	z-index: 200;
	display: none;
	ul{		
		

	}
	li{
		display: block;
		
	}
	li:first-child{
		a{
			padding-top: 56px;
		}
	}
	a{
		font-size: 1.2rem;
		padding: 7px 10px;
		display: block;
		color: #333;
		background-color: #fff;
		letter-spacing: 4px;
		
	}

	li:nth-child(1), li:nth-child(2), li:nth-child(3){
		a{
			font-size: 2.1rem;
			font-weight: 700;
			text-align: center;
		}
	}
	li:nth-child(4){
		a{
			font-size: 1.5rem;
			font-weight: 700;
			text-align: center;
			letter-spacing: 1px;
			padding-top: 60px;
		}
	}
	li:nth-child(5), li:nth-child(6){
		a{
			text-align: center;
			padding: 17px 10px 14px;
			img{
				width: 164px;
				height: 47px;
			}
		}
	}
	li:nth-child(6){
		a{
			padding: 0 10px;
		}
	}

}