@charset "UTF-8";
@import "vars";	// 変数 Variable
@import "functions"; // 関数等 Function
@import "mixin";// breakpoint sp

/*------------------------------------------------------------
	Top page
------------------------------------------------------------*/
/* Code page qa.html */
/* Code 01.html */

.c-f__2{
	background-color: #f8f8f8;	
	border-top: 1px solid #0075a9;
	border-bottom: 1px solid #e8e8e8;
	.l-content__inner{
		padding: 55px 0;
	}
}

.c-f__4{
	background-color: #003567;
	.l-content__inner{
		padding: 60px 0;
	}
}

.c-f__5{
	border-top: 1px solid #26537e;
}

/* Code 02.html */

.p-02__1{
	background: url("../img/pc/02/pc_bg1.jpg") no-repeat top center;
	background-size: 100%;
	.l-content__inner{
		padding: 80px 0;
	}
	@include breakpointsp{
		background: initial;
		.l-content__inner{
			padding: 30px 20px;
		}
	}
}

