@import "mixin";// breakpoint sp

/* Component image */









/* Component list */


.c-listlink{
	border: 1px solid #ccc;
	border-radius: 5px;
	margin-bottom: 30px;
	p{
		padding: 12px 10px;
		background-color: #E6E9ED;
		border-bottom: 1px solid #ccc;
		line-height: 1;
	}
	ul{
		padding: 13px 10px;
	}
	li:first-child{
		border-top: 1px solid #ccc;
	}
	li{
		border-bottom: 1px solid #ccc;
		&:active{
			a{
				color: #F00;
			}
		}
		&:hover{
			a{
				opacity: 0.9;
				transition: opacity 500ms;
			}
		}
	}
	a{
		font-size: 1.3rem;
		padding: 12px 10px;
		color: #551a8b;
	}
}

.c-listlink--noborder{		
	p{
		padding: 12px 10px;
		background-color: #E6E9ED;
		border-bottom: 1px solid #ccc;
	}
	
	li:first-child{
		border-top: 1px solid #ccc;
	}
	li{
		border-bottom: 1px solid #ccc;
	}
	a{
		font-size: 1.3rem;
		padding: 12px 10px;
		color: #551a8b;
	}
}

.c-listbanner{
	border: 1px solid #ccc;
	border-radius: 5px;
	margin-bottom: 30px;
	p{
		background-color: #E6E9ED;
		padding: 12px 10px;
		border-bottom: 1px solid #ccc;
		line-height: 1;
	}
	ul{
		padding: 13px 10px;
	}
	li{
		margin-top: 15px;
		&:first-child{
			margin-top: 0;
		}
		&:hover{
			opacity: 0.6;
			transition: opacity 500ms;
		}
	}
}

.c-listbanner--noborder{
	p{
		background-color: #E6E9ED;
		padding: 12px 10px;
		border-bottom: 1px solid #ccc;
	}
	li{
		margin-top: 15px;
		&:first-child{
			margin-top: 0;
		}
		
	}
	a{
		display: inline-block;
		&:hover{
			opacity: 0.6;
			transition: opacity 500ms;
		}
	}
}

.c-listtext--disc{
	margin-bottom: 30px;
	ul{
		margin-left: 17px;	
		list-style-type: disc;
	}
	li{
		font-size: 1.6rem;
	}
	li:last-child{
		list-style-type: none;
	}
}

.c-listtext--number{
	ul{
		margin-left: 17px;	
		list-style-type: decimal;
	}
	li{
		font-size: 1.6rem;
	}
	li:last-child{
		list-style-type: none;
	}
}

.c-listfoot{
	li{
		margin-top: 6px;
	}
}

// List button horizontal
.c-listbutton{
	ul{
		display: flex;
		justify-content: space-between;
	}
	li{
		width: 180px;
		&:hover{
			a{
				background-color: #3BAFDA;
				transition: background-color 500ms;
			}
		}
	}
	a{
		color: #fff;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: #4FC1E9;
		border-radius: 5px;
		height: 38px;
		font-size: 1.2rem;
	}
	@include breakpointsp{
		ul{
			flex-wrap: wrap;
		}
		li{
			width: 49%;
			margin-bottom: 10px;
		}
		li:nth-child(odd){
			margin-right: 2%;
		}
	}
}




/* Component title */
.c-title2{
	border-bottom: 1px solid #ccc;
	min-width: 1050px;
	height: 101px;
	display: flex;
	align-items: center;
	@include breakpointsp{
		height: 71px;
		min-width: 100%;
		margin-top: 60px;
	}
}
.c-title2__inner{
	width: 1050px;
	margin: 0 auto;
	p{
		line-height: 1;
	}
	@include breakpointsp{		
		p{
			font-size: 1rem;
		}
	}
}
.c-title3{
	border-bottom: 1px solid #333;
	padding-bottom: 12px;
	margin-bottom: 20px;
}
.c-title3--bordergreen{
	border-bottom: 1px solid #8CC152;
}
.c-title4--bordergreen{
	border-left: 8px solid #8cc152;
	margin-bottom: 10px;
	h4{
		padding-left: 15px;
	}
}

.c-title4--borderorange{
	border-left: 8px solid #F6BB42;
	h4{
		padding-left: 15px;
	}
}

.c-title4--borderred{
	border-left: 8px solid #E9573F;
	h4{
		padding-left: 15px;
	}
}

.c-title5{	
	margin-bottom: 10px;	
}




.c-titlebanner--black{
	font-size: 1.6rem;
	line-height: 1;
	color: #fff;
	background-color: #000;
	padding: 6px 0 6px 15px;
	margin: 40px 0 20px;
	border-radius: 5px;
}

.c-titlebanner--darkgray{
	font-size: 1.3rem;
	line-height: 1;
	color: #fff;
	background-color: #888;
	padding: 6px 0 6px 30px;
	margin: 20px 0;
	border-radius: 5px;
}

.c-titlebanner--gray{
	font-size: 1.3rem;
	line-height: 1;
	color: #000;
	background-color: #ddd;
	padding: 6px 0 6px 35px;
	margin: 20px 0;
	border-radius: 5px;
}





/* Component text */



/* Component table */
.ctable1{
	margin-bottom: 30px;
	width: 100%;
	border: 1px solid #cccccc;
	border-collapse: collapse;
	th, td{
		border: 1px solid #cccccc;
		border-collapse: collapse;
	}
	thead{
		th{
			background-color: #8cc152;
			color: #fff;
			font-size: 1.4rem;
			text-align: center;
			padding: 10px 0;
			font-weight: 700;			
		}
	}
	tbody{
		th{
			text-align: center;
			font-size: 1.4rem;
			font-weight: normal;
			padding: 10px 0;
		}
		td{
			font-size: 1.4rem;
			text-align: center;
			padding: 10px 0;
		}
	}
}

.ctable2{
	margin-bottom: 30px;
	width: 100%;
	border: 1px solid #cccccc;
	border-collapse: collapse;
	th, td{
		border: 1px solid #cccccc;
		border-collapse: collapse;
	}
	tbody{		
		th{
			background-color: #e6e9ed;
			text-align: center;
			font-size: 1.4rem;
			font-weight: normal;
		}
		td{
			font-size: 1.4rem;
			text-align: center;
			padding: 10px 0;
		}
	}
	@include breakpointsp{
		tr, th, td{
			display: block;
		}
	}
}


/* Component img-text */
.c-imgtext{
	display: flex;
}

.c-imgtext--border{
	display: flex;
	border: 1px solid #CCC;
	padding: 15px 15px;
	.c-imgtext__img{
		margin-right: 10px;
	}
	.c-imgtext__img--right{
		margin-right: 0;
		margin-left: 10px;
	}
}

/* Component line */
.c-line1{
	position: relative;
	color: #CCC;
	height: 0;
	margin: 30px 0;
	hr{
		background-color: #CCC;
	}
	hr:after{
		content: "§";
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translateY(-50%);
		display: inline-block;
		padding: 0 5px;
		color: #bbb;
		background-color: #fff;
	}
}

.c-line2{
	position: relative;
	color: #CCC;
	height: 0;
	hr{
		border-top: 1px solid 	#CCC;
		border-bottom: 0;
		border-left: 0;
		border-right: 0;
		background-color: #CCC;
	}
	hr:after{
		content: "§";
		position: absolute;
		left: 50%;
		top: 50%;		
		transform: translateY(-50%);
		display: inline-block;
		padding: 0 5px;
		color: #bbb;
		background-color: #fff;
	}
}

/* Component card, cardinfo */
.c-listcard{
	display: flex;
	flex-wrap: wrap;
	@include breakpointsp{
		.c-cardsmall:nth-child(odd){
			margin-right: 2%;
		}
		.c-cardsmall:nth-child(even){
			margin-right: 0;
		}
		.c-cardmedium:nth-child(odd){
			margin-right: 2%;
		}
		.c-cardmedium:nth-child(even){
			margin-right: 0;
		}
	}
	
}
.c-cardsmall{
	margin-right: 20px;
	margin-bottom: 20px;
	width: 185px;
		&:nth-child(4){
			margin-right: 0;
		}
	.card-img{
		width: 185px;
		height: 180px;
		img{
			width: 100%;
			height: auto;
		}
	}
	.c-cardinfo{
		margin-top: 10px;
		display: flex;
		.c-cardinfo__img{
			margin-right: 10px;
		}
		img{
			width: 50px;
			height: 50px;
		}
		p{
			font-size: 1.2rem;
		}
	}
	@include breakpointsp{
		width: 49%;		
		.card-img{
			width: 100%;
			height: auto;			
		}
	}
}

.c-cardmedium{
	margin-right: 20px;
	margin-bottom: 20px;
	width: 253px;
		&:nth-child(3){
			margin-right: 0;
		}
		&:nth-child(6){
			margin-right: 0;
		}
	.card-img{
		width: 253px;
		height: 180px;
		img{
			width: 100%;
			height: auto;
		}
	}
	.c-cardinfo{
		margin-top: 10px;
		display: flex;
		.c-cardinfo__img{
			margin-right: 10px;
		}
		img{
			width: 50px;
			height: 50px;
		}
		p{
			font-size: 1.2rem;
		}
	}
	@include breakpointsp{
		width: 49%;		
		.card-img{
			width: 100%;
			height: auto;			
		}
	}
}



/* Component arrow-down */
.c-arrowdown{
	border: solid #fff;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 2.5px;
    transform: rotate(45deg);
    margin-right: 7px;
    margin-bottom: 2px;
}

/* Component message */
.c-message{
	
	border: 1px solid #CCC;
	border-radius: 5px;
	text-align: center;	
	p{
		padding: 30px 10px;
		line-height: 1.6;
		font-size: 1.4rem;
	}
}
.c-message2{
	padding: 30px 10px;	
	border: 1px solid #37BC9B;
	border-radius: 5px;
	text-align: center;	
	color: #fff;
	background-color: #48CFAD;
	p{
		line-height: 1.6;
		font-size: 1.4rem;
	}
}

/* Component button */
.c-btn--orange{
	text-align: center;
	a{
		padding: 13px 0;
		color: #fff;
		background-color: #FC6E51;
		border-radius: 30px;
		font-size: 1.3rem;
		line-height: 1;
		display: inline-block;
		width: 200px;
		text-align: center;
		&:hover{
			opacity: 0.8;
			transition: opacity 500ms;
			text-decoration: underline;
		}
	}
	
}

.c-btn--green{
	text-align: center;
	a{
		padding: 13px 0;
		color: #fff;
		background-color: #37BC9B;
		border-radius: 30px;
		font-size: 1.3rem;
		line-height: 1;
		display: inline-block;
		width: 200px;
		text-align: center;
		&:hover{
			opacity: 0.8;
			transition: opacity 500ms;
			text-decoration: underline;
		}
	}
}

.c-btn--lightblue{
	text-align: center;
	a{
		padding: 13px 0;
		color: #fff;
		background-color: #3BAFDA;
		border-radius: 30px;
		font-size: 1.3rem;
		line-height: 1;
		display: inline-block;
		width: 200px;
		text-align: center;
		&:hover{
			opacity: 0.8;
			transition: opacity 500ms;
			text-decoration: underline;
		}
	}
}

.c-btn--left{
	text-align: left;
}
.c-btn--right{
	text-align: right;
}
.c-btn--2btncenter{
	display: flex;
	justify-content: center;
	@include breakpointsp{
		padding: 0 10px;
		.c-btn--orange, .c-btn--green{
			width: 49%;
			a{
				width: 100%;
			}
		}
	}
}
.c-btn--2btnbetween{
	display: flex;
	justify-content: space-between;
	@include breakpointsp{
		padding: 0 10px;
		.c-btn--orange, .c-btn--green{
			width: 49%;
			a{
				width: 100%;
			}
		}
	}
}
.c-btn--marginleft{
	margin-left: 30px;
	@include breakpointsp{
		margin-left: 2%;
	}
}




// Menu toggle
#menu-toggle {
	width: 30px;
	height: 30px;   
    display: block;
    cursor: pointer;
    position: absolute;
    z-index: 100;
    top: 10px;
    //left: 0;
   // bottom: 0;
    right: 10px;
    .hamburger,
    .hamburger::before,
    .hamburger::after {
        content: "";
        width: 30px;
        height: 5px;
        background-color: #000;
        display: block;
        transition: all ease-in-out 500ms;
    }
    .hamburger{
		margin-top: 18px;
    }
    .hamburger::before {
        transform: translateY(-12px);
    }
    .hamburger::after {
        transform: translateY(6px);
    }
    .open {
        transform: rotate(45deg);
        &::before {
            opacity: 0;
        }
        &::after {
            transform: translateY(-4px) rotate(90deg);
        }
    }
}
