/* Component footer */

.c-footsitemap{
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	background-color: #efefee;
	min-width: 1050px;
	padding: 30px 0;
	@include breakpointsp{
		min-width: 100%;
		padding: 15px 10px 5px;
	}
}

.c-footsitemap__inner{
	width: 1050px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	p{
		font-weight: bold;
	}
	li{
		margin-top: 6px;
	}
	a{
		color: #000;
	}
	@include breakpointsp{
		width: 100%;
		display: inline-block;

		div{
			width: 50%;
			margin-bottom: 20px;
			float: left;
		}
		p{
			font-size: 1.4rem;
		}
		a{
			font-size: 1.2rem;
		}
	}
}

.c-footcopy{
	padding: 20px 0;
	min-width: 1050px;
	p{
		font-size: 1.2rem;
		text-align: center;
		line-height: 12px;
	}
	@include breakpointsp{
		min-width: 100%;
		padding: 10px 0;
		p{
			font-size: 1rem;
		}
	}
}

/* Component breadcrumb */
.c-breadcrumbfooter{
	border-top: 1px solid #ccc;
	min-width: 1050px;
	padding: 10px 10px;
	ul{
		width: 1050px;
		margin: 0 auto;
		display: flex;
	}
	li{
		font-size: 1.2rem;
		line-height: 1;
	}
	a{
		color: #333;
		border-bottom: 1px solid #333;
		font-size: 1.2rem;
		display: inline-block;
		line-height: 1;
	}
	li:last-child{
		a{
			border-bottom: 0;
		}
		
	}
	li::after{
		content: "›";		
		display: inline-block;
		margin: 0 7px;
	}
	li:last-child::after{
		content: "";
	}
	@include breakpointsp{
		min-width: 100%;
		ul{
			padding-left: 10px;
			width: 100%;
		}
		a{
			font-size: 1rem;
		}
	}
}