/* Component header */
.c-headPC__inner{
	height: 80px;
	width: 1050px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* Component navi */
.c-navi{
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	width: 100%;
	ul{
		width: 1050px;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
	}
	li{
		border-left: 1px solid #ccc;
		&:last-child{
			border-right: 1px solid #ccc;
		}
	}
	a{
		font-size: 1.4rem;
		display: flex;
		justify-content: center;
		align-items: center;
		color: #333;
		background-color: #efefef;
		height: 40px;
	}
}

/* Component listtop */
.c-listtop{
	ul{
		display: flex;
		li{
			margin-left: 20px;
		}
		a{
			font-size: 1.6rem;
			color: #333;
		}
	}
}

/* Component breadcrumb */
.c-breadcrumbheader{
	border-bottom: 1px solid #ccc;
	width: 100%;
	padding: 10px 10px;
	ul{
		width: 1050px;
		margin: 0 auto;		
		display: flex;
	}
	li{
		font-size: 1.2rem;
		line-height: 1;
	}
	a{
		color: #333;
		text-decoration: underline;
		font-size: 1.2rem;
		display: inline-block;
		line-height: 1;
	}
	li:last-child{
		a{
			text-decoration: none;
		}
		
	}
	li::after{
		content: "›";		
		display: inline-block;
		margin: 0 7px;
	}
	li:last-child::after{
		content: "";
	}
	@include breakpointsp{
		ul{
			width: 100%;
		}
		a{
			font-size: 1rem;
		}
	}
}




// SP only
.sp-only{
	width: 100%;
	height: 60px;
	border-bottom: 1px solid #CCC;
	position: fixed;
	top: 0;
	background-color: #fff;
	.c-headerSP{		
		
		//
	}
}

.c-headSP__inner{
	padding: 10px 0 10px 10px;
	display: flex;
	justify-content: space-between;
	
	
}
.c-navisp{
	width: 100%;
	top: 60px;
	left: 0;
	position: absolute;
	ul{		
		

	}
	li{
		display: block;
		border-bottom: 1px solid #ccc;
		
	}
	a{
		font-size: 1.2rem;
		padding: 10px;
		display: block;
		color: #333;
		background-color: #fff;
	}
}