@import "mixin";
@charset "UTF-8";
/*------------------------------------------------------------
	Default
------------------------------------------------------------*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header,button,
hgroup, menu, nav, section,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	box-sizing: border-box;
	font-size: 1.4rem;
}

html {
	font-size: 62.5%;
}

body, table,
input, textarea, select, option,button,
h1, h2, h3, h4, h5, h6 {
	font-family:  游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
	line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
}
h2{
	font-size: 2.2rem;
	line-height: 1;
}
h3{
	font-size: 1.8rem;
}
h4{
	font-size: 1.6rem;
}
h5{
	font-size: 1.4rem;
}

table,
input, textarea, select, option {
	line-height: 1.1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

:focus {
	outline: 0;
}

ins {
	text-decoration: none;
}

del {
	text-decoration: line-through;
}

img {
	vertical-align: top;
}

a{
	text-decoration: none;
	display: block;
}
p{
	line-height: 1.6;
}


@include breakpointsp{
	h2{
		font-size: 1.6rem;
		line-height: 1;
	}
	h3{
		font-size: 1.4rem;
	}
	h4{
		font-size: 1.4rem;
	}
	p{
		font-size: 1.2rem;
	}
}

