@charset "UTF-8";
/*------------------------------------------------------------
	Text Format
------------------------------------------------------------*/
/* text position */
.taLeft { text-align: left !important; }
.taCenter { text-align: center !important; }
.taRight { text-align: right !important; }
.vTop { vertical-align: top !important;}
.vMiddle { vertical-align: middle !important;}

/* font weight */
.fwNormal { font-weight: normal !important; }
.fwBold { font-weight: bold !important; }

/*------------------------------------------------------------
	adjustment class ※ no use frequently
------------------------------------------------------------*/
.mt0 { margin-top: 0 !important; }
.mb0 { margin-bottom: 0 !important; }

/*------------------------------------------------------------
	clearfix（float解除）
------------------------------------------------------------*/
.clearfix {
	*zoom: 1;
	&:after {
		display: block;
		clear: both;
		content: "";
	}
}

/*------------------------------------------------------------
	for tracking tag
------------------------------------------------------------*/
.trackTags {
	display: none;
}


/* Color for text */
.u-red{
	color: $color-red;
}

.u-pink{
	color: $color-pink;
}

.u-white{
	color: $color-white;
}

.u-green{
	color: $color-green;
}

.u-cyanblue{
	color: $color-cyanblue;
}

.u-lightblue{
	color: $color-lightblue;
}

.u-bgcyanblue{
	background-color: $color-cyanblue;
}

.u-bg-darkgray{
	background-color:$color-darkgray;
}

.u-bggray{
	background-color: $color-gray;
}



.u-fontsize14{	
	font-size: 1.4rem;
}

.u-fontsize12{
	font-size: 1.2rem;
}


// No-margin


