@charset "UTF-8";
// HTML5か否か
$use-html5: true;

// サポートブラウザの設定
$support-ie6: false;
$support-ie7: false;
$support-ie8: false;
$support-ie9: false;
$support-mozilla: true;
$support-webkit : true;
$support-opera  : false;

// ベンダープレフィックスの設定
$set_prefix: -webkit-, -moz-, -ms-, '';

/* Color text */
$color-red: #F00;
$color-green: #8CC152;
$color-white: #fff;
$color-cyanblue: #5D9CEC;
$color-pink: #DA4453;
$color-lightblue: #3BAFDA;
$color-darkgray:#434A54;
$color-gray: #E6E9ED;



// Breakpoint sp
$breakpointsp: 767px;