@import "mixin";// breakpoint sp
@import "vars";	// variable


/* Component banner */

.c-bannerpc__img{
	width: 100%;
	height: auto;
	img{
		width: 100%;
		height: auto;
	}
	@include breakpointsp{
		display: none;
	}
}
.c-bannersp__img{
	width: 100%;
	height: auto;
	display: none;
	img{
		width: 100%;
		height: auto;
	}
	@include breakpointsp{
		display: block;
	}
}

.c-bannerpc__text2{
	margin-top: 94px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	h5{
		color: #fff;
		margin-top: 5px;
	}
}

.c-bannersp__text2{	
	width: 100%;
	margin-top: 20%;
	//margin-top: 58px;
	img{
		width: 100%;
		height: auto;
		max-width: 580px;
	}
	h4{
		line-height: 1;
	}
}


/* Component relative */
.c-relative{
	position: relative;
}

/* component absolute */
.c-absolute{
	position: absolute;
	top: 0;
	//transform: translateY(-50%);
	left: 0;
	right: 0;
	text-align: center;
}

.c-absolute2{
	position: absolute;
}

/* Component c-fee */

.c-title{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 47px;
	@include breakpointsp{
		margin-bottom: 29px;
		padding: 0 5px;
	}
}

.c-title__imgpc{
	display: block;
	@include breakpointsp{
		display: none;
	}
}

.c-title__imgsp{
	display: none;
	@include breakpointsp{
		display: block;
		width: 48%;
		height: auto;
		img{
			width: 100%;
			height: auto;
		}
	}
}


.c-titletext1{
	background-color: #10222b;
	width: 68px;
	height: 68px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 13px;
	span{
		color: #fff;
		font-size: 1.5rem;
	}
	@include breakpointsp{
		width: 34px;
		height: 34px;
		margin: 0 7px;
		span{
			font-size: 0.75rem;
		}
	}
}

.c-titletext1--1{
	background-color: #10222b;
	width: 68px;
	height: 68px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 20px 0 13px;
	@include breakpointsp{
		width: 34px;
		height: 34px;
		margin: 0 6px;
		img{
			width: 34px;
			height: 34px;
		}
	}

}



.c-titletext1--2{
	background-color: #10222b;
	width: 68px;
	height: 68px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 10px 0 14px;
	@include breakpointsp{
		width: 34px;
		height: 34px;
		margin: 0 5px;
		img{
			width: 34px;
			height: 34px;
		}
	}
}

.c-titletext2{
	span{
		color: #202020;
		font-size: 5.6rem;
	}
	@include breakpointsp{
		span{
			font-size: 2.8rem;
		}
	}
}

.c-titletext4{
	span{
		color: #202020;
		font-size: 5.6rem;
	}
	@include breakpointsp{
		span{
			font-size: 2.5rem;
		}
	}
}

.c-titletext2--1{
	span{
		color: #202020;
		font-size: 5.6rem;
		letter-spacing: 2.5px;
	}
	@include breakpointsp{
		span{
			font-size: 2.5rem;
			letter-spacing: 1.5px;
		}
	}
}

.c-top{
	margin-bottom: 69px;
	.c-top__title{
		text-align: center;
		background-color: #10222b;
		padding: 10px 0;
		margin-bottom: 30px;
		p{
			color: #fff;
			font-size: 2rem;
		}
	}
	@include breakpointsp{
		margin-bottom: 29px;
		.c-top__title{
			margin-bottom: 20px;
			p{
				font-size: 1.6rem;
			}
		}
	}
}

.c-topcontent{
	display: flex;
	justify-content: space-between;
	width: 1070px;
	margin: 0 auto;
	@include breakpointsp{
		padding: 0 15px;
		display: flex;
		width: 100%;
	}
}

.c-topdetail{
	display: flex;
	justify-content: space-between;
	width: 495px;
	@include breakpointsp{
		width: 47.5%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}

.c-large__arrow{
	position: relative;
}
.c-large__arrow__imgpc{
	display: block;
	@include breakpointsp{
		display: none;
	}
}

.c-large__arrow__imgsp{
	display: none;
	@include breakpointsp{
		display: block;
		img{
			width: 100%;
			height: auto;
		}
	}
}

.c-large__arrow__text{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin-top: 21px;
	margin-left: 26px;
	span{
		font-size: 2.1rem;
		font-weight: 700;
		color: #fff;
		letter-spacing: 0.5px;
	}
	@include breakpointsp{
		margin-top: 0;
		margin-left: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		bottom: 0;
		
		span{
			font-size: 1.3rem;
		}
	}
}

.c-price{
	position: relative;
	@include breakpointsp{
		margin: 0 20px;
	}
}

.c-arrow_right_large, .c-pricedownpc{
	display: block;
	@include breakpointsp{
		display: none;

	}
}

.c-pricedownsp{
	display: none;
	@include breakpointsp{
		display: block;
		margin: 0 20px;
		img{
			width: 100%;
			height: auto;
		}
	}
}



.c-price__img{
	@include breakpointsp{
		img{
			width: 100%;
			height: auto;
		}
	}
}
.c-price__text{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin-top: 23px;
	margin-left: 111px;
	@include breakpointsp{
		margin-top: 0;
		margin-left: 0;
		bottom: 0;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		span{
			font-size: 1rem;
		}
		
	}
}




.c-infotitlepc__1, .c-infotitle__2, .c-info__text{
	text-align: center;
}

.c-infotitlepc__1{
	margin-bottom: 5px;
	display: block;
	@include breakpointsp{
		display: none;
	}
}

.c-infotitlesp__1{
	display: none;
	@include breakpointsp{
		display: block;
		img{
			width: 100%;
			height: auto;
		}
	}
}

.c-infotitle__2{
	margin-bottom: 41px;
	p{
		font-size: 3.2rem;
	}
	@include breakpointsp{
		margin-bottom: 18px;
		p{
			font-size: 1.6rem;
		}
	}
}
.c-info__text{
	display: flex;
	justify-content: center;
	p{
		font-size: 1.5rem;
	}
	@include breakpointsp{
		display: flex;
		flex-direction: column;
		padding: 0 17px;
		p{
			font-size: 1.2rem;
		}
	}
}

/* Component center */
.c-center{
	text-align: center;
}

.c-margin__auto{
	margin: 0 auto;
}

/* Component list */

.c-list{
	display: flex;
	justify-content: space-between;
	>div{
		width: 312px;
		margin-bottom: 53px;
	}
}

.c-listcontent{
	background-color: #e9eff2;
	padding: 16px 20px;
	height: 448px;
	li{
		line-height: 1.6;
	}
}

/* Component img inside */
.c-campaign{
	position: relative;
	margin-top: -300px;
	.c-campaignpc__img{
		display: block;
	}
	.c-campaignsp__img{
		display: none;
	}
	@include breakpointsp{
		margin-top: 0;
		.c-campaignpc__img{
			display: none;
		}
		.c-campaignsp__img{
			display: block;
			width: 100%;
			img{
				width: 100%;
				height: auto;
			}
		}
	}
}



.c-campaign__text{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin-top: 205px;
	margin-left: 130px;
	span{
		color: #fff;
		font-size: 3rem;
		letter-spacing: 2px;
	}
	@include breakpointsp{
		margin-top: 26%;
		margin-left: 38%;
		span{
			font-size: 1.6rem;
			letter-spacing: 1px;
		}
	}
}


/* Component title */

.c-reser__title{
	position: absolute;
	left: 0;
	right: 0;
	top: 21%;
	display: flex;
	justify-content: center;	
	p{
		font-size: 3.2rem;
		font-weight: 700;
		color: #fff;
		letter-spacing: 2px;
	}
	@include breakpointsp{
		padding: 0 10px;
		top: 13%;
		p{
			font-size: 1.6rem;
			letter-spacing: 1px;
		}
	}
}

.c-reser__title2{
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 28%;
	left: 0;
	right: 0;
	@include breakpointsp{
		display: flex;
		flex-direction: column;
		top: 21%;
	}
}

.c-reser__title2__imgpc{
	margin-right: 5px;
	display: block;
	@include breakpointsp{
		display: none;
	}
}
.c-reser__title2__imgsp{
	display: none;
	@include breakpointsp{
		display: block;
		margin-bottom: 5px;
		img{
			width: 100%;
			height: auto;
		}
	}
}


.c-reser__title2__text1{
	p{
		font-size: 4.8rem;
		color: #fff;
		letter-spacing: 2.5px;
	}
	@include breakpointsp{
		padding: 0 10px;
		p{
			font-size: 2.8rem;
		}
	}
}

.c-reser__title2__text2{
	position: absolute;
	top: 44%;
	left: 0;
	right: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	p{
		font-size: 1.8rem;
		color: #fff;
	}
	@include breakpointsp{
		top: 38%;
		padding: 0 42px;
		p{
			font-size: 1.2rem;
			text-align: center;
		}
	}
}



/* Component text */
.c-text{
	text-align: center;
	color: #fff;
	p{
		font-size: 1.5rem;
	}
	@include breakpointsp{
		text-align: left;
		p{
			font-size: 1.2rem;
			line-height: 1.3;
		}
		padding: 0 15px;
		text-align: center;
		p:last-child{
			display: none;
		}
	}
}

.c-textleft{
	text-align: left;
	color: #333333;
}

/* Component pagetop */
.page-top{
	position: fixed;
	display: none;	
	bottom:106px; 
	right: 81px;
	@include breakpointsp{
		bottom: 51px;
		right: 15px;
		img{
			width: 50px;
			height: 50px;
		}
	}
}


/* Component button */
.c-groupbtn{
	position: absolute;
	left: 0;
	right: 0;
	top: 54%;
	display: flex;
	justify-content: center;
	@include breakpointsp{
		top: 52.5%;
		display: flex;
		flex-direction: column;
	}
}
.c-btn--calendarpc, .c-btn--phonepc{
	width: 420px;
	height: 90px;
	border: 1px solid #fff;
	border-radius: 50px;
}

.c-btn--calendarpc{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 40px;	
	@include breakpointsp{
		display: none;
	}
}

.c-btn--calendarsp{
	display: none;
	position: relative;
	@include breakpointsp{
		display: block;
		margin-bottom: 10px;
		.c-btn--calendarsp__img{
			img{
				width: 100%;
				height: auto;
			}
		}
		.c-btn--calendarsp__content{
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			display: flex;
			align-items: center;
			justify-content: center;
			.c-btn--calendarsp__img2{
				margin-right: 10px;
			}
			img{
				width: 12px;
				height: 12px;
			}
		}
	}
}

.c-btn--phonepc{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	.c-btn--phonepc__img1__hover, .c-btn--phonepc__img2__hover{
		display: none;
	}
	@include breakpointsp{
		display: none;
	}
}
.c-btn--phonesp{
	display: none;
	position: relative;
	@include breakpointsp{
		position: relative;
		display: block;
		.c-btn--phonesp__img{
			img{
				width: 100%;
				height: auto;
			}
			
		}
		.c-btn--phonesp__content{
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			div{
				line-height: 1;
				img:first-child{
					width: 9.5px;
					height: 11px;
				}
				img:last-child{
					width: 103.5px;
					height: 11px;
				}
			}
		}
	}
}

.c-btn--calendar__text{
	font-size: 2.1rem;
	color: #fff;
	font-weight: 700;
	@include breakpointsp{
		font-size: 1.4rem;
	}
}

.c-btn--phone__text{
	font-size: 1.5rem;
	color: #fff;
	font-weight: 700;
	margin-bottom: 8px;
	@include breakpointsp{
		font-size: 1.4rem;
	}
}

.c-btn--calendar__img{
	margin-right: 18px;
}

.c-btn--phone__grouptext{
	margin-top: 10px;
	p{
		color: #fff;
		font-size: 1.3rem;
		text-align: center;
		letter-spacing: 0.5px;
	}
	@include breakpointsp{
		p{
			font-size: 1rem;
			line-height: 1;
		}
	}
}

.c-btn__arrowpc{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #fff;
	border-radius: 50px;
	width: 480px;
	height: 90px;
	@include breakpointsp{
		display: none;
	}
}

.c-btn__arrowsp{
	display: none;
	position: relative;
	@include breakpointsp{
		display: block;
		.c-btn__arrowsp__img{
			img{
				width: 100%;
				height: auto;
			}
		}
		.c-btn__arrowsp__content{
			position: absolute;
			top: 0;
			right: 15%;
			left: 18%;
			bottom: 0;
			display: flex;
			align-items: center;
			justify-content: center;
		}
		.c-btn__arrowsp__text3{
			width: 205px;
			height: auto;
			margin-right: 10px;
			img{
				width:100%;
				height: auto;
			}
		}
	}
}

.c-btn__arrow__text1{
	display: flex;
	flex-direction: column;
	span{
		font-size: 1.1rem;
		font-weight: 700;
	}
	@include breakpointsp{
		display: flex;
		flex-direction: column;
		width: 90px;
		span{
			font-size: 0.65rem;
			letter-spacing: -1px;
		}
		span:first-child{
			line-height: 1.6;
		}
	}
}

.c-btn__arrowpc__img{
	margin: 0 12px;
}

.c-btn__arrow__text2{	
	border-radius: 50%;
	background-color: #777777;
	width: 50px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	span{
		color: #fff;
		font-size: 1rem;
	}
	@include breakpointsp{
		width: 31px;
		height: 31px;
		span{
			font-size: 0.6rem;
		}
	}
}

.c-btn__arrowsp__text2{
	img{
		width: 92%;
		height: auto;
	}
}

/* Component breakcrum */
.c-breadcrumbborder{
	ul{
		border-top: 1px solid #ccc;
		border-bottom: 1px solid #ccc;
		padding: 20px 0;
		position: relative;
		display: flex;
		align-items: center;
	}
	li::after{
		content: ">";
		position: absolute;
		display: inline-block;
		margin-left: 8px;
		transform: rotate(90deg);
	}
	li{
		border-right: 1px solid #ccc;
		padding-right: 36px;
		color: #4471c6;
		padding-left: 18px;
		&:first-child{
			padding-left: 0;
		}
		&:last-child{
			border-right: 0;
			
		}
	}

	@include breakpointsp{
		margin-top: 30px;
		ul{
			padding: 10px 0;
		}
		li:first-child{
			padding-right: 23px;
		}
		li:last-child{
			padding-left: 6px;
			padding-right: 0;
		}
	}
}



/* Component border */
.c-border{
	border-radius: 5px;
}


/* Component card, cardinfo */

.c-listcard1{
	display: flex;
	justify-content: space-between;
	@include breakpointsp{
		display: block;
	}
}

.c-listcard2{
	display: flex;
	justify-content: space-between;
	@include breakpointsp{
		padding: 0 10px;
		display: flex;
		flex-wrap: wrap;
	}
}
.c-card{
	position: relative;
}

.c-card__imgpc{
	@include breakpointsp{
		display: none;
	}
}

.c-card__imgsp{
	display: none;
	@include breakpointsp{
		display: block;
		img{
			width: 100%;
			height: auto;
		}
	}
}
.c-card1_1{
	@include breakpointsp{
		margin-bottom: 37px;
	}
}

.c-card1_2, .c-card1_3{
	@include breakpointsp{
		width: 49%;
		display: inline-block;
		margin-bottom: 26px;
	}
}
.c-card1_2{
	@include breakpointsp{
		float: left;
	}
}
.c-card1_3{
	@include breakpointsp{
		float: right;
	}
}
.c-card:first-child{
	margin-left: -10px;
	@include breakpointsp{
		margin-left: 0;
	}
}
.c-card:last-child{
	margin-right: -10px;
	@include breakpointsp{
		margin-right: 0;
	}
}
.c-card__numberpc, .c-card__titlepc, .c-card__middlepc, .c-card__botpc,{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	//height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	//justify-content: center;
	@include breakpointsp{
		width: 100%;
		height: auto;
		//padding: 30px 0;
	}
}

.c-card__numbersp, .c-card__titlesp, .c-card__middlesp, .c-card__botsp{
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	//height: 100%;
	
	
	width: 100%;
	img{
		width: 100%;
		height: auto;
	}
	@include breakpointsp{
		display: flex;
		flex-direction: column;
		align-items: center;
		
	}
}
.c-card__numbersp{
	top: -12%;
}
.c-card__titlesp{
	top: 21%;
}
.c-card__middlesp{
	top: 46%;
}
.c-card__botsp{
	top: 69%;
}

.c-card__numberpc{
	top: -44px;
	@include breakpointsp{
		display: none;
	}
}
.c-card__titlepc{
	top: 63px;
	@include breakpointsp{
		display: none;
	}
}
.c-card__middlepc{
	top: 170px;
	@include breakpointsp{
		display: none;
	}
}
.c-card__botpc{
	top: 227px;
	@include breakpointsp{
		display: none;
	}
}




//				//		//
.c-card2{
	position: relative;
	@include breakpointsp{
		width: 48%;
		margin-bottom: 10px;
		.c-card2__img{
			img{
				width: 100%;
				height: auto;
			}
		}
	}
}

.c-card2__title{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	span{
		font-size: 1.8rem;
		color: #ff0000;
		font-weight: 700;
	}
	@include breakpointsp{
		span{
			font-size: 0.9rem;
		}
	}
}

//						//						//

.c-card--imgtext{
	margin: 0 auto;
	display: flex;
	width: 998px;
	height: 286px;
	background-color: #fff;
	border: 1px solid #ccc;
	padding: 30px;
	@include breakpointsp{
		width: auto;
		height: auto;
		display: flex;
		flex-direction: column;
		margin: 0 10px;
		padding: 15px;
	}
}

.c-card--imgtext__img{
	margin-right: 27px;
	@include breakpointsp{
		margin-right: 0;
		width: 55%;
		margin: 0 auto;
		img{
			width: 100%;
			height: auto;
		}
	}
}

.c-card--imgtext__top{
	margin-top: 10px;
	margin-bottom: 12px;
	span{
		font-size: 1.8rem;
		font-weight: 700;
		margin-right: 18px;
	}
	p{
		font-size: 1.5rem;
	}
	@include breakpointsp{
		margin-bottom: 22px;
		span{
			margin-right: 0;
		}
		p{
			font-size: 1.2rem;
		}
	}
}

.c-card--imgtext__toppc__1{
	margin-bottom: 10px;
	@include breakpointsp{
		display: none;
	}
}

.c-card--imgtext__topsp__1{
	display: none;
	@include breakpointsp{
		display: block;
		text-align: center;
		margin-bottom: 5px;
		span{
			font-size: 1.6rem;
			font-weight: 700;
		}
	}
}

.c-card--imgtext__bot{
	background-color: #f0f0f0;
	padding: 23px 25px 23px 48px;
	p{
		position: relative;
		font-size: 1.5rem;
	}
	p::before{
		content: "•";
		color: #33c49d;
		font-size: 3rem;
		display: inline-block;
		height: 0;
		width: 0;
		margin-top: -10px;
		margin-left: -19px;
		position: absolute;
	}
	p:first-child{
		margin-bottom: 4px;
	}
	@include breakpointsp{
		padding: 16px 18px 13px 24px;
		p{
			font-size: 1.2rem;
			line-height: 1.3;
		}
		p::before{
			font-size: 2rem;
			margin-top: -7px;
			margin-left: -12px;
		}
	}
}




/* Component check address */
.c-checkaddress{
	margin-top: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	img{
		margin-right: 8px;
	}
}

/* Component table div */

.c-tablepc{
	table{
		
	}
	@include breakpointsp{
		display: none;
	}
}

.c-tablesp{
	display: none;
	
	.c-tablesp__child{
		display: none;
	}

	@include breakpointsp{
		display: block;
	}
}
.c-rowsp__father{
	display: flex;
	justify-content: space-between;
	align-items: center;	
	padding: 19px 15px;
	width: 100%;
	border: 1px solid #c8c8c8;
	
	.c-columnsp__1{
		//margin-right: 13px;
		font-size: 1.8rem;
		font-weight: 700;
	}	

}

.c-rowsp__father1{
	border-top: none;
}

.c-columnsp__3{
	padding-right: 25px;
}

.c-columnsp__3{	
	width: 20px;
	height: 20px;
	position: relative;
	
}
.c-plus::before, .c-plus::after{
	content: "";
	width: 20px;
	height: 1px;
	background-color: #1287b3;
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	bottom: 0;

	transition: all ease-in-out 500ms;
}
.c-plus::before{
	
}
.c-plus::after{
	transform: rotate(90deg);	
}

.c-rowspopen{
	.c-plus::before{
		opacity: 0;
	}
	.c-plus::after{
		transform: rotate(180deg);	
	}
	.c-tablesp__child{
		display: block;
	}
}



.c-tablesp__child{
	padding: 0 15px;
	margin: 15px 0;
}
.c-rowsp__child{
	display: flex;
	flex-direction: space-between;
	border: 1px solid #c8c8c8;
}

.c-rowsp__child__column1, .c-rowsp__child__column2{
	padding: 10px 0 10px 15px;
}
.c-rowsp__child__column1{
	width: 45%;
	border-right: 1px solid #c8c8c8;	
}

.c-rowsp__child__column2{
	width: 55%;	
}




.c-fee__middle{
	
	td{
		font-size: 1.5rem;
	}
	.c-row:nth-child(odd){
		background-color: #fff;
	}
	.c-row:nth-child(even){
		background-color: #f8f8f8;
	}
	.c-rowtop{
		background-color: #dddddd;
	}
	@include breakpointsp{
		.c-columnsp__2{
			p{
				font-size: 1rem;
				line-height: 1;
			}
		}
		.c-rowsp__child{
			span, p{
				font-size: 1.2rem;
			}
		}
		
	}
}


.c-row , .c-rowtop{
	display: flex;
	border-bottom: 1px solid #c8c8c8;
	p:first-child{
		margin-bottom: 10px;
	}
	
}

.c-column1, .c-column2, .c-column3, .c-column4, .c-column5{
	border-left: 1px solid #c8c8c8;
	padding: 16px 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: #3c3c3c;
}
.c-column1, .c-column3, .c-column4{
	font-weight: 700;
}
.u-pink{
	color: #ff1e5b;
}

.c-column1, .c-column2{
	text-align: left;
}

.c-column1{
	padding-left: 28px;
}
.c-column2{
	padding-left: 64px;
}
.c-column3, .c-column4, .c-column5{
	text-align: center;
}
.c-column5{
	border-right: 1px solid #c8c8c8;
}
.c-column1{
	width: 200px;
}
.c-column2{
	width: 384px;
}
.c-column3, .c-column4, .c-column5{
	width: 284px;
}

.c-rowtop{
	.c-column2, .c-column3, .c-column4, .c-column5{
		border-left: none;
	}
}

.c-column2{
	border-left: none;
}

.c-column3, .c-column4{
	p{
		font-weight: 700;
	}
}

.c-pinkline{
	position: relative;
}
.c-pinkline::after{
	content: "";
	display: inline-block;
	width: 145px;
	height: 1px;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 12px;
	background-color: #ff1e5b;
	margin: 0 auto;
	transform: rotate(-6deg);
}

.c-rowhead{
	background-color: #10222b;
	padding: 13px 0;	
	color: #fff;
	text-align: center;
	font-size: 2rem;
	font-weight: 700;
		
	@include breakpointsp{
		padding: 10px 0;
		p{
			font-size: 1.6rem;
		}
	}
}

/* .c-rowtop,{
	.c-column1, .c-column2, .c-column3, .c-column4, .c-column5{
		padding: 16px 0;
	}
} */
/* Component arrow-down */
.c-arrowdown{
	border: solid #fff;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 2.5px;
    transform: rotate(45deg);
    margin-right: 7px;
    margin-bottom: 2px;
}



/* Component text */
.c-fee__bot{
	display: flex;
	justify-content: flex-start;
	p{
		font-size: 1.5rem;

	}
	
	@include breakpointsp{
		display: flex;
		flex-direction: column;
		.c-bgtext1, .c-bgtext2{
			margin-bottom: 10px;
			p{
				font-size: 1.3rem;
			}
		}
		.c-bgtext1_1, .c-bgtext2_2{
			p{
				font-size: 1.2rem;
				text-align: center;
				line-height: 1;
				letter-spacing: -0.5px;
			}
			
		}
		
		
	}
}

.c-fee__bot_text{
	display: flex;
	div{
		display: flex;
		align-items: center;
	}
	@include breakpointsp{
		display: flex;
		flex-direction: column;
		padding: 0 15px;
		margin-bottom: 15px;
		div{
			display: flex;
			justify-content: center;
		}
	}
}

.c-fee__bot_text:first-child{
	margin-right: 19px;
	@include breakpointsp{
		margin-right: 0;
	}
}

.c-bgtext1{
	padding: 3px 19px;
	font-weight: 700;
	color: #fff;
	background-color: #33c49d;
	margin-right: 12px;
	@include breakpointsp{
		padding: 5px 0;
		margin-right: 0;
	}
}

.c-bgtext2{
	padding: 3px 18px;
	color: #fff;
	font-weight: 700;
	background-color: #0080ae;
	margin-right: 14px;
	@include breakpointsp{
		padding: 5px 0;
		margin-right: 0;
	}
}


/* Component message */
.c-message{
	
	border: 1px solid #CCC;
	border-radius: 5px;
	text-align: center;	
	p{
		padding: 30px 10px;
		line-height: 1.6;
		font-size: 1.4rem;
	}
}
.c-message2{
	padding: 30px 10px;	
	border: 1px solid #37BC9B;
	border-radius: 5px;
	text-align: center;	
	color: #fff;
	background-color: #48CFAD;
	p{
		line-height: 1.6;
		font-size: 1.4rem;
	}
}


/* Component shring content-img */
.c-content{	
	margin-bottom: 120px;
	.c-content__subtitle{
		margin-bottom: 20px;
		img:last-child{
			display: none;
		}
	}
	.c-content__detail{
		display: flex;
		justify-content: space-between;
		p{
			line-height: 1.6;
			letter-spacing: -0.5px;
		}
	}
	.c-content1{
		width: 447px;
		h5{
			color: #4471c6;
			font-weight: 500;
			padding-bottom: 8px;
			border-bottom: 1px solid #4471c6;
			margin-bottom: 15px;
		}
	}
	.c-content1__text1{
		margin-bottom: 7px;
	}
	
	.c-content2{
		width: 490px;
		height: auto;
		margin-top: 5px;
		img{
			width: 100%;
			height: auto;
		}
		img:last-child{
			display: none;
		}
	}
	@include breakpointsp{
		margin-bottom: 30px;
		.c-content__detail{
			display: flex;
			flex-direction: column-reverse;
			p{
				letter-spacing: 0;
			}
		}
		.c-content1{
			width: 100%;
			margin-top: 10px;
			h5{
				padding-bottom: 0;
				margin-bottom: 10px;
			}
		}
		.c-content2{
			width: 100%;
			img:first-child{
				display: none;
			}
			img:last-child{
				display: block;
			}
		}
		.c-content__subtitle{
			margin-bottom: 10px;
			img:first-child{
				display: none;
			}
			img:last-child{
				display: block;
				width: 100%;
				max-width: 580px;
			}
		}
		.c-content1__text1{
			margin-bottom: 0;
		}
	}
	
}
.c-content1__text2{
	div{
		position: relative;
		margin-left: 10px;
		margin-bottom: 4px;
	}
	div::before{
		content: "•";
		color: #4471c6;
		font-size: 2.5rem;
		display: inline-block;
		height: 0;
		width: 0;
		margin-top: -7px;
		margin-left: -12px;
		position: absolute;
	}
}


/* Component button */
.c-btn__pc{
	margin: 38px 0;
	position: relative;
	a{
		border-radius: 40px;
		width: 475px;
		height: 77px;
		background-color: #ff1e5b;
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 0 auto;
		font-size: 1.8rem;
		color: #fff;
	}
	@include breakpointsp{
		display: none;
	}
}
.c-btn__sp{
	display: none;	
	@include breakpointsp{
		display: inline-block;
		width: 100%;
		a{
			position: relative;
			.c-btn__sp__img{
				img{
					width: 100%;
					height: auto;
				}
			}
			.c-btn__sp__content{
				position: absolute;
				top: 0;
				right: 0; 
				bottom: 0;
				left: 0;
				display: flex;
				justify-content: center;
				align-items: center;
				img{
					width: 9px;
					height: auto;
				}
				span:first-child{
					margin-right: 5px;
				}
			}
			.c-btn__text{
				letter-spacing: 0.8px;
				color: #fff;
			}
		}
	}
}
.c-arrowright{
	margin-right: 30px;
}
.c-btn__text{
	letter-spacing: 1px;
	font-weight: 700;
	font-size: 1.8rem;
	@include breakpointsp{
		font-size: 1.2rem;
	}
}

/* Component display */
.c-display--block{
	display: block;
}

.c-display--flex{
	display: flex;
	justify-content: space-between;
}

.c-display--flex__center{
	display: flex;
	justify-content: center;
}


// Component circle line
.c-circleline::after{
	content: "";
	display: inline-block;
	border-top: 1px solid #bdbdbd;
	width: 108px;
	margin-left: -5px;
}


// Component space sp
.c-spspace{
	width: 100%;
	height: auto;
	img{
		width: 100%;
		height: auto;
	}
	@include breakpointsp{
		margin-bottom: 24px;
	}
}


// Component hover
.c-eventhover:hover{
	opacity: 0.6;
	transition: opacity 500ms;
}

.c-lihover:hover{
	a{
		text-decoration: underline;
	}
}

.c-hoverbtn:hover{
	background-color: #fff;
	.c-btn--calendar__text{
		color: #141414;
	}
	.c-btn--calendar__img{
		img{
			background-color: #141414;
		}
	}
	.c-btn--phonepc__img1, .c-btn--phonepc__img2{
		display: none;
	}
	.c-btn--phonepc__img1__hover, .c-btn--phonepc__img2__hover{
		display: inline;
	}
}

// Component contact


// Componnen Map PC
.c-mapcontact{
	display: flex;
	justify-content: space-between;
	position: absolute;
	left: 0;
	right: 0;

	@include breakpointsp{
		display: flex;
		flex-direction: column;
		padding: 0 20px;
	}
}
.c-maptitle{
	span{
		font-size: 5.6rem;
		text-align: left;
	}
	@include breakpointsp{
		text-align: center;
		
		span{
			font-size: 2.8rem;
			letter-spacing: 1.5px;
		}
	}	
}

#c-pcmap{
	margin-top: 55px;
	margin-right: 40px;
	width: 100%;
	//max-width: 1100px;
	min-width: 860px;
	max-height: 480px;
	iframe{
		width: 100%;
	}
	@include breakpointsp{
		display: none;
	}
}

#c-spmap{
	display: none;
	@include breakpointsp{
		display: block;
		height: 258px;
	}
}

.c-contact{
	width: 100%;	
	min-width: 540px;
	max-width: 780px;
	height: 418px;
	background-color: #10222b;
	margin-top: -42px;
	padding: 83px 0 54px 60px;
	@include breakpointsp{
		min-width: auto;
		max-width: auto;
		height: auto;
		margin-top: 0;
		padding: 16px 15px 12px 15px;
	}
}

.row{
	border-bottom: 1px solid #636f75;
	display: flex;
	padding: 7px 0;
	width: 480px;
	span, p{
		font-size: 1.5rem;
		font-weight: 700;
		color: #fff;
	}
	@include breakpointsp{
		display: flex;
		flex-direction: column;
		align-items: center;
		width: auto;
		padding: 11px 0;
		span{
			font-size: 1.4rem;
		}
		p{
			font-size: 1.2rem;
			font-weight: 500;
		}
		&:last-child{
			border-bottom: 0;
		}
	}
}

.column1{
	width: 155px;
	display: flex;	
	span:first-child{
		margin-right: 4px;
		margin-top: 4px;
		line-height: 1;
	}
	span:last-child{
		line-height: 1.6
	}
	@include breakpointsp{
		width: auto;
		display: flex;
		justify-content: center;
		margin-bottom: 5px;
		.c-icon__contact{
			display: none;
		}
		span:last-child{
			line-height: 1;
		}
	}
}

.c-row__title{
	@include breakpointsp{
		display: flex;
	}
}


.column2{
	padding-left: 10px;
	p{
		letter-spacing: 1px;
	}
	@include breakpointsp{
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-left: 0;
		p{
			letter-spacing: 0.5px;
		}
	}
}

/* Component copyright */


// Menu toggle
#menu-toggle {
	width: 30px;
	height: 30px;   
    display: block;
    cursor: pointer;
    position: absolute;
    z-index: 100;
    top: 11px;
    //left: 0;
   // bottom: 0;
    right: 15px;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    background-color: #4471c6;
    .hamburger,
    .hamburger::before,
    .hamburger::after {
        content: "";
        width: 15px;
        height: 2px;
        background-color: #000;
        display: block;
        transition: all ease-in-out 500ms;
        //background-color: #fff;
    }
    .hamburger{
		margin-top: 20px;
		margin-left: 12px;
    }
    .hamburger::before {
        transform: translateY(-6px);
    }
    .hamburger::after {
        transform: translateY(4px);
    }
    .open {
        transform: rotate(45deg);
        &::before {
            opacity: 0;
        }
        &::after {
            transform: translateY(-2px) rotate(90deg);
        }
    }
}
