/* Component footer */


.c-footer__contact{
	padding: 63px 0 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	.c-contact_imgpc{
		display: block;
	}
	.c-contact_imgsp{
		display: none;
	}
	.c-contact__text{
		text-align: center;
		p{
			color: #585550;
		}
	}
	.c-contact__info{
		h4{
			color: #585550;
			text-align: center;
		}
	}
	@include breakpointsp{
		padding: 43px 0 43px;
		.c-contact_imgpc{
			display: none;
		}
		.c-contact_imgsp{
			display: block;
			margin-bottom: 0;
			img{
				width: 100%;
			}
		}
		.c-contact__text{
			p{
				font-size: 1.3rem;
			}
		}
		.c-contact__info{
			width: 100%;
			h4{
				margin-top: 19px;
			}
		}
	}

}
.c-contact__number{
	display: flex;
	justify-content: center;

	.c-contact__numberpc__1, .c-contact__numberpc__2{
		display: flex;
		align-items: center;
		>span{
			color: #585550;
			letter-spacing: 3px;
			font-weight: bold;
			line-height: 1.6;
		}
	}
	.c-contact__numberpc__1{
		margin-right: 20px;
	}
	
	.c-contact__numbersp__1, .c-contact__numbersp__2{
		display: none;
	}
	
	@include breakpointsp {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		.c-contact__numberpc__1, .c-contact__numberpc__2{
			display: none;
		}
		.c-contact__numbersp__1, .c-contact__numbersp__2{
			display: block;
		}
		.c-contact__numbersp__1{
			width: 100%;
			margin-top: 6px;
			a{
				position: relative;
			}
		}
		.c-contact__numbersp__2{
			margin-top: 10px;
		}
		.c-btnspphone__number__2{
			display: flex;
			align-items: center;
			img{
				margin-right: 2px;
			}
		}
		
		.c-phonespmenu__text{
			margin-top: 9px;
		}
		.c-btnspphone__number__2{
			img{
				width: 12px;
				height: 12px;
			}
		}
		.c-spphonenumber1, .c-spphonenumber2{
			letter-spacing: 2px;
			font-weight: bold;
		}
		.c-spphonenumber2{
			color: #585550;
		}
		span{
			line-height: 1;
		}
	}
}


.c-btnspphone{
	width: 100%;
	height: auto;
	img{
		width: 100%;
		height: auto;
	}

}
.c-btnspphone__detail{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	div{
		display: flex;
		img{
			width: 7.5px;
			height: 15px;
		}
	}
}

.c-footermap{
	img{
		width: 100%;
	}
	img:first-child{
		display: block;
	}
	img:last-child{
		display: none;
	}
	@include breakpointsp{
		width: 100%;

		img:first-child{
			display: none;
		}
		img:last-child{
			display: block;
			width: 100%;
		}
	}
}

.c-footernav__inner{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 105px;
	@include breakpointsp{
		height: auto;
		.c-copyrightpc{
			display: none;
		}
	}
}

.c-fnavipc{
	margin-bottom: 20px;
	margin-top: 5px;
	ul{
		display: flex;
		justify-content: center;
	}
	li{
		border-right: 1px solid #fff;
		&:last-child{
			border-right: 0;
		}
		
	}
	a{
		color: #fff;
		padding: 0 12px;
	}
	@include breakpointsp{
		display: none;
	}
}


.c-copyrightpc{
	p{
		color: #fff;
		font-size: 1rem;
	}
	
}


.c-copyrightpc{
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 13px 0;
	@include breakpointsp{
		display: none;
	}
}


.c-copyrightsp{
	display: none;
	@include breakpointsp{
		display: block;
		img{
			width: 100%;
			height: auto;
		}
	}
}
