/* Component header */
@import "mixin";// breakpoint sp
@import "vars";	// variable
.only-pc{
	width: 100%;
	min-width: 1440px;


	@include breakpointsp{
		display: none;
	}
}

.c-headpc{
	position: relative;
	width: 100%;
	min-width: 1440px;
}
.c-headpc__img{
	width: 100%;
	img{
		width: 100%;
		height: auto;
	}
}
.c-headpc__banner{
	position: absolute;
	top: 28.5%;
	right: 0;
	bottom: 0;	
	margin-right: 128px;
	//background-color: #fff;
	width: 930px;
	height: 345px;
	>div{
		display: flex;
		align-items: center;
	}
}
.c-banner__left{
	width: 192px;
}
.banner__left_title{
	h2{
		line-height: 1;
	}
}

.c-headpc__banner__top{
	background-color: #fff;
	padding-bottom: 5px;
}

.c-banner__1{
	margin: 40px 0 40px 40px;
	img{
		width: 100%;
		height: auto;
	}
}
.c-banner__2{
	margin-top: 14px;
	margin-right: 27px;
	p{
		padding: 2px 40px;
		background-color: #0080ae;
		margin-left: 6px;
		text-align: center;
		display: inline-block;
		color: #fff;
		font-weight: bold;
	}
}
.banner__left_title{
	h2, h3{

	}
}
.c-banner__3{
	position: relative;
	margin-right: 18px;
	p{
		position: absolute;
		left: 0;
		top: 8%;
		font-size: 2rem;
		font-weight: bold;
		letter-spacing: 9px;
	}
	div{
		img{
			width: 100%;
			height: auto;
		}
	}
}
.c-banner__4{
	background-color: #777777;
	border-radius: 50%;
	width: 120px;
	height: 120px;
	margin-top: 10px;
	p{
		margin-top: 44px;
		margin-left: 13px;
		font-size: 2.4rem;
		font-weight: bold;
		color: #fff;
	}
}

.c-headpc__banner__bot{
	width: 100%;	
	div{
		img{
			width: 100%;
			height: auto;
		}
	}
}


/* Component navi */
.c-navi{
	width: 100%;
	ul{		
		height: 100px;
		margin: 0 auto;
		display: flex;
		justify-content: flex-end;
		position: relative;
	}

	li{
		margin-right: 35px;
		
	}
	li::before{
		/* content: "";
		border-left: 1px solid #ccc;
		height: 30px;
		display: inline-block;
		margin-top: 20px;
		position: absolute; */
	}

	li:last-child{
		margin-right: 55px;
	}
	
	li:hover{
		background-color: #4471c6;
		a{
			color: #fff;
		}
	}
	a{
		font-size: 1.8rem;
		display: flex;
		justify-content: center;
		align-items: center;
		color: #3c3c3c;
		height: 100px;
		letter-spacing: 2px;
		//border-left: 1px solid #ccc;
		span{
			margin-right: 7px;
		}
	}
}

/* Component listtop */
.c-listtop{
	ul{
		display: flex;
		li{
			margin-left: 20px;
		}
		a{
			font-size: 1.6rem;
			color: #333;
		}
	}
}

/* Component breadcrumb */
.c-breadcrumbheader{
	padding: 30px 0;
	margin-bottom: 30px;
	ul{	
		display: flex;
	}
	li{
		font-size: 1.2rem;
		line-height: 1;
	}
	a{
		color: #333333;
		font-size: 1.2rem;
		display: inline-block;
		line-height: 1;
	}
	li:first-child{
		a{
			color: #4471c6;
		}
		
	}
	
	li::after{
		content: "›";		
		display: inline-block;
		margin: 0 7px;
	}
	li:last-child::after{
		content: "";
	}
	@include breakpointsp{
		display: none;
	}
}




// SP only
.only-sp{
	display: none;
	@include breakpointsp{
		display: block;
	}
}
.c-headsp{
	width: 100%;
}

.c-headsp__top{
	display: flex;
	width: 100%;
}

.c-headsp__left{
	max-width: 195px;
	width: 100%;
}
.c-headsp__top__left{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #1287b3;
	width: 49%;
	img{
		width: 100%;
		height: auto;
	}
	
}


.c-headsp__left__text1{
	position: relative;
	
	p{
		position: absolute;
		top: 10%;
		left: 18%;
		right: 0;
		font-size: 0.7rem;
		font-weight: 700;
		color: #0080ae;
	}
}

.c-headsp__left__text1__img{
	width: 96px;
	img{
		width: 100%;
	}
}

.c-headsp__left__text2{
	p{
		color: #fff;
		font-weight: 700;
		line-height: 1;
		letter-spacing: -1px;
	}
	p:first-child{
		font-size: 1.7rem;
	}
	p:last-child{
		font-size: 2.4rem;
	}
}

.c-headsp__top__right{
	width: 51%;
	.c-top__right__1__img, .top__right__2__img, .c-top__right__1__title, .c-top__right__2__title{
		img{
			width: 100%;
			height: auto;
		}
	}
	.c-headsp__top__right__1, .c-headsp__top__right__2{
		position: relative;
	}
	.c-top__right__1__title, .c-top__right__2__title{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}

}

.c-headsp__bot{
	width: 100%;
	height: auto;
	img{
		width: 100%;
		height: auto;
	}
}


.c-headsp__bot__img{
	width: 100%;
	height: auto;
	img{
		width: 100%;
	}
}

.c-headsp__bot__content{
	position: relative;
	margin-top: -57%;
	padding: 0 10px;
}

.c-headsp__bot__img2{
	width: 100%;
	height: auto;
	margin: 0 auto;
	img{
		width: 100%;
		height: auto;
	}
}

.c-headsp__bot__text1, .c-headsp__bot__text2{
	position: absolute;
	top: 17%;
	left: 14%;
	letter-spacing: 5px;
}

.c-headsp__bot__text1{
	p{
		font-size: 10px;
		font-weight: bold;
	}
}

.c-headsp__bot__text2{
	top: 69%;
	left: 39%;
	p{
		font-size: 1.6rem;
		color: #3e3a39;
	}
	@include breakpointsp{
		p{
			font-weight: 700;
			letter-spacing: 0.5px;
		}
	}
}