@import "mixin";
@charset "UTF-8";
// レイアウト用css for Layout
// Can use id, If you use class Please adding prefix .l- 
/*------------------------------------------------------------
	Layout
------------------------------------------------------------*/
/* Layout content */
.l-content{
	width: 100%;
	height: auto;
	min-width: 1440px;
	@include breakpointsp{
		width: 100%;
		min-width: auto;
	}
}



.l-content__inner{
	width: 1440px;
	height: 100%;
	margin: 0 auto;
	@include breakpointsp{
		width: 100%;
		padding: 0 10px;
	}
}





 /* Layout main */


/* Layout sidebar */


/* body {
	min-width: 800px;
	ウインドウ幅で横スクロール時に背景が切れるバグ対策でコンテンツと同じ幅を指定
	line-height: 1.5;
	text-align: center;
} */

/* #container {
	margin: 0 auto;
	width: 800px;
	background-color: #fff;
	text-align: left;
} */

/* .l-main {
	margin-bottom: 10px;
	font-size: 1.4rem;
	@include cf;
	// @extend %cf;
} */

/*------------------------------------------------------------
	header
------------------------------------------------------------*/
/* #header {
	margin-bottom: 10px;
	padding: 5px 10px 10px;
	background-color: #efefef;
	position: relative;
	h1 {
		margin: 0 150px 5px 0;
		font-size: 1.1rem;
		font-weight: normal;
	}
} */

/*------------------------------------------------------------
	Navi
------------------------------------------------------------*/
/* #gNavi {
	margin-bottom: 10px;
	li {
		width: 160px;
		background-color: #efefef;
		float: left;
		a {
			padding: 10px 0;
			display: block;
			text-decoration: none;
			text-align: center;
		}
	}
} */

/*------------------------------------------------------------
	Breadcrumbs
------------------------------------------------------------*/
/* #pagePath {
	margin-bottom: 10px;
	li {
		margin-right: 2px;
		display: inline;
		a {
			margin-right: 5px;
		}
	}
} */

/*------------------------------------------------------------
	contentc
------------------------------------------------------------*/
/* #conts {
	width: 580px;
	float: left;
} */

/*------------------------------------------------------------
	side
------------------------------------------------------------*/

/* #sideBar {
	padding: 50px 0;
	width: 200px;
	background-color: #efefef;
	float: right;
}
 */
/*------------------------------------------------------------
	footer
------------------------------------------------------------*/

/* #footer {
	padding: 10px 10px 5px;
	background-color: #efefef;
} */