@charset "UTF-8";
// HTML5か否か
$use-html5: true;

// サポートブラウザの設定
$support-ie6: false;
$support-ie7: false;
$support-ie8: false;
$support-ie9: false;
$support-mozilla: true;
$support-webkit : true;
$support-opera  : false;

// ベンダープレフィックスの設定
$set_prefix: -webkit-, -moz-, -ms-, '';

/* Color text */
$color-red: #F00;
$color-red2: #e13939;
$color-green: #8CC152;
$color-white: #fff;
$color-cyanblue: #5D9CEC;
$color-pink: #ff1e5b;
$color-lightblue: #3BAFDA;
$color-darkgray:#434A54;
$color-gray: #bdbdbd;
$color-lightgray: #f6f6f6; 
$color-purple: #4471c6;
$color-lightblack: #333333;



// Breakpoint sp
$breakpointsp: 768px;