// Code pc
@import "mixin";// breakpoint sp
@import "vars";	// variable
.cardgroup{
	background: url("../img/pc/pc_bg.jpg") no-repeat top center;
	background-size: 100% 100%;
	margin-top: -616px;
	overflow: hidden;
	.l-content__inner{
		padding: 100px 0 94px;
	}
	@include breakpointsp{
		margin-top: -7%;
		.l-content__inner{
			padding: 53px 10px 50px;
		}
	}
}

.p-shin1{
	margin-bottom: 120px;

	@include breakpointsp{
		margin-top: 28px;
		margin-bottom: 50px;
		.c-card1_2, .c-card1_3{
			.c-card__titlesp{
				top: 18%;
			}
			.c-card__middlesp{
				top: 42%;
			}
			.c-card__botsp{
				top: 61%;
			}
		}
	}
}


.p-shin2{
	margin-bottom: 133px;
	.c-fee__middle{
		margin-bottom: 18px;
	}
	@include breakpointsp{
		margin-bottom: 33px;
		.c-fee__middle{
			margin-bottom: 15px;
		}
		.l-content__inner{
			padding: 0;
		}
		.c-toptitle__img{
			img{
				width: 56px;
				height: 34px;
			}
		}

	}
}

.p-shin3{
	position: relative;
	.c-resevation__imgpc{
		width: 100%;
		height: auto;
		img{
			width: 100%;
			height: auto;
		}
	}
	.c-resevation__imgsp{
		display: none;
	}
	@include breakpointsp{
		margin-bottom: 38px;
		.c-resevation__imgpc{
			display: none;
		}
		.c-resevation__imgsp{
			display: block;
			img{
				width: 100%;
				height: auto;
			}
		}
	}
	
}

.p-shin4{
	margin-top: -11px;
	margin-bottom: 122px;
	position: relative;
	@include breakpointsp{
		margin-top: 0;
		margin-bottom: 50px;
		.c-title{
			margin-bottom: 26px;
		}
		.c-title__imgsp{
			width: 139px;
			height: 33px;
		}
	}

}

.p-shin5{
	margin-bottom: 125px;
	.c-title{
		margin-bottom: 50px;
	}
	@include breakpointsp{
		margin-bottom: 42px;
		.c-title{
			margin-bottom: 25px;
		}
		.c-title__imgsp{
			width: 87px;
			height: 35px;
		}

	}
}

.p-shin6{
	position: relative;
}

.p-shin7{
	margin-top: 634px;
	background-color: #eeeeee;
	.l-content__inner{
		padding: 100px 0 96px;
	}
	@include breakpointsp{
		margin-top: 674px;
		.l-content__inner{
			padding: 39px 0 37px;
		}
	}

}

.p-shin8{
	background-color: #33c49d;
	.l-content__inner{
		padding: 50px 0 55px;
	}
	.c-text{
		margin-top: 27px;
	}
	@include breakpointsp{
		.l-content__inner{
			padding: 30px 10px 27px;
		}
		.c-text{
			margin-top: 22px;
		}
	}
}

.p-shin9{
	background-color: #3c3c3c;
}



@include breakpointsp{
	
}

