@charset "UTF-8";
/* Color text */
/*------------------------------------------------------------
	Default
------------------------------------------------------------*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header, button,
hgroup, menu, nav, section,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 1.4rem;
}

html {
  font-size: 62.5%;
}

body, table,
input, textarea, select, option, button,
h1, h2, h3, h4, h5, h6 {
  font-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

h2 {
  font-size: 2.2rem;
  line-height: 1;
}

h3 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.6rem;
}

h5 {
  font-size: 1.4rem;
}

table,
input, textarea, select, option {
  line-height: 1.1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

:focus {
  outline: 0;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

img {
  vertical-align: top;
}

a {
  text-decoration: none;
  display: block;
}

p {
  line-height: 1.6;
}

@media (max-width: 767px) {
  h2 {
    font-size: 1.6rem;
    line-height: 1;
  }
  h3 {
    font-size: 1.4rem;
  }
  h4 {
    font-size: 1.4rem;
  }
  p {
    font-size: 1.2rem;
  }
}

/*------------------------------------------------------------
	Text Format
------------------------------------------------------------*/
/* text position */
.taLeft {
  text-align: left !important;
}

.taCenter {
  text-align: center !important;
}

.taRight {
  text-align: right !important;
}

.vTop {
  vertical-align: top !important;
}

.vMiddle {
  vertical-align: middle !important;
}

/* font weight */
.fwNormal {
  font-weight: normal !important;
}

.fwBold {
  font-weight: bold !important;
}

/*------------------------------------------------------------
	adjustment class ※ no use frequently
------------------------------------------------------------*/
.mt0 {
  margin-top: 0 !important;
}

.mb0 {
  margin-bottom: 0 !important;
}

/*------------------------------------------------------------
	clearfix（float解除）
------------------------------------------------------------*/
.clearfix {
  *zoom: 1;
}

.clearfix:after {
  display: block;
  clear: both;
  content: "";
}

/*------------------------------------------------------------
	for tracking tag
------------------------------------------------------------*/
.trackTags {
  display: none;
}

/* Color for text */
.u-red {
  color: #F00;
}

.u-pink {
  color: #DA4453;
}

.u-white {
  color: #fff;
}

.u-green {
  color: #8CC152;
}

.u-cyanblue {
  color: #5D9CEC;
}

.u-lightblue {
  color: #3BAFDA;
}

.u-bgcyanblue {
  background-color: #5D9CEC;
}

.u-bg-darkgray {
  background-color: #434A54;
}

.u-bggray {
  background-color: #E6E9ED;
}

.u-fontsize14 {
  font-size: 1.4rem;
}

.u-fontsize12 {
  font-size: 1.2rem;
}

/*------------------------------------------------------------
	Layout
------------------------------------------------------------*/
/* Layout content */
.l-content {
  width: 1050px;
  margin: 0 auto;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 767px) {
  .l-content {
    display: block;
    width: 100%;
  }
}

/* Layout main */
.l-main {
  width: 800px;
  margin-top: 50px;
}

@media (max-width: 767px) {
  .l-main {
    padding: 0 10px;
    width: 100%;
    margin-top: 20px;
  }
}

/* Layout sidebar */
.l-side {
  width: 220px;
  margin-top: 50px;
}

@media (max-width: 767px) {
  .l-side {
    padding: 0 10px;
    width: 100%;
    margin-top: 20px;
  }
}

/* body {
	min-width: 800px;
	ウインドウ幅で横スクロール時に背景が切れるバグ対策でコンテンツと同じ幅を指定
	line-height: 1.5;
	text-align: center;
} */
/* #container {
	margin: 0 auto;
	width: 800px;
	background-color: #fff;
	text-align: left;
} */
/* .l-main {
	margin-bottom: 10px;
	font-size: 1.4rem;
	@include cf;
	// @extend %cf;
} */
/*------------------------------------------------------------
	header
------------------------------------------------------------*/
/* #header {
	margin-bottom: 10px;
	padding: 5px 10px 10px;
	background-color: #efefef;
	position: relative;
	h1 {
		margin: 0 150px 5px 0;
		font-size: 1.1rem;
		font-weight: normal;
	}
} */
/*------------------------------------------------------------
	Navi
------------------------------------------------------------*/
/* #gNavi {
	margin-bottom: 10px;
	li {
		width: 160px;
		background-color: #efefef;
		float: left;
		a {
			padding: 10px 0;
			display: block;
			text-decoration: none;
			text-align: center;
		}
	}
} */
/*------------------------------------------------------------
	Breadcrumbs
------------------------------------------------------------*/
/* #pagePath {
	margin-bottom: 10px;
	li {
		margin-right: 2px;
		display: inline;
		a {
			margin-right: 5px;
		}
	}
} */
/*------------------------------------------------------------
	contentc
------------------------------------------------------------*/
/* #conts {
	width: 580px;
	float: left;
} */
/*------------------------------------------------------------
	side
------------------------------------------------------------*/
/* #sideBar {
	padding: 50px 0;
	width: 200px;
	background-color: #efefef;
	float: right;
}
 */
/*------------------------------------------------------------
	footer
------------------------------------------------------------*/
/* #footer {
	padding: 10px 10px 5px;
	background-color: #efefef;
} */
/* Component header */
.c-headPC__inner {
  height: 80px;
  width: 1050px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* Component navi */
.c-navi {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  width: 100%;
}

.c-navi ul {
  width: 1050px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.c-navi li {
  border-left: 1px solid #ccc;
}

.c-navi li:last-child {
  border-right: 1px solid #ccc;
}

.c-navi a {
  font-size: 1.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #333;
  background-color: #efefef;
  height: 40px;
}

/* Component listtop */
.c-listtop ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.c-listtop ul li {
  margin-left: 20px;
}

.c-listtop ul a {
  font-size: 1.6rem;
  color: #333;
}

/* Component breadcrumb */
.c-breadcrumbheader {
  border-bottom: 1px solid #ccc;
  width: 100%;
  padding: 10px 10px;
}

.c-breadcrumbheader ul {
  width: 1050px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.c-breadcrumbheader li {
  font-size: 1.2rem;
  line-height: 1;
}

.c-breadcrumbheader a {
  color: #333;
  text-decoration: underline;
  font-size: 1.2rem;
  display: inline-block;
  line-height: 1;
}

.c-breadcrumbheader li:last-child a {
  text-decoration: none;
}

.c-breadcrumbheader li::after {
  content: "›";
  display: inline-block;
  margin: 0 7px;
}

.c-breadcrumbheader li:last-child::after {
  content: "";
}

@media (max-width: 767px) {
  .c-breadcrumbheader ul {
    width: 100%;
  }
  .c-breadcrumbheader a {
    font-size: 1rem;
  }
}

.sp-only {
  width: 100%;
  height: 60px;
  border-bottom: 1px solid #CCC;
  position: fixed;
  top: 0;
  background-color: #fff;
}

.c-headSP__inner {
  padding: 10px 0 10px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.c-navisp {
  width: 100%;
  top: 60px;
  left: 0;
  position: absolute;
}

.c-navisp li {
  display: block;
  border-bottom: 1px solid #ccc;
}

.c-navisp a {
  font-size: 1.2rem;
  padding: 10px;
  display: block;
  color: #333;
  background-color: #fff;
}

/* Component image */
/* Component list */
.c-listlink {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 30px;
}

.c-listlink p {
  padding: 12px 10px;
  background-color: #E6E9ED;
  border-bottom: 1px solid #ccc;
  line-height: 1;
}

.c-listlink ul {
  padding: 13px 10px;
}

.c-listlink li:first-child {
  border-top: 1px solid #ccc;
}

.c-listlink li {
  border-bottom: 1px solid #ccc;
}

.c-listlink li:active a {
  color: #F00;
}

.c-listlink li:hover a {
  opacity: 0.9;
  -webkit-transition: opacity 500ms;
  transition: opacity 500ms;
}

.c-listlink a {
  font-size: 1.3rem;
  padding: 12px 10px;
  color: #551a8b;
}

.c-listlink--noborder p {
  padding: 12px 10px;
  background-color: #E6E9ED;
  border-bottom: 1px solid #ccc;
}

.c-listlink--noborder li:first-child {
  border-top: 1px solid #ccc;
}

.c-listlink--noborder li {
  border-bottom: 1px solid #ccc;
}

.c-listlink--noborder a {
  font-size: 1.3rem;
  padding: 12px 10px;
  color: #551a8b;
}

.c-listbanner {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 30px;
}

.c-listbanner p {
  background-color: #E6E9ED;
  padding: 12px 10px;
  border-bottom: 1px solid #ccc;
  line-height: 1;
}

.c-listbanner ul {
  padding: 13px 10px;
}

.c-listbanner li {
  margin-top: 15px;
}

.c-listbanner li:first-child {
  margin-top: 0;
}

.c-listbanner li:hover {
  opacity: 0.6;
  -webkit-transition: opacity 500ms;
  transition: opacity 500ms;
}

.c-listbanner--noborder p {
  background-color: #E6E9ED;
  padding: 12px 10px;
  border-bottom: 1px solid #ccc;
}

.c-listbanner--noborder li {
  margin-top: 15px;
}

.c-listbanner--noborder li:first-child {
  margin-top: 0;
}

.c-listbanner--noborder a {
  display: inline-block;
}

.c-listbanner--noborder a:hover {
  opacity: 0.6;
  -webkit-transition: opacity 500ms;
  transition: opacity 500ms;
}

.c-listtext--disc {
  margin-bottom: 30px;
}

.c-listtext--disc ul {
  margin-left: 17px;
  list-style-type: disc;
}

.c-listtext--disc li {
  font-size: 1.6rem;
}

.c-listtext--disc li:last-child {
  list-style-type: none;
}

.c-listtext--number ul {
  margin-left: 17px;
  list-style-type: decimal;
}

.c-listtext--number li {
  font-size: 1.6rem;
}

.c-listtext--number li:last-child {
  list-style-type: none;
}

.c-listfoot li {
  margin-top: 6px;
}

.c-listbutton ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.c-listbutton li {
  width: 180px;
}

.c-listbutton li:hover a {
  background-color: #3BAFDA;
  -webkit-transition: background-color 500ms;
  transition: background-color 500ms;
}

.c-listbutton a {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #4FC1E9;
  border-radius: 5px;
  height: 38px;
  font-size: 1.2rem;
}

@media (max-width: 767px) {
  .c-listbutton ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .c-listbutton li {
    width: 49%;
    margin-bottom: 10px;
  }
  .c-listbutton li:nth-child(odd) {
    margin-right: 2%;
  }
}

/* Component title */
.c-title2 {
  border-bottom: 1px solid #ccc;
  min-width: 1050px;
  height: 101px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767px) {
  .c-title2 {
    height: 71px;
    min-width: 100%;
    margin-top: 60px;
  }
}

.c-title2__inner {
  width: 1050px;
  margin: 0 auto;
}

.c-title2__inner p {
  line-height: 1;
}

@media (max-width: 767px) {
  .c-title2__inner p {
    font-size: 1rem;
  }
}

.c-title3 {
  border-bottom: 1px solid #333;
  padding-bottom: 12px;
  margin-bottom: 20px;
}

.c-title3--bordergreen {
  border-bottom: 1px solid #8CC152;
}

.c-title4--bordergreen {
  border-left: 8px solid #8cc152;
  margin-bottom: 10px;
}

.c-title4--bordergreen h4 {
  padding-left: 15px;
}

.c-title4--borderorange {
  border-left: 8px solid #F6BB42;
}

.c-title4--borderorange h4 {
  padding-left: 15px;
}

.c-title4--borderred {
  border-left: 8px solid #E9573F;
}

.c-title4--borderred h4 {
  padding-left: 15px;
}

.c-title5 {
  margin-bottom: 10px;
}

.c-titlebanner--black {
  font-size: 1.6rem;
  line-height: 1;
  color: #fff;
  background-color: #000;
  padding: 6px 0 6px 15px;
  margin: 40px 0 20px;
  border-radius: 5px;
}

.c-titlebanner--darkgray {
  font-size: 1.3rem;
  line-height: 1;
  color: #fff;
  background-color: #888;
  padding: 6px 0 6px 30px;
  margin: 20px 0;
  border-radius: 5px;
}

.c-titlebanner--gray {
  font-size: 1.3rem;
  line-height: 1;
  color: #000;
  background-color: #ddd;
  padding: 6px 0 6px 35px;
  margin: 20px 0;
  border-radius: 5px;
}

/* Component text */
/* Component table */
.ctable1 {
  margin-bottom: 30px;
  width: 100%;
  border: 1px solid #cccccc;
  border-collapse: collapse;
}

.ctable1 th, .ctable1 td {
  border: 1px solid #cccccc;
  border-collapse: collapse;
}

.ctable1 thead th {
  background-color: #8cc152;
  color: #fff;
  font-size: 1.4rem;
  text-align: center;
  padding: 10px 0;
  font-weight: 700;
}

.ctable1 tbody th {
  text-align: center;
  font-size: 1.4rem;
  font-weight: normal;
  padding: 10px 0;
}

.ctable1 tbody td {
  font-size: 1.4rem;
  text-align: center;
  padding: 10px 0;
}

.ctable2 {
  margin-bottom: 30px;
  width: 100%;
  border: 1px solid #cccccc;
  border-collapse: collapse;
}

.ctable2 th, .ctable2 td {
  border: 1px solid #cccccc;
  border-collapse: collapse;
}

.ctable2 tbody th {
  background-color: #e6e9ed;
  text-align: center;
  font-size: 1.4rem;
  font-weight: normal;
}

.ctable2 tbody td {
  font-size: 1.4rem;
  text-align: center;
  padding: 10px 0;
}

@media (max-width: 767px) {
  .ctable2 tr, .ctable2 th, .ctable2 td {
    display: block;
  }
}

/* Component img-text */
.c-imgtext {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.c-imgtext--border {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #CCC;
  padding: 15px 15px;
}

.c-imgtext--border .c-imgtext__img {
  margin-right: 10px;
}

.c-imgtext--border .c-imgtext__img--right {
  margin-right: 0;
  margin-left: 10px;
}

/* Component line */
.c-line1 {
  position: relative;
  color: #CCC;
  height: 0;
  margin: 30px 0;
}

.c-line1 hr {
  background-color: #CCC;
}

.c-line1 hr:after {
  content: "§";
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: inline-block;
  padding: 0 5px;
  color: #bbb;
  background-color: #fff;
}

.c-line2 {
  position: relative;
  color: #CCC;
  height: 0;
}

.c-line2 hr {
  border-top: 1px solid 	#CCC;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  background-color: #CCC;
}

.c-line2 hr:after {
  content: "§";
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: inline-block;
  padding: 0 5px;
  color: #bbb;
  background-color: #fff;
}

/* Component card, cardinfo */
.c-listcard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 767px) {
  .c-listcard .c-cardsmall:nth-child(odd) {
    margin-right: 2%;
  }
  .c-listcard .c-cardsmall:nth-child(even) {
    margin-right: 0;
  }
  .c-listcard .c-cardmedium:nth-child(odd) {
    margin-right: 2%;
  }
  .c-listcard .c-cardmedium:nth-child(even) {
    margin-right: 0;
  }
}

.c-cardsmall {
  margin-right: 20px;
  margin-bottom: 20px;
  width: 185px;
}

.c-cardsmall:nth-child(4) {
  margin-right: 0;
}

.c-cardsmall .card-img {
  width: 185px;
  height: 180px;
}

.c-cardsmall .card-img img {
  width: 100%;
  height: auto;
}

.c-cardsmall .c-cardinfo {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.c-cardsmall .c-cardinfo .c-cardinfo__img {
  margin-right: 10px;
}

.c-cardsmall .c-cardinfo img {
  width: 50px;
  height: 50px;
}

.c-cardsmall .c-cardinfo p {
  font-size: 1.2rem;
}

@media (max-width: 767px) {
  .c-cardsmall {
    width: 49%;
  }
  .c-cardsmall .card-img {
    width: 100%;
    height: auto;
  }
}

.c-cardmedium {
  margin-right: 20px;
  margin-bottom: 20px;
  width: 253px;
}

.c-cardmedium:nth-child(3) {
  margin-right: 0;
}

.c-cardmedium:nth-child(6) {
  margin-right: 0;
}

.c-cardmedium .card-img {
  width: 253px;
  height: 180px;
}

.c-cardmedium .card-img img {
  width: 100%;
  height: auto;
}

.c-cardmedium .c-cardinfo {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.c-cardmedium .c-cardinfo .c-cardinfo__img {
  margin-right: 10px;
}

.c-cardmedium .c-cardinfo img {
  width: 50px;
  height: 50px;
}

.c-cardmedium .c-cardinfo p {
  font-size: 1.2rem;
}

@media (max-width: 767px) {
  .c-cardmedium {
    width: 49%;
  }
  .c-cardmedium .card-img {
    width: 100%;
    height: auto;
  }
}

/* Component arrow-down */
.c-arrowdown {
  border: solid #fff;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 2.5px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin-right: 7px;
  margin-bottom: 2px;
}

/* Component message */
.c-message {
  border: 1px solid #CCC;
  border-radius: 5px;
  text-align: center;
}

.c-message p {
  padding: 30px 10px;
  line-height: 1.6;
  font-size: 1.4rem;
}

.c-message2 {
  padding: 30px 10px;
  border: 1px solid #37BC9B;
  border-radius: 5px;
  text-align: center;
  color: #fff;
  background-color: #48CFAD;
}

.c-message2 p {
  line-height: 1.6;
  font-size: 1.4rem;
}

/* Component button */
.c-btn--orange {
  text-align: center;
}

.c-btn--orange a {
  padding: 13px 0;
  color: #fff;
  background-color: #FC6E51;
  border-radius: 30px;
  font-size: 1.3rem;
  line-height: 1;
  display: inline-block;
  width: 200px;
  text-align: center;
}

.c-btn--orange a:hover {
  opacity: 0.8;
  -webkit-transition: opacity 500ms;
  transition: opacity 500ms;
  text-decoration: underline;
}

.c-btn--green {
  text-align: center;
}

.c-btn--green a {
  padding: 13px 0;
  color: #fff;
  background-color: #37BC9B;
  border-radius: 30px;
  font-size: 1.3rem;
  line-height: 1;
  display: inline-block;
  width: 200px;
  text-align: center;
}

.c-btn--green a:hover {
  opacity: 0.8;
  -webkit-transition: opacity 500ms;
  transition: opacity 500ms;
  text-decoration: underline;
}

.c-btn--lightblue {
  text-align: center;
}

.c-btn--lightblue a {
  padding: 13px 0;
  color: #fff;
  background-color: #3BAFDA;
  border-radius: 30px;
  font-size: 1.3rem;
  line-height: 1;
  display: inline-block;
  width: 200px;
  text-align: center;
}

.c-btn--lightblue a:hover {
  opacity: 0.8;
  -webkit-transition: opacity 500ms;
  transition: opacity 500ms;
  text-decoration: underline;
}

.c-btn--left {
  text-align: left;
}

.c-btn--right {
  text-align: right;
}

.c-btn--2btncenter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 767px) {
  .c-btn--2btncenter {
    padding: 0 10px;
  }
  .c-btn--2btncenter .c-btn--orange, .c-btn--2btncenter .c-btn--green {
    width: 49%;
  }
  .c-btn--2btncenter .c-btn--orange a, .c-btn--2btncenter .c-btn--green a {
    width: 100%;
  }
}

.c-btn--2btnbetween {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 767px) {
  .c-btn--2btnbetween {
    padding: 0 10px;
  }
  .c-btn--2btnbetween .c-btn--orange, .c-btn--2btnbetween .c-btn--green {
    width: 49%;
  }
  .c-btn--2btnbetween .c-btn--orange a, .c-btn--2btnbetween .c-btn--green a {
    width: 100%;
  }
}

.c-btn--marginleft {
  margin-left: 30px;
}

@media (max-width: 767px) {
  .c-btn--marginleft {
    margin-left: 2%;
  }
}

#menu-toggle {
  width: 30px;
  height: 30px;
  display: block;
  cursor: pointer;
  position: absolute;
  z-index: 100;
  top: 10px;
  right: 10px;
}

#menu-toggle .hamburger,
#menu-toggle .hamburger::before,
#menu-toggle .hamburger::after {
  content: "";
  width: 30px;
  height: 5px;
  background-color: #000;
  display: block;
  -webkit-transition: all ease-in-out 500ms;
  transition: all ease-in-out 500ms;
}

#menu-toggle .hamburger {
  margin-top: 18px;
}

#menu-toggle .hamburger::before {
  -webkit-transform: translateY(-12px);
          transform: translateY(-12px);
}

#menu-toggle .hamburger::after {
  -webkit-transform: translateY(6px);
          transform: translateY(6px);
}

#menu-toggle .open {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#menu-toggle .open::before {
  opacity: 0;
}

#menu-toggle .open::after {
  -webkit-transform: translateY(-4px) rotate(90deg);
          transform: translateY(-4px) rotate(90deg);
}

/* Component footer */
.c-footsitemap {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  background-color: #efefee;
  min-width: 1050px;
  padding: 30px 0;
}

@media (max-width: 767px) {
  .c-footsitemap {
    min-width: 100%;
    padding: 15px 10px 5px;
  }
}

.c-footsitemap__inner {
  width: 1050px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.c-footsitemap__inner p {
  font-weight: bold;
}

.c-footsitemap__inner li {
  margin-top: 6px;
}

.c-footsitemap__inner a {
  color: #000;
}

@media (max-width: 767px) {
  .c-footsitemap__inner {
    width: 100%;
    display: inline-block;
  }
  .c-footsitemap__inner div {
    width: 50%;
    margin-bottom: 20px;
    float: left;
  }
  .c-footsitemap__inner p {
    font-size: 1.4rem;
  }
  .c-footsitemap__inner a {
    font-size: 1.2rem;
  }
}

.c-footcopy {
  padding: 20px 0;
  min-width: 1050px;
}

.c-footcopy p {
  font-size: 1.2rem;
  text-align: center;
  line-height: 12px;
}

@media (max-width: 767px) {
  .c-footcopy {
    min-width: 100%;
    padding: 10px 0;
  }
  .c-footcopy p {
    font-size: 1rem;
  }
}

/* Component breadcrumb */
.c-breadcrumbfooter {
  border-top: 1px solid #ccc;
  min-width: 1050px;
  padding: 10px 10px;
}

.c-breadcrumbfooter ul {
  width: 1050px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.c-breadcrumbfooter li {
  font-size: 1.2rem;
  line-height: 1;
}

.c-breadcrumbfooter a {
  color: #333;
  border-bottom: 1px solid #333;
  font-size: 1.2rem;
  display: inline-block;
  line-height: 1;
}

.c-breadcrumbfooter li:last-child a {
  border-bottom: 0;
}

.c-breadcrumbfooter li::after {
  content: "›";
  display: inline-block;
  margin: 0 7px;
}

.c-breadcrumbfooter li:last-child::after {
  content: "";
}

@media (max-width: 767px) {
  .c-breadcrumbfooter {
    min-width: 100%;
  }
  .c-breadcrumbfooter ul {
    padding-left: 10px;
    width: 100%;
  }
  .c-breadcrumbfooter a {
    font-size: 1rem;
  }
}

/*------------------------------------------------------------
	Headline
------------------------------------------------------------*/
/*------------------------------------------------------------
	Button
------------------------------------------------------------*/
