/* Color text */
/*------------------------------------------------------------
	Top page
------------------------------------------------------------*/
.pc-only {
  min-width: 1050px;
}

.logo:hover {
  opacity: 0.6;
  -webkit-transition: opacity 500ms;
  transition: opacity 500ms;
}

.c-navi li {
  width: 25%;
}

.c-navi li:hover {
  opacity: 0.6;
  -webkit-transition: opacity 500ms;
  transition: opacity 500ms;
}

.sp-only {
  display: none;
}

@media (max-width: 767px) {
  .pc-only {
    display: none;
  }
  .sp-only {
    display: block;
  }
  .c-navisp {
    display: none;
  }
}

.c-title2__inner p {
  margin-top: 8px;
}

@media (max-width: 767px) {
  .c-title2__inner {
    padding: 0 10px;
    width: 100%;
  }
}

.p-company1 {
  margin-bottom: 40px;
}

.p-company1 p {
  margin-bottom: 20px;
}

.p-company2 {
  margin-bottom: 40px;
}

.p-company3 .p-company3-text1 .u-red {
  font-weight: bold;
}

.p-company3 .p-company3-text2 img {
  width: 180px;
  height: 150px;
}

.p-company3 p {
  margin-bottom: 10px;
}

.p-company3 .c-imgtext {
  margin-top: 30px;
}

.p-company3 .c-imgtext .c-imgtext__img {
  margin-right: 15px;
}

@media (max-width: 767px) {
  .p-company3 .c-imgtext img {
    width: 100px;
    height: auto;
  }
}

/* Code Service.html */
.p-service1 {
  margin: 40px 0;
}

.p-service2 {
  margin-bottom: 40px;
}

.p-service2 .p-service2__content > p {
  margin-bottom: 20px;
}

.p-service2 span {
  font-weight: bold;
}

.p-service3 {
  margin-bottom: 40px;
}

.p-service3 .c-btn--orange {
  margin-top: 30px;
}

.p-service3 .c-title4 {
  margin-bottom: 20px;
}

.p-service3 .c-imgtext--border {
  margin-bottom: 30px;
}

.p-service3 .c-imgtext__img img {
  width: 150px;
  height: 150px;
}

.p-service4 .c-title4--bordergreen {
  margin-bottom: 20px;
}

.p-service4 .c-imgtext--border {
  margin-bottom: 30px;
}

.p-service4 .p-service4__content > p {
  margin-bottom: 20px;
}

/* Code component.html */
.p-component1, .p-component2, .p-component3, .p-component4, .p-component5, .p-component6
, .p-component7, .p-component8, .p-component9, .p-component10, .p-component11
, .p-component12, .p-component13, .p-component14, .p-component15, .p-component16 {
  min-width: 1050px;
}

@media (max-width: 767px) {
  .p-component1, .p-component2, .p-component3, .p-component4, .p-component5, .p-component6
, .p-component7, .p-component8, .p-component9, .p-component10, .p-component11
, .p-component12, .p-component13, .p-component14, .p-component15, .p-component16 {
    min-width: 100%;
  }
}

.p-component1 .c-breadcrumbheader__noboder {
  border-bottom: 0;
}

@media (max-width: 767px) {
  .p-component1 {
    margin-top: 100px;
  }
}

.c-imgtext__title {
  font-size: 2rem;
  line-height: 1.6;
}

.p-component9 .c-listtext--disc {
  margin-bottom: 0;
}

.p-component9 .c-listtext--disc li, .p-component9 .c-listtext--number li {
  font-size: 1.4rem;
}

.p-component10 .ctable1 {
  margin-bottom: 0;
}

.p-component10 .u-bg-darkgray {
  color: #fff;
}
