@charset "UTF-8";
@import "vars";	// 変数 Variable
@import "functions"; // 関数等 Function
/*------------------------------------------------------------
	Top page
------------------------------------------------------------*/
/* Code index.html */
 /* Code header */

#header{
	background-color: #015294;
	margin: 0 auto;
	min-width: 1080px;
}
.header-container{
	display: flex;
	justify-content: space-between;
	align-items: center;
	line-height: 47px;
	width: 1080px;
	margin: 0 auto;

	.header-text{
		color: #fff;
		font-size: 1.2rem;
		//margin-right: 142px;
		width: 500px;
	}
	.header-phone-mail{
		width: 530px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.header-phone{
		//margin-right: 66px;
	}
	.header_mail{
		img{
			display: block;
		}
		&:hover{
			opacity: 0.6;
			transition: all 500ms;
		}
	}
}

 /* Code Nav-top */
.main-container{
	min-width: 1080px;
	max-width: 100%;
	margin: 0 auto;
}
.main-top{
	background: url("../img/index/index_bg_menu.jpg");	
	height: 73px;
	margin: 0 auto;
}
.main-top-container{
	width: 1080px;	
	margin: 0 auto;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.logo{
	margin-right: 18px;
}
.slogan{
	margin-right: 87px;
}
.menu{
	height: 33px;
	.nav-item{
		display: inline-block;
		margin-bottom: 2px;
	}
	.nav-link{
		margin: 0 1px 0 2px;
		display: inline-block;
		padding-bottom: 5px;
		position: relative;
		&::before{
			content: "";
			position: absolute;
			display: block;
			border-bottom: 4px solid #009fbb;
			transform: scaleX(0);
			transition: transform 500ms ease-out;
			bottom: 0;
		}
		&:hover::before{
			width: 100%;
			transform: scaleX(1);
		}
	}
	
}

 /* Code banner-index */

.index-banner{	
	height: 756px;
	margin: 0 auto;
	margin-bottom: 100px;
	position: relative;
	.banner-img{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		border-bottom: 0;
		text-align: center;
		>img{
			height: 756px;
			width: 100%;
		}
	}
	.index-banner_container{
		width: 1080px;
		margin: 0 auto;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		padding-top: 88px;
		padding-left: 590px;
	}	 
}

 /* Code section new-index */

.index-new{
	background-color: #e7f5ff;	
	margin: 0 auto;
}
.index-new-container{
	width: 1080px;
	margin: 0 auto;	
	display: flex;	
	padding: 48px 0 16px;
}
.index-new-titles{
	margin-right: 68px;
	.index-new-title{
		margin-bottom: 12px;

	}
}
.index-new-btn, .middle-btn, .footer-mail{
	img:nth-child(2){
		display: none;
	}
	&:hover{
		img:nth-child(1){
			display: none;
		}
		img:nth-child(2){
			display: block;
		}
	}
}
.new-content-date{
	margin-right: 48px;
	.new-date-detail{
		font-size: 1.3rem;
		color: #0361a7;
		letter-spacing: 1px;
		margin-bottom: 32px;
	}
}
.new-content{
	.new-content-detail{
		font-size: 1.3rem;
		color: #222222;
		margin-bottom: 32px;
		letter-spacing: 1px;
	}
	.new-content-detail-black{
		color: #a8a8a8;
	}
}
	

 /* Code middle index */

.index-middle{	
	margin: 0 auto;
}
.index-middle-container{
	width: 1080px;
	margin: 0 auto;
}

.index-middle-content{	
	width: 470px;
	padding-top: 80px;
	.index-middle-title{
		margin-bottom: 17px;
	}
}

.index-middle-text{
	width: 470px;
	font-size: 1.4rem;
	letter-spacing: 0.2px;
	line-height: 20px;
	margin-bottom: 63px;
	
}
.index-middle1-text{
	p:last-child{
		margin-top: 20px;
	}
}

.index-middle1{
	margin-top: 19px;
	background: url("../img/index/index_middle1_bg.jpg") no-repeat top center;
	background-size: 100% 513px;
	height: 513px;
}
.index-middle2{
	background: url("../img/index/index_middle2_bg.jpg") no-repeat top center;
	background-size: 100% 513px;
	height: 513px;
}

.index-middle2-content{
	float: right;
	.index-middle2-text{
		margin-bottom: 89px;
	}
}
.index-middle3{
	background: url("../img/index/index_middle3_bg.jpg") no-repeat top center;
	background-size: 100% 513px;
	height: 513px;
	margin-bottom: 51px;
	.index-middle3-text{
		margin-bottom: 89px;
	}
}


/* Code footer */			
#footer{
	min-width: 1080px;
}
.footer-top{
	width: 100%;
	margin: 0 auto;
	img{
		width: 100%;
		height: 108px;
	}
}
.footer-middle{
	background: url("../img/index/index_bg_middle_footer.jpg") no-repeat top center;
	background-size: 100% 168px;	
	margin: 0 auto;
}
.footer-middle-container{
	width: 1080px;
	min-height: 168px;
	margin: 0 auto;
	display: flex;
	justify-content:space-between;
	align-items: center;
}
.footer-middle-left{
	margin-top: 0;
	font-size: 1.2rem;
	color: #fff;
	letter-spacing: -0.1px;
	.footer-logo{
		margin-bottom: 18px;
	}
}
.footer-middle-middle, .footer-middle-right{
	ul{
		li{
			font-size: 1.2rem;
			color: #fff;
		}
	}
}
.footer-middle-middle{
	font-size: 1.2rem;
	text-align: left;
	margin-top: 0;
	margin-left: -24px;
	border-left: 1px solid #809ebf;
	padding-left: 24px;
	ul{
		li{
			letter-spacing: 1px;
			margin-bottom: 8px;
			&:last-child{
				margin-bottom: 0;
			}
		}
	}
}
.footer-middle-right{
	margin-top: 0;
}
.footer-middle-right-top{
	margin-left: 5px;
	margin-bottom: 10px;
}
.foo-middle-1{
	display: inline-block;
	margin-right: 55px;
	&:last-child{
		margin-right: 0;
	}
	li{
		margin-bottom: 9px;
		&:last-child{
			margin-bottom: 0;
		}
	}
}

.footer-bot{
	background-color: #002f64;
	min-width: 1080px;
	margin: 0 auto;
}
.footer-bot-container{
	width: 1080px;
	margin: 0 auto;
	text-align: left;
	height: 48px;
	line-height: 48px;
	color: #608fbf;
	font-size: 1.2rem;
	letter-spacing: 1px;
}


/* Code news.html */



.new-banner{
	background: url("../img/new/new_banner.jpg") no-repeat top center;
	width: 100%;
	height: 276px;
	margin-bottom: 68px;
	position: relative;
}
.new-banner_container{
	position: absolute;
	text-align: center;
	top: 106px;
	right: 0;
	left: 0;
}
.new-middle-container{
	width: 1080px;
	margin: 0 auto;
	padding: 50px 0 58px;
}
.new-middle-title{
	margin-bottom: 9px;
	letter-spacing: 1px;
	border-bottom: 1px solid #015294;
	padding-bottom: 8px;
}
.new-middle-calendar{
	margin-bottom: 29px;
	img{
		margin-right: 10px;
	}
	span{
		color: #009fbb;
		font-size: 1.4rem;
		font-weight: bold;
		line-height: 22px;
		letter-spacing: 2px;

	}
}

.new-middle-content{
	display: flex;
	.new-middle-text{
		margin-right: 60px;
		margin-top: -2px;
		width: 590px;
		p{
			margin-bottom: 19px;
			font-size: 1.4rem;
			color: #222222;
			line-height: 20px;
		}
	}
}
/* CSS lightbox */
.uk-grid{
	margin-left: 0;
	div{
		display: none;
		width: 430px;
		height: 300px;
		padding-left: 0;

		img{
			width: 430px;
			height: 300px;
		}
	}
	.active-lightbox{
		display: inline-block;
	}
}
.new-middle2{
	background-color: #f7f7f7;
	.new-middle2-container{
		padding-top: 57px;
		padding-bottom: 60px;
		.new-middle2-title{
			margin-bottom: 10px;
		}
		.new-middle2-calendar{
			margin-bottom: 27px;
		}
	}
}
.new-middle3-container{
	padding-top: 58px;
	padding-bottom: 137px;	
	.new-middle3-text{
		width: 1080px;
		margin-right: 0;
	}	
}


/* Code company.html */


.company-banner{
	background: url("../img/company/company_banner.jpg") no-repeat top center;
	position: relative;
	width: 100%;
	height: 276px;
	margin-bottom: 73px;
}
.company-banner_container{
	position: absolute;
	top: 104px;
	left: 0;
	right: 0;
	text-align: center;
}
.company-middle-container{
	width: 1080px;
	margin: 0 auto;
	padding: 40px 0 80px;
}
.company-middle-title{
	margin-bottom: 28px;
}
.company-middle-text{
	font-size: 1.4rem;								
	line-height: 20px;
	margin-bottom: 53px;
	p{
		margin-bottom: 19px;
	}
}
.company-middle-author{
	text-align: right;
	margin-bottom: 40px;
}
.company-middle2{
	background-color: #f7f7f7;
}
.company-middle2-container{
	padding: 73px 0 76px;
}
.company-middle2-title{
	margin-bottom: 35px;
}
.company-middle2-row{
	display: flex;								
	border-top: 1px solid #d4d4d4;
	font-size: 1.4rem;
}
.row-left{
	width: 216px;
	padding: 0 0 0 40px;
	line-height: 60px;
	background-color: #e7f5ff;
	p{
		color: #0361a7;
	}
}
.row-right{
	width: 864px;
	padding: 0 0 0 40px;
	line-height: 60px;
	p{
		color: #222222;
	}
	span{
		margin-left: 48px;
	}
	.row-right-p{
		line-height: 20px;
		letter-spacing: 1px;
		&:first-child{
			padding-top: 20px;
			letter-spacing: 1.5px;
		}
		&:last-child{
			padding-bottom: 17px;
		}
	}
}
.company-middle2-row:last-child{
	border-bottom: 1px solid #d4d4d4;
}
.company-middle3-container{
	padding: 74px 0 70px;
}
.company-middle3-title{
	margin-bottom: 37px;
}
.company-middle3-row{
	display: flex;
	margin-bottom: 44px;
}
.middle3-detail-img{
	margin-right: 28px;
	&:last-child{
		margin-right: 0;
	}
	img{
		border: 1px solid #d4d4d4;
		padding: 4px;
	}
	p{
		font-size: 1.4rem;
		text-align: center;
		padding: 10px 0;
	}
}
.company-middle3-row:last-child{
	margin-bottom: 0;
}
.company-middle4{
	background-color: #f7f7f7;
	.company-middle4-container{
		padding: 72px 0 130px;
		.company-middle4-title{
			margin-bottom: 38px;
		}
	}
}



/* Code business.html */

.business-banner{
	background: url("../img/business/business_banner.jpg") no-repeat top center;
	position: relative;
	width: 100%;
	height: 276px;
	margin-bottom: 120px;
}
.business-banner_container{
	position: absolute;
	top: 104px;
	left: 0;
	right: 0;
	bottom: 0;
	text-align: center;
}
.business-middle{
	margin-bottom: 80px;
}
.business-middle-container{
	width: 1080px;
	margin: 0 auto;
	padding: 39px 20px 40px 40px;
	display: flex;
	border: 1px solid #009fbb;
	text-align: left;
}
.business-middle-content{
	width: 540px;
	margin-right: 28px;
}
.business-middle-title{
	display: flex;
	margin-bottom: 13px;
	letter-spacing: 0.5px;
	img{
		width: 17px;
		height: 17px;
		margin-top: 2px;
		margin-right: 8px;
	}
}
.business-middle-text{
	font-size: 1.4rem;
	line-height: 20px;
	letter-spacing: 1px;
	p{
		margin-bottom: 20px;
		&:last-child{
			margin-bottom: 0;
		}
	}
}
.business-middle2-title{
	letter-spacing: 1.5px;
}
.business-middle3{
	margin-bottom: 128px;
}
.business-middle3-content{
	width: 1080px;
	margin-right: 0;
}
.business-middle3-title{
	letter-spacing: 2.5px;
}



/* Code case.html */

.case-banner{
	background: url("../img/case/case_banner.jpg") no-repeat top center;
	position: relative;
	width: 100%;
	height: 276px;
	margin-bottom: 120px;
}
.case-banner_container{
	position: absolute;
	top: 104px;
	left: 0;
	right: 0;
	text-align: center;
}
.case-container{
	width: 1080px;
	margin: 0 auto;
}
.case-link{
	display: flex;
	justify-content: center;
	margin-bottom: 78px;
}

.case-btn{
	margin-right: 40px;
	&:last-child{
		margin-right: 0;
	}
}
.case-btn1{
	img{
		display: none;
	}
	.active{
		display: inline;
	}
}
.case-btn2, .case-btn3{
	img:nth-child(2){
		display: none;
	}
	&:hover{
		img:nth-child(1){
			display: none;
		}
		img:nth-child(2){
			display: block;
		}
	}
}
.case-title-link{
	text-align: center;
	font-size: 2.3rem;
	margin-bottom: 69px;

}
.case-middle{
	margin-bottom: 80px;
	&:last-child{
		margin-bottom: 131px;
	}
}

.case-middle-title{
	padding: 12px 0 12px 16px;
	background-color: #e1f0fa;
	letter-spacing: 2px;
	margin-bottom: 30px;
}

.case-middle-content{
	display: flex;
}
.case-middle-img{
	margin-right: 80px;
}
.case-middle-text{
	width: 572px;
}
.case-row{
	display: flex;
	border-top: 1px solid #d8d7d7;
	font-size: 1.3rem;
}
.case-left{
	padding: 20px 50px 15px 28px;
	width: 160px;
}
.case-right{
	padding: 20px 35px 15px 0;
}



/* Code recruit.html */

.re-banner{
	background: url("../img/recruit/recruit_banner.jpg") no-repeat top center;
	position: relative;
	width: 100%;
	height: 276px;
	margin-bottom: 120px;
}
.re-banner_container{
	position: absolute;
	top: 104px;
	left: 0;
	right: 0;
	text-align: center;	
}
.re-middle{
	margin-bottom: 88px;
}
.re-middle-container{
	display: flex;
	width: 1080px;
	margin: 0 auto;
}
.re-middle-content{
	width: 670px;
	margin-right: 51px;
}
.re-middle-title{
	margin-bottom: 15px;
}
.re-middle-text{
	font-size: 1.4rem;
	line-height: 20px;
	p:last-child{
		margin-top: 20px;
	}
}
.re-middle2{
	background-color: #f7f7f7;
	margin-bottom: 81px;
}
.re-middle2-container{
	padding: 75px 0 80px;
	display: block;
}
.re-middle2-title{
	margin-bottom: 36px;
}
.re-middle-content{
	width: 1080px;
}
.re-middle-row{
	display: flex;								
	border-top: 1px solid #d4d4d4;
	font-size: 1.4rem;
}
.row-left{
	width: 216px;
	padding: 0 0 0 40px;
	line-height: 60px;
	background-color: #e7f5ff;
	p{
		color: #0361a7;
	}
}
.row-right{
	width: 864px;
	padding: 0 0 0 40px;
	line-height: 60px;
	p{
		color: #222222;
	}
	span{
		margin-left: 48px;
	}
}
.row-right5{
	display: flex;
	ul{
		padding: 15px 0 15px 0;
		margin-right: 34px;
	}
	li{
		line-height: 25px;
	}

}
.row-right6, .row-right7{
	ul{
		display: flex;
	}
	li{
		margin-right: 15px;
	}
}
.row-right7{
	ul{
		display: flex;
	}
	li{
		margin-right: 18px;
	}	
}
.row-right8{
	ul{
		display: flex;
	}
	li{
		margin-right: 21px;
	}
}
.row-right9{
	ul{
		display: flex;
		padding-top: 22px;
	}
	ul:last-child{
		padding-top: 9px;
		padding-bottom: 21px;
		li:first-child{
			padding-left: 5px;
		}
		li{
			border-right: 1px solid #222222;
			padding-right: 42px;
			margin-right: 0;
		}
		li:nth-child(2){
			padding-left: 23px;
		}
		li:nth-child(3){
			padding-left: 23px;
			border-right:0;
		}
	}
	li{
		margin-right: 30px;
		line-height: 14px;
	}
}
.re-middle-row:last-child{
	border-bottom: 1px solid #d4d4d4;
}
.re-middle3-container{
	background: url("../img/recruit/recruit_middle3_img.jpg") no-repeat top center;
	width: 1080px;
	height: 244px;
}
.re-middle3-content{
	margin-left: 40px;
	margin-top: 35px;
}
.re-middle3-mail{
	margin-top: 25px;
	img:nth-child(2){
		display: none;
	}
	&:hover{
		img:nth-child(1){
			display: none;
		}
		img:nth-child(2){
			display: block;
		}
	}
}



/* Code Contact.html */


.contact-banner{
	background: url("../img/contact/contact_banner.jpg") no-repeat top center;
	position: relative;
	width: 100%;
	height: 276px;
	margin-bottom: 114px;
}
.contact-banner-container{
	position: absolute;
	top: 104px;
	left: 0;
	right: 0;
	text-align: center;
}
.contact-container{
	width: 1080px;
	margin: 0 auto;
}
.contact-middle{
	margin-bottom: 76px;
}		
.contact-middle-title{
	margin-bottom: 24px;
}
.contact-middle-text{
	font-size: 1.4rem;
	line-height: 20px;
	p:last-child{
		margin-top: 20px;
	}
}
form{
	background-color: #f7f7f7;
}
.contact-form-container{
	width: 1080px;
	margin: 0 auto;
	padding: 75px 0 83px;
	
}
.contact-form-title{
	margin-bottom: 50px;
}
.contact-form-desc{
	font-size: 1.4rem;
}
.row{
	display: flex;
	//margin-bottom: 5px;
}
.row-content{
	width: 230px;
	display: flex;
	align-items: center;

}
.row-content3{
	align-items: flex-start;
	padding-top: 19px;
}
.row-content6{
	align-items: flex-start;
	padding-top: 18px;
}
.row-title{
	color: #0361a7;
	width: 158px;
	display: inline-block;
}
.lb{
	padding: 4px 6px;
	background-color: #0361a7;
	color: #fff;
	margin-right: 30px;
	margin-top: -4px;
	display: inline-block;
}
.lb2, .lb3{
	background-color: #8c8b8b;
}

.input-block, .txtarea-block {
	display: block;
}
.row-input{
	width: 850px;
	span{
		margin-left: 5px;
		margin-right: 8px;
	}
}
input{
	height: 54px;
	width: 850px;
	margin-bottom: 7px;
	padding-left: 20px;
	padding-right: 20px;
	font-size: 1.4rem;
	color: #b6b6b6;
}
.input-row2{
	width: 133px;
}
select{
	width: 180px;
	height: 50px;
	margin-bottom: 7px;
	padding-left: 20px;
	color: #222222;
}
.input-radio{
	width: 13px;
	height: 13px;
	margin: 18px 0 18px 5px;
	color: #222222;
	&:nth-child(2){
		margin-left: 74px;
	}
}
.txtarea-comment{
	height: 150px;
	width: 850px;
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 1.4rem;
}
.submit-btn{
	width: 1080px;
	margin: 52px auto 70px;
	text-align: center;
	.confirm-btn{
		margin-left: 44px;
	}	
}
.confirm-btn, .send-btn, .back-btn{
	img:nth-child(2){
		display: none;
	}
	&:hover{
		img:nth-child(1){
			display: none;
		}
		img:nth-child(2){
			display: inline;
		}
	}
}
.back-send{
	margin-left: 47px;	
}
.back-btn{
	margin-right: 7px;
	
}
.send-btn, .back-btn{
	display: none;
}

.page-scroll{
	right: 90px;
	bottom: 87px;
	position: fixed;
}













