/*------------------------------------------------------------
	Top page
------------------------------------------------------------*/
@media (min-width: 737px) {
  html {
    font-size: 16px;
  }
  #wrapper {
    position: relative;
  }
  #wrapper #header .bg-top {
    height: 5px;
  }
  #wrapper #header .bg-top .bg-top-img {
    min-width: 950px;
    width: 100%;
    height: 5px;
  }
  #wrapper #header .header-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 16px 0 0 5px;
    min-width: 950px;
    margin: 0 auto;
    text-align: left;
  }
  #wrapper #header .header-content .logo .logo-img {
    display: none;
  }
  #wrapper #header .header-content .homephone-pc {
    margin-top: 15px;
    margin-left: 165px;
  }
  #wrapper #header .header-content .mailbox-pc {
    margin-top: 19px;
    margin-left: 19px;
  }
  #wrapper #header .header-content .mailbox-pc .mailbox-link-pc {
    position: relative;
  }
  #wrapper #header .header-content .mailbox-pc .mailbox-link-pc .mail-title-pc {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    margin-left: 45px;
    font-size: 0.87rem;
    color: #fd7e00;
  }
  #wrapper #header .header-content .mailbox-pc .mailbox-link-pc:hover {
    opacity: 0.6;
  }
  #wrapper #main {
    margin-top: 20px;
  }
  #wrapper #main .menu_mobile {
    display: none;
  }
  #wrapper #main .menu_pc {
    display: block;
    width: 950px;
    margin: 0 auto;
  }
  #wrapper #main .menu_pc .nav-item {
    display: inline-block;
    height: 64px;
    font-size: 0.87rem;
  }
  #wrapper #main .menu_pc .nav-item:hover {
    border-bottom: 4px solid #dddddd;
  }
  #wrapper #main .menu_pc .nav-item:first-child .nav-link {
    border-left: 1px solid #dddddd;
  }
  #wrapper #main .menu_pc .nav-item .nav-link {
    margin-bottom: 18px;
    margin-top: 2px;
    border-right: 1px solid #dddddd;
    color: #000000;
  }
  #wrapper #main .menu_pc .nav-item .nav-link:active {
    color: #000000;
  }
  #wrapper #main .banner {
    position: relative;
    height: 420px;
    margin: 0 auto;
    text-align: center;
  }
  #wrapper #main .banner .banner-img {
    display: none;
  }
  #wrapper #main .banner .banner-img-pc {
    display: block;
    min-width: 950px;
    width: 100%;
    height: 420px;
  }
  #wrapper #main .banner .banner-content {
    padding-top: 160px;
    margin: 0 auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
  }
  #wrapper #main .banner .banner-content .banner-text-phone {
    display: none;
  }
  #wrapper #main #news {
    padding: 80px 0 80px;
  }
  #wrapper #main #news .news-cons {
    border: 1px solid #dddddd;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 28px 0 32px;
    margin: 0 auto;
    width: 950px;
  }
  #wrapper #main #news .news-cons .news-titles {
    width: 240px;
    border-right: 1px solid #dddddd;
    padding-top: 12px;
    text-align: center;
  }
  #wrapper #main #news .news-cons .news-titles .title-ja-eng-phone {
    display: none;
  }
  #wrapper #main #news .news-cons .news-titles .btn-news-pc {
    display: block;
    margin-top: 14px;
    margin-left: 1px;
  }
  #wrapper #main #news .news-cons .news-titles .btn-news-pc .btn-news-img-pc:hover {
    opacity: 0.6;
  }
  #wrapper #main #news .news-cons .news-content {
    padding-left: 38px;
    margin-top: 3px;
  }
  #wrapper #main #news .news-cons .news-content .new-content-detail p {
    display: inline-block;
    line-height: 30px;
  }
  #wrapper #main #news .news-cons .news-content .new-content-detail .new-date {
    color: #0e5b9a;
  }
  #wrapper #main #news .news-cons .news-content .new-content-detail .news-date-descript {
    border-bottom: 1px solid #000000;
  }
  #wrapper #main #news .news-cons .news-content .btn-news {
    display: none;
  }
  #wrapper #main #construction {
    background: #eeeeee;
    padding: 54px 0 48px;
    min-width: 950px;
  }
  #wrapper #main #construction .construction-container {
    margin: 0 auto;
  }
  #wrapper #main #construction .construction-container .construct-titles {
    text-align: center;
  }
  #wrapper #main #construction .construction-container .construct-titles .title-ja-eng-phone {
    display: none;
  }
  #wrapper #main #construction .construction-container .construct-content {
    text-align: center;
    padding: 30px 0 0 16px;
    line-height: 22px;
  }
  #wrapper #main #construction .construction-container .construct-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 60px 36px 28px;
  }
  #wrapper #main #construction .construction-container .construct-img .construct-img-detail {
    text-align: center;
    margin-right: 107px;
  }
  #wrapper #main #construction .construction-container .construct-img .construct-img-detail .construct-home-img {
    display: none;
  }
  #wrapper #main #construction .construction-container .construct-img .construct-img-detail .construct-home-pc {
    width: 220px;
    height: 227px;
  }
  #wrapper #main #construction .construction-container .construct-img .construct-img-detail:last-child {
    margin-right: 0;
  }
  #wrapper #main #construction .construction-container .construct-img .construct-img-detail .construct-home-pc-hover {
    display: none;
  }
  #wrapper #main #construction .construction-container .construct-img .construct-img-detail:hover .construct-home-pc {
    display: none;
  }
  #wrapper #main #construction .construction-container .construct-img .construct-img-detail:hover .construct-home-pc-hover {
    display: inline;
  }
  #wrapper #main #alsok {
    padding: 50px 0 74px;
    background: url("../img/images/pc/bg_bot_pc.jpg") no-repeat top center;
  }
  #wrapper #main #alsok .alsock-container {
    margin: 0 auto;
    width: 950px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #wrapper #main #alsok .alsock-container .alsok-titles {
    margin-top: 30px;
    margin-left: 376px;
  }
  #wrapper #main #alsok .alsock-container .alsok-titles .title-ja-eng-phone {
    display: none;
  }
  #wrapper #main #alsok .alsock-container .alsok-content {
    text-align: left;
    padding: 32px 0;
    margin-left: 500px;
    line-height: 22px;
  }
  #wrapper #main #alsok .alsock-container .btn-alsock {
    color: #fff;
    padding: 12px 26px 12px 26px;
    margin-top: -3px;
    margin-left: 427px;
    background-color: #0f5c9b;
  }
  #wrapper #main #alsok .alsock-container .btn-alsock:hover {
    opacity: 0.6;
  }
  #wrapper #main #alsok .alsock-container .btn-alsock .btn-alsock-icon {
    margin-right: 6px;
    display: inline-block;
    width: 0;
    height: 0;
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
    border-left: 4px solid #fff;
  }
  #wrapper #main #alsok .alsock-container .alsok-img {
    display: none;
  }
  #wrapper #footer #contact {
    padding: 60px 0 58px 0;
    background: url("../img/images/pc/bg_contact.jpg") no-repeat top center;
    width: 100%;
    min-width: 950px;
    /* .page-top{
					display: none;
					position: absolute;
					//left: 1515px;
					top: 250px;
					.page-top-hover{
						display: none;
					}
					&:hover{
						.page-top-img{
							display: none;
						}
						.page-top-hover{
							display: inline;
						}
					}
				} */
  }
  #wrapper #footer #contact .contact-container {
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
  }
  #wrapper #footer #contact .contact-titles {
    margin-left: 12px;
  }
  #wrapper #footer #contact .contact-titles .contact-title-phone {
    display: none;
  }
  #wrapper #footer #contact .contact-content {
    padding: 28px 0;
    margin-left: 10px;
    text-align: center;
    line-height: 22px;
    color: #fff;
  }
  #wrapper #footer #contact .contact-content .contact-text-yellow {
    color: #ffff4c;
  }
  #wrapper #footer #contact .contact-phone-mail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 8px;
    margin-left: 5px;
  }
  #wrapper #footer #contact .contact-phone-mail .contact-phone, #wrapper #footer #contact .contact-phone-mail .contact-mail-phone {
    display: none;
  }
  #wrapper #footer #contact .contact-phone-mail .contact-pc {
    margin-right: 57px;
    margin-left: 60px;
  }
  #wrapper #footer #contact .contact-phone-mail .contact-mail-pc {
    position: relative;
  }
  #wrapper #footer #contact .contact-phone-mail .contact-mail-pc .mail-title {
    color: #fd7e00;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    margin-left: 55px;
  }
  #wrapper #footer #contact .contact-phone-mail .contact-mail-pc:hover {
    opacity: 0.6;
  }
  #wrapper #footer .footer-menu {
    height: 120px;
    background-color: #cccccc;
    padding: 35px 0;
    min-width: 950px;
  }
  #wrapper #footer .footer-menu ul {
    margin: 0 auto;
    width: 950px;
    text-align: center;
  }
  #wrapper #footer .footer-menu ul .nav-item-footer {
    display: inline-block;
    border-left: 1px solid #888888;
    line-height: 1rem;
  }
  #wrapper #footer .footer-menu ul .nav-item-footer .nav-link {
    padding: 0 20px 0;
    color: #212121;
    font-size: 0.87rem;
  }
  #wrapper #footer .footer-menu ul .nav-item-footer .nav-link:active {
    color: #212121;
  }
  #wrapper #footer .footer-menu ul .nav-item-footer:nth-child(5) {
    border-right: 1px solid #888888;
  }
  #wrapper #footer .footer-menu ul .nav-item-footer:nth-child(6) {
    border-right: 1px solid #888888;
  }
  #wrapper #footer .footer-menu ul .nav-item-footer:nth-child(7) {
    border-left: none;
  }
  #wrapper #footer .footer-menu ul .nav-item-footer:nth-child(8) {
    border-right: 1px solid #888888;
  }
  #wrapper #footer .footer-license {
    height: 50px;
    font-size: 0.87rem;
    text-align: center;
    line-height: 50px;
  }
  #wrapper #footer .footer-license .footer-license-text {
    margin-left: -12px;
    margin-top: 1px;
  }
  #wrapper #main .banner-tv {
    position: relative;
  }
  #wrapper #main .banner-tv .banner-img {
    display: none;
  }
  #wrapper #main .banner-tv .banner-img-tv-pc {
    display: block;
    width: 100%;
    min-width: 950px;
    height: 160px;
  }
  #wrapper #main .banner-tv .banner-content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  #wrapper #main .banner-tv .banner-content .banner-text-tv-phone {
    display: none;
  }
  #wrapper #main .banner-tv .banner-content .banner-content-text-tv-pc {
    display: block;
    font-size: 1.75rem;
    color: #fff;
    padding-top: 59px;
    text-align: center;
  }
  #wrapper #main .banner-tv .tv-pc {
    padding: 9px 0px 9px 0;
    font-size: 0.75rem;
    border-bottom: 1px solid #dddddd;
    text-align: left;
    width: 950px;
    margin: 0 auto;
  }
  #wrapper #main .banner-tv .tv-pc .tv-pc-blue {
    color: #0c5999;
  }
  #wrapper #main #middle-1 {
    padding: 54px 0px 78px;
    width: 950px;
    margin: 0 auto;
  }
  #wrapper #main #middle-1 .middle-title .middle-title-ja {
    text-align: center;
    color: #111111;
    font-size: 1.62rem;
  }
  #wrapper #main #middle-1 .middle-title .dot-tv {
    margin-top: -5px;
    text-align: center;
  }
  #wrapper #main #middle-1 .middle-title .dot-tv .middle-title-ja-border {
    cursor: pointer;
    height: 4px;
    width: 4px;
    background-color: #0f5c9b;
    display: inline-block;
  }
  #wrapper #main #middle-1 .middle-text {
    padding: 33px 0 41px;
  }
  #wrapper #main #middle-1 .middle-text .middle-text-1 {
    text-align: center;
  }
  #wrapper #main #middle-1 .middle-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #wrapper #main #middle-1 .middle-content .middle-content-detail {
    border-left: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
  }
  #wrapper #main #middle-1 .middle-content .middle-content-detail .middle-content-title {
    text-align: center;
    background-color: #0e5b9a;
    padding: 12px 40px;
  }
  #wrapper #main #middle-1 .middle-content .middle-content-detail .middle-content-desc {
    text-align: left;
    padding: 16px 16px;
  }
  #wrapper #main #middle-1 .middle-content .middle-content-detail:nth-child(1) {
    width: 260px;
    height: 190px;
  }
  #wrapper #main #middle-1 .middle-content .middle-content-detail:nth-child(2) {
    width: 220px;
    height: 190px;
  }
  #wrapper #main #middle-1 .middle-content .middle-content-detail:nth-child(3) {
    width: 470px;
    height: 190px;
  }
  #wrapper #main #middle-1 .middle-content .middle-content-detail:last-child {
    border-right: 1px solid #cccccc;
  }
  #wrapper #main #middle-2 {
    padding: 60px 0px;
    background-color: #eeeeee;
  }
  #wrapper #main #middle-2 .middle-title {
    padding-bottom: 36px;
  }
  #wrapper #main #middle-2 .middle-title .middle-title-ja {
    text-align: center;
    font-size: 1.62rem;
    color: #111111;
  }
  #wrapper #main #middle-2 .middle-title .dot-tv {
    margin-top: -2px;
    text-align: center;
  }
  #wrapper #main #middle-2 .middle-title .dot-tv .middle-title-ja-border {
    cursor: pointer;
    height: 4px;
    width: 4px;
    background-color: #0f5c9b;
    display: inline-block;
  }
  #wrapper #main #middle-2 .middle-2-content {
    padding: 23px 25px 25px;
    background-color: #fff;
    margin: 0 auto;
    margin-bottom: 30px;
    width: 950px;
  }
  #wrapper #main #middle-2 .middle-2-content .middle-2-detail {
    position: relative;
    overflow: auto;
  }
  #wrapper #main #middle-2 .middle-2-content .middle-2-detail .middle-2-detail-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #wrapper #main #middle-2 .middle-2-content .middle-2-detail .middle-2-detail-title img {
    width: 46px;
    height: 46px;
  }
  #wrapper #main #middle-2 .middle-2-content .middle-2-detail .middle-2-detail-title .middle-2-title-mobile {
    display: none;
  }
  #wrapper #main #middle-2 .middle-2-content .middle-2-detail .middle-2-detail-title .middle-2-title-pc {
    margin-left: 12px;
  }
  #wrapper #main #middle-2 .middle-2-content .middle-2-detail .middle-2-detail-title .middle-2-title-pc img {
    width: auto;
    height: auto;
  }
  #wrapper #main #middle-2 .middle-2-content .middle-2-detail .middle-2-detail-content p {
    max-width: 380px;
  }
  #wrapper #main #middle-2 .middle-2-content .middle-2-detail .middle-2-detail-content .middle-2-detail-content-last-1 {
    margin-bottom: 0;
  }
  #wrapper #main #middle-2 .middle-2-content .middle-2-detail .middle-2-detail-content .middle-2-detail-content-last-2 {
    margin-top: 0;
  }
  #wrapper #main #middle-2 .middle-2-content .middle-2-detail .middle-2-detail-content .middle-img, #wrapper #main #middle-2 .middle-2-content .middle-2-detail .middle-2-detail-content .home-phone-tv, #wrapper #main #middle-2 .middle-2-content .middle-2-detail .middle-2-detail-content .mailbox-tv {
    display: none;
  }
  #wrapper #main #middle-2 .middle-2-content .middle-2-detail .middle-2-detail-content .middle-img-pc, #wrapper #main #middle-2 .middle-2-content .middle-2-detail .middle-2-detail-content .home-phone-tv-pc, #wrapper #main #middle-2 .middle-2-content .middle-2-detail .middle-2-detail-content .mailbox-tv-pc {
    display: block;
  }
  #wrapper #main #middle-2 .middle-2-content .middle-2-detail .middle-2-detail-content .middle-img-pc {
    right: 0;
    position: absolute;
    top: 0;
  }
  #wrapper #main #middle-2 .middle-2-content .middle-2-detail .middle-2-detail-content .home-phone-tv-pc, #wrapper #main #middle-2 .middle-2-content .middle-2-detail .middle-2-detail-content .mailbox-tv-pc {
    float: left;
  }
  #wrapper #main #middle-2 .middle-2-content .middle-2-detail .middle-2-detail-content .home-phone-tv-pc {
    margin-right: 14px;
  }
  #wrapper #main #middle-2 .middle-2-content .middle-2-detail .middle-2-detail-content-1 p {
    margin: 26px 0 28px;
  }
  #wrapper #main #middle-2 .middle-2-content .middle-2-detail .middle-2-detail-content-1 .middle-2-mail {
    display: inline-block;
    position: relative;
  }
  #wrapper #main #middle-2 .middle-2-content .middle-2-detail .middle-2-detail-content-1 .middle-2-mail .mail-tv-img {
    display: none;
  }
  #wrapper #main #middle-2 .middle-2-content .middle-2-detail .middle-2-detail-content-1 .middle-2-mail .mail-tv-title {
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    margin-left: 53px;
    position: absolute;
    color: #fd7e00;
  }
  #wrapper #main #middle-2 .middle-2-content .middle-2-detail .middle-2-detail-content-2 p {
    margin: 26px 0 65px;
  }
  #wrapper #main #middle-2 .middle-2-content .middle-2-detail .middle-2-detail-content-3 p {
    margin: 26px 0 37px;
    max-width: 310px;
  }
  #wrapper #main #middle-2 .middle-2-content .middle-2-detail .middle-2-detail-content-3 p .middle-2-detail-content-blue {
    color: #0e5b9a;
    font-weight: bold;
  }
  #wrapper #main #middle-2 .middle-2-content .middle-2-detail .middle-2-detail-content-4 p {
    margin: 26px 0 65px;
    color: #0e5b9a;
    font-weight: bold;
  }
  #wrapper #main #middle-2 .middle-2-content .middle-2-detail .middle-2-detail-content-5 p {
    margin: 26px 0 37px;
    color: #0e5b9a;
    font-weight: bold;
  }
  #wrapper #main #middle-3 {
    padding: 61px 0px 76px;
  }
  #wrapper #main #middle-3 .middle-3-title {
    margin: 0 auto;
    text-align: center;
  }
  #wrapper #main #middle-3 .middle-3-title .middle-3-title-mobile {
    display: none;
  }
  #wrapper #main #middle-3 .middle-3-title .middle3-title-pc {
    border: 1px solid #0f5c9b;
  }
  #wrapper #main #middle-3 .middle-3-text {
    text-align: center;
    margin-top: 43px;
  }
  #wrapper #main #middle-3 .middle-3-text .middle-3-text-mobile {
    display: none;
  }
  #wrapper #main #middle-3 .middle-3-text .middle-3-text-pc {
    display: block;
    font-size: 1rem;
    line-height: 25px;
  }
  #wrapper #main #middle-3 .middle-3-text .middle-3-text-pc .middle-3-text-pc-blue {
    color: #0f5c9b;
    font-size: 1.37rem;
  }
  #wrapper .page-top {
    position: fixed;
    display: none;
    bottom: 20px;
    right: 22px;
  }
  #wrapper .page-top .page-top-hover {
    display: none;
  }
  #wrapper .page-top:hover .page-top-img {
    display: none;
  }
  #wrapper .page-top:hover .page-top-hover {
    display: inline;
  }
}

@media (max-width: 736px) {
  font-size: 10px;
  #wrapper {
    width: 100%;
    height: auto;
  }
  #wrapper #header .bg-top {
    max-height: 5px;
  }
  #wrapper #header .bg-top .bg-top-img {
    width: 100%;
    height: auto;
    max-height: 5px;
  }
  #wrapper #header .header-content {
    padding: 10px 18px;
    display: block;
    position: relative;
    width: 100%;
    max-width: 640px;
    margin: 0 auto;
    overflow: auto;
  }
  #wrapper #header .header-content .logo {
    float: left;
  }
  #wrapper #header .header-content .logo .logo-img {
    width: 155px;
    height: 40px;
    height: auto;
  }
  #wrapper #header .header-content .logo .logo-img-pc {
    display: none;
  }
  #wrapper #header .header-content #menu-toggle {
    width: 40px;
    height: 40px;
    background: #0f5c9b;
    display: block;
    cursor: pointer;
    z-index: 100;
    border-radius: 5px;
    top: 15px;
    float: right;
    margin-right: -8px;
  }
  #wrapper #header .header-content #menu-toggle .hamburger,
  #wrapper #header .header-content #menu-toggle .hamburger::before,
  #wrapper #header .header-content #menu-toggle .hamburger::after {
    content: "";
    width: 20px;
    height: 4px;
    background-color: #414042;
    display: block;
    -webkit-transition: all ease-in-out 500ms;
    transition: all ease-in-out 500ms;
    color: #fff;
  }
  #wrapper #header .header-content #menu-toggle .hamburger {
    margin-top: 18px;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
  #wrapper #header .header-content #menu-toggle .hamburger::before {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
  }
  #wrapper #header .header-content #menu-toggle .hamburger::after {
    -webkit-transform: translateY(4px);
            transform: translateY(4px);
  }
  #wrapper #header .header-content #menu-toggle .open {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    margin-left: 10px;
  }
  #wrapper #header .header-content #menu-toggle .open::before {
    opacity: 0;
  }
  #wrapper #header .header-content #menu-toggle .open::after {
    -webkit-transform: translateY(-4px) rotate(90deg);
            transform: translateY(-4px) rotate(90deg);
  }
  #wrapper #header .header-content .homephone-pc, #wrapper #header .header-content .mailbox-pc {
    display: none;
  }
  #wrapper #main {
    position: relative;
  }
  #wrapper #main .menu_mobile {
    display: none;
    width: 100%;
    position: absolute;
    z-index: 150;
    background: #0f5c9b;
  }
  #wrapper #main .menu_mobile ul {
    padding: 29px 25px 248px;
  }
  #wrapper #main .menu_mobile ul .nav-item {
    display: block;
    left: 0;
    border-top: 1px dotted #fff;
    position: relative;
  }
  #wrapper #main .menu_mobile ul .nav-item .nav-link {
    font-size: 1.5rem;
    color: #fff;
    text-align: left;
    display: inline-block;
    padding: 10px 0;
    margin-left: 14px;
  }
  #wrapper #main .menu_mobile ul .nav-item::before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 40%;
    width: 0;
    height: 0;
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
    border-left: 4px solid #fff;
    left: 0;
  }
  #wrapper #main .menu_mobile ul .nav-item-last {
    border-bottom: 1px dotted #fff;
  }
  #wrapper #main .menu_mobile ul .nav-item-last::before {
    text-align: center;
  }
  #wrapper #main .menu_mobile ul .nav-item-last .nav-link {
    line-height: 21px;
  }
  #wrapper #main .menu_pc {
    display: none;
  }
  #wrapper #main .banner {
    position: relative;
    text-align: center;
  }
  #wrapper #main .banner .banner-img {
    width: 100%;
    max-width: 640px;
    height: auto;
    margin: 0 auto;
    text-align: center;
  }
  #wrapper #main .banner .banner-img-pc {
    display: none;
  }
  #wrapper #main .banner .banner-content {
    position: absolute;
    top: 26%;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
  }
  #wrapper #main .banner .banner-content .banner-text-phone {
    width: 270px;
    height: 76px;
  }
  #wrapper #main .banner .banner-content .banner-text-pc {
    display: none;
  }
  #wrapper #main #news {
    padding: 25px 16px 28px;
  }
  #wrapper #main #news .news-cons {
    border: 1px solid #cccccc;
    padding: 18px 15px;
    max-width: 640px;
    margin: 0 auto;
  }
  #wrapper #main #news .news-cons .news-titles {
    text-align: center;
    padding-bottom: 18px;
    background: url("../img/images/mobile/line_news.png") no-repeat bottom center;
    background-size: 100%;
  }
  #wrapper #main #news .news-cons .news-titles .title-ja-eng-phone {
    width: 100%;
    height: auto;
    max-width: 78px;
    max-height: 35px;
    margin: 0 auto;
  }
  #wrapper #main #news .news-cons .news-titles .title-ja-eng-pc {
    display: none;
  }
  #wrapper #main #news .news-cons .news-titles .btn-news-pc {
    display: none;
  }
  #wrapper #main #news .news-cons .news-content .new-content-detail {
    font-size: 1.4rem;
    padding: 5px 5px 11px;
    background: url("../img/images/mobile/line_news.png") no-repeat bottom center;
    background-size: 100%;
  }
  #wrapper #main #news .news-cons .news-content .new-content-detail .new-date {
    color: #0d5a99;
  }
  #wrapper #main #news .news-cons .news-content .new-content-detail .news-date-descript {
    color: #000000;
    border-bottom: 1px solid #000000;
    display: inline;
  }
  #wrapper #main #news .news-cons .news-content .btn-news {
    margin-top: 18px;
    margin-bottom: 6px;
    text-align: center;
  }
  #wrapper #main #news .news-cons .news-content .btn-news .btn-news-img {
    width: 100%;
    max-width: 130px;
  }
  #wrapper #main #construction {
    background-color: #eeeeee;
  }
  #wrapper #main #construction .construct-titles {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 16px;
  }
  #wrapper #main #construction .construct-titles .title-ja-eng-phone {
    width: 100%;
    max-width: 185px;
    height: auto;
  }
  #wrapper #main #construction .construct-titles .title-ja-eng-pc {
    display: none;
  }
  #wrapper #main #construction .construct-content {
    padding: 0 20px;
    text-align: center;
  }
  #wrapper #main #construction .construct-content .construct-text {
    font-size: 1.4rem;
  }
  #wrapper #main #construction .construct-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 20px 15px 29px;
    max-width: 640px;
    margin: 0 auto;
  }
  #wrapper #main #construction .construct-img .construct-img-detail {
    width: 100%;
    text-align: center;
    margin-right: 10px;
  }
  #wrapper #main #construction .construct-img .construct-img-detail .construct-home-img {
    width: 100%;
    max-width: 180px;
    max-height: 185px;
    height: auto;
  }
  #wrapper #main #construction .construct-img .construct-img-detail:last-child {
    margin-right: 0;
  }
  #wrapper #main #construction .construct-img .construct-img-detail .construct-home-pc, #wrapper #main #construction .construct-img .construct-img-detail .construct-home-pc-hover {
    display: none;
  }
  #wrapper #main #alsok {
    padding-top: 28px;
  }
  #wrapper #main #alsok .alsock-container {
    margin: 0 auto;
  }
  #wrapper #main #alsok .alsok-titles {
    padding: 0 15px;
    text-align: center;
  }
  #wrapper #main #alsok .alsok-titles .title-ja-eng-phone {
    text-align: center;
    width: 100%;
    max-width: 288px;
    height: auto;
  }
  #wrapper #main #alsok .alsok-titles .title-ja-eng-pc {
    display: none;
  }
  #wrapper #main .alsok-content {
    padding: 14px 15px 10px;
  }
  #wrapper #main .alsok-content .alsok-text {
    font-size: 1.4rem;
    text-align: center;
  }
  #wrapper #main .btn-alsock {
    text-align: center;
    margin-top: 12px;
    padding: 0 22px;
  }
  #wrapper #main .btn-alsock .btn-alsock-title {
    font-size: 1.3rem;
    color: #fff;
    padding: 10px 10px;
    background-color: #0f5c9b;
    max-width: 275px;
    height: 40px;
    margin: 0 auto;
  }
  #wrapper #main .btn-alsock .btn-alsock-title .btn-alsock-icon {
    margin-right: 7px;
    display: inline-block;
    width: 0;
    height: 0;
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
    border-left: 4px solid #fff;
  }
  #wrapper #main .alsok-bg-phone {
    text-align: center;
  }
  #wrapper #main .alsok-bg-phone .alsok-img {
    width: 100%;
    height: auto;
    max-width: 640px;
  }
  #wrapper #footer {
    width: 100%;
  }
  #wrapper #footer #contact {
    background: url("../img/images/mobile/bg_footer_02.jpg") no-repeat top center;
    background-size: cover;
    width: 100%;
    height: auto;
    padding: 35px 15px 53px;
    /* .page-top{
					display: none;
				} */
  }
  #wrapper #footer #contact .contact-titles {
    text-align: center;
  }
  #wrapper #footer #contact .contact-titles .contact-title-phone {
    text-align: center;
    width: 100%;
    height: auto;
    max-width: 290px;
  }
  #wrapper #footer #contact .contact-titles .contact-title-pc {
    display: none;
  }
  #wrapper #footer #contact .contact-content {
    padding: 17px 5px 25px;
  }
  #wrapper #footer #contact .contact-content .contact-text, #wrapper #footer #contact .contact-content .contact-text-yellow {
    font-size: 1.4rem;
    text-align: center;
    line-height: 20px;
  }
  #wrapper #footer #contact .contact-content .contact-text {
    color: #fff;
  }
  #wrapper #footer #contact .contact-content .contact-text-yellow {
    color: #ffff4c;
  }
  #wrapper #footer #contact .contact-phone-mail {
    padding: 0 20px 5px;
  }
  #wrapper #footer #contact .contact-phone-mail .contact-phone {
    padding: 0 24px;
    text-align: center;
  }
  #wrapper #footer #contact .contact-phone-mail .contact-phone .contact-phone-img {
    width: 100%;
    height: auto;
    max-width: 200px;
  }
  #wrapper #footer #contact .contact-phone-mail .contact-mail {
    margin-top: 18px;
  }
  #wrapper #footer #contact .contact-phone-mail .contact-mail .contact-mail-phone {
    position: relative;
    text-align: center;
  }
  #wrapper #footer #contact .contact-phone-mail .contact-mail .contact-mail-phone .contact-mail-img {
    width: 100%;
    max-width: 250px;
  }
  #wrapper #footer #contact .contact-phone-mail .contact-mail .contact-mail-phone .mail-title {
    position: absolute;
    font-size: 1.3rem;
    color: #fd7e00;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    left: 0;
    right: 0;
    bottom: 0;
    padding-left: 24px;
  }
  #wrapper #footer #contact .contact-phone-mail .contact-pc, #wrapper #footer #contact .contact-phone-mail .contact-mail-pc {
    display: none;
  }
  #wrapper #footer .footer-menu {
    background-color: #cccccc;
    padding: 18px 20px;
  }
  #wrapper #footer .footer-menu ul {
    text-align: center;
  }
  #wrapper #footer .footer-menu ul .nav-item-footer {
    display: inline-block;
    border-left: 1px solid #888888;
    line-height: 1rem;
  }
  #wrapper #footer .footer-menu ul .nav-item-footer .nav-link {
    padding: 0 8px;
    color: #212121;
  }
  #wrapper #footer .footer-menu ul .nav-item-footer .nav-link:active {
    color: #212121;
  }
  #wrapper #footer .footer-menu ul .nav-item-footer:nth-child(5) {
    border-right: 1px solid #888888;
  }
  #wrapper #footer .footer-menu ul .nav-item-footer:nth-child(6) {
    border-right: 1px solid #888888;
  }
  #wrapper #footer .footer-menu ul .nav-item-footer:nth-child(7) {
    border-left: none;
  }
  #wrapper #footer .footer-menu ul .nav-item-footer:nth-child(8) {
    border-right: 1px solid #888888;
  }
  #wrapper #footer .footer-license {
    padding: 10px 0;
  }
  #wrapper #footer .footer-license .footer-license-text {
    text-align: center;
  }
  #wrapper .page-top {
    position: fixed;
    display: none;
  }
  #wrapper .page-top .page-top-hover, #wrapper .page-top .page-top-img {
    display: none;
  }
  #wrapper #main .banner-tv {
    position: relative;
    margin: 0 auto;
    text-align: center;
  }
  #wrapper #main .banner-tv .banner-img {
    width: 100%;
    max-width: 640px;
    height: auto;
  }
  #wrapper #main .banner-tv .banner-img-tv-pc {
    display: none;
  }
  #wrapper #main .banner-tv .banner-content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  #wrapper #main .banner-tv .banner-content .banner-text-tv-phone {
    padding-left: 50px;
    padding-right: 50px;
    width: 100%;
    max-width: 440px;
    height: auto;
    padding-top: 41px;
    text-align: center;
  }
  #wrapper #main .banner-tv .banner-content .banner-content-text-tv-pc {
    display: none;
  }
  #wrapper #main .banner-tv .tv-pc {
    display: none;
  }
  #wrapper #main #middle-1 {
    padding: 25px 15px 38px;
    max-width: 640px;
    margin: 0 auto;
  }
  #wrapper #main #middle-1 .middle-title {
    text-align: center;
  }
  #wrapper #main #middle-1 .middle-title .middle-title-ja {
    font-size: 1.8rem;
    color: #555555;
    position: relative;
  }
  #wrapper #main #middle-1 .middle-title .dot-tv {
    margin-top: -2px;
    text-align: center;
  }
  #wrapper #main #middle-1 .middle-title .dot-tv .middle-title-ja-border {
    cursor: pointer;
    height: 4px;
    width: 4px;
    margin-left: 1px;
    background-color: #0f5c9b;
    display: inline-block;
  }
  #wrapper #main #middle-1 .middle-text {
    text-align: center;
    font-size: 1.4rem;
    margin-top: 10px;
  }
  #wrapper #main #middle-1 .middle-content {
    margin-top: 17px;
  }
  #wrapper #main #middle-1 .middle-content .middle-content-detail .middle-content-title {
    font-size: 1.4rem;
    color: #fff;
    padding: 8px 0;
    text-align: center;
    background-color: #0f5c9b;
  }
  #wrapper #main #middle-1 .middle-content .middle-content-detail .middle-content-desc {
    padding: 9px 17px 8px 17px;
    color: #555555;
    border: 1px solid #555555;
    font-size: 1.4rem;
    line-height: 22px;
  }
  #wrapper #main #middle-2 {
    padding: 28px 15px 10px;
    background-color: #eeeeee;
    max-width: 640px;
    margin: 0 auto;
  }
  #wrapper #main #middle-2 .middle-title {
    text-align: center;
    padding-bottom: 10px;
  }
  #wrapper #main #middle-2 .middle-title .middle-title-ja {
    color: #555555;
    font-size: 1.8rem;
  }
  #wrapper #main #middle-2 .middle-title .dot-tv {
    margin-top: -2px;
    text-align: center;
  }
  #wrapper #main #middle-2 .middle-title .dot-tv .middle-title-ja-border {
    cursor: pointer;
    height: 4px;
    width: 4px;
    margin-right: 1px;
    background-color: #0f5c9b;
    display: inline-block;
  }
  #wrapper #main #middle-2 .middle-2-content {
    width: 100%;
    margin-bottom: 15px;
  }
  #wrapper #main #middle-2 .middle-2-content .middle-2-detail {
    padding: 14px 15px 16px;
    background-color: #fff;
  }
  #wrapper #main #middle-2 .middle-2-content .middle-2-detail .middle-2-detail-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  #wrapper #main #middle-2 .middle-2-content .middle-2-detail .middle-2-detail-title img {
    width: 100%;
    max-width: 30px;
    height: auto;
    flex-shring: 1;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    margin-right: 15px;
  }
  #wrapper #main #middle-2 .middle-2-content .middle-2-detail .middle-2-detail-title .middle-2-title-mobile {
    font-size: 1.8rem;
    color: #0f5c9b;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    flex-shring: 2;
  }
  #wrapper #main #middle-2 .middle-2-content .middle-2-detail .middle-2-detail-title .middle-2-title-pc {
    display: none;
  }
  #wrapper #main #middle-2 .middle-2-content .middle-2-detail-content {
    margin: 0 auto;
  }
  #wrapper #main #middle-2 .middle-2-content .middle-2-detail-content p {
    padding-top: 11px;
    padding-bottom: 10px;
    font-size: 1.4rem;
    color: #555555;
    line-height: 22px;
  }
  #wrapper #main #middle-2 .middle-2-content .middle-2-detail-content .middle-2-detail-content-blue {
    color: #0f5c9b;
    font-weight: 600;
  }
  #wrapper #main #middle-2 .middle-2-content .middle-2-detail-content .middle-2-detail-content-last-1 {
    padding-bottom: 0;
    color: #0f5c9b;
    font-weight: 600;
  }
  #wrapper #main #middle-2 .middle-2-content .middle-2-detail-content .middle-2-detail-content-last-2 {
    padding-top: 0;
    color: #0f5c9b;
    font-weight: 600;
  }
  #wrapper #main #middle-2 .middle-2-content .middle-2-detail-content .middle-img-phone {
    text-align: center;
  }
  #wrapper #main #middle-2 .middle-2-content .middle-2-detail-content .middle-img-phone .middle-img {
    width: 100%;
    max-width: 260px;
  }
  #wrapper #main #middle-2 .middle-2-content .middle-2-detail-content .home-phone-tv {
    width: 100%;
    max-width: 260px;
    display: block;
    margin: 1px 0 10px;
    text-align: center;
    margin: 0 auto;
  }
  #wrapper #main #middle-2 .middle-2-content .middle-2-detail-content .middle-2-mail {
    position: relative;
    margin: 0 auto;
    text-align: center;
    display: block;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  #wrapper #main #middle-2 .middle-2-content .middle-2-detail-content .middle-2-mail .mail-tv-img {
    width: 100%;
    max-width: 260px;
  }
  #wrapper #main #middle-2 .middle-2-content .middle-2-detail-content .middle-2-mail .mail-tv-img-pc {
    display: none;
  }
  #wrapper #main #middle-2 .middle-2-content .middle-2-detail-content .middle-2-mail .mail-tv-title {
    position: absolute;
    color: #fd7e00;
    font-size: 1.3rem;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    left: 0;
    bottom: 0;
    right: 0;
    padding-left: 22px;
  }
  #wrapper #main #middle-2 .middle-2-content .middle-2-detail-content .middle-img-pc, #wrapper #main #middle-2 .middle-2-content .middle-2-detail-content .home-phone-tv-pc, #wrapper #main #middle-2 .middle-2-content .middle-2-detail-content .mailbox-tv-pc {
    display: none;
  }
  #wrapper #main #middle-3 {
    padding: 24px 15px 16px;
    max-width: 640px;
    margin: 0 auto;
    text-align: center;
  }
  #wrapper #main #middle-3 .middle-3-title .middle-3-title-mobile {
    width: 100%;
    max-width: 290px;
  }
  #wrapper #main #middle-3 .middle-3-title .middle3-title-pc {
    display: none;
  }
  #wrapper #main #middle-3 .middle-3-text {
    padding: 8px 20px 3px;
  }
  #wrapper #main #middle-3 .middle-3-text .middle-3-text-mobile {
    font-size: 1.4rem;
    color: #555555;
    text-align: center;
  }
  #wrapper #main #middle-3 .middle-3-text .middle-3-text-mobile .middle-3-text-1 {
    font-size: 1.9rem;
    color: #0f5c9b;
  }
  #wrapper #main #middle-3 .middle-3-text .middle-3-text-pc {
    display: none;
  }
}
