@charset "UTF-8";
@import "vars";	// 変数 Variable
@import "functions"; // 関数等 Function
@import "mixin";
@import "reset";

/*------------------------------------------------------------
	Top page
------------------------------------------------------------*/


#wrapper{
	width: 1300px;
	margin: 0 auto;	
	@include breakpointsp{
		max-width: 100%;
		img{
			max-width: 100%;
		}
		margin: 0 auto;
	}
}
#header{
	.header-phone{
		display: none;
	}
	.header-pc{
		text-align: center;
	}
	@include breakpointsp{
		.header-phone{
			display: block;
		}
		.header-pc{
			display: none;
		}
	};
}
.menu-pc{				
	width: 1200px;
	margin: 0 auto;
	margin-bottom: 16px;
	ul{
		left: 0;
	}
	.nav-item{
		display: inline-block;
		margin-top: 2px;
	}
	.nav-link{
		padding: 2px 0;
	}
	@include breakpointsp{
		display: none;
	}
}

.banner{
	.banner-phone, .banner-text-phone{
		display: none;
	}
	.banner-pc{
		margin: 0 auto;
		width: 1200px;
	}
	.banner-text-pc{
		margin: 44px 0 102px;
		text-align: center;
			font-size: 1.6rem;
		p{
			margin-bottom: 11px;
		}
	}
	@include breakpointsp{
		.banner-phone, .banner-text-phone{
			display: block;
		}
		.banner-text-phone{
			padding: 24px 40px 7px;
			max-width: 650px;
			text-align: center;
			margin: 0 auto;
			font-size: 1.2rem;
			p{
				margin-bottom: 5px;
			}
		}
		.banner-pc, .banner-text-pc{
			display: none;
		}
	}
}
.main-container{
	width: 1100px;
	margin: 0 auto;
	@include breakpointsp{
		max-width: 100%;
		padding: 0 25px;
	}
	.slider{
		margin-bottom: 43px;
		.slider-container{
			display: flex;
		}
		.slider-img-phone{
			display: none;
		}
		.slider-img-pc{
			margin-right: 60px;
			width: 520px;
		}
		.slide-item-pc{
			position: relative;
		}
		.owl-item {
			width: 520px;

			img{
				max-width: 520px;
				max-height: 600px;
			}
		}
					
		.owl-prev, .owl-next{
        	position: absolute;
        	top: 48%;
        	
           transform: translateY(-50%);
           z-index: 100;
           img{
           	width: 30px;
        	height: 76px;
           }
         }            
        .owl-prev {
        	left: 20px;
           
        }
        .owl-next{
            right: 20px;
        }
		.owl-dots{
			text-align: center;
			margin-top: 15px;
		}
		.owl-dot{
			background-color: #cad1d7;
			transition: background-color 0.6s ease;
			height: 9px;
            width: 9px;
            border-radius: 50%;
            margin-right: 13px;
            display: inline-block;
            &:hover{
            	background-color: #717171;
            }
		}
		.active{
			background-color: #717171;
		}
	
		.slider-content-phone{
			display: none;
		}
		.slider-pc-colect{
			margin-top: 3px;
			margin-bottom: 20px;
			margin-left: -3px;
		}
		.slider-pc-colect-title{
			margin-bottom: 36px;
		}
		.slider-pc-colect-text{		
			margin-bottom: 41px;
			margin-left: 3px;
			font-size: 1.6rem;
			p{
				margin-bottom: 6px;
			}
		}
		.dropdown1{
			text-align: left;		
			margin-bottom: 37px;
			margin-left: 8px;
		}
		.dropdown1-btn{
			border: 1px solid #1b1214;
			 border-radius: 5px;
			background-color: #fff;
			text-align: center;
			position: relative;
			width: 392px;
			padding: 11px 10px 11px 27px;
		}
		.arrow-down{
			content: "";
			display: inline-block;
			position: absolute;
			top: 15px;
			
			transform: rotate(90deg);
			width: 0;
            height: 0;
            border-bottom: 4px solid transparent;
            border-top: 4px solid transparent;
            border-left: 6px solid #231815;
            right: 0;
            margin-right: 17px;
		}
		
		.price-pc{
			margin-bottom: 14px;
			margin-left: 6px;
		}
		.price1-pc{
			font-size: 1.4rem;
			margin-bottom: 13px;
			letter-spacing: 1.5px;
			font-weight: bold;
		}
		.price2-pc{
			margin-bottom: 0;
		}
		.price1-2-pc{
			display: flex;
			font-size: 2rem;
			margin-left: 2px;
			font-weight: bold;
			margin-bottom: 17px;
			p{
				margin-top: 18px;
				margin-left: 12px;
				letter-spacing: -1px;
			}
		}
		.price1-3-pc{
			font-size: 1.2rem;
			margin-left: 5px;
			margin-bottom: 20px;

		}
		.price1-3-30{
			font-size: 3rem;
			font-weight: bold;
		}
		.price1-3-20{
			font-size: 2rem;
			letter-spacing: 1px;
			font-weight: bold;
		}
		.price2-pc{
			margin-left: 2px;
		}
		.price2-1-pc{
			margin-bottom: 10px;
			margin-left: 2px;
		}
		.price2-2-pc{
			margin-left: 0;
			letter-spacing: -1.5px;
			margin-bottom: 13px;
			p{
				margin-left: 0;
		
			}
		}
		.price2-3-pc{
			margin-left: 6px;
		}
		.colect-btn{
			margin-left: 7px;
			display: flex;
			img:nth-child(1){
				margin-right: 8px;
			}
		}

		@include breakpointsp{			
			padding: 28px 0 0;
			margin-bottom: 0;			
			.slider-container{
				max-width: 650px;
				margin: 0 auto;
				display: block;
			}
			.slider-img-phone, .slider-content-phone{
				display: block;
			}
					
			.slide-item{
				position: relative;
			}
			.owl-item{
				img{
					max-width: 650px;
					max-height: 750px;
				}
			}

			.owl-prev, .owl-next{
            	position: absolute;
            	top: 48.5%;
               transform: translateY(-50%);
               
               z-index: 100;
               img{
               	width: 21px;
               	height: 47.5px;
               }
             }            
            .owl-prev {
            	left: 0;
               margin-left: 12px;
            }
            .owl-next{
                margin-right: 11px;
                right: 0;
            }
			.owl-dots{
				text-align: center;
				margin-top: 6px;
			}
			.owl-dot{
				background-color: #cad1d7;
				transition: background-color 0.6s ease;
				height: 6px;
                width: 6px;
                border-radius: 50%;
                margin: 0 4px;
                display: inline-block;
                &:hover{
                	background-color: #717171;
                }
			}
			.active{
				background-color: #717171;
			}
            
			
			.slider-content-phone{
				padding: 26px 0 34px;
				max-width: 650px;
				margin: 0 auto;
			}
			.slider-phone-colect{
				padding-right: 182px;
				img{
					text-align: center;
				}
			}
			.slider-phone-colect-title{
				text-align: left;
				padding: 7px 0 27px;
			}
			.slider-phone-colect2-title{
				padding: 9px 0 20px;
			}
			.slider-phone-colect3-title{
				padding: 8px 0 24px;
			}
			.slider-phone-colect-text{
				margin-bottom: 11px;
				text-align: left;
				font-size: 1.2rem;
				p{
					line-height: 17px;
				}
			}
			.slider-phone-colect2-text{
				margin-bottom: 24px;
				font-size: 1.2rem;
				line-height: 18px;
				
			}
			.slider-phone-colect3-text{
				margin-bottom: 17px;
				font-size: 1.2rem;
				line-height: 18px;
			}
			.dropdown1{
				text-align: center;
				margin-bottom: 16px;
				margin-left: 0;
			}
			.dropdown1-btn{
				position: relative;
				background-color: #fff;
				padding: 10px 100px 10px 108px;
				border: 1px solid #3c3435;
				border-radius: 5px;
				width: 100%;
			}
			.arrow-down{
				content: "";
				display: inline-block;
				position: absolute;
				top: 33%;
				transform: translateY(-50%);
				transform: rotate(90deg);
				width: 0;
                height: 0;
                border-bottom: 4px solid transparent;
                border-top: 4px solid transparent;
                border-left: 6px solid #231815;
                right: 0;
                margin-right: 14px;
			}
			.price-phone{
				margin-bottom: 12px;
				text-align: left;
			}
			.price1-phone{
				margin-bottom: 9px;
			}
			.price1-2-phone{
				display: flex;
				font-size: 1.5rem;
				font-weight: bold;
				margin-bottom: 14px;
				.price1-2-phone-img{
					max-width: 45.5px;
					max-height: 24px;
					margin-right: 8px;
				}
				p{
					margin-top: 8px;
					letter-spacing: -0.5px;
				}
			}
			.price1-3-phone{
				font-size: 0.9rem;
				margin-left: 3px;
				margin-bottom: 14px;
			}
			.price1-3-30{
				font-size: 2rem;
				font-weight: bold;
			}
			.price1-3-20{
				font-size: 1.4rem;
				font-weight: bold;
			}
			.price2-phone{
				margin-bottom: 11px;
			}
			.price2-1-phone{
				margin-bottom: 7px;
			}
			.price2-2-phone{
				letter-spacing: -1px;
				margin-bottom: 6px;
			}
			.price2-3-phone{
				margin-bottom: 15px;
			}
					
			.price3-phone{
				margin-bottom: 9px;
			}
			.price3-1-phone{
				margin-bottom: 5px;

			}
			.price3-2-phone{
				letter-spacing: -1px;
				margin-bottom: 10px;
			}
					
			.colect-btn{
				text-align: left;
				display: block;
				margin-left: 0;
				img{
					margin-bottom: 6px;
				}
			}
			.slider2-content-phone{
				padding: 26px 0 47px;
			}
			.slider3-content-phone{
				padding: 26px 0 41px;
			}
			.slider-img-pc, .slider-content-pc{
				display: none;
			}
		}
	}
	.middle{
		border-radius: 10px;
		margin: 0 auto;
		margin-bottom: 46px;		
		.middle-container{
			padding: 72px 50px 68px;	
			background-color: #eef2f5;
		}
		.middle-phone{
			display: none;
		}
		.middle-pc{
			display: flex;
		}
		.middle-content{
			margin-top: 9px;
			margin-right: 36px;
			padding-left: 20px;
		}
		.middle-content-title-pc{
			margin-bottom: 36px;
		}
		.middle-content-text-pc{
			margin-bottom: 42px;
			font-size: 1.6rem;
			letter-spacing: -1.5px;
			p{
				margin-bottom: 16px;
			}
		}
		.middle-btn{
			margin-left: 8px;
			position: relative;
			padding: 12px 0px 12px 37px;
			border: 1px solid #434151;
			border-radius: 5px;
			background-color: #434151;
			width: 390px;
			a, a:active{
				color: #ffffff;
			}
			
		}
		.arrow-right{
			content: "";
			display: inline-block;
			position: absolute;
			top: 20px;
			transform: translateY(-50%);
			width: 0;
            height: 0;
            border-bottom: 4px solid transparent;
            border-top: 4px solid transparent;
            border-left: 4px solid #fff;
            right: 0;
            margin-right: 18px;
		}
	
		@include breakpointsp{
				padding: 0 0 0;
				margin-bottom: 26px;
			.middle-container{
				background-color: #eef2f5;
				padding: 5px 15px 24px;
				border-radius: 5px;
				max-width: 650px;
				margin: 0 auto;
			}
			.middle-content{
				margin-right: 0;
				padding-left: 0;
			}
			.middle-content-title-phone{
				text-align: center;
				padding: 0 84px;
			}
			.middle-content-text-phone{
				text-align: center;
				padding: 25px 0 14px;
				font-size: 1.2rem;
				line-height: 20px;
				letter-spacing: -0.5px;
			}
			.middle-img{
				text-align: center;
				margin-bottom: 18px;
			}
			.middle-btn{
				position: relative;							
				
				text-align: center;
				margin: 0 auto;
				background-color: #434151;
				padding: 9px 40px 9px 30px;
				border-radius: 5px;
				max-width: 650px;
				width: 100%;
				img{
					max-width: 454px;
				}

			}
			.arrow-left{
				content: "";
				display: inline-block;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				width: 0;
                height: 0;
                border-bottom: 4px solid transparent;
                border-top: 4px solid transparent;
                border-left: 4px solid #fff;
                right: 0;
                margin-right: 15px;
			}
			
			.middle-pc{
				display: none;
			}
			.middle-phone{
				display: block;
			}
		}
	}
	.autum-winter-phone{
		display: none;
		@include breakpointsp{
				padding: 0;
				margin-bottom: 36px;
				display: block;
			.autum-winter-container-phone{
				max-width: 650px;
				margin: 0 auto;
			}
			.autum-winter-phone-img{
				position: relative;
				text-align: center;
			}
		}
	}
	.autum-winter-phone-2{
		@include breakpointsp{
			margin-bottom: 66px;
		}
	}
	.autum-winter-pc{
		max-width: 1000px;
		margin: 0 auto;
		margin-bottom: 92px;
		@include breakpointsp{
				display: none;
		}
		.autum-winter-pc-img{
			position: relative;
		}
		.arrow-pc{
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: 32px;
		}
		
	}

	.slider2{
		margin-bottom: 97px;
		.slider2-content-pc{
			margin-right: 30px;
		}
		.slider-pc-colect2{
			margin-left: -4px;
			margin-bottom: 22px;
		}
		.slider-pc-colect2-title{
			margin-bottom: 37px;
		}
		.slider-pc-colect2-text{
			margin-bottom: 140px;
			font-size: 1.6rem;
			padding-right: 18px;
			line-height: 22px;
		}
		.slider2-img-pc{
			margin-right: 0;
		}
		@include breakpointsp{
			margin-bottom: 0;
		}
	}
	.slider3{
		margin-bottom: 79px;
		.slider-pc-colect3{
			margin-left: -3px;
			margin-bottom: 22px;
		}
		.slider-pc-colect3-title{
			margin-bottom: 33px;
		}
		.slider-pc-colect3-text{
			margin-bottom: 124px;
			font-size: 1.6rem;
		}
		.price3-pc{
			margin-bottom: 17px;
		}
		.price3-1-pc{
			margin-bottom: 11px;
		}
		.price3-2-pc{
			margin-left: -2px;
			letter-spacing: -1.5px;
			margin-bottom: 13px;
		}
		@include breakpointsp{
			margin-bottom: 0;
		}
	}
	.autum-winter2-pc{
		margin-bottom: 73px;
		@include breakpointsp{
			.autum-winter2-pc{
				display: none;
			}
		}		
	}
}


#footer{
	.nav-footer-phone{
		display: none;
	}
	.nav-footer-pc{
		margin: 0 auto;
		width: 1300px;
	}
	@include breakpointsp{
		#footer{
			margin: 0 auto;
			margin-top: 67px;
		}
		.nav-footer-phone{
			display: block;
		}
		.nav-footer-pc{
			display: none;
		}
	}
}

.page-scroll{
	img{
		display: none;
	}
	@include breakpointsp{
		.page-scroll{
			display: none;
		}
	}

}

