@charset "UTF-8";
@import "vars";	// 変数 Variable
@import "functions"; // 関数等 Function
/*------------------------------------------------------------
	Top page
------------------------------------------------------------*/
@media (min-width: 737px){
	html{
		font-size: 16px;
	}
	#wrapper{
		position: relative;
		#header{
			.bg-top{
				height: 5px;
				.bg-top-img{
					min-width: 950px;
					width: 100%;
					height: 5px;
				}
			}
			.header-content{
				display: flex;
				justify-content: center;				
				padding: 16px 0 0 5px;
				min-width: 950px;
				margin: 0 auto;
				text-align: left;
				.logo{					
					.logo-img{
						display: none;
					}
				}

				.homephone-pc{					
					margin-top: 15px;
					margin-left: 165px;
				}
				.mailbox-pc{
					margin-top: 19px;
					margin-left:19px; 
					
					.mailbox-link-pc{
						position: relative;
						.mail-title-pc{
							position: absolute;
							top: 50%;
							transform: translateY(-50%);
							margin-left: 45px;
							font-size: 0.87rem;
							color: #fd7e00;
						}
						&:hover{
							opacity: 0.6;
						}
					}
					
				}
			}
		}
		#main{
			margin-top: 20px;
			.menu_mobile{
				display: none;
			}
			.menu_pc{
				display: block;
				width: 950px;
				margin: 0 auto;
				.nav-item{
					display: inline-block;
					height: 64px;
					font-size: 0.87rem;
					&:hover{
						border-bottom: 4px solid #dddddd;
					}
					&:first-child{
						//margin-left: 2px;
						.nav-link{
							border-left: 1px solid #dddddd;	
						}
						
					}					
					.nav-link{						
						margin-bottom: 18px;
						margin-top: 2px;
						border-right: 1px solid #dddddd;						
						color: #000000;
						
						&:active{
							color: #000000;
						}
					}
					&:last-child{
						.nav-link{
													
						}
					}
				}
			}
			.banner{
				position: relative;
				height: 420px;
				margin: 0 auto;
				text-align: center;
				.banner-img{
					display: none;
				}
				.banner-img-pc{
					display: block;
					min-width: 950px;
					width: 100%;
					height: 420px;
				}
				.banner-content{
					padding-top: 160px;
					margin: 0 auto;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;					
					position: absolute;	
					
					.banner-text-phone{	
						display: none;
					}
					.banner-text-pc{

					}

				}
			}
			#news{
				padding: 80px 0 80px;
				.news-cons{
					border: 1px solid #dddddd;
					display: flex;
					padding: 28px 0 32px;
					margin: 0 auto;
					width: 950px;

					.news-titles{
						width: 240px;
						border-right: 1px solid #dddddd;
						padding-top: 12px;
						text-align: center;
						.title-ja-eng-phone{
							display: none;
						}
						.btn-news-pc{
							display: block;
							margin-top: 14px;
							margin-left: 1px;
							.btn-news-img-pc:hover{
								opacity: 0.6;
							}
						}
					}
					.news-content{
						padding-left: 38px;
						margin-top: 3px;
						.new-content-detail{
							p{
								display: inline-block;
								line-height: 30px;
							}
							.new-date{
								color: #0e5b9a;
							}
							.news-date-descript{
								border-bottom: 1px solid #000000;
							}							
						}
						.btn-news{
							display: none;
						}
					}
				}
			}
			#construction{
				background: #eeeeee;
				padding: 54px 0 48px;
				min-width: 950px;
				.construction-container{
					margin: 0 auto;
					
					.construct-titles{
						text-align: center;
						.title-ja-eng-phone{
							display: none;
						}
					}
					.construct-content{
						text-align: center;
						padding: 30px 0 0 16px;
						line-height: 22px;
					}
					.construct-img{					
						display: flex;
						justify-content: center;
						
						padding: 60px 36px 28px;
						.construct-img-detail{
							text-align: center;
							margin-right: 107px;
							.construct-home-img{
								display: none;
							}
							.construct-home-pc{
								width: 220px;
								height: 227px;
							}
							&:last-child{
								margin-right: 0;
							}
							.construct-home-pc-hover{
								display: none;
							}
							&:hover{
								.construct-home-pc{
									display: none;
								}
								.construct-home-pc-hover{
									display: inline;
								}
							}

						}
					}
				}
				
			}

			#alsok{
				padding: 50px 0 74px;
				background: url("../img/images/pc/bg_bot_pc.jpg") no-repeat top center;
				.alsock-container{
					margin: 0 auto;
					width: 950px;
					display: flex;
					flex-direction: column;
					//justify-content: flex-end;
					align-items: center;
					.alsok-titles{
						margin-top: 30px;
						margin-left: 376px;
						.title-ja-eng-phone{
							display: none;
						}
						
					}
					.alsok-content{					
						text-align: left;
						padding: 32px 0; 
						margin-left: 500px;
						line-height: 22px;
					}
					.btn-alsock{
						color: #fff;
						padding: 12px 26px 12px 26px;
						margin-top: -3px;
						margin-left: 427px;
						background-color: #0f5c9b;
						&:hover{
							opacity: 0.6;
						}
						.btn-alsock-icon{
							margin-right: 6px;
		     				display: inline-block;
		     				width: 0;
				            height: 0;
				            border-bottom: 4px solid transparent;
				            border-top: 4px solid transparent;
				            border-left: 4px solid #fff;
				           
						}
						
					}
					.alsok-img{
						display: none;
					}
				}
				

			}
		}

		#footer{
			#contact{
				padding: 60px 0 58px 0;
				background: url("../img/images/pc/bg_contact.jpg") no-repeat top center;
				width: 100%;
				min-width: 950px;
				.contact-container{
					
					margin: 0 auto;
					display: flex;
					flex-direction: column;
					align-items: center;
					position: relative;
				}
				.contact-titles{
					margin-left: 12px;
					.contact-title-phone{
						display: none;
					}					
				}
				.contact-content{
					padding: 28px 0;
					margin-left: 10px;
					text-align: center;
					line-height: 22px;
					color: #fff;
					.contact-text-yellow{
						 color: #ffff4c;
					}
				}
				.contact-phone-mail{
					display: flex;
					margin-top: 8px;
					margin-left: 5px;
					.contact-phone, .contact-mail-phone{
						display: none;
					}
					.contact-pc{
						margin-right: 57px;
						margin-left: 60px;
					}
					.contact-mail-pc{
						position: relative;
						.mail-title{
							color: #fd7e00;
							position: absolute;
							top: 50%;
							transform: translateY(-50%);
							margin-left: 55px;
						}
						&:hover{
							opacity: 0.6;
						}
					}
				}
				/* .page-top{
					display: none;
					position: absolute;
					//left: 1515px;
					top: 250px;
					.page-top-hover{
						display: none;
					}
					&:hover{
						.page-top-img{
							display: none;
						}
						.page-top-hover{
							display: inline;
						}
					}
				} */
			}
			.footer-menu{
				height: 120px;
				background-color: #cccccc;
				padding: 35px 0;
				min-width: 950px;
					ul{
						margin: 0 auto;
						width: 950px;
						text-align: center;
						.nav-item-footer{
							display: inline-block;
							border-left: 1px solid #888888;
							line-height: 1rem;
							.nav-link{
								padding: 0 20px 0;
								color: #212121;
							
								font-size: 0.87rem;
								&:active{
									color: #212121;
								}
							}

							&:nth-child(5){
								border-right: 1px solid #888888;
							}
							&:nth-child(6){
								border-right: 1px solid #888888;
							}
							&:nth-child(7){
								border-left: none;
							}
							&:nth-child(8){
								border-right: 1px solid #888888;
							}

						}

					}
				
				
			}
			.footer-license{
				
				height: 50px;
				font-size: 0.87rem;
				text-align: center;
				line-height: 50px;
				.footer-license-text{
					margin-left: -12px;
					margin-top: 1px;
				}
			}
		}


		// Code TV PC
		#main{
			.banner-tv{
				position: relative;
				.banner-img{
					display: none;
				}
				.banner-img-tv-pc{
					display: block;
					width: 100%;
					min-width: 950px;
					height: 160px;
				}
				.banner-content{
					position: absolute;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					margin: 0 auto;
					
					.banner-text-tv-phone{
						display: none;
					}
					.banner-content-text-tv-pc{
						display: block;
						font-size: 1.75rem;
						color: #fff;
						padding-top: 59px;
						text-align: center;
					}
				}
				.tv-pc{
					padding: 9px 0px 9px 0;
					font-size: 0.75rem;
					border-bottom: 1px solid #dddddd;
					text-align: left;
					width: 950px;
					margin: 0 auto;
					.tv-pc-blue{
						color: #0c5999;
					}
				}
			}
			#middle-1{
				padding: 54px 0px 78px;
				width: 950px;
				margin: 0 auto;
				.middle-title{					
					.middle-title-ja{
						text-align: center;
						color: #111111;
						font-size: 1.62rem;

					}
					.dot-tv{
						margin-top: -5px;
						text-align: center;
						.middle-title-ja-border{
							cursor: pointer;
		                    height: 4px;
		                    width: 4px;
		                   	
		                    background-color: #0f5c9b;	                    
		                    display: inline-block;
						}
					}

				}
				.middle-text{
					padding: 33px 0 41px;
					.middle-text-1{
						text-align: center;
					}
					
				}
				.middle-content{
					display: flex;
					.middle-content-detail{
						border-left: 1px solid #cccccc;
						border-bottom: 1px solid #cccccc;
						.middle-content-title{
							text-align: center;
							background-color: #0e5b9a;
							padding: 12px 40px;
						}
						.middle-content-desc{
							text-align: left;
							padding: 16px 16px;
						}
						&:nth-child(1){
							width: 260px;
							height: 190px;

						}
						&:nth-child(2){
							width: 220px;
							height: 190px;
							
						}
						&:nth-child(3){
							width: 470px;
							height: 190px;
							
						}

						&:last-child{
							border-right: 1px solid #cccccc;
						}
					}
				}
			}

			#middle-2{
				padding: 60px 0px;
				background-color: #eeeeee;				
				.middle-title{
					padding-bottom: 36px;
					.middle-title-ja{
						text-align: center;
						font-size: 1.62rem;
						color: #111111;
					}
					.dot-tv{
						margin-top: -2px;
						text-align: center;
						.middle-title-ja-border{
							cursor: pointer;
		                    height: 4px;
		                    width: 4px;
		                   	
		                    background-color: #0f5c9b;	                    
		                    display: inline-block;
						}
					}
				}
				.middle-2-content{
					padding: 23px 25px 25px;
					background-color: #fff;
					margin: 0 auto;
					margin-bottom: 30px;
					width: 950px;
					.middle-2-detail{
						position: relative;
						overflow: auto;
						.middle-2-detail-title{
							display: flex;
							align-items: center;
							img{
								width: 46px;
								height: 46px;
							}
							.middle-2-title-mobile{
								display: none;
							}
							.middle-2-title-pc{
								margin-left: 12px;
								img{
									width: auto;
									height: auto;
								}
								
								
							}
						}
						.middle-2-detail-content{
							
							p{							
								max-width: 380px;								
							}
							
							.middle-2-detail-content-last-1{
								margin-bottom: 0;
							}
							.middle-2-detail-content-last-2{
								margin-top: 0;
							}
							.middle-img, .home-phone-tv, .mailbox-tv{
								display: none;
							}
							.middle-img-pc, .home-phone-tv-pc, .mailbox-tv-pc{
								display: block;
							}

							.middle-img-pc{
								right: 0;
								position: absolute;
								top: 0;
								
							}

							.home-phone-tv-pc,.mailbox-tv-pc {
								float: left;
								//margin-bottom: 20px;
							}
							.home-phone-tv-pc{
								margin-right: 14px;
							}
							
						}
						.middle-2-detail-content-1{
							p{
								margin: 26px 0 28px;
							}
							.middle-2-mail{
								display: inline-block;
								position: relative;
									
								.mail-tv-img{
									display: none;
								}
								.mail-tv-img-pc{
									
								}
								.mail-tv-title{
									top: 50%;
									transform: translateY(-50%);
									margin-left: 53px; 
									position: absolute;
									color: #fd7e00;
								}
							}
							
						}
						.middle-2-detail-content-2{
							p{
								margin: 26px 0 65px;
							}
							
						}
						.middle-2-detail-content-3{
							p{
								margin: 26px 0 37px;
								max-width: 310px;
								.middle-2-detail-content-blue{
									color: #0e5b9a;
									font-weight: bold;
								}
							}
							
						}
						.middle-2-detail-content-4{
							p{
								margin: 26px 0 65px;
								color: #0e5b9a;
								font-weight: bold;
							}
							
						}
						.middle-2-detail-content-5{
							p{
								margin: 26px 0 37px;
								color: #0e5b9a;
								font-weight: bold;
							}
							
						}
					}
					

				}

			}

			#middle-3{
				padding: 61px 0px 76px;
				.middle-3-title{
					margin: 0 auto;
					text-align: center;
					.middle-3-title-mobile{
						display: none;
					}
					.middle3-title-pc{
						border: 1px solid #0f5c9b;
					}
				}
				.middle-3-text{
					text-align: center;
					margin-top: 43px;
					.middle-3-text-mobile{
						display: none;
					}
					.middle-3-text-pc{
						display: block;
						font-size: 1rem;
						line-height: 25px;
						.middle-3-text-pc-blue{
							color: #0f5c9b;
							font-size: 1.37rem;
						}
					}
				}
			}
		}
		.page-top{
			position: fixed;
			display: none;
			//top: 550px;
			bottom:20px; 			
			right: 22px;
			.page-top-hover{
				display: none;
			}
			&:hover{
				.page-top-img{
					display: none;
				}
				.page-top-hover{
					display: inline;
				}
			}
		}
	}
}



@media (max-width: 736px){
	font-size: 10px;
	#wrapper{
		width: 100%;
		height: auto;
		#header{
			.bg-top{
				max-height: 5px;
				.bg-top-img{
					width: 100%;
					height: auto;
					max-height: 5px;
				}
				
			}
			.header-content{
				padding: 10px 18px;
				display: block;
				position: relative;
				width: 100%;
				max-width: 640px;
				margin: 0 auto;
				overflow: auto;
				.logo{
					float: left;
					.logo-img{
						width: 155px;
						height: 40px;
						height: auto;
					}
					.logo-img-pc{
						display: none;
					}
				}
				
				#menu-toggle {
					width: 40px;
					height: 40px;		            
		            background: #0f5c9b;
		            display: block;
		            cursor: pointer;
		            //position: fixed;
		            z-index: 100;
		            border-radius: 5px;
		            top: 15px;
		           	float: right;
		           margin-right: -8px;
		            .hamburger,
		            .hamburger::before,
		            .hamburger::after {

		                content: "";
		                width: 20px;
		                height: 4px;
		                background-color: #414042;
		                display: block;
		                transition: all ease-in-out 500ms;
		                color: #fff;
		            }
		            .hamburger{
						margin-top: 18px;
						transform: translateX(50%);
						//margin: auto auto;
		            }
		            .hamburger::before {
		                transform: translateY(-8px);
		            }
		            .hamburger::after {
		                transform: translateY(4px);
		            }
		            .open {
		                transform: rotate(45deg);		                
		                margin-left: 10px;
		                &::before {
		                    opacity: 0;
		                }
		                &::after {
		                    transform: translateY(-4px) rotate(90deg);
		                }
		            }
		        }

		        .homephone-pc, .mailbox-pc{
		        	display: none;
		        }

		        
			}
		}
		#main{
			position: relative;
			.menu_mobile{
	        	display: none;
	        	width: 100%;
	        	position: absolute;
	        	z-index: 150;
	        	background: #0f5c9b;	        	
	        	ul{
	        		padding: 29px 25px 248px;
	        		.nav-item{
	        			display: block;
	        			left: 0;
	        			border-top: 1px dotted #fff;
	        			position: relative;
	        			.nav-link{
	        				font-size: 1.5rem;
	        				color: #fff;
	        				text-align: left;
	        				display: inline-block;
	        				padding: 10px 0;
	        				margin-left: 14px;
	        			}
	        			
			            // Code arrow-left-menu
	     				&::before{
	     					content: "";
	     					display: inline-block;
	     					position: absolute;
	     					top: 40%;
	     					width: 0;
			                height: 0;
			                border-bottom: 4px solid transparent;
			                border-top: 4px solid transparent;
			                border-left: 4px solid #fff;
			                left: 0;
			                
	     				}
	     				
	        		}
	        		.nav-item-last{
	        			border-bottom: 1px dotted #fff;
	        			&::before{
	        				
	        				
	        				text-align: center;
	        			}
	        			.nav-link{
	        				line-height: 21px;
	        			}
	        		}
	        	}
	        }
	        .menu_pc{
	        	display: none;
	        }
			.banner{
				position: relative;
				//width: 100%;
				
				text-align: center;
				.banner-img{
					width: 100%;
					max-width: 640px;					
					height: auto;
					margin: 0 auto;
					text-align: center;
				}
				.banner-img-pc{
					display: none;
				}
				.banner-content{
					position: absolute;
										
					top: 26%;
					//transform: translateY(-50%);
					bottom: 0;
					left: 0;
					right: 0;
					text-align: center;
					
					.banner-text-phone{
						width: 270px;
						height: 76px;
						

					}
					.banner-text-pc{
						display: none;
					}
				}
			}
			#news{
				padding: 25px 16px 28px;
				.news-cons{
					border: 1px solid #cccccc;
					padding: 18px 15px;
					max-width: 640px;
					margin: 0 auto;
					.news-titles{
						text-align: center;
						padding-bottom: 18px;
						.title-ja-eng-phone{
							width: 100%;							
							height: auto;
							max-width: 78px;
							max-height: 35px;
							margin: 0 auto;
						}
						.title-ja-eng-pc{
							display: none;
						}
						.btn-news-pc{
							display: none;
						}
						background: url("../img/images/mobile/line_news.png") no-repeat bottom center;
						background-size: 100%;
					}
					.news-content{
						.new-content-detail{
							font-size: 1.4rem;
							.new-date{
								color: #0d5a99;
							}
							.news-date-descript{
								color: #000000;
								border-bottom: 1px solid #000000;
								display: inline;
							}
							padding: 5px 5px 11px;
							background: url("../img/images/mobile/line_news.png") no-repeat bottom center;
							background-size: 100%;
						}
						.btn-news{
							margin-top: 18px;
							margin-bottom: 6px;
							text-align: center;
							.btn-news-img{
								width: 100%;
								max-width: 130px;
							}
						}
					}
				}
			}
			#construction{
				background-color: #eeeeee;
				.construct-titles{
					text-align: center;
					padding-top: 30px;
					padding-bottom: 16px;
					.title-ja-eng-phone{
						width: 100%;
						max-width: 185px;
						height: auto;
					}
					.title-ja-eng-pc{
						display: none;
					}
				}
				.construct-content{
					padding: 0 20px;
					text-align: center;
					.construct-text{
						font-size: 1.4rem;
					}
				}
				.construct-img{
					display: flex;
					padding: 20px 15px 29px;
					max-width: 640px;
					margin: 0 auto;
					.construct-img-detail{
						width: 100%;
						text-align: center;
						margin-right: 10px;
						.construct-home-img{
							width: 100%;
							max-width: 180px;
							max-height: 185px;
							height: auto;
						}
						&:last-child{
							margin-right: 0;
						}
						.construct-home-pc, .construct-home-pc-hover{
							display: none;
						}

					}
				}

			}
			#alsok{
				padding-top: 28px;
				.alsock-container{
					margin: 0 auto;
				}
				.alsok-titles{
					padding: 0 15px;
					text-align: center;
					.title-ja-eng-phone{
						text-align: center;
						width: 100%;
						max-width: 288px;
						height: auto;
						
					}
					.title-ja-eng-pc{
						display: none;
					}
				}
			}
			.alsok-content{
				padding: 14px 15px 10px;
				.alsok-text{
					font-size: 1.4rem;
					text-align: center;
				}
			}
			.btn-alsock{
				text-align: center;
				margin-top: 12px;
				padding: 0 22px;
				.btn-alsock-title{				
					font-size: 1.3rem;
					color: #fff;
					padding: 10px 10px;
					background-color: #0f5c9b;
					max-width: 275px;
					height: 40px;
					margin: 0 auto;
					.btn-alsock-icon{
						margin-right: 7px;
	     				display: inline-block;
	     				width: 0;
			            height: 0;
			            border-bottom: 4px solid transparent;
			            border-top: 4px solid transparent;
			            border-left: 4px solid #fff;
			           
					}
				}
			}
			.alsok-bg-phone{
				//margin: 0 auto;
				text-align: center;
				.alsok-img{
					width: 100%;				
					height: auto;
					max-width: 640px;
					
				}
			}
			
		}
		#footer{
			width: 100%;
			#contact{
				background: url("../img/images/mobile/bg_footer_02.jpg") no-repeat top center;
				background-size: cover;
				width: 100%;
				height: auto;
				padding: 35px 15px 53px;
				.contact-titles{
					text-align: center;
					.contact-title-phone{
						text-align: center;
						width: 100%;
						height: auto;
						max-width: 290px;
					}
					.contact-title-pc{
						display: none;
					}
				}
				.contact-content{
					padding: 17px 5px 25px;
					.contact-text, .contact-text-yellow{
						font-size: 1.4rem; 
						text-align: center;
						line-height: 20px;
					}
					.contact-text{
						color: #fff;
					}
					.contact-text-yellow{
						color: #ffff4c;
					}
				}
				.contact-phone-mail{
					padding: 0 20px 5px;
					.contact-phone{
						padding: 0 24px;
						text-align: center;
						.contact-phone-img{
							width: 100%;
							height: auto;
							max-width: 200px;
						}

					}
					
					.contact-mail{
						margin-top: 18px;
						.contact-mail-phone{
							position: relative;
							text-align: center;
							.contact-mail-img{
								width: 100%;
								max-width: 250px;
							}
							.mail-title{
								position: absolute;
								font-size: 1.3rem;
								color: #fd7e00;
								top: 50%;
								transform: translateY(-50%);
								left: 0;
								right: 0;
								bottom: 0;
								padding-left: 24px;
							}
						}
					}
					.contact-pc, .contact-mail-pc{
						display: none;
					}
				}
				/* .page-top{
					display: none;
				} */
			}
			.footer-menu{
				background-color: #cccccc;
				padding: 18px 20px;
				ul{
					text-align: center;
					.nav-item-footer{
						display: inline-block;
						border-left: 1px solid #888888;
						line-height: 1rem;
						.nav-link{
							padding: 0 8px;
							color: #212121;
							&:active{
								color: #212121;
							}
						}

						&:nth-child(5){
							border-right: 1px solid #888888;
						}
						&:nth-child(6){
							border-right: 1px solid #888888;
						}
						&:nth-child(7){
							border-left: none;
						}
						&:nth-child(8){
							border-right: 1px solid #888888;
						}

					}

				}
			}
			.footer-license{
				padding: 10px 0;
				.footer-license-text{
					text-align: center;
				}
			}
		}
		.page-top{
			position: fixed;
			display: none;
			.page-top-hover, .page-top-img{
				display: none;
			}
			
		}

		// Code mobile Page TV
		#main{
			.banner-tv{
				position: relative;
				margin: 0 auto;
				text-align: center;
				.banner-img{
					width: 100%;
					max-width: 640px;
					height: auto;
				}
				.banner-img-tv-pc{
					display: none;
				}
				.banner-content{
					position: absolute;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					
					.banner-text-tv-phone{
						padding-left: 50px;
						padding-right: 50px;						
						width: 100%;
						max-width: 440px;						
						height: auto;
						padding-top: 41px;
						text-align: center;
					}
					.banner-content-text-tv-pc{
						display: none;
					}
				}
				.tv-pc{
					display: none;
				}
			}
			#middle-1{
				padding: 25px 15px 38px;
				max-width: 640px;
				margin: 0 auto;
				.middle-title{
				
					text-align: center;
					.middle-title-ja{
						font-size: 1.8rem;
						color: #555555;
						position: relative;
						
					}
					.dot-tv{
						margin-top: -2px;
						text-align: center;
						.middle-title-ja-border{
							cursor: pointer;
		                    height: 4px;
		                    width: 4px;
		                   	margin-left: 1px;
		                    background-color: #0f5c9b;	                    
		                    display: inline-block;
						}
					}
					
				}
				.middle-text{
					text-align: center;
					font-size: 1.4rem;
					margin-top: 10px;
				}
				.middle-content{
					margin-top: 17px;
					.middle-content-detail{
						.middle-content-title{
							font-size: 1.4rem;
							color: #fff;
							padding: 8px 0;
							text-align: center;
							background-color: #0f5c9b;
						}
						.middle-content-desc{
							padding: 9px 17px 8px 17px;
							color: #555555;
							border: 1px solid #555555;
							font-size: 1.4rem;
							line-height: 22px;
						}
					}
				}
			}
			#middle-2{
				padding: 28px 15px 10px;
				background-color: #eeeeee;
				max-width: 640px;
				margin: 0 auto;
				.middle-title{
					text-align: center;
					padding-bottom: 10px;
					.middle-title-ja{
						color: #555555;
						font-size: 1.8rem;
					}					
					.dot-tv{
						margin-top: -2px;
						text-align: center;
						.middle-title-ja-border{
							cursor: pointer;
		                    height: 4px;
		                    width: 4px;
		                   	margin-right: 1px;
		                    background-color: #0f5c9b;	                    
		                    display: inline-block;
						}
					}
					
				}
				.middle-2-content{
					width: 100%;
					margin-bottom: 15px;
					.middle-2-detail{
						padding: 14px 15px 16px;
						background-color: #fff;
						.middle-2-detail-title{
							display: flex;
							align-items: center;
							width: 100%;							
							img{
								width: 100%;
								max-width: 30px;
								height: auto;
								flex-shring: 1;
								flex-grow: 0;
								margin-right: 15px;
							}
							.middle-2-title-mobile{
								font-size: 1.8rem;
								color: #0f5c9b;
								flex-grow: 1;
								flex-shring: 2;
							}
							.middle-2-title-pc{
								display: none;
							}
						}
					}
					.middle-2-detail-content{
						margin: 0 auto;
							
						p{	
							padding-top: 11px;
							padding-bottom: 10px;
							font-size: 1.4rem;
							color: #555555;
							line-height: 22px;
						}
						.middle-2-detail-content-blue{
							color: #0f5c9b;
							font-weight: 600;
						}
						.middle-2-detail-content-last-1{
							padding-bottom: 0;
							color: #0f5c9b;
							font-weight: 600;
						}
						.middle-2-detail-content-last-2{
							padding-top: 0;
							color: #0f5c9b;
							font-weight: 600;
						}
						.middle-img-phone{
							text-align: center;
							.middle-img{
								width: 100%;
								max-width: 260px;

							}
						}
						
						.home-phone-tv{
							width: 100%;
							max-width: 260px;
							display: block;
							margin: 1px 0 10px;
							text-align: center;
							margin: 0 auto;
						}
						.middle-2-mail{
							position: relative;
							margin: 0 auto;
							text-align: center;
							.middle-img-phone{

							}
							.mail-tv-img{
								width: 100%;
								max-width: 260px;
								
							}
							.mail-tv-img-pc{
								display: none;
							}
							.mail-tv-title{
								position: absolute;
								color: #fd7e00;
								font-size: 1.3rem;
								top: 50%;
								transform: translateY(-50%);
								left: 0;
								bottom: 0;
								right: 0;
								padding-left: 22px;
							}
							display: block;
							margin-top: 10px;
							margin-bottom: 20px;
						}
						.middle-img-pc, .home-phone-tv-pc, .mailbox-tv-pc{
							display: none;
						}
					}
				}
			}

			#middle-3{
				padding: 24px 15px 16px;
				max-width: 640px;
				margin: 0 auto;
				text-align: center;
				.middle-3-title{
				.middle-3-title-mobile{
					width: 100%;
					max-width: 290px;

				}					
					.middle3-title-pc{
						display: none;
					}
				}
				.middle-3-text{
					padding: 8px 20px 3px;
					.middle-3-text-mobile{
						font-size: 1.4rem;
						color: #555555;
						text-align: center;
						.middle-3-text-1{
							font-size: 1.9rem;
							color: #0f5c9b;
						}
					}
					.middle-3-text-pc{
						display: none;
					}
				}
			}
		}
	}
}






