@import "mixin";// breakpoint sp
@import "vars";	// variable

/* Component qa */
.c-qa1{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 47px 0;
	div{
		margin-right: 12px;
	}
	span{
		font-size: 2.6rem;
		font-weight: 700;
		letter-spacing: 6px;
	}
	@include breakpointsp{
		padding: 22px 0;
		div{
			img{
				width: 40px;
				height: 40px;
			}
		}
		span{
			font-size: 2.2rem;

		}
	}
}

.c-qa2{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	border-bottom: 1px solid #ccc;
	padding-bottom: 20px;
	div{
		margin-right: 6px;
	}
	span{
		font-size: 2rem;
		font-weight: 700;
		letter-spacing: 3px;
	}
	@include breakpointsp{
		padding-bottom: 10px;
		div{
			img{
				width: 23px;
				height: 23px;
			}
		}
		span{
			font-size: 1.65rem;
			letter-spacing: 2px;
		}
	}

}

.c-qa__content__child{
	border-bottom: 1px solid #ccc;
	padding: 22px 0;
	&:hover{
		cursor: pointer;
	}
	@include breakpointsp{
		padding: 16px 0;
	}
}

.c-qa__content__child9{
	padding: 18px 0;
	.c-plus::before, .c-plus::after{
		top: 24%;
	}
	@include breakpointsp{
		padding: 16px 0;
	}
}
.c-qa__content__q{
	position: relative;
	display: flex;	
	p{
		color: #000000;
		font-size: 1.6rem;
		font-weight: 700;
	}
	@include breakpointsp{
		p{
			font-size: 1.4rem;
		}
	}
}

.c-qa__content__a{
	display: none;
	margin-top: 5px;
	p{
		color: #6c6c6d;
		letter-spacing: 0.5px;
	}
	p::before{
		content: "A.";
		font-size: 1.4rem;
		font-weight: 700;
		display: inline-block;
		margin-right: 17px;
	}
	@include breakpointsp{
		margin-top: 14px;
		p{
			font-size: 1.2rem;
		}
		p::before{
			margin-right: 5px;
		}
	}
}

/* Component rule */
.c-border__bot{
	padding-bottom: 38px;
	border-bottom: 1px solid #ccc;
	@include breakpointsp{
		padding-bottom: 27px;
		p{
			line-height: 1.4;
			letter-spacing: 0;
		}
	}
}

.c-seudo__padding{
	&::before{
		content: "";
		padding-left: 15px;
	}
}

/* Component c-flex */
.c-flex--column3{
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	@include breakpointsp{
		span{
			font-size: 1rem;
		}
	}
}

/* Commponent top.html */

.c-topsp__head{
	display: none;
	position: relative;
	@include breakpointsp{
		display: block;
	}
}

.c-topsp__head__img{
	img{
		width: 100%;
		height: auto;
	}
}

.c-topsp__head__logo{
	position: absolute;
	top: 17%;
	left: 18%;
	right: 0;
	bottom: 0;
	width: 65%;
	img{
		width: 100%;
		height: auto;
	}
}
.c-top1{
	position: relative;

}

.c-top1__img{
	position: absolute;
	z-index: 50;
	top: -19%;
	left: 3%;
	right: 0;
	bottom: 0;
	@include breakpointsp{
		display: none;
	}
}

.c-top1__content{
	display: flex;
	flex-direction: column;
	padding-left: 273px;
	padding-top: 45px;
	>p:first-child{
		letter-spacing: 2px;
	}
	@include breakpointsp{
		padding-left: 0;
		padding-top: 13px;
		>p:first-child{
			letter-spacing: 1px;
		}
		p{
			text-align: center;
			letter-spacing: 0;
		}
		

	}
}

.c-groupcard{
	display: flex;
	margin-top: 26px;
	@include breakpointsp{
		margin-top: 9px;
		display: flex;
		justify-content: space-between;
	}
}

.c-card{	
	margin-right: 48px;
	@include breakpointsp{
		margin-right: 0;
		width: 28%;
	}
}

.c-card__imgpc{
	display: block;
	@include breakpointsp{
		display: none;
	}
}

.c-card__imgsp{
	display: none;
	@include breakpointsp{
		display: block;
		img{
			width: 100%;
			height: auto;
		}
	}
}

.c-card__info{
	margin-top: 12px;	
	text-align: center;
	p{
		font-size: 16px;
	}
	@include breakpointsp{
		p{
			font-size: 1.2rem;
		}
	}
}


.c-top2__imgpc{
	margin-bottom: 32px;
	@include breakpointsp{
		display: none;
	}
}

.c-top2__imgsp{
	display: none;
	@include breakpointsp{
		display: block;
		margin-bottom: 27px;
		img{
			width: 100%;
			height: auto;
		}
	}
}

.c-top2__text{
	margin-bottom: 33px;
	p{
		line-height: 1.8;
	}
	@include breakpointsp{
		margin-bottom: 0;
		p{
			line-height: 1.4;
		}
	}
}

.c-top2__videopc{
	text-align: center;
	display: block;
	position: relative;
	video{
		width: 620px;
		height: 350px;
	}
	@include breakpointsp{
		display: none;
		
	}
}

.c-top2__videosp{
	display: none;
	position: relative;
	@include breakpointsp{
		display: block;
		margin-bottom: 24px;
		video{
			width: 100%;
			height: 211px;
		}
	}
}


.c-top3__title{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 33px;
	div{
		margin-right: 12px;
	}
	span{
		letter-spacing: 4px;
	}

	@include breakpointsp{
		margin-bottom: 16px;
		div{
			margin-right: 6px;
			img{
				width: 38px;
				height: 38px;
			}
		}
	}
}

.c-top3__text1pc{
	display: block;
	margin-bottom: 30px;
	p:first-child{
		line-height: 1.6;
	}
	p:last-child{
		line-height: 1.9;
	}
	@include breakpointsp{
		display: none;
	}
}

.c-top3__text1sp{
	display: none;
	@include breakpointsp{
		display: block;
		margin-bottom: 26px;
		p{
			line-height: 1.4;
		}
	}
}

.c-top3__grid{
	span:first-child{
		letter-spacing: 2px;
		margin-right: 13px;
	}
	span:last-child{
		letter-spacing: 1px;
	}
	
}

.c-top3__grid1, .c-top3__grid2, .c-top3__grid3{
	border-top: 2px solid #fff;
	padding: 13px 0;
	@include breakpointsp{
		border-top: 1px solid #fff;
		padding: 10px 0;
	}
}

.c-top3__grid3{
	border-bottom: 2px solid #fff;
	@include breakpointsp{
		border-bottom: 1px solid #fff;
	}
}

.c-top3__text2{
	text-align: right;;
	margin-top: 14px;
	letter-spacing: 3.5px;
	span{
		border-bottom: 1px solid #000000;
		&:hover{
			border-bottom: none;
			color: #49c8b2;
		}
	}
	@include breakpointsp{
		margin-top: 13px;
		letter-spacing: 1px;
	}
}


.c-top4__title{
	display: flex;
	justify-content: center;
	align-items: center;
	
	div{
		margin-right: 20px;
	}
	span{
		letter-spacing: 1px;
		margin-top: 30px;
	}
	@include breakpointsp{
		display: flex;
		flex-direction: column;
		div{
			margin-right: 0;
		}
		span{
			margin-top: 15px;
		}
	}
}

.c-top4__title__imgpc{
	display: block;
	@include breakpointsp{
		display: none;
	}
}

.c-top4__title__imgsp{
	display: none;
	@include breakpointsp{
		display: block;
		img{
			width: 100%;
			height: auto;
		}
	}
}

.c-top5__title{
	margin-bottom: 46px;
	div{
		margin-right: 20px;
	}
	span{
		letter-spacing: 3px;
	}
	@include breakpointsp{
		padding: 0 17px;
		margin-bottom: 30px;
		.c-top5__title__img{
			margin-right: 8px;
			img{
				width: 37px;
				height: 37px;
			}
		}
		span{
			letter-spacing: 2px;
		}

	}
}


.c-top5__content{
	@include breakpointsp{
		padding: 0 17px;
	}
}

.c-top5__content__imgpc1, .c-top5__content__imgpc2{
	display: block;
	@include breakpointsp{
		display: none;
	}
}

.c-top5__content__imgsp1, .c-top5__content__imgsp2{
	display: none;
	@include breakpointsp{
		display: block;
		img{
			width: 100%;
			height: auto;
		}
	}
}

.c-top5__content__imgsp1{
	margin-bottom: 20px;
}

.c-top4__slide{
	position: relative;
	display: flex;
	padding: 0 80px;
	@include breakpointsp{
		padding: 0;
		display: flex;
		flex-direction: column;
	}
}

.c-top4__slide__imgpc{
	display: block;
	margin-right: 53px;
	@include breakpointsp{
		display: none;
	}
}

.c-top4__slide__imgsp{
	display: none;
	@include breakpointsp{
		display: block;
		img{
			width: 100%;
		}
	}
}

.c-top4__slide__content{	
	width: 370px;
	margin-top: 78px;
	.c-top4__slide__text1{
		padding: 4px 16px;
		border-radius: 20px;
		letter-spacing: 4px;
		font-size: 2rem;
		font-weight: 700;
		color: #fff;
		background-color: #ffbd2d;
	}
	.c-top4__slide__text2{
		margin-top: 11px;
		letter-spacing: 1px;
		font-weight: 700;
		font-size: 2.7rem;
	}
	.c-top4__slide__text3{
		margin-top: 18px;
		font-size: 1.6rem;
	}

	@include breakpointsp{	
		width: auto;
		text-align: center;
		margin-top: 35px;
		.c-top4__slide__text1{
			font-size: 1.6rem;
			padding: 3px 12px;
		}
		.c-top4__slide__text2{
			font-size: 1.7rem;
		}
		.c-top4__slide__text3{
			font-size: 1.4rem;
			margin-top: 9px;
			letter-spacing: 0;
		}
	}
}


// Code top4 slide // 
.p-top4{
	.owl-carousel{
		.owl-dots{
			text-align: center;
			position: absolute;
			bottom: 0;
			left: 32%;
			right: 0;
			top: 93%;
			.owl-dot{
				width: 13px;
				height: 13px;
				border-radius: 50%;
				background-color: #cccccc;
				margin: 0 5px;
			}
			.active{
				background-color: #a0a0a0;
			}

		}

	}
	@include breakpointsp{
		.owl-carousel{
			.owl-dots{
				left: 0;
				top: 103.5%;
				.owl-dot{
					width: 10px;
					height: 10px;
				}
			}
			
		}
		
	}

}

.c-top4__slides{
	position: relative;
	padding-bottom: 36px;
	padding-top: 48px;
	border-bottom: 2px solid #ccc;
	&:last-child{
		padding-bottom: 17px;
		border-bottom: 0;
	}
	.owl-carousel{
		.c-top4__slide__imgpc{
			width: 196px;
			height: 395px;
		}
	}
	@include breakpointsp{
		padding-top: 34px;
		padding-bottom: 64px;
		border-bottom: 1px solid #ccc;
		&:last-child{
			padding-bottom: 68px;
		}
	}
}





.owl-nav{
	position: absolute;
	z-index: 100;
	height: 66px;
	top: 42%;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	justify-content: space-between;
	.customPrevBtn, .customNextBtn{
		width: 35px;
		height: 66px;
	}
	.c-arrow__left__hover, .c-arrow__right__hover{
		display: none;
	}

	@include breakpointsp{
		top: 31%;
		.c-arrow__left, .c-arrow__right{
			width: 24px;
			height: 43px;
		}
		.c-arrow__rightsp{
			float: right;
		}
	}

}

.c-top4__slides2{
	@include breakpointsp{
		padding-bottom: 82px;
		.c-top4__slide__content{
			margin-top: 40px;
		}
		.owl-nav{
			top: 29%;
		}
		.owl-carousel{
			.owl-dots{
				top: 107%;
			}
		}
		
	}
}

.c-top4__slides3{
	.owl-nav{
		top: 43%;
	}
	@include breakpointsp{
		padding-top: 28px;
		.c-top4__slide__content{
			margin-top: 48px;
		}		
		.owl-nav{
			top: 30%;
		}
		.owl-carousel{
			.owl-dots{
				top: 107%;
			}
		}

	}
	
}

.c-arrow__leftpc, .c-arrow__rightpc{
	display: inline;
	@include breakpointsp{
		display: none;
	}
}
.c-arrow__leftpc__hover,.c-arrow__rightpc__hover{
	display: none;
	@include breakpointsp{
		display: none;
	}
}

 .c-arrow__leftsp, .c-arrow__rightsp{
 	display: none;
 	@include breakpointsp{
 		display: inline;
 		width: 23px;
 		height: 43px;
 	}
 }

	

.c-arrow__left{

}
.c-arrow__right{

}



.c-top4__slides:hover{
	.c-arrow__leftpc, .c-arrow__rightpc{
		display: none;
	}
	.c-arrow__leftpc__hover, .c-arrow__rightpc__hover{
		display: inline;
	}
	@include breakpointsp{
		.c-arrow__leftpc__hover, .c-arrow__rightpc__hover{
			display: none;
		}
	}
}


/* Component c-lineheight */

/* Component banner */


/* Component relative */

/* component absolute */


/* Component c-fee */

.c-title{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 47px;
	@include breakpointsp{
		margin-bottom: 29px;
		padding: 0 5px;
	}
}

.c-title__imgpc{
	display: block;
	@include breakpointsp{
		display: none;
	}
}

.c-title__imgsp{
	display: none;
	@include breakpointsp{
		display: block;
		width: 48%;
		height: auto;
		img{
			width: 100%;
			height: auto;
		}
	}
}



.c-top{
	margin-bottom: 69px;
	.c-top__title{
		text-align: center;
		background-color: #10222b;
		padding: 10px 0;
		margin-bottom: 30px;
		p{
			color: #fff;
			font-size: 2rem;
		}
	}
	@include breakpointsp{
		margin-bottom: 29px;
		.c-top__title{
			margin-bottom: 20px;
			p{
				font-size: 1.6rem;
			}
		}
	}
}




/* Component center */
.c-center{
	text-align: center;
}

.c-margin__auto{
	margin: 0 auto;
}

/* Component list */

.c-list{
	display: flex;
	justify-content: space-between;
	>div{
		width: 312px;
		margin-bottom: 53px;
	}
}

.c-listcontent{
	background-color: #e9eff2;
	padding: 16px 20px;
	height: 448px;
	li{
		line-height: 1.6;
	}
}

/* Component img inside */





/* Component title */



/* Component text */
.c-text{
	text-align: center;
	color: #fff;
	p{
		font-size: 1.5rem;
	}
	@include breakpointsp{
		text-align: left;
		p{
			font-size: 1.2rem;
			line-height: 1.3;
		}
		padding: 0 15px;
		text-align: center;
		p:last-child{
			display: none;
		}
	}
}

.c-textleft{
	text-align: left;
	color: #333333;
}

/* Component pagetop */
.page-top{
	position: fixed;
	display: none;	
	bottom:106px; 
	right: 81px;
	@include breakpointsp{
		bottom: 51px;
		right: 15px;
		img{
			width: 50px;
			height: 50px;
		}
	}
}


/* Component button */



/* Component breakcrum */


/* Component border */
.c-border{
	border-radius: 5px;
}


/* Component card, cardinfo */





/* Component check address */


/* Component table div */
.c-column1{
	width: 714px;
	p{
		letter-spacing: 1px;
		line-height: 1;
	}
	@include breakpointsp{
		width: 86%;
		p{
			line-height: 1.4;
		}
	}
}

.c-column1pc{
	@include breakpointsp{
		display: none;
	}
}

.c-column1sp{
	display: none;
	@include breakpointsp{
		display: block;
	}
}

.c-column1__top{
	p{
		line-height: 1.6;
	}
	@include breakpointsp{
		p{
			line-height: 1.3;
		}
	}
}


.c-plus::before, .c-plus::after{
	content: "";
	width: 20px;
	height: 3px;
	background-color: #1287b3;
	position: absolute;
	top: 50%;
	right: 2.5%;
	bottom: 0;
	transition: all ease-in-out 500ms;
}
.c-plus::before{
	
}
.c-plus::after{
	transform: rotate(90deg);	
}

.c-plus2::before, .c-plus2::after{
	content: "";
	width: 20px;
	height: 3px;
	background-color: #c9c9c9;
	position: absolute;
	top: 44%;
	right: 2.5%;
	bottom: 0;
	transition: all ease-in-out 500ms;
	@include breakpointsp{
		right: 0;
		top: 48%;
	}
}
.c-plus2::before{
	
}
.c-plus2::after{
	transform: rotate(90deg);	
}

.c-rowspopen{
	.c-plus::before{
		opacity: 0;
	}
	.c-plus::after{
		transform: rotate(180deg);	
	}
	.c-qa__content__a{
		display: block;
	}
}

.c-rowspopen{
	.c-plus2::before{
		opacity: 0;
	}
	.c-plus2::after{
		transform: rotate(180deg);	
	}
	.c-qa__content__a, .c-topics__content__a{
		display: block;
	}
}







/* Component arrow-down */



/* Component text */


/* Component message */


/* Component shring content-img */

/* Component button */

.c-playvideo{
	position: absolute;
	top: 40.5%;
	left: 0;
	right: 0;
	bottom: 0;
	text-align: center;
	a{
		display: inline-block;
		padding: 20px 52px;
		border: 1px solid #fff;
		border-radius: 40px;
		img{
			margin-right: 10px;
		}
		span{
			color: #fff;
			font-weight: 700;
			font-size: 2.2rem;
			letter-spacing: 4px;
		}
	}
	@include breakpointsp{
		top: 39.5%;
		a{
			padding: 12px 30px;
			span{
				font-size: 1.4rem;
				letter-spacing: 2px;
			}
			img{
				width: 9px;
				height: 13px;
			}
		}
	}
}


.c-btn__text{
	letter-spacing: 1px;
	font-weight: 700;
	font-size: 1.8rem;
	@include breakpointsp{
		font-size: 1.2rem;
	}
}

/* Component display */
.c-display--block{
	display: block;
}

.c-display--flex{
	display: flex;
	justify-content: space-between;
	@include breakpointsp{
		display: flex;
		flex-direction: column;
	}
}

.c-display--flex__center{
	display: flex;
	justify-content: center;
	align-items: center;
}


// Component circle line
.c-circleline::after{
	content: "";
	display: inline-block;
	border-top: 1px solid #bdbdbd;
	width: 108px;
	margin-left: -5px;
}


// Component space sp



// Component hover
.c-eventhover:hover{
	opacity: 0.6;
	transition: opacity 500ms;
}

.c-lihover:hover{
	a{
		text-decoration: underline;
	}
}



// Component contact


// Componnen Map PC




.c-contact{
	width: 100%;	
	min-width: 540px;
	max-width: 780px;
	height: 418px;
	background-color: #10222b;
	margin-top: -42px;
	padding: 83px 0 54px 60px;
	@include breakpointsp{
		min-width: auto;
		max-width: auto;
		height: auto;
		margin-top: 0;
		padding: 16px 15px 12px 15px;
	}
}

.row{
	border-bottom: 1px solid #636f75;
	display: flex;
	padding: 7px 0;
	width: 480px;
	span, p{
		font-size: 1.5rem;
		font-weight: 700;
		color: #fff;
	}
	@include breakpointsp{
		display: flex;
		flex-direction: column;
		align-items: center;
		width: auto;
		padding: 11px 0;
		span{
			font-size: 1.4rem;
		}
		p{
			font-size: 1.2rem;
			font-weight: 500;
		}
		&:last-child{
			border-bottom: 0;
		}
	}
}

.column1{
	width: 155px;
	display: flex;	
	span:first-child{
		margin-right: 4px;
		margin-top: 4px;
		line-height: 1;
	}
	span:last-child{
		line-height: 1.6
	}
	@include breakpointsp{
		width: auto;
		display: flex;
		justify-content: center;
		margin-bottom: 5px;
		.c-icon__contact{
			display: none;
		}
		span:last-child{
			line-height: 1;
		}
	}
}

.c-row__title{
	@include breakpointsp{
		display: flex;
	}
}


.column2{
	padding-left: 10px;
	p{
		letter-spacing: 1px;
	}
	@include breakpointsp{
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-left: 0;
		p{
			letter-spacing: 0.5px;
		}
	}
}

/* Component copyright */


// Menu toggle
#c-menu-toggle {
    display: block;
    cursor: pointer;
    z-index: 100;
    width: 31px;
    height: 23px;
    .c-hamburger,
    .c-hamburger::before,
    .c-hamburger::after {
        content: "";
        width: 30px;
        height: 4px;
        background-color: #000;
        display: block;
        transition: all ease-in-out 500ms;
        //background-color: #fff;
    }
    .c-hamburger{
		margin-top: 10px;
		//margin-left: 12px;
    }
    .c-hamburger::before {
        transform: translateY(-10px);
    }
    .c-hamburger::after {
        transform: translateY(6px);
    }

    .c-hamburger__top, .c-hamburger__top::before, .c-hamburger__top::after{
		background-color: #fff;
    }
    .open {
        transform: rotate(45deg);
        &::before {
            opacity: 0;
        }
        &::after {
            transform: translateY(-3px) rotate(90deg); // translateY( bang 1/2 chieu dai linetoggle)
        }
    }
}



// Component topics
.c-topics2__textpc{
	display: block;
	@include breakpointsp{
		display: none;
	}
}

.c-topics2__textsp{
	display: none;
	@include breakpointsp{
		display: block;
		line-height: 1.4;
	}
}

.c-topics__content__child{
	border-top: 1px solid #ccc;
	padding: 18px 0 17px 0;	
	&:hover{
		cursor: pointer;
	}
}

.c-topics__content__child__last{
	border-bottom: 1px solid #ccc;
}
.c-topics__content__q{
	display: flex;
	position: relative;
	.c-column1{
		width: 125px;
		span{
			font-size: 1.6rem;
			font-weight: 700;
			letter-spacing: 3px;
		}
	}

	.c-column2{
		p{
			font-size: 1.6rem;
			font-weight: 700;
		}		
	}

	@include breakpointsp{
		.c-column1{
			width: 27%;
			span{
				font-size: 1.4rem;
				letter-spacing: 2px;
			}
		}
		.c-column2{
			width: 65%;
			p{
				font-size: 1.4rem;
				line-height: 1.4;
			}
		}
	}

}




.c-topics__content__a{
	display: none;
	margin-top: 12px;
}

.c-topics__a__text1{
	p{
		font-size: 1.6rem;
	}
	@include breakpointsp{
		p{
			font-size: 1.4rem;
			line-height: 1.5;
		}
		p:nth-child(3){
			line-height: 1.2;
		}
	}
}

.c-topics__a__link{
	color: #069d8f;
	text-decoration: underline;
	font-size: 1.6rem;
	letter-spacing: 1.5px;
	margin: 10px 0 30px;
	@include breakpointsp{
		font-size: 1.4rem;
		margin: 0 0 20px;
		letter-spacing: 1px;
	}
}

.c-topics__a__text2{	
	p{
		font-size: 1.6rem;
		letter-spacing: 0.5px;
	}
	p:first-child{
		font-weight: 600;
		letter-spacing: 1.5px;
	}
	@include breakpointsp{
		p{
			font-size: 1.4rem;
			line-height: 1.4;
		}
	}
}


.c-backnext{
	margin: 18px 0 67px;
	display: flex;
	justify-content: space-between;
	@include breakpointsp{
		margin: 18px 0 38px;
	}
}

.c-back, .c-next{
	a{
		display: flex;
		align-items: center;
		text-decoration: underline;
		color: #069d8f;
		span{
			color: #069d8f;
			font-size: 1.6rem;

		}
		&:hover{
			text-decoration: none;
			span{
				color: #666666;
			}
		}
	}
	
}

.c-back{
	a{
		img{
			margin-right: 6px;
		}
	}
}

.c-next{
	a{
		img{
			margin-left: 10px;
		}
	}
}

