/* Component footer */
footer{
	.l-content{
		background-color: #49c8b2;
	}
}

.c-f__top{
	text-align: center;
	margin-bottom: 17px;
	p{
		font-size: 2rem;
		color: #000000;
		font-weight: 700;
		letter-spacing: 2px;
	}
	@include breakpointsp{
		margin-bottom: 10px;
		p{
			font-size: 2.2rem;
		}
	}
}

.c-f__ap{
	display: flex;
	justify-content: center;
	margin-bottom: 33px;
	div:first-child{
		margin-right: 22px;
	}

	.c-f__apsp__apple, .c-f__apsp__google{
		display: none;
	}

	@include breakpointsp{
		display: flex;
		justify-content: space-between;
		margin-bottom: 20px;
		.c-f__appc__apple, .c-f__appc__google{
			display: none;
		}
		.c-f__apsp__apple, .c-f__apsp__google{
			display: block;
			width: 48%;
			img{
				width: 100%;
				height: auto;
			}
		}
	}
}

.c-f__middle{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 12px;
	@include breakpointsp{
		display: flex;
		flex-direction: column;
		margin-bottom: 16px;
	}
}


.c-f__middle__logopc{
	width: 25%;
	@include breakpointsp{
		display: none;
	}
}

.c-f__middle__logosp{
	display: none;
	margin-bottom: 30px;
	@include breakpointsp{
		display: block;
		img{
			width: 100%;
			height: auto;
		}
	}
}

.c-f__text1{
	display: flex;
	justify-content: space-between;
	width: 35%;
	span{
		color: #fff;
		font-weight: 700;
		&:hover{
			color: #069d8f;
		}
	}
	@include breakpointsp{
		width: auto;
		margin-bottom: 4px;
		span{
			font-size: 1.3rem;
		}
		span:nth-child(2){
			margin: 0 10px;
		}
	}
}

.c-f__text2{
	width: 24%;
	span{
		color: #fff;
		font-weight: 700;
		&:hover{
			color: #069d8f;
		}
	}
	@include breakpointsp{
		width: auto;
	}
}

.c-f__ap2{
	display: flex;
	justify-content: space-between;
	width: 13%;
	@include breakpointsp{
		display: none;
	}
}

.c-f__bot{
	text-align: center;
	p{
		font-size: 1.2rem;
		color: #fff;
		letter-spacing: 1px;
	}
	p:first-child{
		margin-bottom: 4px;
	}
	p:last-child{
		letter-spacing: 1.5px;
	}
	@include breakpointsp{
		p{
			font-size: 1.1rem;
		}
		p:first-child{
			padding: 0 16px;
			margin-bottom: 0;
		}
		.c-f__bot__textpc{
			display: none;
		}
	}
}

.c-f__bot__textsp{
	display: none;
	@include breakpointsp{
		display: block;
	}
}