/* Component header */
@import "mixin";// breakpoint sp
@import "vars";	// variable
.only-pc{
	width: 100%;
	min-width: 780px;
	@include breakpointsp{
		display: none;
	}
}

.c-headpc{
	width: 100%;
	min-width: 780px;
	padding: 10px 10px;
	display: flex;
	justify-content: space-between;
	background-color: #fff;
	box-shadow: 0 2px 20px 0 #c8c8c8;
	position: relative;
}

.c-headpc__left{
	
}
.c-headpc__right{
	display: flex;
	justify-content: space-between;
	width: 65%;
}

.c-headpc__menu{
	width: 31%;
}

.c-headpc__ruleapp{
	width: 63%;
}

.c-menupc{
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 100%;
}
.c-menuruleapp{
	display: flex;
	align-items: center;
	justify-content: flex-end;
	height: 100%;
}

.c-menupc{
	a{
		font-size: 1.6rem;
		color: #000000;
		font-weight: 700;
		letter-spacing: 2px;
	}
}

.c-menuruleapp{
	a{
		font-size: 1.4rem;
		color: #000000;
		font-weight: 700;
		letter-spacing: 0.5px;
	}
}
.c-appapple{
	margin-left: 10px;
}
.c-appgoogle{
	margin-left: 8px;
}



.c-slidepc{
	position: relative;
}

.c-slide{
	//position: relative;
}

.c-main__logo{
	position: absolute;
	z-index: 200;
	top: 31%;
	bottom: 26%;
	left: 39%;
	right: 39%;
	//width: 780px;
	margin: 0 auto;
}

.c-headpc__top{
	width: 100%;
	min-width: 780px;
	height: 72px;
	padding: 10px 10px;
	display: flex;
	justify-content: space-between;
	position: absolute;
	z-index: 150;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.c-slide__img{
	img{
		width: 100%;
	}
}


// CSS slider top.html

.c-slide{
	.owl-carousel{
		.owl-nav{
			display: none;
		}
		.owl-dots{
			position: absolute;
			z-index: 150;
			top: 16.5%;
			left: 2.1%;
			right: 0;
			bottom: 0;

			.owl-dot{
				width: 12px;
				height: 12px;
				border-radius: 50%;
				background-color: #cccccc;
				display: block;
				margin-bottom: 44px;
				position: relative;
				&:after{
					content: "";
					width: 1px;
					height: 25px;
					left: 46%;
					top: 184%;
					display: block;
					background-color: #cccccc;
					position: absolute;
				}
				&:last-child::after{
					width: 0;
					height: 0;
				}
			}

			.active{
				background-color: #069d8f;
				position: relative;
				&::before{
					content: "";
					width: 16px;
					height: 16px;
					border-radius: 50%;
					border: 2px solid #069d8f;
					background-color: transparent;
					position: absolute;
					top: -33%;
					left: -33%;
					right: 0;
					bottom: 0;
				}
			}
		}
	}
}










/* Component navi */
.c-navi{
	width: 100%;
	ul{		
		height: 100px;
		margin: 0 auto;
		display: flex;
		justify-content: flex-end;
		position: relative;
	}

	li{
		margin-right: 35px;
		
	}
	li::before{
		
	}

	li:last-child{
		margin-right: 55px;
	}
	
	li:hover{
		background-color: #4471c6;
		a{
			color: #fff;
		}
	}
	a{
		font-size: 1.8rem;
		display: flex;
		justify-content: center;
		align-items: center;
		color: #3c3c3c;
		height: 100px;
		letter-spacing: 2px;
		//border-left: 1px solid #ccc;
		span{
			margin-right: 7px;
		}
	}
}


.c-navisp{
	width: 100%;
	top: 100%;
	left: 0;
	position: absolute;
	z-index: 200;
	display: none;
	ul{		
		

	}
	li{
		display: block;
		
	}
	li:first-child{
		a{
			padding-top: 56px;
		}
	}
	a{
		font-size: 1.2rem;
		padding: 7px 10px;
		display: block;
		color: #333;
		background-color: #fff;
		letter-spacing: 4px;
		
	}

	li:nth-child(1), li:nth-child(2), li:nth-child(3){
		a{
			font-size: 2.1rem;
			font-weight: 700;
			text-align: center;
		}
	}
	li:nth-child(4){
		a{
			font-size: 1.5rem;
			font-weight: 700;
			text-align: center;
			letter-spacing: 1px;
			padding-top: 60px;
		}
	}
	li:nth-child(5), li:nth-child(6){
		a{
			text-align: center;
			padding: 17px 10px 14px;
			img{
				width: 164px;
				height: 47px;
			}
		}
	}
	li:nth-child(6){
		a{
			padding: 0 10px;
		}
	}

}

/* Component listtop */
.c-listtop{
	ul{
		display: flex;
		li{
			margin-left: 20px;
		}
		a{
			font-size: 1.6rem;
			color: #333;
		}
	}
}

/* Component breadcrumb */
.c-breadcrumbheader{
	padding: 30px 0;
	margin-bottom: 30px;
	ul{	
		display: flex;
	}
	li{
		font-size: 1.2rem;
		line-height: 1;
	}
	a{
		color: #333333;
		font-size: 1.2rem;
		display: inline-block;
		line-height: 1;
	}
	li:first-child{
		a{
			color: #4471c6;
		}
		
	}
	
	li::after{
		content: "›";		
		display: inline-block;
		margin: 0 7px;
	}
	li:last-child::after{
		content: "";
	}
	@include breakpointsp{
		display: none;
	}
}




// SP only
.only-sp{
	display: none;
	@include breakpointsp{
		display: block;
	}
}
.c-headsp{
	width: 100%;
	height: auto;
	position: relative;
	box-shadow: 0 2px 20px 0 #c8c8c8;
}

.c-headsp__top{
	background-color: #49c8b2;
	.c-headsp__inner{
		padding: 8px 11px;
	}
}

.c-headsp__inner{
	width: 100%;
	height: auto;
	padding: 10px 11px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#c-menu-toggle{	
	margin-right: 36px;
}

.c-logosp{
	width: 30%;
	img{
		width: 100%;
		height: auto;
	}
}

.c-appsp{
	display: flex;
	justify-content: space-between;	
	width: 19%;
	div{
		width: 50%;
		img{
			width: 100%;
			height: auto;
		}
	}
	.c-appsp__twitter{
		margin-left: 14px;
	}
}