@charset "UTF-8";
@import "vars";	// 変数 Variable
@import "functions"; // 関数等 Function
@import "mixin";// breakpoint sp

/*------------------------------------------------------------
	Top page
------------------------------------------------------------*/
/* Code page qa.html */

.p-qa1{
	background-color: #e5e5e5;
}

.p-qa2{
	.l-content__inner{
		padding: 65px 0 65px;
	}
	.c-sectionqa1{
		margin-bottom: 65px;
	}

	.c-sectionqa2{
		.c-qa2{
			padding-bottom: 13px;
		}
		.c-lineheight3{
			line-height: 1.3;
		}
	}

	@include breakpointsp{
		.l-content__inner{
			padding: 38px 14px 47px;
		}
		.c-sectionqa1{
			margin-bottom: 37px;
		}
	}
}

footer{
	.l-content__inner{
		padding: 60px 0;
	}

	@include breakpointsp{
		.l-content__inner{
			padding: 38px 14px;
		}
	}
}

/* Code page rule.html */

.p-rule1{
	background-color: #e5e5e5;
	margin-bottom: 62px;

	@include breakpointsp{
		margin-bottom: 28px;
		.c-qa1{
			span{
				letter-spacing: 0;
			}
		}
	}
}

.p-rule2{
	margin-bottom: 36px;
	@include breakpointsp{
		margin-bottom: 26px;
	}
}

.p-rule3{
	margin-bottom: 26px;
	.c-rulesp__1{
		display: none;
	}
	@include breakpointsp{
		margin-bottom: 20px;
		.c-rule__1{
			display: none;
		}
		.c-rulesp__1{
			display: block;
			p{
				font-size: 1.2rem;
				letter-spacing: 0;
			}
		}
	}
}

.p-rule4{
	.c-rule__2_1{
		margin-bottom: 25px;
	}
	.c-rule__2__2__text3sp{
		display: none;
	}
	@include breakpointsp{
		.c-rule__2{
			p{
				font-size: 1.2rem;
			}
		}
		.c-rule__2_1{
			margin-top: 5px;
			margin-bottom: 22px;
			p:nth-child(2){
				line-height: 1.7;
			}
			p:nth-child(3){
				line-height: 1.5;
			}
		}
		.c-rule__2__2__text2pc, .c-rule__2__2__text3pc{
			display: none;
		}
		.c-rule__2__2__text3sp{
			display: block;
			line-height: 1.6
		}
		.c-rule__2_2{
			p:nth-child(2){
				line-height: 1.6;
			}
		}

		.c-border__bot{
			padding-bottom: 36px;
		}
	}
}

.p-rule5{
	.l-content__inner{
		padding: 40px 0 64px;
		span:first-child{
			margin-bottom: 10px;
		}
	}
	@include breakpointsp{
		.l-content__inner{
			padding: 28px 14px 39px;
		}
	}
}


// Code top.html

.p-top1{
	background-color: #49c8b2;
	.l-content__inner{
		padding-bottom: 81px;
	}
	@include breakpointsp{
		.l-content__inner{
			padding-bottom: 14px;
		}
	}
}

.p-top2{
	.l-content__inner{
		padding: 65px 0 60px;
	}
	@include breakpointsp{
		.l-content__inner{
			padding: 30px 14px 26px;
		}
	}
}

.p-top3{
	background-color: #e5e5e5;
	.l-content__inner{
		padding: 65px 0;
	}
	@include breakpointsp{
		.l-content__inner{
			padding: 32px 14px 28px;
		}
	}
}

.p-top4{
	.l-content__inner{
		padding-top: 65px;
		padding-bottom: 65px;
	}
	@include breakpointsp{
		.l-content__inner{
			padding-top: 30px;
			padding-bottom: 23px;
		}		
	}
}

.p-top5{
	background-color: #e5e5e5;
	.l-content__inner{
		padding: 65px 0;
	}
	@include breakpointsp{
		.l-content__inner{
			padding: 40px 14px;
		}
	}
}


// Code Topics.html

.p-topics1{
	background-color: #e5e5e5;
	.c-qa1{
		span{
			letter-spacing: 4px;
		}
	}
}

.p-topics2{
	.l-content__inner{
		padding: 60px 0 43px;
		.c-topics2__textpc{
			line-height: 1.8;
		}
	}
	@include breakpointsp{
		.l-content__inner{
			padding: 26px 14px 28px;
		}
	}
}

