/* Color text */
.cardgroup {
  background: url("../img/pc/pc_bg.jpg") no-repeat top center;
  background-size: 100% 100%;
  margin-top: -616px;
  overflow: hidden;
}

.cardgroup .l-content__inner {
  padding: 100px 0 94px;
}

@media (max-width: 768px) {
  .cardgroup {
    margin-top: -7%;
  }
  .cardgroup .l-content__inner {
    padding: 53px 10px 50px;
  }
}

.p-shin1 {
  margin-bottom: 120px;
}

@media (max-width: 768px) {
  .p-shin1 {
    margin-top: 28px;
    margin-bottom: 50px;
  }
  .p-shin1 .c-card1_2 .c-card__titlesp, .p-shin1 .c-card1_3 .c-card__titlesp {
    top: 18%;
  }
  .p-shin1 .c-card1_2 .c-card__middlesp, .p-shin1 .c-card1_3 .c-card__middlesp {
    top: 42%;
  }
  .p-shin1 .c-card1_2 .c-card__botsp, .p-shin1 .c-card1_3 .c-card__botsp {
    top: 61%;
  }
}

.p-shin2 {
  margin-bottom: 133px;
}

.p-shin2 .c-fee__middle {
  margin-bottom: 18px;
}

@media (max-width: 768px) {
  .p-shin2 {
    margin-bottom: 33px;
  }
  .p-shin2 .c-fee__middle {
    margin-bottom: 15px;
  }
  .p-shin2 .l-content__inner {
    padding: 0;
  }
  .p-shin2 .c-toptitle__img img {
    width: 56px;
    height: 34px;
  }
}

.p-shin3 {
  position: relative;
}

.p-shin3 .c-resevation__imgpc {
  width: 100%;
  height: auto;
}

.p-shin3 .c-resevation__imgpc img {
  width: 100%;
  height: auto;
}

.p-shin3 .c-resevation__imgsp {
  display: none;
}

@media (max-width: 768px) {
  .p-shin3 {
    margin-bottom: 38px;
  }
  .p-shin3 .c-resevation__imgpc {
    display: none;
  }
  .p-shin3 .c-resevation__imgsp {
    display: block;
  }
  .p-shin3 .c-resevation__imgsp img {
    width: 100%;
    height: auto;
  }
}

.p-shin4 {
  margin-top: -11px;
  margin-bottom: 122px;
  position: relative;
}

@media (max-width: 768px) {
  .p-shin4 {
    margin-top: 0;
    margin-bottom: 50px;
  }
  .p-shin4 .c-title {
    margin-bottom: 26px;
  }
  .p-shin4 .c-title__imgsp {
    width: 139px;
    height: 33px;
  }
}

.p-shin5 {
  margin-bottom: 125px;
}

.p-shin5 .c-title {
  margin-bottom: 50px;
}

@media (max-width: 768px) {
  .p-shin5 {
    margin-bottom: 42px;
  }
  .p-shin5 .c-title {
    margin-bottom: 25px;
  }
  .p-shin5 .c-title__imgsp {
    width: 87px;
    height: 35px;
  }
}

.p-shin6 {
  position: relative;
}

.p-shin7 {
  margin-top: 634px;
  background-color: #eeeeee;
}

.p-shin7 .l-content__inner {
  padding: 100px 0 96px;
}

@media (max-width: 768px) {
  .p-shin7 {
    margin-top: 674px;
  }
  .p-shin7 .l-content__inner {
    padding: 39px 0 37px;
  }
}

.p-shin8 {
  background-color: #33c49d;
}

.p-shin8 .l-content__inner {
  padding: 50px 0 55px;
}

.p-shin8 .c-text {
  margin-top: 27px;
}

@media (max-width: 768px) {
  .p-shin8 .l-content__inner {
    padding: 30px 10px 27px;
  }
  .p-shin8 .c-text {
    margin-top: 22px;
  }
}

.p-shin9 {
  background-color: #3c3c3c;
}
