@charset "UTF-8";
/* Color text */
/*------------------------------------------------------------
	Default
------------------------------------------------------------*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header, button,
hgroup, menu, nav, section,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 1.4rem;
}

input, textarea, a {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body, table,
input, textarea, select, option, button,
h1, h2, h3, h4, h5, h6 {
  font-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

h2 {
  font-size: 2.2rem;
}

h3 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.6rem;
}

h5 {
  font-size: 1.4rem;
}

table,
input, textarea, select, option {
  line-height: 1.1;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
  display: block;
}

p {
  letter-spacing: 1px;
}

blockquote, q {
  quotes: none;
}

:focus {
  outline: 0;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

img {
  vertical-align: top;
}

a {
  text-decoration: none;
  display: block;
}

span, a, li {
  line-height: 1;
}

@media (max-width: 768px) {
  h2 {
    font-size: 1.6rem;
    line-height: 1;
  }
  h3 {
    font-size: 1.4rem;
  }
  h4 {
    font-size: 1.4rem;
  }
  p {
    font-size: 1.4rem;
  }
}

/*------------------------------------------------------------
	Text Format
------------------------------------------------------------*/
/* text position */
.taLeft {
  text-align: left !important;
}

.taCenter {
  text-align: center !important;
}

.taRight {
  text-align: right !important;
}

.vTop {
  vertical-align: top !important;
}

.vMiddle {
  vertical-align: middle !important;
}

/* font weight */
.fwNormal {
  font-weight: normal !important;
}

.fwBold {
  font-weight: bold !important;
}

/*------------------------------------------------------------
	adjustment class ※ no use frequently
------------------------------------------------------------*/
.mt0 {
  margin-top: 0 !important;
}

.mb0 {
  margin-bottom: 0 !important;
}

/*------------------------------------------------------------
	clearfix（float解除）
------------------------------------------------------------*/
.clearfix {
  *zoom: 1;
}

.clearfix:after {
  display: block;
  clear: both;
  content: "";
}

/*------------------------------------------------------------
	for tracking tag
------------------------------------------------------------*/
.trackTags {
  display: none;
}

/* Color for text */
.u-red {
  color: #F00;
}

.u-pink {
  color: #ff1e5b;
  font-weight: 700;
}

.u-lightblack {
  color: #333333;
}

.u-white {
  color: #fff;
}

.u-green {
  color: #8CC152;
}

.u-cyanblue {
  color: #5D9CEC;
}

.u-lightblue {
  color: #3BAFDA;
}

.u-purple {
  color: #4471c6;
}

.u-gray {
  color: #bdbdbd;
}

.u-bgwhite {
  background-color: #fff;
}

.u-bgcyanblue {
  background-color: #5D9CEC;
}

.u-bg-darkgray {
  background-color: #434A54;
}

.u-bggray {
  background-color: #bdbdbd;
}

.u-bglightgray {
  background-color: #f6f6f6;
}

.u-bgred {
  background-color: #F00;
}

.u-bgred2 {
  background-color: #e13939;
}

.u-bgpurple {
  background-color: #4471c6;
}

.u-bgyellow {
  background-color: #ffbd2d;
}

.u-fontsize38 {
  font-size: 3.8rem;
}

@media (max-width: 768px) {
  .u-fontsize38 {
    font-size: 2.6rem;
  }
}

.u-fontsize30 {
  font-size: 3rem;
}

@media (max-width: 768px) {
  .u-fontsize30 {
    font-size: 2.2rem;
  }
}

.u-fontsize27 {
  font-size: 2.7rem;
}

.u-fontsize25 {
  font-size: 2.5rem;
}

@media (max-width: 768px) {
  .u-fontsize25 {
    font-size: 2.2rem;
  }
}

.u-fontsize20 {
  font-size: 2rem;
}

@media (max-width: 768px) {
  .u-fontsize20 {
    font-size: 1.7rem;
  }
}

.u-fontsize19 {
  font-size: 1.9rem;
}

.u-fontsize16 {
  font-size: 1.6rem;
}

@media (max-width: 768px) {
  .u-fontsize16 {
    font-size: 1.4rem;
  }
}

.u-fontsize14 {
  font-size: 1.4rem;
}

.u-fontsize12 {
  font-size: 1.2rem;
}

.u-fontsize11 {
  font-size: 1.1rem;
}

.u-fontweight {
  font-weight: 700;
}

.u-margin--bot116 {
  margin-bottom: 116px;
}

.u-margin--bot114 {
  margin-bottom: 114px;
}

.u-margin--bot120 {
  margin-bottom: 120px;
}

.u-margin--bot90 {
  margin-bottom: 90px;
}

.u-margin--bot80 {
  margin-bottom: 80px;
}

.u-margin--bot78 {
  margin-bottom: 78px;
}

.u-margin--bot62 {
  margin-bottom: 62px;
}

.u-margin--bot60 {
  margin-bottom: 60px;
}

.u-margin--bot56 {
  margin-bottom: 56px;
}

.u-margin--bot28 {
  margin-bottom: 28px;
}

.u-margin--bot27 {
  margin-bottom: 27px;
}

.u-margin--bot24 {
  margin-bottom: 24px;
}

.u-margin--bot22 {
  margin-bottom: 22px;
}

.u-margin--bot20 {
  margin-bottom: 20px;
}

.u-margin--bot14 {
  margin-bottom: 14px;
}

.u-margin--bot10 {
  margin-bottom: 10px;
}

.u-margin--bot8 {
  margin-bottom: 8px;
}

.u-margin--bot6 {
  margin-bottom: 6px;
}

.u-margin--bot4 {
  margin-bottom: 4px;
}

.u-margin--bot3 {
  margin-bottom: 3px;
}

.u-margin--top80 {
  margin-top: 80px;
}

.u-margin--top32 {
  margin-top: 32px;
}

.u-margin--top22 {
  margin-top: 22px;
}

.u-margin--top10 {
  margin-top: 10px;
}

.u-paddingleft6 {
  padding-left: 6px;
}

@media (max-width: 768px) {
  .u-paddingleft6 {
    padding-left: 0;
  }
}

.u-letterspacing {
  letter-spacing: -0.5px;
}

/*------------------------------------------------------------
	Layout
------------------------------------------------------------*/
/* Layout content */
.l-content {
  width: 100%;
  height: auto;
  min-width: 780px;
}

@media (max-width: 768px) {
  .l-content {
    width: 100%;
    min-width: auto;
  }
}

.l-content__inner {
  width: 780px;
  height: 100%;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .l-content__inner {
    width: 100%;
    padding: 0 14px;
  }
}

/* Layout main */
/* Layout sidebar */
/* body {
	min-width: 800px;
	ウインドウ幅で横スクロール時に背景が切れるバグ対策でコンテンツと同じ幅を指定
	line-height: 1.5;
	text-align: center;
} */
/* #container {
	margin: 0 auto;
	width: 800px;
	background-color: #fff;
	text-align: left;
} */
/* .l-main {
	margin-bottom: 10px;
	font-size: 1.4rem;
	@include cf;
	// @extend %cf;
} */
/*------------------------------------------------------------
	header
------------------------------------------------------------*/
/* #header {
	margin-bottom: 10px;
	padding: 5px 10px 10px;
	background-color: #efefef;
	position: relative;
	h1 {
		margin: 0 150px 5px 0;
		font-size: 1.1rem;
		font-weight: normal;
	}
} */
/*------------------------------------------------------------
	Navi
------------------------------------------------------------*/
/* #gNavi {
	margin-bottom: 10px;
	li {
		width: 160px;
		background-color: #efefef;
		float: left;
		a {
			padding: 10px 0;
			display: block;
			text-decoration: none;
			text-align: center;
		}
	}
} */
/*------------------------------------------------------------
	Breadcrumbs
------------------------------------------------------------*/
/* #pagePath {
	margin-bottom: 10px;
	li {
		margin-right: 2px;
		display: inline;
		a {
			margin-right: 5px;
		}
	}
} */
/*------------------------------------------------------------
	contentc
------------------------------------------------------------*/
/* #conts {
	width: 580px;
	float: left;
} */
/*------------------------------------------------------------
	side
------------------------------------------------------------*/
/* #sideBar {
	padding: 50px 0;
	width: 200px;
	background-color: #efefef;
	float: right;
}
 */
/*------------------------------------------------------------
	footer
------------------------------------------------------------*/
/* #footer {
	padding: 10px 10px 5px;
	background-color: #efefef;
} */
/* Component header */
/* Color text */
.only-pc {
  width: 100%;
  min-width: 780px;
}

@media (max-width: 768px) {
  .only-pc {
    display: none;
  }
}

.c-headpc {
  width: 100%;
  min-width: 780px;
  padding: 10px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 20px 0 #c8c8c8;
          box-shadow: 0 2px 20px 0 #c8c8c8;
  position: relative;
}

.c-headpc__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 65%;
}

.c-headpc__menu {
  width: 31%;
}

.c-headpc__ruleapp {
  width: 63%;
}

.c-menupc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.c-menuruleapp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 100%;
}

.c-menupc a {
  font-size: 1.6rem;
  color: #000000;
  font-weight: 700;
  letter-spacing: 2px;
}

.c-menuruleapp a {
  font-size: 1.4rem;
  color: #000000;
  font-weight: 700;
  letter-spacing: 0.5px;
}

.c-appapple {
  margin-left: 10px;
}

.c-appgoogle {
  margin-left: 8px;
}

.c-slidepc {
  position: relative;
}

.c-main__logo {
  position: absolute;
  z-index: 200;
  top: 31%;
  bottom: 26%;
  left: 39%;
  right: 39%;
  margin: 0 auto;
}

.c-headpc__top {
  width: 100%;
  min-width: 780px;
  height: 72px;
  padding: 10px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  z-index: 150;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.c-slide__img img {
  width: 100%;
}

.c-slide .owl-carousel .owl-nav {
  display: none;
}

.c-slide .owl-carousel .owl-dots {
  position: absolute;
  z-index: 150;
  top: 16.5%;
  left: 2.1%;
  right: 0;
  bottom: 0;
}

.c-slide .owl-carousel .owl-dots .owl-dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #cccccc;
  display: block;
  margin-bottom: 44px;
  position: relative;
}

.c-slide .owl-carousel .owl-dots .owl-dot:after {
  content: "";
  width: 1px;
  height: 25px;
  left: 46%;
  top: 184%;
  display: block;
  background-color: #cccccc;
  position: absolute;
}

.c-slide .owl-carousel .owl-dots .owl-dot:last-child::after {
  width: 0;
  height: 0;
}

.c-slide .owl-carousel .owl-dots .active {
  background-color: #069d8f;
  position: relative;
}

.c-slide .owl-carousel .owl-dots .active::before {
  content: "";
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid #069d8f;
  background-color: transparent;
  position: absolute;
  top: -33%;
  left: -33%;
  right: 0;
  bottom: 0;
}

/* Component navi */
.c-navi {
  width: 100%;
}

.c-navi ul {
  height: 100px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
}

.c-navi li {
  margin-right: 35px;
}

.c-navi li:last-child {
  margin-right: 55px;
}

.c-navi li:hover {
  background-color: #4471c6;
}

.c-navi li:hover a {
  color: #fff;
}

.c-navi a {
  font-size: 1.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #3c3c3c;
  height: 100px;
  letter-spacing: 2px;
}

.c-navi a span {
  margin-right: 7px;
}

.c-navisp {
  width: 100%;
  top: 100%;
  left: 0;
  position: absolute;
  z-index: 200;
  display: none;
}

.c-navisp li {
  display: block;
}

.c-navisp li:first-child a {
  padding-top: 56px;
}

.c-navisp a {
  font-size: 1.2rem;
  padding: 7px 10px;
  display: block;
  color: #333;
  background-color: #fff;
  letter-spacing: 4px;
}

.c-navisp li:nth-child(1) a, .c-navisp li:nth-child(2) a, .c-navisp li:nth-child(3) a {
  font-size: 2.1rem;
  font-weight: 700;
  text-align: center;
}

.c-navisp li:nth-child(4) a {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  letter-spacing: 1px;
  padding-top: 60px;
}

.c-navisp li:nth-child(5) a, .c-navisp li:nth-child(6) a {
  text-align: center;
  padding: 17px 10px 14px;
}

.c-navisp li:nth-child(5) a img, .c-navisp li:nth-child(6) a img {
  width: 164px;
  height: 47px;
}

.c-navisp li:nth-child(6) a {
  padding: 0 10px;
}

/* Component listtop */
.c-listtop ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.c-listtop ul li {
  margin-left: 20px;
}

.c-listtop ul a {
  font-size: 1.6rem;
  color: #333;
}

/* Component breadcrumb */
.c-breadcrumbheader {
  padding: 30px 0;
  margin-bottom: 30px;
}

.c-breadcrumbheader ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.c-breadcrumbheader li {
  font-size: 1.2rem;
  line-height: 1;
}

.c-breadcrumbheader a {
  color: #333333;
  font-size: 1.2rem;
  display: inline-block;
  line-height: 1;
}

.c-breadcrumbheader li:first-child a {
  color: #4471c6;
}

.c-breadcrumbheader li::after {
  content: "›";
  display: inline-block;
  margin: 0 7px;
}

.c-breadcrumbheader li:last-child::after {
  content: "";
}

@media (max-width: 768px) {
  .c-breadcrumbheader {
    display: none;
  }
}

.only-sp {
  display: none;
}

@media (max-width: 768px) {
  .only-sp {
    display: block;
  }
}

.c-headsp {
  width: 100%;
  height: auto;
  position: relative;
  -webkit-box-shadow: 0 2px 20px 0 #c8c8c8;
          box-shadow: 0 2px 20px 0 #c8c8c8;
}

.c-headsp__top {
  background-color: #49c8b2;
}

.c-headsp__top .c-headsp__inner {
  padding: 8px 11px;
}

.c-headsp__inner {
  width: 100%;
  height: auto;
  padding: 10px 11px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#c-menu-toggle {
  margin-right: 36px;
}

.c-logosp {
  width: 30%;
}

.c-logosp img {
  width: 100%;
  height: auto;
}

.c-appsp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 19%;
}

.c-appsp div {
  width: 50%;
}

.c-appsp div img {
  width: 100%;
  height: auto;
}

.c-appsp .c-appsp__twitter {
  margin-left: 14px;
}

/* Color text */
/* Component qa */
.c-qa1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 47px 0;
}

.c-qa1 div {
  margin-right: 12px;
}

.c-qa1 span {
  font-size: 2.6rem;
  font-weight: 700;
  letter-spacing: 6px;
}

@media (max-width: 768px) {
  .c-qa1 {
    padding: 22px 0;
  }
  .c-qa1 div img {
    width: 40px;
    height: 40px;
  }
  .c-qa1 span {
    font-size: 2.2rem;
  }
}

.c-qa2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
}

.c-qa2 div {
  margin-right: 6px;
}

.c-qa2 span {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 3px;
}

@media (max-width: 768px) {
  .c-qa2 {
    padding-bottom: 10px;
  }
  .c-qa2 div img {
    width: 23px;
    height: 23px;
  }
  .c-qa2 span {
    font-size: 1.65rem;
    letter-spacing: 2px;
  }
}

.c-qa__content__child {
  border-bottom: 1px solid #ccc;
  padding: 22px 0;
}

.c-qa__content__child:hover {
  cursor: pointer;
}

@media (max-width: 768px) {
  .c-qa__content__child {
    padding: 16px 0;
  }
}

.c-qa__content__child9 {
  padding: 18px 0;
}

.c-qa__content__child9 .c-plus::before, .c-qa__content__child9 .c-plus::after {
  top: 24%;
}

@media (max-width: 768px) {
  .c-qa__content__child9 {
    padding: 16px 0;
  }
}

.c-qa__content__q {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.c-qa__content__q p {
  color: #000000;
  font-size: 1.6rem;
  font-weight: 700;
}

@media (max-width: 768px) {
  .c-qa__content__q p {
    font-size: 1.4rem;
  }
}

.c-qa__content__a {
  display: none;
  margin-top: 5px;
}

.c-qa__content__a p {
  color: #6c6c6d;
  letter-spacing: 0.5px;
}

.c-qa__content__a p::before {
  content: "A.";
  font-size: 1.4rem;
  font-weight: 700;
  display: inline-block;
  margin-right: 17px;
}

@media (max-width: 768px) {
  .c-qa__content__a {
    margin-top: 14px;
  }
  .c-qa__content__a p {
    font-size: 1.2rem;
  }
  .c-qa__content__a p::before {
    margin-right: 5px;
  }
}

/* Component rule */
.c-border__bot {
  padding-bottom: 38px;
  border-bottom: 1px solid #ccc;
}

@media (max-width: 768px) {
  .c-border__bot {
    padding-bottom: 27px;
  }
  .c-border__bot p {
    line-height: 1.4;
    letter-spacing: 0;
  }
}

.c-seudo__padding::before {
  content: "";
  padding-left: 15px;
}

/* Component c-flex */
.c-flex--column3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media (max-width: 768px) {
  .c-flex--column3 span {
    font-size: 1rem;
  }
}

/* Commponent top.html */
.c-topsp__head {
  display: none;
  position: relative;
}

@media (max-width: 768px) {
  .c-topsp__head {
    display: block;
  }
}

.c-topsp__head__img img {
  width: 100%;
  height: auto;
}

.c-topsp__head__logo {
  position: absolute;
  top: 17%;
  left: 18%;
  right: 0;
  bottom: 0;
  width: 65%;
}

.c-topsp__head__logo img {
  width: 100%;
  height: auto;
}

.c-top1 {
  position: relative;
}

.c-top1__img {
  position: absolute;
  z-index: 50;
  top: -19%;
  left: 3%;
  right: 0;
  bottom: 0;
}

@media (max-width: 768px) {
  .c-top1__img {
    display: none;
  }
}

.c-top1__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 273px;
  padding-top: 45px;
}

.c-top1__content > p:first-child {
  letter-spacing: 2px;
}

@media (max-width: 768px) {
  .c-top1__content {
    padding-left: 0;
    padding-top: 13px;
  }
  .c-top1__content > p:first-child {
    letter-spacing: 1px;
  }
  .c-top1__content p {
    text-align: center;
    letter-spacing: 0;
  }
}

.c-groupcard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 26px;
}

@media (max-width: 768px) {
  .c-groupcard {
    margin-top: 9px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.c-card {
  margin-right: 48px;
}

@media (max-width: 768px) {
  .c-card {
    margin-right: 0;
    width: 28%;
  }
}

.c-card__imgpc {
  display: block;
}

@media (max-width: 768px) {
  .c-card__imgpc {
    display: none;
  }
}

.c-card__imgsp {
  display: none;
}

@media (max-width: 768px) {
  .c-card__imgsp {
    display: block;
  }
  .c-card__imgsp img {
    width: 100%;
    height: auto;
  }
}

.c-card__info {
  margin-top: 12px;
  text-align: center;
}

.c-card__info p {
  font-size: 16px;
}

@media (max-width: 768px) {
  .c-card__info p {
    font-size: 1.2rem;
  }
}

.c-top2__imgpc {
  margin-bottom: 32px;
}

@media (max-width: 768px) {
  .c-top2__imgpc {
    display: none;
  }
}

.c-top2__imgsp {
  display: none;
}

@media (max-width: 768px) {
  .c-top2__imgsp {
    display: block;
    margin-bottom: 27px;
  }
  .c-top2__imgsp img {
    width: 100%;
    height: auto;
  }
}

.c-top2__text {
  margin-bottom: 33px;
}

.c-top2__text p {
  line-height: 1.8;
}

@media (max-width: 768px) {
  .c-top2__text {
    margin-bottom: 0;
  }
  .c-top2__text p {
    line-height: 1.4;
  }
}

.c-top2__videopc {
  text-align: center;
  display: block;
  position: relative;
}

.c-top2__videopc video {
  width: 620px;
  height: 350px;
}

@media (max-width: 768px) {
  .c-top2__videopc {
    display: none;
  }
}

.c-top2__videosp {
  display: none;
  position: relative;
}

@media (max-width: 768px) {
  .c-top2__videosp {
    display: block;
    margin-bottom: 24px;
  }
  .c-top2__videosp video {
    width: 100%;
    height: 211px;
  }
}

.c-top3__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 33px;
}

.c-top3__title div {
  margin-right: 12px;
}

.c-top3__title span {
  letter-spacing: 4px;
}

@media (max-width: 768px) {
  .c-top3__title {
    margin-bottom: 16px;
  }
  .c-top3__title div {
    margin-right: 6px;
  }
  .c-top3__title div img {
    width: 38px;
    height: 38px;
  }
}

.c-top3__text1pc {
  display: block;
  margin-bottom: 30px;
}

.c-top3__text1pc p:first-child {
  line-height: 1.6;
}

.c-top3__text1pc p:last-child {
  line-height: 1.9;
}

@media (max-width: 768px) {
  .c-top3__text1pc {
    display: none;
  }
}

.c-top3__text1sp {
  display: none;
}

@media (max-width: 768px) {
  .c-top3__text1sp {
    display: block;
    margin-bottom: 26px;
  }
  .c-top3__text1sp p {
    line-height: 1.4;
  }
}

.c-top3__grid span:first-child {
  letter-spacing: 2px;
  margin-right: 13px;
}

.c-top3__grid span:last-child {
  letter-spacing: 1px;
}

.c-top3__grid1, .c-top3__grid2, .c-top3__grid3 {
  border-top: 2px solid #fff;
  padding: 13px 0;
}

@media (max-width: 768px) {
  .c-top3__grid1, .c-top3__grid2, .c-top3__grid3 {
    border-top: 1px solid #fff;
    padding: 10px 0;
  }
}

.c-top3__grid3 {
  border-bottom: 2px solid #fff;
}

@media (max-width: 768px) {
  .c-top3__grid3 {
    border-bottom: 1px solid #fff;
  }
}

.c-top3__text2 {
  text-align: right;
  margin-top: 14px;
  letter-spacing: 3.5px;
}

.c-top3__text2 span {
  border-bottom: 1px solid #000000;
}

.c-top3__text2 span:hover {
  border-bottom: none;
  color: #49c8b2;
}

@media (max-width: 768px) {
  .c-top3__text2 {
    margin-top: 13px;
    letter-spacing: 1px;
  }
}

.c-top4__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-top4__title div {
  margin-right: 20px;
}

.c-top4__title span {
  letter-spacing: 1px;
  margin-top: 30px;
}

@media (max-width: 768px) {
  .c-top4__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .c-top4__title div {
    margin-right: 0;
  }
  .c-top4__title span {
    margin-top: 15px;
  }
}

.c-top4__title__imgpc {
  display: block;
}

@media (max-width: 768px) {
  .c-top4__title__imgpc {
    display: none;
  }
}

.c-top4__title__imgsp {
  display: none;
}

@media (max-width: 768px) {
  .c-top4__title__imgsp {
    display: block;
  }
  .c-top4__title__imgsp img {
    width: 100%;
    height: auto;
  }
}

.c-top5__title {
  margin-bottom: 46px;
}

.c-top5__title div {
  margin-right: 20px;
}

.c-top5__title span {
  letter-spacing: 3px;
}

@media (max-width: 768px) {
  .c-top5__title {
    padding: 0 17px;
    margin-bottom: 30px;
  }
  .c-top5__title .c-top5__title__img {
    margin-right: 8px;
  }
  .c-top5__title .c-top5__title__img img {
    width: 37px;
    height: 37px;
  }
  .c-top5__title span {
    letter-spacing: 2px;
  }
}

@media (max-width: 768px) {
  .c-top5__content {
    padding: 0 17px;
  }
}

.c-top5__content__imgpc1, .c-top5__content__imgpc2 {
  display: block;
}

@media (max-width: 768px) {
  .c-top5__content__imgpc1, .c-top5__content__imgpc2 {
    display: none;
  }
}

.c-top5__content__imgsp1, .c-top5__content__imgsp2 {
  display: none;
}

@media (max-width: 768px) {
  .c-top5__content__imgsp1, .c-top5__content__imgsp2 {
    display: block;
  }
  .c-top5__content__imgsp1 img, .c-top5__content__imgsp2 img {
    width: 100%;
    height: auto;
  }
}

.c-top5__content__imgsp1 {
  margin-bottom: 20px;
}

.c-top4__slide {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 80px;
}

@media (max-width: 768px) {
  .c-top4__slide {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.c-top4__slide__imgpc {
  display: block;
  margin-right: 53px;
}

@media (max-width: 768px) {
  .c-top4__slide__imgpc {
    display: none;
  }
}

.c-top4__slide__imgsp {
  display: none;
}

@media (max-width: 768px) {
  .c-top4__slide__imgsp {
    display: block;
  }
  .c-top4__slide__imgsp img {
    width: 100%;
  }
}

.c-top4__slide__content {
  width: 370px;
  margin-top: 78px;
}

.c-top4__slide__content .c-top4__slide__text1 {
  padding: 4px 16px;
  border-radius: 20px;
  letter-spacing: 4px;
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
  background-color: #ffbd2d;
}

.c-top4__slide__content .c-top4__slide__text2 {
  margin-top: 11px;
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 2.7rem;
}

.c-top4__slide__content .c-top4__slide__text3 {
  margin-top: 18px;
  font-size: 1.6rem;
}

@media (max-width: 768px) {
  .c-top4__slide__content {
    width: auto;
    text-align: center;
    margin-top: 35px;
  }
  .c-top4__slide__content .c-top4__slide__text1 {
    font-size: 1.6rem;
    padding: 3px 12px;
  }
  .c-top4__slide__content .c-top4__slide__text2 {
    font-size: 1.7rem;
  }
  .c-top4__slide__content .c-top4__slide__text3 {
    font-size: 1.4rem;
    margin-top: 9px;
    letter-spacing: 0;
  }
}

.p-top4 .owl-carousel .owl-dots {
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 32%;
  right: 0;
  top: 93%;
}

.p-top4 .owl-carousel .owl-dots .owl-dot {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: #cccccc;
  margin: 0 5px;
}

.p-top4 .owl-carousel .owl-dots .active {
  background-color: #a0a0a0;
}

@media (max-width: 768px) {
  .p-top4 .owl-carousel .owl-dots {
    left: 0;
    top: 103.5%;
  }
  .p-top4 .owl-carousel .owl-dots .owl-dot {
    width: 10px;
    height: 10px;
  }
}

.c-top4__slides {
  position: relative;
  padding-bottom: 36px;
  padding-top: 48px;
  border-bottom: 2px solid #ccc;
}

.c-top4__slides:last-child {
  padding-bottom: 17px;
  border-bottom: 0;
}

.c-top4__slides .owl-carousel .c-top4__slide__imgpc {
  width: 196px;
  height: 395px;
}

@media (max-width: 768px) {
  .c-top4__slides {
    padding-top: 34px;
    padding-bottom: 64px;
    border-bottom: 1px solid #ccc;
  }
  .c-top4__slides:last-child {
    padding-bottom: 68px;
  }
}

.owl-nav {
  position: absolute;
  z-index: 100;
  height: 66px;
  top: 42%;
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.owl-nav .customPrevBtn, .owl-nav .customNextBtn {
  width: 35px;
  height: 66px;
}

.owl-nav .c-arrow__left__hover, .owl-nav .c-arrow__right__hover {
  display: none;
}

@media (max-width: 768px) {
  .owl-nav {
    top: 31%;
  }
  .owl-nav .c-arrow__left, .owl-nav .c-arrow__right {
    width: 24px;
    height: 43px;
  }
  .owl-nav .c-arrow__rightsp {
    float: right;
  }
}

@media (max-width: 768px) {
  .c-top4__slides2 {
    padding-bottom: 82px;
  }
  .c-top4__slides2 .c-top4__slide__content {
    margin-top: 40px;
  }
  .c-top4__slides2 .owl-nav {
    top: 29%;
  }
  .c-top4__slides2 .owl-carousel .owl-dots {
    top: 107%;
  }
}

.c-top4__slides3 .owl-nav {
  top: 43%;
}

@media (max-width: 768px) {
  .c-top4__slides3 {
    padding-top: 28px;
  }
  .c-top4__slides3 .c-top4__slide__content {
    margin-top: 48px;
  }
  .c-top4__slides3 .owl-nav {
    top: 30%;
  }
  .c-top4__slides3 .owl-carousel .owl-dots {
    top: 107%;
  }
}

.c-arrow__leftpc, .c-arrow__rightpc {
  display: inline;
}

@media (max-width: 768px) {
  .c-arrow__leftpc, .c-arrow__rightpc {
    display: none;
  }
}

.c-arrow__leftpc__hover, .c-arrow__rightpc__hover {
  display: none;
}

@media (max-width: 768px) {
  .c-arrow__leftpc__hover, .c-arrow__rightpc__hover {
    display: none;
  }
}

.c-arrow__leftsp, .c-arrow__rightsp {
  display: none;
}

@media (max-width: 768px) {
  .c-arrow__leftsp, .c-arrow__rightsp {
    display: inline;
    width: 23px;
    height: 43px;
  }
}

.c-top4__slides:hover .c-arrow__leftpc, .c-top4__slides:hover .c-arrow__rightpc {
  display: none;
}

.c-top4__slides:hover .c-arrow__leftpc__hover, .c-top4__slides:hover .c-arrow__rightpc__hover {
  display: inline;
}

@media (max-width: 768px) {
  .c-top4__slides:hover .c-arrow__leftpc__hover, .c-top4__slides:hover .c-arrow__rightpc__hover {
    display: none;
  }
}

/* Component c-lineheight */
/* Component banner */
/* Component relative */
/* component absolute */
/* Component c-fee */
.c-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 47px;
}

@media (max-width: 768px) {
  .c-title {
    margin-bottom: 29px;
    padding: 0 5px;
  }
}

.c-title__imgpc {
  display: block;
}

@media (max-width: 768px) {
  .c-title__imgpc {
    display: none;
  }
}

.c-title__imgsp {
  display: none;
}

@media (max-width: 768px) {
  .c-title__imgsp {
    display: block;
    width: 48%;
    height: auto;
  }
  .c-title__imgsp img {
    width: 100%;
    height: auto;
  }
}

.c-top {
  margin-bottom: 69px;
}

.c-top .c-top__title {
  text-align: center;
  background-color: #10222b;
  padding: 10px 0;
  margin-bottom: 30px;
}

.c-top .c-top__title p {
  color: #fff;
  font-size: 2rem;
}

@media (max-width: 768px) {
  .c-top {
    margin-bottom: 29px;
  }
  .c-top .c-top__title {
    margin-bottom: 20px;
  }
  .c-top .c-top__title p {
    font-size: 1.6rem;
  }
}

/* Component center */
.c-center {
  text-align: center;
}

.c-margin__auto {
  margin: 0 auto;
}

/* Component list */
.c-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.c-list > div {
  width: 312px;
  margin-bottom: 53px;
}

.c-listcontent {
  background-color: #e9eff2;
  padding: 16px 20px;
  height: 448px;
}

.c-listcontent li {
  line-height: 1.6;
}

/* Component img inside */
/* Component title */
/* Component text */
.c-text {
  text-align: center;
  color: #fff;
}

.c-text p {
  font-size: 1.5rem;
}

@media (max-width: 768px) {
  .c-text {
    text-align: left;
    padding: 0 15px;
    text-align: center;
  }
  .c-text p {
    font-size: 1.2rem;
    line-height: 1.3;
  }
  .c-text p:last-child {
    display: none;
  }
}

.c-textleft {
  text-align: left;
  color: #333333;
}

/* Component pagetop */
.page-top {
  position: fixed;
  display: none;
  bottom: 106px;
  right: 81px;
}

@media (max-width: 768px) {
  .page-top {
    bottom: 51px;
    right: 15px;
  }
  .page-top img {
    width: 50px;
    height: 50px;
  }
}

/* Component button */
/* Component breakcrum */
/* Component border */
.c-border {
  border-radius: 5px;
}

/* Component card, cardinfo */
/* Component check address */
/* Component table div */
.c-column1 {
  width: 714px;
}

.c-column1 p {
  letter-spacing: 1px;
  line-height: 1;
}

@media (max-width: 768px) {
  .c-column1 {
    width: 86%;
  }
  .c-column1 p {
    line-height: 1.4;
  }
}

@media (max-width: 768px) {
  .c-column1pc {
    display: none;
  }
}

.c-column1sp {
  display: none;
}

@media (max-width: 768px) {
  .c-column1sp {
    display: block;
  }
}

.c-column1__top p {
  line-height: 1.6;
}

@media (max-width: 768px) {
  .c-column1__top p {
    line-height: 1.3;
  }
}

.c-plus::before, .c-plus::after {
  content: "";
  width: 20px;
  height: 3px;
  background-color: #1287b3;
  position: absolute;
  top: 50%;
  right: 2.5%;
  bottom: 0;
  -webkit-transition: all ease-in-out 500ms;
  transition: all ease-in-out 500ms;
}

.c-plus::after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.c-plus2::before, .c-plus2::after {
  content: "";
  width: 20px;
  height: 3px;
  background-color: #c9c9c9;
  position: absolute;
  top: 44%;
  right: 2.5%;
  bottom: 0;
  -webkit-transition: all ease-in-out 500ms;
  transition: all ease-in-out 500ms;
}

@media (max-width: 768px) {
  .c-plus2::before, .c-plus2::after {
    right: 0;
    top: 48%;
  }
}

.c-plus2::after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.c-rowspopen .c-plus::before {
  opacity: 0;
}

.c-rowspopen .c-plus::after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.c-rowspopen .c-qa__content__a {
  display: block;
}

.c-rowspopen .c-plus2::before {
  opacity: 0;
}

.c-rowspopen .c-plus2::after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.c-rowspopen .c-qa__content__a, .c-rowspopen .c-topics__content__a {
  display: block;
}

/* Component arrow-down */
/* Component text */
/* Component message */
/* Component shring content-img */
/* Component button */
.c-playvideo {
  position: absolute;
  top: 40.5%;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
}

.c-playvideo a {
  display: inline-block;
  padding: 20px 52px;
  border: 1px solid #fff;
  border-radius: 40px;
}

.c-playvideo a img {
  margin-right: 10px;
}

.c-playvideo a span {
  color: #fff;
  font-weight: 700;
  font-size: 2.2rem;
  letter-spacing: 4px;
}

@media (max-width: 768px) {
  .c-playvideo {
    top: 39.5%;
  }
  .c-playvideo a {
    padding: 12px 30px;
  }
  .c-playvideo a span {
    font-size: 1.4rem;
    letter-spacing: 2px;
  }
  .c-playvideo a img {
    width: 9px;
    height: 13px;
  }
}

.c-btn__text {
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 1.8rem;
}

@media (max-width: 768px) {
  .c-btn__text {
    font-size: 1.2rem;
  }
}

/* Component display */
.c-display--block {
  display: block;
}

.c-display--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 768px) {
  .c-display--flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.c-display--flex__center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-circleline::after {
  content: "";
  display: inline-block;
  border-top: 1px solid #bdbdbd;
  width: 108px;
  margin-left: -5px;
}

.c-eventhover:hover {
  opacity: 0.6;
  -webkit-transition: opacity 500ms;
  transition: opacity 500ms;
}

.c-lihover:hover a {
  text-decoration: underline;
}

.c-contact {
  width: 100%;
  min-width: 540px;
  max-width: 780px;
  height: 418px;
  background-color: #10222b;
  margin-top: -42px;
  padding: 83px 0 54px 60px;
}

@media (max-width: 768px) {
  .c-contact {
    min-width: auto;
    max-width: auto;
    height: auto;
    margin-top: 0;
    padding: 16px 15px 12px 15px;
  }
}

.row {
  border-bottom: 1px solid #636f75;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 7px 0;
  width: 480px;
}

.row span, .row p {
  font-size: 1.5rem;
  font-weight: 700;
  color: #fff;
}

@media (max-width: 768px) {
  .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: auto;
    padding: 11px 0;
  }
  .row span {
    font-size: 1.4rem;
  }
  .row p {
    font-size: 1.2rem;
    font-weight: 500;
  }
  .row:last-child {
    border-bottom: 0;
  }
}

.column1 {
  width: 155px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.column1 span:first-child {
  margin-right: 4px;
  margin-top: 4px;
  line-height: 1;
}

.column1 span:last-child {
  line-height: 1.6;
}

@media (max-width: 768px) {
  .column1 {
    width: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 5px;
  }
  .column1 .c-icon__contact {
    display: none;
  }
  .column1 span:last-child {
    line-height: 1;
  }
}

@media (max-width: 768px) {
  .c-row__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.column2 {
  padding-left: 10px;
}

.column2 p {
  letter-spacing: 1px;
}

@media (max-width: 768px) {
  .column2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 0;
  }
  .column2 p {
    letter-spacing: 0.5px;
  }
}

/* Component copyright */
#c-menu-toggle {
  display: block;
  cursor: pointer;
  z-index: 100;
  width: 31px;
  height: 23px;
}

#c-menu-toggle .c-hamburger,
#c-menu-toggle .c-hamburger::before,
#c-menu-toggle .c-hamburger::after {
  content: "";
  width: 30px;
  height: 4px;
  background-color: #000;
  display: block;
  -webkit-transition: all ease-in-out 500ms;
  transition: all ease-in-out 500ms;
}

#c-menu-toggle .c-hamburger {
  margin-top: 10px;
}

#c-menu-toggle .c-hamburger::before {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

#c-menu-toggle .c-hamburger::after {
  -webkit-transform: translateY(6px);
          transform: translateY(6px);
}

#c-menu-toggle .c-hamburger__top, #c-menu-toggle .c-hamburger__top::before, #c-menu-toggle .c-hamburger__top::after {
  background-color: #fff;
}

#c-menu-toggle .open {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#c-menu-toggle .open::before {
  opacity: 0;
}

#c-menu-toggle .open::after {
  -webkit-transform: translateY(-3px) rotate(90deg);
          transform: translateY(-3px) rotate(90deg);
}

.c-topics2__textpc {
  display: block;
}

@media (max-width: 768px) {
  .c-topics2__textpc {
    display: none;
  }
}

.c-topics2__textsp {
  display: none;
}

@media (max-width: 768px) {
  .c-topics2__textsp {
    display: block;
    line-height: 1.4;
  }
}

.c-topics__content__child {
  border-top: 1px solid #ccc;
  padding: 18px 0 17px 0;
}

.c-topics__content__child:hover {
  cursor: pointer;
}

.c-topics__content__child__last {
  border-bottom: 1px solid #ccc;
}

.c-topics__content__q {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.c-topics__content__q .c-column1 {
  width: 125px;
}

.c-topics__content__q .c-column1 span {
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: 3px;
}

.c-topics__content__q .c-column2 p {
  font-size: 1.6rem;
  font-weight: 700;
}

@media (max-width: 768px) {
  .c-topics__content__q .c-column1 {
    width: 27%;
  }
  .c-topics__content__q .c-column1 span {
    font-size: 1.4rem;
    letter-spacing: 2px;
  }
  .c-topics__content__q .c-column2 {
    width: 65%;
  }
  .c-topics__content__q .c-column2 p {
    font-size: 1.4rem;
    line-height: 1.4;
  }
}

.c-topics__content__a {
  display: none;
  margin-top: 12px;
}

.c-topics__a__text1 p {
  font-size: 1.6rem;
}

@media (max-width: 768px) {
  .c-topics__a__text1 p {
    font-size: 1.4rem;
    line-height: 1.5;
  }
  .c-topics__a__text1 p:nth-child(3) {
    line-height: 1.2;
  }
}

.c-topics__a__link {
  color: #069d8f;
  text-decoration: underline;
  font-size: 1.6rem;
  letter-spacing: 1.5px;
  margin: 10px 0 30px;
}

@media (max-width: 768px) {
  .c-topics__a__link {
    font-size: 1.4rem;
    margin: 0 0 20px;
    letter-spacing: 1px;
  }
}

.c-topics__a__text2 p {
  font-size: 1.6rem;
  letter-spacing: 0.5px;
}

.c-topics__a__text2 p:first-child {
  font-weight: 600;
  letter-spacing: 1.5px;
}

@media (max-width: 768px) {
  .c-topics__a__text2 p {
    font-size: 1.4rem;
    line-height: 1.4;
  }
}

.c-backnext {
  margin: 18px 0 67px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 768px) {
  .c-backnext {
    margin: 18px 0 38px;
  }
}

.c-back a, .c-next a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: underline;
  color: #069d8f;
}

.c-back a span, .c-next a span {
  color: #069d8f;
  font-size: 1.6rem;
}

.c-back a:hover, .c-next a:hover {
  text-decoration: none;
}

.c-back a:hover span, .c-next a:hover span {
  color: #666666;
}

.c-back a img {
  margin-right: 6px;
}

.c-next a img {
  margin-left: 10px;
}

/* Component footer */
footer .l-content {
  background-color: #49c8b2;
}

.c-f__top {
  text-align: center;
  margin-bottom: 17px;
}

.c-f__top p {
  font-size: 2rem;
  color: #000000;
  font-weight: 700;
  letter-spacing: 2px;
}

@media (max-width: 768px) {
  .c-f__top {
    margin-bottom: 10px;
  }
  .c-f__top p {
    font-size: 2.2rem;
  }
}

.c-f__ap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 33px;
}

.c-f__ap div:first-child {
  margin-right: 22px;
}

.c-f__ap .c-f__apsp__apple, .c-f__ap .c-f__apsp__google {
  display: none;
}

@media (max-width: 768px) {
  .c-f__ap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 20px;
  }
  .c-f__ap .c-f__appc__apple, .c-f__ap .c-f__appc__google {
    display: none;
  }
  .c-f__ap .c-f__apsp__apple, .c-f__ap .c-f__apsp__google {
    display: block;
    width: 48%;
  }
  .c-f__ap .c-f__apsp__apple img, .c-f__ap .c-f__apsp__google img {
    width: 100%;
    height: auto;
  }
}

.c-f__middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 12px;
}

@media (max-width: 768px) {
  .c-f__middle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 16px;
  }
}

.c-f__middle__logopc {
  width: 25%;
}

@media (max-width: 768px) {
  .c-f__middle__logopc {
    display: none;
  }
}

.c-f__middle__logosp {
  display: none;
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  .c-f__middle__logosp {
    display: block;
  }
  .c-f__middle__logosp img {
    width: 100%;
    height: auto;
  }
}

.c-f__text1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 35%;
}

.c-f__text1 span {
  color: #fff;
  font-weight: 700;
}

.c-f__text1 span:hover {
  color: #069d8f;
}

@media (max-width: 768px) {
  .c-f__text1 {
    width: auto;
    margin-bottom: 4px;
  }
  .c-f__text1 span {
    font-size: 1.3rem;
  }
  .c-f__text1 span:nth-child(2) {
    margin: 0 10px;
  }
}

.c-f__text2 {
  width: 24%;
}

.c-f__text2 span {
  color: #fff;
  font-weight: 700;
}

.c-f__text2 span:hover {
  color: #069d8f;
}

@media (max-width: 768px) {
  .c-f__text2 {
    width: auto;
  }
}

.c-f__ap2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 13%;
}

@media (max-width: 768px) {
  .c-f__ap2 {
    display: none;
  }
}

.c-f__bot {
  text-align: center;
}

.c-f__bot p {
  font-size: 1.2rem;
  color: #fff;
  letter-spacing: 1px;
}

.c-f__bot p:first-child {
  margin-bottom: 4px;
}

.c-f__bot p:last-child {
  letter-spacing: 1.5px;
}

@media (max-width: 768px) {
  .c-f__bot p {
    font-size: 1.1rem;
  }
  .c-f__bot p:first-child {
    padding: 0 16px;
    margin-bottom: 0;
  }
  .c-f__bot .c-f__bot__textpc {
    display: none;
  }
}

.c-f__bot__textsp {
  display: none;
}

@media (max-width: 768px) {
  .c-f__bot__textsp {
    display: block;
  }
}

/*------------------------------------------------------------
	Headline
------------------------------------------------------------*/
/*------------------------------------------------------------
	Button
------------------------------------------------------------*/
