/* Color text */
/*------------------------------------------------------------
	Top page
------------------------------------------------------------*/
/* Code page qa.html */
.p-qa1 {
  background-color: #e5e5e5;
}

.p-qa2 .l-content__inner {
  padding: 65px 0 65px;
}

.p-qa2 .c-sectionqa1 {
  margin-bottom: 65px;
}

.p-qa2 .c-sectionqa2 .c-qa2 {
  padding-bottom: 13px;
}

.p-qa2 .c-sectionqa2 .c-lineheight3 {
  line-height: 1.3;
}

@media (max-width: 768px) {
  .p-qa2 .l-content__inner {
    padding: 38px 14px 47px;
  }
  .p-qa2 .c-sectionqa1 {
    margin-bottom: 37px;
  }
}

footer .l-content__inner {
  padding: 60px 0;
}

@media (max-width: 768px) {
  footer .l-content__inner {
    padding: 38px 14px;
  }
}

/* Code page rule.html */
.p-rule1 {
  background-color: #e5e5e5;
  margin-bottom: 62px;
}

@media (max-width: 768px) {
  .p-rule1 {
    margin-bottom: 28px;
  }
  .p-rule1 .c-qa1 span {
    letter-spacing: 0;
  }
}

.p-rule2 {
  margin-bottom: 36px;
}

@media (max-width: 768px) {
  .p-rule2 {
    margin-bottom: 26px;
  }
}

.p-rule3 {
  margin-bottom: 26px;
}

.p-rule3 .c-rulesp__1 {
  display: none;
}

@media (max-width: 768px) {
  .p-rule3 {
    margin-bottom: 20px;
  }
  .p-rule3 .c-rule__1 {
    display: none;
  }
  .p-rule3 .c-rulesp__1 {
    display: block;
  }
  .p-rule3 .c-rulesp__1 p {
    font-size: 1.2rem;
    letter-spacing: 0;
  }
}

.p-rule4 .c-rule__2_1 {
  margin-bottom: 25px;
}

.p-rule4 .c-rule__2__2__text3sp {
  display: none;
}

@media (max-width: 768px) {
  .p-rule4 .c-rule__2 p {
    font-size: 1.2rem;
  }
  .p-rule4 .c-rule__2_1 {
    margin-top: 5px;
    margin-bottom: 22px;
  }
  .p-rule4 .c-rule__2_1 p:nth-child(2) {
    line-height: 1.7;
  }
  .p-rule4 .c-rule__2_1 p:nth-child(3) {
    line-height: 1.5;
  }
  .p-rule4 .c-rule__2__2__text2pc, .p-rule4 .c-rule__2__2__text3pc {
    display: none;
  }
  .p-rule4 .c-rule__2__2__text3sp {
    display: block;
    line-height: 1.6;
  }
  .p-rule4 .c-rule__2_2 p:nth-child(2) {
    line-height: 1.6;
  }
  .p-rule4 .c-border__bot {
    padding-bottom: 36px;
  }
}

.p-rule5 .l-content__inner {
  padding: 40px 0 64px;
}

.p-rule5 .l-content__inner span:first-child {
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .p-rule5 .l-content__inner {
    padding: 28px 14px 39px;
  }
}

.p-top1 {
  background-color: #49c8b2;
}

.p-top1 .l-content__inner {
  padding-bottom: 81px;
}

@media (max-width: 768px) {
  .p-top1 .l-content__inner {
    padding-bottom: 14px;
  }
}

.p-top2 .l-content__inner {
  padding: 65px 0 60px;
}

@media (max-width: 768px) {
  .p-top2 .l-content__inner {
    padding: 30px 14px 26px;
  }
}

.p-top3 {
  background-color: #e5e5e5;
}

.p-top3 .l-content__inner {
  padding: 65px 0;
}

@media (max-width: 768px) {
  .p-top3 .l-content__inner {
    padding: 32px 14px 28px;
  }
}

.p-top4 .l-content__inner {
  padding-top: 65px;
  padding-bottom: 65px;
}

@media (max-width: 768px) {
  .p-top4 .l-content__inner {
    padding-top: 30px;
    padding-bottom: 23px;
  }
}

.p-top5 {
  background-color: #e5e5e5;
}

.p-top5 .l-content__inner {
  padding: 65px 0;
}

@media (max-width: 768px) {
  .p-top5 .l-content__inner {
    padding: 40px 14px;
  }
}

.p-topics1 {
  background-color: #e5e5e5;
}

.p-topics1 .c-qa1 span {
  letter-spacing: 4px;
}

.p-topics2 .l-content__inner {
  padding: 60px 0 43px;
}

.p-topics2 .l-content__inner .c-topics2__textpc {
  line-height: 1.8;
}

@media (max-width: 768px) {
  .p-topics2 .l-content__inner {
    padding: 26px 14px 28px;
  }
}
